docs/localhost/node-red.json
[
    {
        "id": "62f025ed.e0393c",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "global.get(conectadoServidor)",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1773.9997940063477,
        "y": 3230.3635771274567,
        "wires": []
    },
    {
        "id": "30fbd3b9.836cfc",
        "type": "http in",
        "z": "3f422101.3791ae",
        "name": "maquinas listar",
        "url": "/api/maquina/",
        "method": "get",
        "swaggerDoc": "",
        "x": 245.47588539123535,
        "y": 2399.625527858734,
        "wires": [
            [
                "2446f44f.ab89cc"
            ]
        ]
    },
    {
        "id": "7fc844d9.163eec",
        "type": "http response",
        "z": "3f422101.3791ae",
        "name": "",
        "x": 783.4758491516113,
        "y": 2400.62552690506,
        "wires": []
    },
    {
        "id": "2446f44f.ab89cc",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Parametros de todas as maquinas",
        "func": "var myDate = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\n\nvar d = new Date();\nvar x = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear() + \" \" + myDate;\n\nmsg.payload = \n[\n  {\n    \"_id\": \"Aplanadora-N3\",\n    \"codigo\": \"PERF-N3\",\n    \"nome\": \"Aplanadora N3\",\n    \"path\": \"maquinas/perfiladeiras/n3\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.230\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.231\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.232\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n    \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9978,\n        \"resolucao\": 2500,\n        \"perimetro\": 400\n      },\n      \"manual\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 95,\n        \"paradaEntrePecasProduzidas\": 0,\n        \"tempoParada\": 0\n      },\n      \"transmissao\": {\n        \"reducao\": 0,\n        \"diametrorolo\": 0,\n        \"avancoMilimetrosPorRotacao\": 9.5144\n      },\n      \"corte\":{\n        \"espessura\": 0,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"passoN2\": 200,\n        \"passoN3\": 200,\n        \"passoN5\": 200\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"10095646\",\n        \"produto\": {\n          \"codigo\": \"ESTCAN000N300000000#2000#0#0\",\n          \"descricao\": \"CANTONEIRA N-3 2000MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"produzindo\"\n      },\n      {\n        \"numero\": \"10095645\",\n        \"produto\": {\n          \"codigo\": \"ESTCAN000N300000000#2400#0#0\",\n          \"descricao\": \"CANTONEIRA N-3 2400MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"pendente\"\n      }\n    ]\n  },\n  {\n    \"_id\": \"Perfiladeira Reforco\",\n    \"codigo\": \"REFORCO\",\n    \"nome\": \"Perfiladeira Reforco\",\n    \"path\": \"maquinas/perfiladeiras/reforco\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.233\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.234\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.235\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n     \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9986,\n        \"resolucao\": 2500,\n        \"perimetro\": 127.32\n      },\n      \"manual\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"0.6\",\n        \"desaceleracao\": \"0.6\",\n        \"velocidade\": 95,\n        \"paradaEntrePecasProduzidas\": 20,\n        \"tempoParada\": 10\n      },\n      \"transmissao\": {\n        \"reducao\": 0,\n        \"diametrorolo\": 0,\n        \"avancoMilimetrosPorRotacao\": 9.5144\n      },\n      \"corte\":{\n        \"espessura\": 5,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"corte\": 1,\n        \"furo\": 20\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"1231-11\",\n        \"produto\": {\n          \"codigo\": \"PPLESTREFOUGAL000000#0#0#610\",\n          \"descricao\": \"PERFIL U GALV P/ APOIO DE CAIXA MED 610MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-11T11:22:08.224Z\",\n        \"status\": \"produzindo\"\n      },\n      {\n        \"numero\": \"8792-55\",\n        \"produto\": {\n          \"codigo\": \"PPLESTREFOUGAL000000#0#0#910\",\n          \"descricao\": \"PERFIL U GALV P/ APOIO DE CAIXA MED 910MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"pendente\"\n      }\n    ]\n  },\n    {\n    \"_id\": \"Perfiladeira Sigma 120\",\n    \"codigo\": \"Sigma 120\",\n    \"nome\": \"Perfiladeira Sigma 120\",\n    \"path\": \"maquinas/perfiladeiras/sigma120\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.236\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.237\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.238\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n     \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9909,\n        \"resolucao\": 2500,\n        \"perimetro\": 400\n      },\n      \"manual\": {\n        \"aceleracao\": \"3\",\n        \"desaceleracao\": \"1\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"2\",\n        \"desaceleracao\": \"1\",\n        \"velocidade\": 100,\n        \"paradaEntrePecasProduzidas\": 40,\n        \"tempoParada\": 2\n      },\n      \"transmissao\": {\n        \"reducao\": \"72.73\",\n        \"diametrorolo\": 165,\n        \"avancoMilimetrosPorRotacao\": 0\n      },\n      \"corte\":{\n        \"espessura\": 5,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"corte\": 1\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"1231-11\",\n        \"produto\": {\n          \"codigo\": \"MEZSIG0CH1412000000#1800#0#0\",\n          \"descricao\": \"VIGA SIGMA 120 CH 2.00 MM MED 1800MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2017-04-10T11:22:08.224Z\",\n        \"status\": \"Produzindo\"\n      },\n      {\n        \"numero\": \"8792-55\",\n        \"produto\": {\n          \"codigo\": \"PPLSTRSI120050D00000#1200#0#0\",\n          \"descricao\": \"STOP TRAZEIRO SIGMA 120 DEITADO MED 1200MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2017-04-14T11:22:08.224Z\",\n        \"status\": \"Pendente\"\n      }\n    ]\n  }\n]\nnode.status({fill:\"blue\",shape:\"dot\",text:x});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 534.475908279419,
        "y": 2400.625536441803,
        "wires": [
            [
                "7fc844d9.163eec"
            ]
        ]
    },
    {
        "id": "aa6a5d53.71287",
        "type": "http in",
        "z": "3f422101.3791ae",
        "name": "maquinas alterar",
        "url": "/api/maquina/",
        "method": "put",
        "swaggerDoc": "",
        "x": 246.3330249786377,
        "y": 2492.6255418360233,
        "wires": [
            []
        ]
    },
    {
        "id": "ffb86459.735c28",
        "type": "http response",
        "z": "3f422101.3791ae",
        "name": "",
        "x": 716.3330249786377,
        "y": 2492.6255418360233,
        "wires": []
    },
    {
        "id": "68aa23d7.e0802c",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "SQL",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 496.3330249786377,
        "y": 2492.6255418360233,
        "wires": [
            [
                "ffb86459.735c28"
            ]
        ]
    },
    {
        "id": "398a69e3.313ea6",
        "type": "http in",
        "z": "3f422101.3791ae",
        "name": "maquinas incluir",
        "url": "/api/maquina/",
        "method": "post",
        "swaggerDoc": "",
        "x": 246.3330249786377,
        "y": 2443.6255418360233,
        "wires": [
            []
        ]
    },
    {
        "id": "28967eba.e63c82",
        "type": "http response",
        "z": "3f422101.3791ae",
        "name": "",
        "x": 716.3330249786377,
        "y": 2443.6255418360233,
        "wires": []
    },
    {
        "id": "96e3077.85dccf8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "SQL",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 496.3330249786377,
        "y": 2443.6255418360233,
        "wires": [
            [
                "28967eba.e63c82"
            ]
        ]
    },
    {
        "id": "744d78de.896a98",
        "type": "http in",
        "z": "3f422101.3791ae",
        "name": "/api/maquina/config",
        "url": "/api/maquina/config",
        "method": "get",
        "swaggerDoc": "",
        "x": 262.99979400634766,
        "y": 3223.3635771274567,
        "wires": [
            [
                "e0d5cd6b.723b"
            ]
        ]
    },
    {
        "id": "e4c79f51.06a1d",
        "type": "http response",
        "z": "3f422101.3791ae",
        "name": "",
        "x": 1002.9997940063477,
        "y": 3132.3635771274567,
        "wires": []
    },
    {
        "id": "a53e91a4.bcf41",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "resposta mongo config OK",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1071.9997940063477,
        "y": 3181.3635771274567,
        "wires": []
    },
    {
        "id": "eb8c64b0.c42f38",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "config IHM",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1024.9997940063477,
        "y": 3410.3635771274567,
        "wires": []
    },
    {
        "id": "c6a168ff.e81bc8",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "INICIALIZA VARIAVEIS GLOBAIS DAS MAQUINAS",
        "info": "",
        "x": 361.8511390686035,
        "y": 430.0376834869385,
        "wires": []
    },
    {
        "id": "fe0d05f.f7255f8",
        "type": "http in",
        "z": "3f422101.3791ae",
        "name": "/api/maquina/config/save",
        "url": "/api/maquina/config",
        "method": "post",
        "swaggerDoc": "",
        "x": 287.99979400634766,
        "y": 3510.363607645035,
        "wires": [
            [
                "298ad3cc.8c239c"
            ]
        ]
    },
    {
        "id": "aa3683c5.babd7",
        "type": "http response",
        "z": "3f422101.3791ae",
        "name": "",
        "x": 1004.7140636444092,
        "y": 3503.506408929825,
        "wires": []
    },
    {
        "id": "37d89342.f3c82c",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "APAGAR log_erro",
        "collection": "log_erro",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 1042.9997940063477,
        "y": 3280.3635771274567,
        "wires": []
    },
    {
        "id": "834babdf.23ada8",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Apagar Cuidado \"Teste\"",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 4292.333057403564,
        "y": 2618.6966819763184,
        "wires": []
    },
    {
        "id": "6cee4bbe.905a44",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "APAGAR TODA A COLLECTION config",
        "collection": "config",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 4773.444219589233,
        "y": 2660.6966806948185,
        "wires": []
    },
    {
        "id": "b4c64c8e.ddce3",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "LIMPAR coleção config",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 4316.086368560791,
        "y": 2659.6458597183228,
        "wires": [
            [
                "6cee4bbe.905a44",
                "b7796583.e84118"
            ]
        ]
    },
    {
        "id": "9ffad956.8fc638",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "APAGAR indice",
        "collection": "indice",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 1033.8515090942383,
        "y": 3326.697092294693,
        "wires": []
    },
    {
        "id": "d4516a37.9cf2b8",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "String vazia",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 295.9997501373291,
        "y": 2787.1969695091248,
        "wires": [
            [
                "30841220.1855fe"
            ]
        ]
    },
    {
        "id": "909fe0ef.51522",
        "type": "mongodb in",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "consulta",
        "collection": "parametros",
        "operation": "find",
        "x": 814.9669208526611,
        "y": 2787.55246591568,
        "wires": [
            [
                "84e6c7a8.381538"
            ]
        ]
    },
    {
        "id": "84e6c7a8.381538",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "resposta do MongoDB",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1099.0779628753662,
        "y": 2787.6636214256287,
        "wires": []
    },
    {
        "id": "dfeb141a.11bb38",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "contador +1",
        "func": "msg.query = { _id: 'AplanadoraN3' }\nmsg.payload = {\n    $inc: {\n       \"os.produzido\": 1\n     }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 617.1890201568604,
        "y": 2694.1302886009216,
        "wires": [
            [
                "dbd77ef5.fbc78"
            ]
        ]
    },
    {
        "id": "dbd77ef5.fbc78",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "salvar",
        "collection": "parametros",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 825.1890048980713,
        "y": 2694.530282497406,
        "wires": []
    },
    {
        "id": "1c26b83d.4c6a98",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "$inc: incrementa",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 304.0225582122803,
        "y": 2693.7969851493835,
        "wires": [
            [
                "dfeb141a.11bb38",
                "ab0ea147.8f652"
            ]
        ]
    },
    {
        "id": "30841220.1855fe",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Paginação ",
        "func": "msg.limit = 5;\nmsg.skip = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 613.4112739562988,
        "y": 2787.6117491722107,
        "wires": [
            [
                "909fe0ef.51522"
            ]
        ]
    },
    {
        "id": "7efa786f.75bfc8",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Paginação  e consulta MongoDB",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 332.18910789489746,
        "y": 2751.4635887145996,
        "wires": []
    },
    {
        "id": "ab0ea147.8f652",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n    node.send(msg);\n}, 50);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 616.522424697876,
        "y": 2729.5745759010315,
        "wires": [
            [
                "30841220.1855fe"
            ]
        ]
    },
    {
        "id": "96e8e8d6.c69138",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Contador Produzidos ++ ",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 309.18860054016113,
        "y": 2658.463545322418,
        "wires": []
    },
    {
        "id": "5ac573d9.ac563c",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 100ms",
        "func": "setTimeout(function() {\n    node.send(msg);\n}, 100);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1248.9997940063477,
        "y": 3230.3635771274567,
        "wires": [
            [
                "636eaf61.9eab7",
                "c5a8ad45.84ee1",
                "fa7f5ef7.dd4b5"
            ]
        ]
    },
    {
        "id": "636eaf61.9eab7",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "CONEXAO C/ SERVIDOR",
        "func": "if(global.get('conectadoServidor')){\n    console.dir('CONECTADO AO SERVIDOR !');\n    node.status({fill:\"blue\",shape:\"dot\",text:'CONECTADO COM SERVIDOR'});\n}else{\n    console.dir('-------------> ERRO NA CONEXAO PRODUCAO !!!!!! <-------------');\n    global.set('conectadoServidor', 0);\n    node.status({fill:\"red\",shape:\"dot\",text:'ERRO'});\n}\n\nmsg= {payload: global.get('conectadoServidor')};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1503.9997940063477,
        "y": 3230.3635771274567,
        "wires": [
            [
                "62f025ed.e0393c"
            ]
        ]
    },
    {
        "id": "4b2b6c85.acec14",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "salvar",
        "collection": "log_erro",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1695.9997940063477,
        "y": 3278.3635771274567,
        "wires": []
    },
    {
        "id": "c5a8ad45.84ee1",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "collection inicial log_erro",
        "func": "let myDate = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\nlet d = new Date();\nconst x = ((\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear() + \" \" + myDate)||0;\n        \nmsg.payload = {\n\t\"_id\": 1,\n\t\"log_mesagens\": {\n\t}\n}\nnode.status({fill:\"blue\",shape:\"dot\",text:x});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1494.7587432861328,
        "y": 3278.4683496952057,
        "wires": [
            [
                "4b2b6c85.acec14"
            ]
        ]
    },
    {
        "id": "10968ce6.4d0753",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "salvar",
        "collection": "indice",
        "payonly": true,
        "upsert": false,
        "multi": true,
        "operation": "store",
        "x": 1696.9997940063477,
        "y": 3326.3635771274567,
        "wires": []
    },
    {
        "id": "fa7f5ef7.dd4b5",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "collection inicial indice",
        "func": "msg.payload = {\n\t\"_id\": \"indice\",\n\t\"indice_mesagens\": 0\n}\n\nnode.status({fill:\"blue\",shape:\"dot\",text:'Indice Criado'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1485.9997940063477,
        "y": 3326.3635771274567,
        "wires": [
            [
                "10968ce6.4d0753"
            ]
        ]
    },
    {
        "id": "92b53a1.c01c6c8",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Deserializador global \"Referencia\"",
        "info": "var msgs = [];\nvar g = (global.get(\"M\")||[0]);\nfor(z = 0; z < g.length) {\nfor (i = 0; i < 15; i++) {\n msgs.push(\n {\n _msgid: msg._msgid,\n topic: msg.topic,\n payload: g[z] & (1 << i)\n }\n );\n}\n}\n//var type = msg.payload[0] & 1 ? 'error' : 'warning';\n\n//var count = flow.get(\"CONTADOR_ERRO_M2\");\n//count++;\n\n\nreturn msgs;",
        "x": 689.9997253417969,
        "y": 3013.36350941658,
        "wires": []
    },
    {
        "id": "426dbe25.84cee",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "Inicialização MAQ",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 272.333438873291,
        "y": 387.5000991821289,
        "wires": [
            [
                "7812b5cf.241fdc"
            ]
        ]
    },
    {
        "id": "692c5de6.3d2494",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Global ModBus Referencias",
        "func": "global.set(\"ModBus\", msg.payload);\nmsg2 = {};\nmsg2.payload = \"Iguail\";\nvar Anterior =(global.get(\"Anterior\")||[0]);\nvar ValorAtual = global.get(\"ModBus\");\nmsg = null;\n\nfor (var i = 0; i < Anterior.length; i++) {\n \n if (Anterior[i] != ValorAtual[i]) {\n msg2.payload = \"Diferente\";\n global.set(\"Anterior\", ValorAtual);\n msg = {payload:ValorAtual};\n break;\n } \n}\nreturn [msg,msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 670.4105606079102,
        "y": 3054.0778839588165,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "303e58bf.b06cf8",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "fabrica/ihm/comandos/#",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 3268.9998474121094,
        "y": 2304.363612651825,
        "wires": [
            [
                "36862eda.835662",
                "c83ff710.b4d4a8"
            ]
        ]
    },
    {
        "id": "36862eda.835662",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Registradores de Comandos",
        "func": "var p = JSON.parse(msg.payload);\nvar res = [null,null,null,null,null,null,null,null,null,null,null,null,null];\nvar modbus = global.get(\"ModBus\");\n \n //***** INICIALIZA OU DESLIGA MAQUINA *****//\n if (p.LigarMaquina !== undefined) {\n if (modbus[2] & (1 << 11)) {\n modbus[2] &= ~(1<<11); //M2.11 igual a 1 MbLigaChaveGeral\n node.status({fill:\"red\",shape:\"ring\",text:\"Geral Desligada\"});\n } else {\n modbus[2] |= (1<<11); //M2.11 igual a 0 MbLigaChaveGeral\n node.status({fill:\"green\",shape:\"dot\",text:\"Geral Ligada\"});\n }\n global.set(\"ComandoMaquina\",1); \n global.set('ModBus', modbus); //Atualiza registrador global.\n res[0] = {payload:modbus[2]}; //Primeiro liga ou desliga chave geral\n }\n \n //***** ON/OFF MOTOR *****//\n if (p.LigarPrensa !== undefined) {\n if ((modbus[3]) & (1 << 3)) {\n modbus[3] &= ~(1<<3); //M3.3 igual a 1 DbPrsLigaMotor\n global.set(\"MotorLigado\",0);\n node.status({fill:\"red\",shape:\"ring\",text:\"Motor OFF\"});\n } else {\n modbus[3] |= (1<<3);//M3.3 igual a 0 DbPrsParar\n global.set(\"MotorLigado\",1);\n node.status({fill:\"green\",shape:\"dot\",text:\"Motor ON\"});\n }\n global.set(\"ComandoMaquina\",2);\n global.set('ModBus', modbus);//Atualiza registrador global.\n res[1] = {payload: modbus[3]};\n }\n \n //***** ABRIR TAMPA MODBUS 31.10 *****//\n if (p.abrirTampa !== undefined) {\n if (p.abrirTampa == '1'){\n modbus[31] |= (1<<10); \n }else if (p.abrirTampa == '0'){\n modbus[31] = 0; \n }\n global.set(\"ComandoMaquina\",3);\n res[2] = {payload:(modbus[31])};\n }\n \n //***** FECHAR TAMPA MODBUS 31.11 *****//\n if (p.fecharTampa !== undefined) {\n if(p.fecharTampa == '1'){\n modbus[31] |= (1<<11); \n }else if (p.fecharTampa == '0'){\n modbus[31] = 0;\n }\n global.set(\"ComandoMaquina\",4);\n res[3] = {payload:(modbus[31])};\n }\n \n //***** AVANCAR PERFIL MODBUS 2.3 *****//\n if (p.avancaPerfil !== undefined) {\n if(p.avancaPerfil == '1'){\n modbus[2] |= (1<<3); \n }else if (p.avancaPerfil == '0'){\n modbus[2] &= ~(1<<3);\n }\n global.set(\"ComandoMaquina\",5);\n res[4] = {payload: modbus[2]};\n }\n //***** RECUAR PERFIL MODBUS 2.4 *****//\n if (p.recuaPerfil !== undefined) {\n if(p.recuaPerfil == '1'){\n modbus[2] |= (1<<4); \n }else if (p.recuaPerfil == '0'){\n modbus[2] &= ~(1<<4);\n }\n global.set(\"ComandoMaquina\",6); \n res[5] = {payload:modbus[2]};\n }\n \n //*****botao_Parar_Maquina***********//\n if (p.botao_Parar_Maquina !== undefined) {\n modbus[2] |= (1<<13); //M2.13 igual a 0 MbPrsParar\n modbus[2] &= ~(1<<0); //M2.0 igual a 0 MbModoAuto\n node.status({fill:\"red\",shape:\"ring\",text:\"Parando prensa\"});\n global.set(\"ComandoMaquina\",7);\n global.set('ModBus', modbus);//Atualiza registrador global.\n res[6] = {payload: modbus[2]};\n }\n \n //*****botao_Manual************//\n if (p.botao_Manual !== undefined) {\n modbus[3] |= 1; //Libera maquina\n modbus[2] &= ~(1<<0); //M2.0 igual a 0 MbModoAuto\n node.status({fill:\"red\",shape:\"ring\",text:\"Modo Manual\"});\n global.set(\"ComandoMaquina\",8);\n global.set('ModBus', modbus);//Atualiza registrador global.\n res[7] = {payload: modbus[2]};\n }\n \n //*****botao_Produzir*********//\n if (p.botao_Produzir !== undefined) {\n modbus[3] |= 1; //Libera maquina\n if ((modbus[2]) & (1 << 0)) {\n modbus[2] &= ~(1<<0); //M2.0 igual a 1 produzir\n node.status({fill:\"green\",shape:\"dot\",text:\"Produzindo\"});\n } else {\n modbus[2] |= (1<<0);//M2.0 igual a 0 não produzir\n node.status({fill:\"red\",shape:\"ring\",text:\"Não produzindo\"});\n }\n global.set(\"ComandoMaquina\",9);\n global.set('ModBus', modbus);//Atualiza registrador global.\n res[8] = {payload: modbus[2]};\n }\n \n //***** Reverçao do motor da prensa *****//\n if (p.SentidoInv !== undefined) {\n if ((modbus[2]) & (1 << 14)) {\n modbus[2] &= ~(1<<14); //M2.14 igual a 1 MbPrsSentidoInv\n global.set(\"MotorInvertido\",0);\n node.status({fill:\"blue\",shape:\"ring\",text:\"Motor normal\"});\n } else {\n modbus[2] |= (1<<14);//M3.3 igual a 0 DbPrsParar\n global.set(\"MotorInvertido\",1);\n node.status({fill:\"green\",shape:\"dot\",text:\"Motor Invertido\"});\n }\n global.set(\"ComandoMaquina\",10);\n global.set('ModBus', modbus);//Atualiza registrador global.\n res[9] = {payload: modbus[2]};\n }\n \n //***** DESLIGA MAQUINA depois zera tudo *****//\n if (p.ResetMaquina !== undefined) {\n modbus[2] &= ~(1<<11); \n node.status({fill:\"red\",shape:\"ring\",text:\"Geral Desligada e reset\"});\n global.set(\"ComandoMaquina\",0); \n global.set('ModBus', modbus); //Atualiza registrador global.\n res[10] = {payload:modbus[2]}; //Primeiro desliga chave geral\n }\n \n //*****Desbobinador ******//\n if (p.AceleracaoAuto !== undefined) {\n var x = global.get(\"Desbobinador\");\n if(x){\n global.set('Desbobinador', 0);//Atualiza registrador global.\n }else{\n global.set('Desbobinador', 1);//Atualiza registrador global.\n }\n global.set(\"ComandoMaquina\",11);\n res[11] = {payload: global.get(\"Desbobinador\")};\n }\n \n //*****Atualiza TABS-2**************//\n if (p.AtualizarRegistradores !== undefined) {\n node.status({fill:\"red\",shape:\"ring\",text:\"Tab-2\"});\n res[12] = {payload: 1};\n }\n \nreturn res;",
        "outputs": "13",
        "noerr": 0,
        "x": 3537.1782760620117,
        "y": 2304.147018432617,
        "wires": [
            [
                "4385b0f9.574de"
            ],
            [
                "45e7cc78.853694"
            ],
            [
                "699ee25c.ef766c"
            ],
            [
                "4b74aa93.e0f1f4"
            ],
            [
                "1c9b29d7.65a666"
            ],
            [
                "caa3832c.70e15"
            ],
            [
                "5b635d7a.3bf714"
            ],
            [
                "7a42f021.5382f"
            ],
            [
                "d05b95db.1985e8"
            ],
            [
                "36d307d7.5a1a88"
            ],
            [
                "82dbd0e8.0ef29"
            ],
            [
                "a3b7a4ff.8832e8"
            ],
            [
                "998aa1cf.9dfc6"
            ]
        ]
    },
    {
        "id": "45e7cc78.853694",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Liga Motor Prensa M3.3",
        "dataType": "HoldingRegister",
        "adr": "3",
        "server": "9d9e7956.cdee38",
        "x": 3917.5263442993164,
        "y": 2012.5493621826172,
        "wires": [
            [
                "da8f5bb2.8b1618"
            ],
            [
                "8c3a4c94.ffaf3"
            ]
        ]
    },
    {
        "id": "1c9b29d7.65a666",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Perfil Avança M2.3",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 3898.907459259033,
        "y": 2221.834897518158,
        "wires": [
            [
                "c397feac.bfd1f"
            ],
            [
                "a8ad87dc.fc3248"
            ]
        ]
    },
    {
        "id": "4b74aa93.e0f1f4",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Aplanadora Fecha M31.11",
        "dataType": "HoldingRegister",
        "adr": "31",
        "server": "9d9e7956.cdee38",
        "x": 3909.1929244995117,
        "y": 2153.406412124634,
        "wires": [
            [
                "301db44f.91665c"
            ],
            [
                "349d3c34.ec8144"
            ]
        ]
    },
    {
        "id": "699ee25c.ef766c",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Aplanadora Abre M31.10",
        "dataType": "HoldingRegister",
        "adr": "31",
        "server": "9d9e7956.cdee38",
        "x": 3918.335868835449,
        "y": 2082.406412124634,
        "wires": [
            [
                "c3b8fba7.148f78"
            ],
            [
                "e98988d4.1b7d68"
            ]
        ]
    },
    {
        "id": "caa3832c.70e15",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Perfil Recua M2.4",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 3897.6216621398926,
        "y": 2292.8347868919373,
        "wires": [
            [
                "d03cb3de.65188"
            ],
            [
                "120ed666.87e3ca"
            ]
        ]
    },
    {
        "id": "8f7adeaf.2c7c5",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Registradores R/W Setup da Aplanadora \"HTML\"",
        "info": "#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso",
        "x": 3902.817558288574,
        "y": 1884.7706756591797,
        "wires": []
    },
    {
        "id": "60d1ae93.b2c27",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Error writing ModBUS",
        "func": "\nmsg.payload = { type: 'error', message: 'Falha de escrita dos modbus do CLP.'};\nmsg.payload.time= new Date();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3436.3734397888184,
        "y": 128.1931848526001,
        "wires": [
            [
                "c2c5220a.c006e"
            ]
        ]
    },
    {
        "id": "42750595.14a0ec",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "VAR Globais",
        "func": "//Estado inicial da maquina é não inicializada MaqInicializada=0\nglobal.set(\"ComandoMaquina\",0);//liberamensagens do bloco libera maquina\nglobal.set(\"MotorPrensa\",0);\nglobal.set(\"MotorLigado\",0);\nglobal.set(\"MotorInvertido\",0);\nglobal.set(\"Desbobinador\",0);\nglobal.set(\"Indice_Mongo\",0);\nglobal.set(\"TamanhoDesejadoPeca_KEYBOARD\",0);\nglobal.set(\"TamanhoRealPeca_KEYBOARD\",0);\nglobal.set(\"FatorEncoder\",9909);\nglobal.set(\"ModBus\",[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]);\nvar start = new Date().getTime();\nglobal.set(\"tempo\",start);\nglobal.set(\"erro\",[]);\n\nmsg.payload= { type: 'warning', message: 'MAQUINA_RESET'};\n//msg.payload.time= new Date();\n//mensagens['CHAVE_GERAL_LIGADA'] = { type: 'warning', message: ' Chave Geral ligada' };\n\n//mensagens['MAQUINA_LIBERADA'] = { type: 'warning', message: ' Maquina Liberada' };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 717.333438873291,
        "y": 388.5000991821289,
        "wires": [
            [
                "5acf5954.4ed6e8"
            ]
        ]
    },
    {
        "id": "45698b7.af43074",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Ligou geral?",
        "func": "//verifica 2.11 e libera 3.0\nvar modbus = msg.payload;\nvar msg2 = {};\n\n\nif (((modbus[2]) & (1 << 11))) {\n modbus[3] |= 1; //M3.0 igual a 1 libera maquina\n msg.payload = modbus[3];\n msg2.payload =  { type: 'warning', message: ' Chave Geral ligada' };\n msg2.payload.time= new Date();\n node.status({fill:\"green\",shape:\"dot\",text:\"Chave Ligada\"});\n}else if (~((modbus[2]) & (1 << 11))){ \n modbus[3] &= 0;\n msg.payload = 0;\n msg2.payload =  { type: 'warning', message: ' Chave Geral Desligada' };\n msg2.payload.time= new Date();\n node.status({fill:\"yellow\",shape:\"ring\",text:\"Chave Deslidaga\"});\n}else {\n node.status({fill:\"red\",shape:\"ring\",text:\"Bug\"});\n}\n \n\nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 3883.4816551208496,
        "y": 956.4120850563049,
        "wires": [
            [
                "e0776435.85e3a8"
            ],
            [
                "9a06a573.d28728"
            ]
        ]
    },
    {
        "id": "4385b0f9.574de",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "LigaGeral M2.11",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 3897.5947799682617,
        "y": 1944.8631992340088,
        "wires": [
            [
                "f7580835.f0a308"
            ],
            [
                "edcf9411.d91c88"
            ]
        ]
    },
    {
        "id": "cfd9dcd9.d9c2a",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Libera Maquina M3.0",
        "dataType": "HoldingRegister",
        "adr": "3",
        "server": "9d9e7956.cdee38",
        "x": 4346.199806213379,
        "y": 950.0585923194885,
        "wires": [
            [
                "ec6a80e6.618b5"
            ],
            [
                "4f3e660a.e02418"
            ]
        ]
    },
    {
        "id": "d431c06f.7343f",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Error reading ModBUS",
        "func": "msg.payload = { type: 'error', message: 'CLP não responde. Verifique as conexões de rede.'};\nmsg.payload.time= new Date();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3437.1667671203613,
        "y": 179.5005760192871,
        "wires": [
            [
                "c2c5220a.c006e"
            ]
        ]
    },
    {
        "id": "e9703b45.435b48",
        "type": "modbustcp-no-pooling-read",
        "z": "3f422101.3791ae",
        "name": "LER_POP",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "32",
        "server": "9d9e7956.cdee38",
        "x": 3184.0295219421387,
        "y": 321.5225954055786,
        "wires": [
            [
                "fa929536.972ea8",
                "9b13078.64121f8"
            ],
            [
                "d431c06f.7343f",
                "216b86c9.f8560a"
            ]
        ]
    },
    {
        "id": "a75f58eb.95d308",
        "type": "link in",
        "z": "3f422101.3791ae",
        "name": "Atualizacao dos 32 registradores ModBus",
        "links": [
            "3885f260.b4a86e",
            "c3b8fba7.148f78",
            "301db44f.91665c",
            "c397feac.bfd1f",
            "d03cb3de.65188",
            "a3b7a4ff.8832e8"
        ],
        "x": 3433.6323528289795,
        "y": 1125.4758338928223,
        "wires": [
            [
                "eaa2d6ba.68b368",
                "9e6517a5.d622f8"
            ]
        ]
    },
    {
        "id": "93ec0c20.a969a",
        "type": "link in",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "f7580835.f0a308",
            "da8f5bb2.8b1618",
            "f33f8791.8265c8",
            "ffe2a610.2de9c8",
            "c7690c7c.bdddd",
            "e7de3316.2c099",
            "41e7e1a5.d8c8e",
            "2169d4ef.38e9fc",
            "e635efc7.6f4a3"
        ],
        "x": 2706.9295616149902,
        "y": 276.5977883338928,
        "wires": [
            [
                "81972c62.08ae8"
            ]
        ]
    },
    {
        "id": "f7580835.f0a308",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 4078.3565940856934,
        "y": 1925.2728881835938,
        "wires": []
    },
    {
        "id": "3885f260.b4a86e",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Atualizacao dos 32 registradores ModBus",
        "links": [
            "a75f58eb.95d308",
            "278b8d9f.332cc2",
            "3292c332.e62afc",
            "17d59d24.8682a3",
            "fded0008.003bb8",
            "91bb35aa.506f38",
            "7a9f7416.07fd14",
            "ffc2b971.50fa4",
            "777bd47b.b983dc",
            "a99b0250.54b63"
        ],
        "x": 3833.9729194641113,
        "y": 433.7724266052246,
        "wires": []
    },
    {
        "id": "da8f5bb2.8b1618",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 4078.565055847168,
        "y": 1995.6874408721924,
        "wires": []
    },
    {
        "id": "8c3a4c94.ffaf3",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4078.2556228637695,
        "y": 2031.306526184082,
        "wires": []
    },
    {
        "id": "7fb2661d.9b7b08",
        "type": "link in",
        "z": "3f422101.3791ae",
        "name": "",
        "links": [
            "8c3a4c94.ffaf3",
            "edcf9411.d91c88",
            "4f3e660a.e02418",
            "e98988d4.1b7d68",
            "349d3c34.ec8144",
            "99b3bbbe.d58ac8",
            "a8ad87dc.fc3248",
            "120ed666.87e3ca",
            "1735a92c.5a8817",
            "2d23d02b.7d703",
            "60685a1e.aca134",
            "69bb3e75.14f64",
            "e73c9334.f776",
            "f8b2a9f8.65eef8",
            "7a986293.8c8b9c",
            "1876e927.61d017",
            "de00c564.1ca1a8",
            "fcc45357.fe864"
        ],
        "x": 3296.66214799881,
        "y": 127.79164218902588,
        "wires": [
            [
                "60d1ae93.b2c27"
            ]
        ]
    },
    {
        "id": "edcf9411.d91c88",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4078.3746604919434,
        "y": 1960.5445938110352,
        "wires": []
    },
    {
        "id": "c3b8fba7.148f78",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "a75f58eb.95d308"
        ],
        "x": 4079.4223556518555,
        "y": 2065.1954593658447,
        "wires": []
    },
    {
        "id": "e98988d4.1b7d68",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4079.6445846557617,
        "y": 2099.1954593658447,
        "wires": []
    },
    {
        "id": "301db44f.91665c",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "a75f58eb.95d308"
        ],
        "x": 4079.155693054199,
        "y": 2135.3065433502197,
        "wires": []
    },
    {
        "id": "349d3c34.ec8144",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4079.155693054199,
        "y": 2170.3065433502197,
        "wires": []
    },
    {
        "id": "83348503.f46a38",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "Topico Estado da Maquina",
        "topic": "fabrica/ihm/estado/",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 4170.166751861572,
        "y": 392.50052070617676,
        "wires": []
    },
    {
        "id": "9a06a573.d28728",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "Topico Estado da Maquina",
        "topic": "fabrica/ihm/estado",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 4185.4284324646,
        "y": 999.6165776252747,
        "wires": []
    },
    {
        "id": "6ecb0cfd.58a214",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "Topico Estado da Maquina",
        "topic": "fabrica/ihm/estado",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 4187.280937194824,
        "y": 1130.3307647705078,
        "wires": []
    },
    {
        "id": "e0776435.85e3a8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 100ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 100);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 4136.856704711914,
        "y": 950.1879601478577,
        "wires": [
            [
                "cfd9dcd9.d9c2a"
            ]
        ]
    },
    {
        "id": "81972c62.08ae8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "pausa",
        "func": "msg.payload = 'pausa';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2812.8328819274902,
        "y": 277.35493898391724,
        "wires": [
            [
                "1f799d27.a7d3c3",
                "414487e5.0aa2e8"
            ]
        ]
    },
    {
        "id": "cd4855aa.9d0fc8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "Comandomaquina=0",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 4170.047424316406,
        "y": 861.1403207778931,
        "wires": []
    },
    {
        "id": "4f3e660a.e02418",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4497.773464202881,
        "y": 956.2355713844299,
        "wires": []
    },
    {
        "id": "eaa2d6ba.68b368",
        "type": "switch",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina",
        "property": "ComandoMaquina",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 12,
        "x": 3592.3564987182617,
        "y": 1125.6166534423828,
        "wires": [
            [
                "3941fc9e.2ee4e4"
            ],
            [
                "45698b7.af43074",
                "31fc46ca.23cf3a"
            ],
            [
                "9a0bb6c7.0186c8"
            ],
            [
                "78946e2e.780e"
            ],
            [
                "c2b2bd6c.d1a17"
            ],
            [
                "9b022c05.7eb91"
            ],
            [
                "2ec7c125.1f79ae"
            ],
            [
                "8ae15362.53ef7"
            ],
            [
                "3d127d0a.bfb0e2"
            ],
            [
                "5e7909af.8cfc48"
            ],
            [
                "ad8b8a25.2fd098"
            ],
            [
                "35681a5c.3ef276"
            ]
        ]
    },
    {
        "id": "ec6a80e6.618b5",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4608.690200805664,
        "y": 931.283215045929,
        "wires": [
            []
        ]
    },
    {
        "id": "a5898d53.e72bf",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4614.618457794189,
        "y": 1063.6641488075256,
        "wires": [
            []
        ]
    },
    {
        "id": "9a0bb6c7.0186c8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Ligou motor?",
        "func": "//verifica 3.3 e libera 2.12\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n\nif (((modbus[3]) & (1 << 3))) {//M3.3 igual a 1 ligando motor\n modbus[2] |= (1<<12);\n msg.payload = modbus[2];\n msg2.payload ={ type: 'info', message: 'Acelerando motor...' };\n msg2.payload.time= new Date();\n node.status({fill:\"green\",shape:\"dot\",text:\"Acelerando...\"});\n}else if (~((modbus[3]) & (1 << 3))){ // M3.3 igual a 0 Desliga motor\n modbus[2] &= ~(1<<12);\n msg.payload = modbus[2];\n msg2.payload ={ type: 'info', message: 'Desligando motor...' };\n msg2.payload.time= new Date();\n node.status({fill:\"yellow\",shape:\"ring\",text:\"Deslingado\"});\n}else {\n node.status({fill:\"red\",shape:\"ring\",text:\"Bug\"});\n}\n \nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 3886.2567405700684,
        "y": 1086.3499512672424,
        "wires": [
            [
                "77061f0a.3b9f"
            ],
            [
                "6ecb0cfd.58a214"
            ]
        ]
    },
    {
        "id": "77061f0a.3b9f",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 100ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 100);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 4136.856464385986,
        "y": 1080.283217906952,
        "wires": [
            [
                "31cebb79.0c4c24"
            ]
        ]
    },
    {
        "id": "31cebb79.0c4c24",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Desliga motor M2.12",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 4346.523220062256,
        "y": 1079.94992685318,
        "wires": [
            [
                "a5898d53.e72bf"
            ],
            [
                "99b3bbbe.d58ac8"
            ]
        ]
    },
    {
        "id": "99b3bbbe.d58ac8",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4503.142360687256,
        "y": 1086.3785157203674,
        "wires": []
    },
    {
        "id": "fa65911f.62f7d",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4617.356716156006,
        "y": 1184.69992685318,
        "wires": [
            []
        ]
    },
    {
        "id": "78946e2e.780e",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\" Aplanadora Abre M31.10\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 3886.606716156006,
        "y": 1189.69992685318,
        "wires": [
            [
                "fa65911f.62f7d"
            ]
        ]
    },
    {
        "id": "4d5fd3a4.358f9c",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4617.856716156006,
        "y": 1233.94992685318,
        "wires": [
            []
        ]
    },
    {
        "id": "c2b2bd6c.d1a17",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Aplanadora fecha M31.11\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 3885.106716156006,
        "y": 1237.69992685318,
        "wires": [
            [
                "4d5fd3a4.358f9c"
            ]
        ]
    },
    {
        "id": "c397feac.bfd1f",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "a75f58eb.95d308"
        ],
        "x": 4079.946186065674,
        "y": 2205.4065947532654,
        "wires": []
    },
    {
        "id": "a8ad87dc.fc3248",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4080.3747749328613,
        "y": 2240.120828151703,
        "wires": []
    },
    {
        "id": "d03cb3de.65188",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "a75f58eb.95d308"
        ],
        "x": 4080.946186065674,
        "y": 2276.263650417328,
        "wires": []
    },
    {
        "id": "120ed666.87e3ca",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4080.2319526672363,
        "y": 2311.4065947532654,
        "wires": []
    },
    {
        "id": "9b022c05.7eb91",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\" Perfil Avança M2.3\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 3887.9995651245117,
        "y": 1284.7641906738281,
        "wires": [
            [
                "fbe4f143.10f6a"
            ]
        ]
    },
    {
        "id": "2ec7c125.1f79ae",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"M2.4\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 3887.4995651245117,
        "y": 1330.7641906738281,
        "wires": [
            [
                "bf2ab421.388df8"
            ]
        ]
    },
    {
        "id": "fbe4f143.10f6a",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4617.713920593262,
        "y": 1281.7641906738281,
        "wires": [
            []
        ]
    },
    {
        "id": "bf2ab421.388df8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4617.856620788574,
        "y": 1327.7641820907593,
        "wires": [
            []
        ]
    },
    {
        "id": "d8aa29e4.ad5358",
        "type": "switch",
        "z": "3f422101.3791ae",
        "name": "i<6",
        "property": "i",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 5,
        "x": 3649.3292083740234,
        "y": 315.8281135559082,
        "wires": [
            [
                "e9797736.d2e4a8"
            ],
            [
                "10d9ff7.1023401"
            ],
            [
                "7b10f04c.6f74"
            ],
            [
                "11e16bc3.c8be34"
            ],
            [
                "3885f260.b4a86e"
            ]
        ]
    },
    {
        "id": "203c6e06.e71172",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "i++",
        "func": "msg.i++;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3646.9682121276855,
        "y": 238.35593605041504,
        "wires": [
            [
                "d8aa29e4.ad5358"
            ]
        ]
    },
    {
        "id": "e9797736.d2e4a8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ALARMES",
        "func": "var mensagens = global.get(\"mensagens\");\nvar msg2 ={\n payload: msg.payload\n};\n\nif (msg2.payload[0] & (1 << 0)) {\n    msg2.payload = { type: 'error', message: 'Emergencia acionada!'};\n} else if (msg2.payload[0] & (1 << 1)) {\n    msg2.payload = { type: 'error', message: 'Falta de Fase'};\n} else if (msg2.payload[0] & (1 << 2)) {\n    msg2.payload = { type: 'error', message: 'Térmico da Bomba Hidraulica'};\n} else if (msg2.payload[0] & (1 << 3)) {\n    msg2.payload = { type: 'error', message: 'Térmico do Motor do Martelo Prensa'};\n} else if (msg2.payload[0] & (1 << 4)) {\n    msg2.payload = { type: 'error', message: 'Pressao do Ar Baixa!'};\n} else if (msg2.payload[0] & (1 << 5)) {\n    msg2.payload = { type: 'error', message: 'Erro no Inversor'};\n} else if (msg2.payload[0] & (1 << 6)) {\n    msg2.payload = { type: 'error', message: 'Erro no Servo'};\n} else if ((msg2.payload[0] & (1 << 7))) { /*||(msg.payload[2] &= ~(1 << 11)))*/\n    msg2.payload = { type: 'warning', message: 'Chave Geral Desligada'};\n} else if (msg2.payload[0] & (1 << 9)) {\n    msg2.payload =  { type: 'error', message: 'Erro Posicionamento'}\n} else if (msg2.payload[0] & (1 << 10)) {\n    msg2.payload = { type: 'info', message: 'Segurança da Prensa'};\n} else if (msg2.payload[1] & (1 << 12)) {\n    msg2.payload = { type: 'info', message: 'Aplanadora Aberda'};\n} else if (msg2.payload[0] & (1 << 8)) {\n    msg2.payload = { type: 'warning', message: 'Maquina Não Liberada'};\n} else {\n    if((global.get(\"MotorInvertido\"))==1){\n        msg2.payload = { type: 'info', message: 'Motor Invertido!!!'};\n    }else{\n        msg2.payload = { type: 'info', message: 'Maquina OK'};\n    }\n}\n\nmsg2.payload.time= new Date();\nmsg.payload.time= msg2.payload.time;\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 3886.8707275390625,
        "y": 240.41146278381348,
        "wires": [
            [
                "203c6e06.e71172"
            ],
            [
                "1a65fa75.1e30f6",
                "83348503.f46a38",
                "1ab63f02.59da71"
            ]
        ]
    },
    {
        "id": "9b13078.64121f8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "loop",
        "func": "msg.i =0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3387.662456512451,
        "y": 315.6337127685547,
        "wires": [
            [
                "d8aa29e4.ad5358"
            ]
        ]
    },
    {
        "id": "10d9ff7.1023401",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ON OFF Geral",
        "func": "//verifica 2.11\nvar msg2 ={\n payload: msg.payload\n};\n\nif (msg2.payload[2] & (1 << 11 )) {\n    msg2.payload = { type: 'warning', message: 'MAQUINA_ON'};\n    node.status({fill:\"blue\",shape:\"dot\",text:\"Chave Ligada\"});\n} else{\n    msg2.payload = { type: 'warning', message: 'MAQUINA_OFF'};\n    node.status({fill:\"red\",shape:\"dot\",text:\"Chave Desligada\"});\n}\n\nmsg2.payload.time= msg.payload.time;\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 3896.4678840637207,
        "y": 290.4392328262329,
        "wires": [
            [
                "203c6e06.e71172"
            ],
            [
                "83348503.f46a38"
            ]
        ]
    },
    {
        "id": "ba48a853.cdf648",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Liga Chave Geral e Libera a Maquina",
        "info": "#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso",
        "x": 3961.7456283569336,
        "y": 914.6054363250732,
        "wires": []
    },
    {
        "id": "c381dca4.d9a0c",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Liga / Deslig Motor",
        "info": "#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso",
        "x": 3905.4124069213867,
        "y": 1044.605484008789,
        "wires": []
    },
    {
        "id": "2746a4c0.a80cdc",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Envia para fila qualquer erro na comunicação",
        "info": "#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso",
        "x": 3949.578811645508,
        "y": 138.10568618774414,
        "wires": []
    },
    {
        "id": "7b982c2d.20fc54",
        "type": "mongodb in",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "consulta",
        "collection": "parametros",
        "operation": "find",
        "x": 713.1385517120361,
        "y": 2863.0303020477295,
        "wires": [
            [
                "7ab96e23.43ca7"
            ]
        ]
    },
    {
        "id": "f80c04c0.0dc4f8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "lê apenas 1 parametro",
        "func": "// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = { \"_id\": \"AplanadoraN3\" }\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { \"parametros.encoder.fator\": 1 }\n\n// Ler 1 valor\nmsg.limit = 1;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500.2496223449707,
        "y": 2862.867332458496,
        "wires": [
            [
                "7b982c2d.20fc54"
            ]
        ]
    },
    {
        "id": "85466217.03a8c",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 280.2635326385498,
        "y": 2862.530282974243,
        "wires": [
            [
                "f80c04c0.0dc4f8"
            ]
        ]
    },
    {
        "id": "7ab96e23.43ca7",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "parse(fator encoder)",
        "func": "msg.payload=msg.payload[0].parametros.encoder.fator;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 906.3053684234619,
        "y": 2863.4470014572144,
        "wires": [
            [
                "71c576f0.caad58"
            ]
        ]
    },
    {
        "id": "71c576f0.caad58",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "ler registrador x",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1112.6387882232666,
        "y": 2863.446882247925,
        "wires": []
    },
    {
        "id": "db8eb9c0.461068",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Lê apenas um valor",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 285.47158432006836,
        "y": 2827.4469423294067,
        "wires": []
    },
    {
        "id": "5acf5954.4ed6e8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Paginação ",
        "func": "msg.limit = 50;\nmsg.skip = 0;\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 983.333438873291,
        "y": 455.5000991821289,
        "wires": [
            [
                "cccfbe3b.1ca04",
                "b67e8f46.bcedf"
            ]
        ]
    },
    {
        "id": "23f8b444.088ebc",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Carrega valores iniciais do banco",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 1044.333553314209,
        "y": 506.50007820129395,
        "wires": []
    },
    {
        "id": "b3bee5b3.702928",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "Array",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1561.3315887451172,
        "y": 522.9117727279663,
        "wires": []
    },
    {
        "id": "a328d4ba.557548",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "tamanho",
        "active": false,
        "console": "false",
        "complete": "payload.length",
        "x": 1571.2482147216797,
        "y": 565.3875255584717,
        "wires": []
    },
    {
        "id": "47159ceb.d93454",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Separa cada mensagem",
        "func": "var msgs = [null, null, null, null, null, null, null, null];\n\nmsgs[flow.get('params').length - 1] = {payload: flow.get('params')[flow.get('params').length - 1]};\n\nnode.send(msgs);\n",
        "outputs": "8",
        "noerr": 0,
        "x": 1788.292781829834,
        "y": 448.89900398254395,
        "wires": [
            [
                "322a851.8a1977a"
            ],
            [
                "daf003bd.19cd9"
            ],
            [
                "aa035180.56781"
            ],
            [
                "71147d7c.db7594"
            ],
            [
                "6e6d72b4.f94d7c"
            ],
            [
                "4fb6b174.b9a42"
            ],
            [
                "6eece4fd.472e4c"
            ],
            [
                "921fa6ac.588e08"
            ]
        ]
    },
    {
        "id": "de2a4214.04601",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "LOOP DE ESCRITA",
        "func": "//Somente entra aqui se o array ainda for >= 0\nif (flow.get('params').length >= 0) {\n \n // Carrega todos os parametros que ainda não foram enviados\n var params = flow.get('params');\n \n // Cria um novo Array tirando o ultimo elemento\n var novo = params.slice(0, flow.get('params').length - 1);\n \n // Sobrescreve o arry params\n flow.set('params', novo);\n \n // Envia novo array com -1 elemento\n msg.payload = novo;\n return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1775.618953704834,
        "y": 609.216386795044,
        "wires": [
            [
                "47159ceb.d93454"
            ]
        ]
    },
    {
        "id": "322a851.8a1977a",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "AplanVelAuto_M14",
        "dataType": "HoldingRegister",
        "adr": "14",
        "server": "9d9e7956.cdee38",
        "x": 2107.8291816711426,
        "y": 403.2166271209717,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "eb66237a.c0298"
            ],
            [
                "e0b06437.caa188"
            ]
        ]
    },
    {
        "id": "6e6d72b4.f94d7c",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "EncResol_M21",
        "dataType": "HoldingRegister",
        "adr": "21",
        "server": "9d9e7956.cdee38",
        "x": 2094.400550842285,
        "y": 778.6451263427734,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "96e48791.470a58"
            ],
            [
                "dd13de36.dcbe8"
            ]
        ]
    },
    {
        "id": "aa035180.56781",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "AplanPasso_M18",
        "dataType": "HoldingRegister",
        "adr": "18",
        "server": "9d9e7956.cdee38",
        "x": 2105.971767425537,
        "y": 587.3595094680786,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "3cb6665d.6432ca"
            ],
            [
                "549e431f.7b84bc"
            ]
        ]
    },
    {
        "id": "daf003bd.19cd9",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "AplanVelMan_M17",
        "dataType": "HoldingRegister",
        "adr": "17",
        "server": "9d9e7956.cdee38",
        "x": 2109.114803314209,
        "y": 495.3595657348633,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "6ff967e5.bbf5f8"
            ],
            [
                "1eaf33fa.12061c"
            ]
        ]
    },
    {
        "id": "71147d7c.db7594",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "EncFactor_M20",
        "dataType": "HoldingRegister",
        "adr": "20",
        "server": "9d9e7956.cdee38",
        "x": 2094.971839904785,
        "y": 681.0737457275391,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "758841f0.5bbd5"
            ],
            [
                "16e9aad3.ced205"
            ]
        ]
    },
    {
        "id": "6eece4fd.472e4c",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "PrsCiclos_M27",
        "dataType": "HoldingRegister",
        "adr": "27",
        "server": "9d9e7956.cdee38",
        "x": 2093.400234222412,
        "y": 974.930890083313,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "1154279d.870758"
            ],
            [
                "6d873cfe.3f1bd4"
            ]
        ]
    },
    {
        "id": "4fb6b174.b9a42",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "EncPerim_M22",
        "dataType": "HoldingRegister",
        "adr": "22",
        "server": "9d9e7956.cdee38",
        "x": 2093.5431480407715,
        "y": 875.9308547973633,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "d069fa5e.c28398"
            ],
            [
                "db11a312.2683b"
            ]
        ]
    },
    {
        "id": "921fa6ac.588e08",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "PrsCiclosMil_M28",
        "dataType": "HoldingRegister",
        "adr": "28",
        "server": "9d9e7956.cdee38",
        "x": 2102.6068687438965,
        "y": 1075.7166213989258,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "fb901fa1.dca68"
            ],
            [
                "ddeddc8f.1e15f"
            ]
        ]
    },
    {
        "id": "507768a8.b14b28",
        "type": "link in",
        "z": "3f422101.3791ae",
        "name": "loop escrita",
        "links": [
            "f3dfdc5d.546f1"
        ],
        "x": 1461.356990814209,
        "y": 609.1830615997314,
        "wires": [
            [
                "a285b920.7d9458"
            ]
        ]
    },
    {
        "id": "f3dfdc5d.546f1",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "loop inicializando CLP",
        "links": [
            "507768a8.b14b28"
        ],
        "x": 2308.106990814209,
        "y": 1143.983232498169,
        "wires": []
    },
    {
        "id": "3d792536.d4f21a",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "fabrica/ihm/estado/registradores/",
        "topic": "fabrica/ihm/estado/registradores/",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 2776.1943702697754,
        "y": 708.4467840194702,
        "wires": []
    },
    {
        "id": "6cfcc577.3bdfac",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Grava valor dos registradores no CLP",
        "info": "A cada inicialização os valores dos registradores são atualizados a partir de MongoDB:\n\n1- AplanVelAuto M14\nVelocidade maxima no automatico de 0% a 100%\n\n2- AplanVelMan M17\nVelocidade maxima no manual de 0% a 100%\n\n3- AplanPasso M18\nPasso da ferramenta em \"mm\", de 0 a 400mm\n\n4- EncFactor M20\nFator de correção do encoder em numeros inteiros apenas.\n\n5- EncResol M21\nResolução do encoder em numeros inteiros apenas. 1 a 10000\n\n6- EncPerim M22\nPerimetro do encoder em \"mm\". De 1 a 999\n\n7- PrsCiclosUnid M23\nCiclos de Lubrificação da prensa. De 0 a 65534 unidades\n\n8- PrsCiclosMil M24\nCiclos de Lubrificação da prensa vezes 1000. De 0 a 65534 unidades\n\n9- NovoPrsCiclosUnd M25\nCiclos que faltam para proxima Lubrificação da prensa. De 0 a 65534 unidades\n\n10- NovoCiclosMil M26\nCiclos que faltam para proxima Lubrificação da prensa vezes 1000. De 0 a 65534 unidades\n\n",
        "x": 2080.051082611084,
        "y": 354.71663093566895,
        "wires": []
    },
    {
        "id": "eb66237a.c0298",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M14 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n AplanVelAuto: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n\n \nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 2401.606792449951,
        "y": 379.9548387527466,
        "wires": [
            [
                "3d792536.d4f21a",
                "362ffa7.8703d06"
            ]
        ]
    },
    {
        "id": "6ff967e5.bbf5f8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M17 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n AplanVelMan: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n \nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 2400.4640464782715,
        "y": 474.5261917114258,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "758841f0.5bbd5",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M20 na pagina",
        "func": "var valor = msg.payload;\n\nglobal.set(\"FatorEncoder\",valor);\nmsg.payload = {\n EncFactor: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n \nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 2399.4640464782715,
        "y": 661.2405471801758,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "3cb6665d.6432ca",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M18 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n AplanPasso: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 2399.6066246032715,
        "y": 567.6691360473633,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "1154279d.870758",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M27 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n PrsCiclosUnid: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n \nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 2400.3212242126465,
        "y": 948.3833694458008,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "d069fa5e.c28398",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M22 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n EncPerim: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 2400.463878631592,
        "y": 851.8119602203369,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "96e48791.470a58",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M21 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n EncResol: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 2400.3212242126465,
        "y": 757.6690444946289,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "fb901fa1.dca68",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M28 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n PrsCiclosMil: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:(\"Valor x1000 = \"+ valor)});\n\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 2400.4640464782715,
        "y": 1045.526222229004,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "af685ba4.325c48",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza MongoDB",
        "func": "var parametro = JSON.parse(msg.payload);\n\n/****** APLANADORA VELOCIDADE AUTOMATICA M14 *********/\nif (parametro.AplanVelAuto_KEYBOARD !== undefined) {\n var x = parametro.AplanVelAuto_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.velocidade.automatico\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Velocidade Auto = \"+ x)});\n return msg;\n}\n\n/****** APLANADORA VELOCIDADE MANUAL M17 *********/\nif (parametro.AplanVelMan_KEYBOARD !== undefined) {\n var x = parametro.AplanVelMan_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.velocidade.manual\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Velocidade Manual = \"+ x)});\n return msg;\n}\n\n/****** APLANADORA PASSO M18 *********/\nif (parametro.AplanPasso_KEYBOARD !== undefined) {\n var x = parametro.AplanPasso_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.ferramenta.passo\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Passo = \"+ x)});\n return msg;\n}\n\n/****** FATOR DE ENCONDER M20*********/\nif (parametro.EncFactor_KEYBOARD !== undefined) {\n var x = parametro.EncFactor_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.encoder.fator\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"fator = \"+ x)});\n return msg;\n}\n\n/****** RESOLUÇÃO DO ENCONDER M21 *********/\nif (parametro.EncResol_KEYBOARD !== undefined) {\n var x = parametro.EncResol_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.encoder.resolucao\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Resolução ENC = \"+ x)});\n return msg;\n}\n\n/****** PERIMETRO DO ENCONDER M22 *********/\nif (parametro.EncPerim_KEYBOARD !== undefined) {\n var x = parametro.EncPerim_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.encoder.perimetro\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Perimetro ENC = \"+ x)});\n return msg;\n}\n\n/****** TamanhoDesejadoPeca Campo da pagina *********/\nif (parametro.TamanhoDesejadoPeca_KEYBOARD !== undefined) {\n var x = (parametro.TamanhoDesejadoPeca_KEYBOARD||0);\n if ((x>=2)&&(x<=20000)){\n global.set('TamanhoDesejadoPeca_KEYBOARD', x);\n }else {\n x=0;\n global.set('TamanhoDesejadoPeca_KEYBOARD', 0);\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Tamanho Desejado = \"+ x)});\n}\n\n/****** TamanhoRealPeca Campo da pagina *********/\nif (parametro.TamanhoRealPeca_KEYBOARD !== undefined) {\n var x = (parametro.TamanhoRealPeca_KEYBOARD||0);\n if ((x>=2)&&(x<=20000)){\n global.set('TamanhoRealPeca_KEYBOARD', x);\n }else {\n x=0;\n global.set('TamanhoRealPeca_KEYBOARD', 0);\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Tamanho Real = \"+ x)});\n}\n\n/****** RecalcularFator e grava no banco *********/\nif (parametro.RecalcularFator !== undefined) {\n var x = (global.get('TamanhoRealPeca_KEYBOARD')||0);\n var y = (global.get('TamanhoDesejadoPeca_KEYBOARD')||0);\n if ((x!==0)&&(y!==0)){\n var z = x/y;\n z *= (global.get('FatorEncoder')/10000);\n var z2 = Math.round(z*10000);\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.encoder.fator\": z2\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Calculado Fator ENC = \"+ z2)});\n return msg;\n }\n}\n\n/****** Atualiza numero de cilcos da prensa e grava no banco ********/\nif ((parametro.PrsCiclosUnid_KEYBOARD !== undefined )||(parametro.PRENSA_CICLOS !== undefined) ) {\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"lubrificacao.ciclos.PrsCiclosUnid\": parametro.PrsCiclosUnid_KEYBOARD\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Ciclos = \"+ parametro.PrsCiclosUnid_KEYBOARD)});\n return msg;\n}\n\n/* FALTA FAZER*************\nPrsCiclosUnid M23\nPrsCiclosMil M24\nNovoPrsCiclosUnd M25\nNovoCiclosMil M26*/\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 443.21387481689453,
        "y": 576.2403755187988,
        "wires": [
            [
                "f94637bc.72f068",
                "9f1cc9f3.7aece8",
                "7bc83fa3.e83c"
            ]
        ]
    },
    {
        "id": "f94637bc.72f068",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "85fd827e.46d3c",
        "name": "salvar",
        "collection": "parametros",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 703.2138404846191,
        "y": 576.3070459365845,
        "wires": []
    },
    {
        "id": "7e52dbd6.a6d584",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "fabrica/ihm/comandos/",
        "topic": "fabrica/ihm/comandos/",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 163.30965423583984,
        "y": 626.5179710388184,
        "wires": [
            [
                "af685ba4.325c48",
                "a55a1e61.1fab"
            ]
        ]
    },
    {
        "id": "50b40fb.56f43f",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Save the modified values in the bank",
        "info": "#Whats is saved until now!\n\nAfter one JSON.parse(msg.payload);\n\nAPLANADORA VELOCIDADE AUTOMATICA M14\nAPLANADORA VELOCIDADE MANUAL M17\nAPLANADORA PASSO M18\nRESOLUÇÃO DO ENCONDER M21",
        "x": 447.3769874572754,
        "y": 535.649112701416,
        "wires": []
    },
    {
        "id": "9f1cc9f3.7aece8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "Salvou",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 704.6426734924316,
        "y": 629.2403964996338,
        "wires": []
    },
    {
        "id": "a55a1e61.1fab",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "fila",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 403.6796417236328,
        "y": 626.124095916748,
        "wires": []
    },
    {
        "id": "c83ff710.b4d4a8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "board/setup",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 3488.731830596924,
        "y": 2176.1922192573547,
        "wires": []
    },
    {
        "id": "fa929536.972ea8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "Leitura PLC",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 3408.9760932922363,
        "y": 269.4193992614746,
        "wires": []
    },
    {
        "id": "7b10f04c.6f74",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "POSICAO",
        "func": "var msg2 ={\n payload: msg.payload\n};\n\nif (msg2.payload[19] !== 0) {\n    var x = 'ERRO_POS: ' + (msg2.payload[19].toString());\n    msg2.payload = { type: 'info', message: x };\n    node.status({fill:\"red\",shape:\"dot\",text: x});\n} else{\n    var x = 'POS_ATUAL: '+ (msg2.payload[5].toString());\n    msg2.payload = { type: 'info', message: x };\n    node.status({fill:\"blue\",shape:\"dot\",text: x});\n}\nmsg2.payload.time= msg.payload.time;\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 3886.690357208252,
        "y": 338.000394821167,
        "wires": [
            [
                "203c6e06.e71172"
            ],
            [
                "83348503.f46a38"
            ]
        ]
    },
    {
        "id": "11e16bc3.c8be34",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "MIL CICLOS",
        "func": "var msg2 ={\n payload: msg.payload\n};\n\n//var ciclos = msg2.payload[23];\nvar Mciclos =msg2.payload[24].toString();\n\nmsg2.payload = { type: 'info', message: 'PRENSA_MIL_CICLOS: '+ Mciclos};\nnode.status({fill:\"green\",shape:\"dot\",text: Mciclos});\n\nmsg2.payload.time= msg.payload.time;\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 3888.9904975891113,
        "y": 385.7004051208496,
        "wires": [
            [
                "203c6e06.e71172"
            ],
            [
                "83348503.f46a38"
            ]
        ]
    },
    {
        "id": "d05b95db.1985e8",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Modo Auto M2.0 ON/OFF",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 3915.5722846984863,
        "y": 2506.1874022483826,
        "wires": [
            [
                "f33f8791.8265c8"
            ],
            [
                "2d23d02b.7d703"
            ]
        ]
    },
    {
        "id": "8ae15362.53ef7",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Parar Maquina\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 3887.706718444824,
        "y": 1388.1165924072266,
        "wires": [
            [
                "835451f4.5a93a"
            ]
        ]
    },
    {
        "id": "3d127d0a.bfb0e2",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"M31.11\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 3886.206718444824,
        "y": 1466.1165924072266,
        "wires": [
            [
                "28ee6a27.238ba6"
            ]
        ]
    },
    {
        "id": "5e7909af.8cfc48",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Produzir\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 3889.09956741333,
        "y": 1513.1808562278748,
        "wires": [
            [
                "b9f58702.491698"
            ]
        ]
    },
    {
        "id": "35681a5c.3ef276",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms Desbobinador",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Desbobinador\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 3938.59956741333,
        "y": 1684.1808562278748,
        "wires": [
            [
                "91ed9b83.330878"
            ]
        ]
    },
    {
        "id": "909bffb8.7ad7a",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4618.323539733887,
        "y": 1374.8165435791016,
        "wires": [
            []
        ]
    },
    {
        "id": "28ee6a27.238ba6",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4618.823539733887,
        "y": 1466.0665435791016,
        "wires": [
            []
        ]
    },
    {
        "id": "765f2bc8.9b2264",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4618.680744171143,
        "y": 1506.8808073997498,
        "wires": [
            []
        ]
    },
    {
        "id": "91ed9b83.330878",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4618.823444366455,
        "y": 1684.880798816681,
        "wires": [
            []
        ]
    },
    {
        "id": "f33f8791.8265c8",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 4077.639057159424,
        "y": 2492.137414455414,
        "wires": []
    },
    {
        "id": "2d23d02b.7d703",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4077.3296241760254,
        "y": 2527.7564997673035,
        "wires": []
    },
    {
        "id": "b9f58702.491698",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Muda MbMaquinaProduzindo M1.7",
        "func": "//*****MbMaquinaProduzindo M1.7\nvar modbus = global.get(\"ModBus\");\n \nif ((modbus[2]) & (1 << 0)) {\n modbus[1] &= ~(1<<7); //M1.7 igual a 1 produzir\n node.status({fill:\"red\",shape:\"dot\",text:\"M1.7 = OFF\"});\n} else {\n modbus[1] |= (1<<7);//M1.7 igual a 0 não produzir\n node.status({fill:\"green\",shape:\"ring\",text:\"M1.7 = ON\"});\n}\nglobal.set(\"ComandoMaquina\",9);\nglobal.set('ModBus', modbus);//Atualiza registrador global.\nmsg.payload = modbus[1];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4135.306694030762,
        "y": 1513.4833526611328,
        "wires": [
            [
                "cac5fc75.5c759"
            ]
        ]
    },
    {
        "id": "cac5fc75.5c759",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Modo Auto M1.7",
        "dataType": "HoldingRegister",
        "adr": "1",
        "server": "9d9e7956.cdee38",
        "x": 4381.340141296387,
        "y": 1514.1666412353516,
        "wires": [
            [
                "765f2bc8.9b2264"
            ],
            [
                "60685a1e.aca134"
            ]
        ]
    },
    {
        "id": "60685a1e.aca134",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4544.323417663574,
        "y": 1548.1667022705078,
        "wires": []
    },
    {
        "id": "5b635d7a.3bf714",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "MbPrsParar M2.13 & 2.0",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 3912.6055946350098,
        "y": 2364.8872866630554,
        "wires": [
            [
                "ffe2a610.2de9c8"
            ],
            [
                "69bb3e75.14f64"
            ]
        ]
    },
    {
        "id": "ffe2a610.2de9c8",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 4079.67232131958,
        "y": 2346.8373045921326,
        "wires": []
    },
    {
        "id": "69bb3e75.14f64",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4079.3628730773926,
        "y": 2381.4564452171326,
        "wires": []
    },
    {
        "id": "7a42f021.5382f",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Modo Auto M2.0 OFF",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 3906.03902053833,
        "y": 2432.887414455414,
        "wires": [
            [
                "c7690c7c.bdddd"
            ],
            [
                "e73c9334.f776"
            ]
        ]
    },
    {
        "id": "c7690c7c.bdddd",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 4079.1057929992676,
        "y": 2418.837426662445,
        "wires": []
    },
    {
        "id": "e73c9334.f776",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4077.796360015869,
        "y": 2454.4565119743347,
        "wires": []
    },
    {
        "id": "a3b7a4ff.8832e8",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "a75f58eb.95d308"
        ],
        "x": 3821.6057319641113,
        "y": 2722.237512111664,
        "wires": []
    },
    {
        "id": "835451f4.5a93a",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Parar motor",
        "func": "//muda 3.3\nvar mensagens = global.get(\"mensagens\");\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n// M3.3 igual a 0 Desliga motor\n modbus[2] &= ~(1<<12);\n msg.payload = modbus[2];\n msg2.payload ={ type: 'info', message: 'Desligando motor para reverter...' };\n msg2.payload.time= new Date();\n node.status({fill:\"yellow\",shape:\"ring\",text:\"Deslingado\"});\n\nglobal.set(\"MotorLigado\",0);\nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 4069.9817428588867,
        "y": 1388.654067993164,
        "wires": [
            [
                "1c039ee5.9fdc81"
            ],
            [
                "ec6c27e6.f2b998"
            ]
        ]
    },
    {
        "id": "ec6c27e6.f2b998",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "Topico Estado da Maquina",
        "topic": "fabrica/ihm/estado",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 4339.481742858887,
        "y": 1431.404067993164,
        "wires": []
    },
    {
        "id": "1c039ee5.9fdc81",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Desliga motor M2.12",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 4320.231742858887,
        "y": 1381.654067993164,
        "wires": [
            [
                "909bffb8.7ad7a"
            ],
            [
                "f8b2a9f8.65eef8"
            ]
        ]
    },
    {
        "id": "f8b2a9f8.65eef8",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4543.981742858887,
        "y": 1420.904067993164,
        "wires": []
    },
    {
        "id": "9f177a94.28db98",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "indice salvo",
        "func": "//Carrega variavel global indice em y\nvar y = msg.id;\n\n//monta a mensagem\nmsg.query = {_id:'indice'};\nmsg.payload = {\n $set: {\"indice_salvo\": parseInt(y)}\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 4434.847831726074,
        "y": 239.7370204925537,
        "wires": [
            [
                "61e20076.f1ab9"
            ]
        ]
    },
    {
        "id": "61e20076.f1ab9",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "dbe8569.427d7a8",
        "name": "Atualizar Indice",
        "collection": "indice",
        "payonly": true,
        "upsert": true,
        "multi": true,
        "operation": "update",
        "x": 4625.561767578125,
        "y": 240.08713722229004,
        "wires": []
    },
    {
        "id": "1a65fa75.1e30f6",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "mudar 1 item apenas",
        "func": "var a = global.get(\"erro\");\n\nif (a.message!==msg.payload.message){\n    global.set(\"erro\",msg.payload);\n    var x = msg.payload;\n    var y = global.get(\"Indice_Mongo\");\n    var z = msg.payload.message;\n    \n    if (y <= 9){\n        msg.query = {_id:y.toString()};\n        msg.payload = {\n            $set:x\n        };\n        y++;\n        global.set(\"Indice_Mongo\",y);\n    } else{\n        global.set(\"Indice_Mongo\",0);\n        y=0;\n        msg.query = {_id:y.toString()};\n        msg.payload = {\n            $set:x\n        };\n    }\n    msg.id = y;\n    node.status({fill:\"blue\",shape:\"dot\",text: z });\n    return msg;\n} else{\n    msg = null;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 4146.267597198486,
        "y": 179.3627586364746,
        "wires": [
            [
                "6f7d434b.3e957c",
                "9f177a94.28db98",
                "f7b381ba.239d8"
            ]
        ]
    },
    {
        "id": "6f7d434b.3e957c",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "update log_erro",
        "collection": "log_erro",
        "payonly": true,
        "upsert": true,
        "multi": true,
        "operation": "update",
        "x": 4444.823173522949,
        "y": 291.8736171722412,
        "wires": []
    },
    {
        "id": "27b77e93.93b722",
        "type": "link in",
        "z": "3f422101.3791ae",
        "name": "tabs2",
        "links": [
            "998aa1cf.9dfc6"
        ],
        "x": 517.3069801330566,
        "y": 624.116678237915,
        "wires": [
            [
                "7bc83fa3.e83c"
            ]
        ]
    },
    {
        "id": "998aa1cf.9dfc6",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "",
        "links": [
            "27b77e93.93b722"
        ],
        "x": 3820.538959503174,
        "y": 2781.154016017914,
        "wires": []
    },
    {
        "id": "8cd87733.7e0b38",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Desbobinador",
        "info": "",
        "x": 3927.538959503174,
        "y": 2722.3374876976013,
        "wires": []
    },
    {
        "id": "ba5a8618.83d4b8",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "TABS2",
        "info": "",
        "x": 3908.2390327453613,
        "y": 2780.3374876976013,
        "wires": []
    },
    {
        "id": "36d307d7.5a1a88",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "MbPrsSentido M2.14",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 3902.8723335266113,
        "y": 2585.237512111664,
        "wires": [
            [
                "e7de3316.2c099"
            ],
            [
                "7a986293.8c8b9c"
            ]
        ]
    },
    {
        "id": "e7de3316.2c099",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 4079.9390602111816,
        "y": 2567.187530040741,
        "wires": []
    },
    {
        "id": "7a986293.8c8b9c",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4079.629611968994,
        "y": 2601.806670665741,
        "wires": []
    },
    {
        "id": "37b03494.7701ec",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 4618.206840515137,
        "y": 1585.516616821289,
        "wires": [
            []
        ]
    },
    {
        "id": "ad8b8a25.2fd098",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Reverter prensa\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 3887.9829635620117,
        "y": 1597.816674232483,
        "wires": [
            [
                "b97c0c7f.c8f64"
            ]
        ]
    },
    {
        "id": "b97c0c7f.c8f64",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Parar motor",
        "func": "//muda 3.3\nvar mensagens = global.get(\"mensagens\");\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n// M3.3 igual a 0 Desliga motor\n modbus[2] &= ~(1<<12);\n msg.payload = modbus[2];\n msg2.payload ={ type: 'info', message: 'Desligando motor para reverter...' };\n msg2.payload.time= new Date();\n node.status({fill:\"yellow\",shape:\"ring\",text:\"Deslingado\"});\n\nglobal.set(\"MotorLigado\",0);\nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 4064.9734420776367,
        "y": 1597.516616821289,
        "wires": [
            [
                "dcdc5f9e.53bc6"
            ],
            [
                "d59ffdd6.f0e13"
            ]
        ]
    },
    {
        "id": "dcdc5f9e.53bc6",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Desliga motor M2.12",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 4323.973564147949,
        "y": 1591.516616821289,
        "wires": [
            [
                "37b03494.7701ec"
            ],
            []
        ]
    },
    {
        "id": "d59ffdd6.f0e13",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "Topico Estado da Maquina",
        "topic": "fabrica/ihm/estado",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 4344.973564147949,
        "y": 1641.516616821289,
        "wires": []
    },
    {
        "id": "82dbd0e8.0ef29",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Desliga & zerar tudo!",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 3902.322135925293,
        "y": 2657.954086303711,
        "wires": [
            [
                "2d563054.784"
            ],
            [
                "1876e927.61d017"
            ]
        ]
    },
    {
        "id": "1876e927.61d017",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4079.1020164489746,
        "y": 2675.6354808807373,
        "wires": []
    },
    {
        "id": "96c6b7f3.640bc8",
        "type": "link in",
        "z": "3f422101.3791ae",
        "name": "",
        "links": [
            "2d563054.784"
        ],
        "x": 4402.336072921753,
        "y": 2703.945901542902,
        "wires": [
            [
                "6cee4bbe.905a44",
                "b7796583.e84118"
            ]
        ]
    },
    {
        "id": "2d563054.784",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "reset maquina",
        "links": [
            "96c6b7f3.640bc8"
        ],
        "x": 4080.1512908935547,
        "y": 2640.516670227051,
        "wires": []
    },
    {
        "id": "63a6ffe.d57dc",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Consulta MongoDB por string",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 345.9997501373291,
        "y": 2567.1969695091248,
        "wires": []
    },
    {
        "id": "2a7dd058.0d317",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Exemplo de consulta",
        "func": "msg.limit = parseInt(msg.req.query.size) || 10;\nmsg.skip = ((parseInt(msg.req.query.page) || 1) - 1) * (parseInt(msg.req.query.page) || 1);\nmsg.payload = {nome: {'$regex' : msg.payload.nome, '$options' : 'i'}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330.01590156555176,
        "y": 2610.8968453407288,
        "wires": [
            []
        ]
    },
    {
        "id": "3941fc9e.2ee4e4",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Desliga se ociosa",
        "func": "var tempo = global.get(\"tempo\");\n\nif (((msg.payload[3]) & (1 << 3))){\n var atrazo = new Date().getTime();\n var diff = Math.round((parseInt((atrazo - tempo))/60000));\n \n node.status({fill:\"green\",shape:\"dot\",text:\"Diferença de tempo em min = \"+ diff});\n}else {\n var start = new Date().getTime();\n global.set(\"tempo\",start);\n node.status({fill:\"green\",shape:\"dot\",text:\"Motor Desligado \"});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3909.951789855957,
        "y": 861.0974731445312,
        "wires": [
            [
                "cd4855aa.9d0fc8"
            ]
        ]
    },
    {
        "id": "41e7e1a5.d8c8e",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 4624.745355606079,
        "y": 759.8276348114014,
        "wires": []
    },
    {
        "id": "de00c564.1ca1a8",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4625.436032295227,
        "y": 861.0024194717407,
        "wires": []
    },
    {
        "id": "a317528e.86a8d",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Desliga Motor Prensa M3.3",
        "dataType": "HoldingRegister",
        "adr": "3",
        "server": "9d9e7956.cdee38",
        "x": 4452.03995513916,
        "y": 808.9118022918701,
        "wires": [
            [
                "41e7e1a5.d8c8e"
            ],
            [
                "de00c564.1ca1a8"
            ]
        ]
    },
    {
        "id": "8f4d2241.79377",
        "type": "http in",
        "z": "3f422101.3791ae",
        "name": "/api/usuario/login",
        "url": "/api/usuario/login",
        "method": "post",
        "swaggerDoc": "",
        "x": 258.6664619445801,
        "y": 3736.6969130039215,
        "wires": [
            [
                "2794fa06.5dc4e6"
            ]
        ]
    },
    {
        "id": "26ffc76f.455d18",
        "type": "http response",
        "z": "3f422101.3791ae",
        "name": "",
        "x": 1115.7906608581543,
        "y": 3736.1335775852203,
        "wires": []
    },
    {
        "id": "d458326f.c97cd",
        "type": "md5",
        "z": "3f422101.3791ae",
        "name": "",
        "fieldToHash": "payload",
        "fieldTypeToHash": "msg",
        "hashField": "md5",
        "hashFieldType": "msg",
        "x": 1448.0947647094727,
        "y": 2529.5541229248047,
        "wires": [
            [
                "8a66ccc.3565b3"
            ]
        ]
    },
    {
        "id": "8a66ccc.3565b3",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "md5 resposta",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1781.2376518249512,
        "y": 2529.9826946258545,
        "wires": []
    },
    {
        "id": "36cb040b.1fae5c",
        "type": "mongodb in",
        "z": "3f422101.3791ae",
        "mongodb": "85fd827e.46d3c",
        "name": "consulta",
        "collection": "config",
        "operation": "find",
        "x": 665.9997940063477,
        "y": 3223.3635771274567,
        "wires": [
            [
                "5e094217.8eda8c"
            ]
        ]
    },
    {
        "id": "e0d5cd6b.723b",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Carrega parametros",
        "func": "// No parametro projection 1 ou zero significa ler ou inguinorar resultado\n//msg.projection = { _id: 1, codigo: 1, nome: 1, path: 1}\nmsg.limit = 50;\nmsg.skip = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 485.1380615234375,
        "y": 3223.187151193619,
        "wires": [
            [
                "36cb040b.1fae5c"
            ]
        ]
    },
    {
        "id": "5e094217.8eda8c",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Dados OK",
        "func": "var msg2 = {};\n\nif (msg.payload.length){\n    msg.payload=msg.payload[0];\n    msg2 = null;\n    node.status({fill:\"blue\",shape:\"dot\",text:msg.payload.codigo});\n    \n}else{ // banco vazio\n    msg2.payload = {};\n    msg.payload = {};\n    node.status({fill:\"red\",shape:\"dot\",text:'erro'});\n}\n\nreturn [msg,msg2];\n",
        "outputs": "2",
        "noerr": 0,
        "x": 822.9997940063477,
        "y": 3223.3635771274567,
        "wires": [
            [
                "e4c79f51.06a1d",
                "a53e91a4.bcf41"
            ],
            [
                "7017b5ae.337fbc",
                "9ffad956.8fc638",
                "37d89342.f3c82c"
            ]
        ]
    },
    {
        "id": "f626ee91.998c7",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "salvar config selecionada",
        "collection": "config",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1064.9997940063477,
        "y": 3455.3635771274567,
        "wires": []
    },
    {
        "id": "7017b5ae.337fbc",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Erro --> Abre conexão",
        "func": "let mssql = global.get('mssql');\n\nmsg.payload = \"conectando\";\n\nlet PRODUCAO = new mssql.Connection(\"mssql://financeiro:financeiro@192.168.0.1/FINANCEIRO\", function(err) {\n    if (err) {\n        global.set('conectadoServidor', 0);\n        PRODUCAO.on('error', function(err) {\n            node.error({payload: err || { erro: 9996, mensagem: 'Erro desconhecido na conexão'}});\n        });\n    } else {\n        global.set('conectadoServidor', 1);\n    }\n});\nnode.status({fill:\"yellow\",shape:\"dot\",text:'Conectando 192.168.0.1'});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1052.9997940063477,
        "y": 3230.3635771274567,
        "wires": [
            [
                "5ac573d9.ac563c"
            ]
        ]
    },
    {
        "id": "8c41c41e.5e0f68",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "CARREGA CONFIG LOCAL",
        "info": "",
        "x": 291.99979400634766,
        "y": 3175.3635771274567,
        "wires": []
    },
    {
        "id": "5dd5f37c.8910fc",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "SALVA CONFIG ESCOLHIDO \"localhost\"",
        "info": "",
        "x": 327.99979400634766,
        "y": 3463.3635771274567,
        "wires": []
    },
    {
        "id": "7965d30b.e358fc",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Verifica a senha e usuario",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 287.6664581298828,
        "y": 3613.6969044208527,
        "wires": []
    },
    {
        "id": "298ad3cc.8c239c",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Converte SQL to Mongo",
        "func": "let msg2 ={ payload: msg.payload.usuarios}; //Passa para msg2 o JSON de usuarios\nlet d = new Date(),\n    lodash = global.get('lodash'), \n    i=0;\n\n// Converte iso date para hora local\n//let myDate = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\n//var x = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n//        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n//        d.getFullYear() + \" \" + myDate;\n\nconst l = (msg2.payload.length||0); //mede o tamanho do array fora do laço\nconst t = d.toISOString();\n\n\n//MAQUINA\nmsg.payload.maquina._id = msg.payload.maquina.id.toString(); //Converte id p/ _id para gravar no mongoDB\nmsg.payload.maquina.atualizacao = t; // Hora da gravação da configuração da maquina\nmsg.payload = lodash.omit(msg.payload.maquina, 'id'); //apaga o original\n\n\n//USUARIO\nfor (i=0; i<l; i++){\n    msg2.payload[i]._id = msg2.payload[i].id.toString();\n    msg2.payload[i].atualizacao = t; // Hora da gravação do log de usuarios\n    msg2.payload[i] = lodash.omit(msg2.payload[i], 'id');\n}\n\n//console.log(JSON.stringify(msg2.payload,null,2));      //Imprime no console o JSON do config que sera gravado\n\nreturn [msg, msg2];\n\n\n \n",
        "outputs": "2",
        "noerr": 0,
        "x": 755.9997940063477,
        "y": 3510.3635771274567,
        "wires": [
            [
                "f626ee91.998c7",
                "eb8c64b0.c42f38",
                "aa3683c5.babd7"
            ],
            [
                "79e83104.5064c",
                "4eb7cec7.96764"
            ]
        ]
    },
    {
        "id": "204aa6e3.240afa",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Parametros de todas as maquinas \"referencia\"",
        "info": "Copia local de segurança de todos os parametros das maquinas\n\nPor default esta carregando essa lista do servidor\n\nÉ possível mudar para carregar local alterando o arquivo \n\n> ihm/src/api/maquina/config/index.js<",
        "x": 336.47588539123535,
        "y": 2363.625527858734,
        "wires": []
    },
    {
        "id": "b7796583.e84118",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "APAGAR TODA A COLLECTION operadores",
        "collection": "operadores",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 4783.0719356536865,
        "y": 2708.644312530756,
        "wires": []
    },
    {
        "id": "df49ea92.edd948",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "85fd827e.46d3c",
        "name": "salvar tabela usuarios",
        "collection": "operadores",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1218.9491024017334,
        "y": 3598.0876133441925,
        "wires": []
    },
    {
        "id": "2794fa06.5dc4e6",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Carrega operador",
        "func": "// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nlet parametro = msg.payload;\n\nmsg.payload = {usuario:{$in:[parametro.usuario]}, senha:{$in:[parametro.senha]}};\n//msg.projection = { usuario: 1, senha: 1};\nmsg.limit = 5;\nmsg.skip = 0;\n\nnode.status({fill:\"yellow\",shape:\"dot\",text: parametro.usuario + ' ' + parametro.senha});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 508.1629829406738,
        "y": 3736.332762002945,
        "wires": [
            [
                "57941e20.9a987"
            ]
        ]
    },
    {
        "id": "57941e20.9a987",
        "type": "mongodb in",
        "z": "3f422101.3791ae",
        "mongodb": "85fd827e.46d3c",
        "name": "consulta operadores",
        "collection": "operadores",
        "operation": "find",
        "x": 763.5960388183594,
        "y": 3736.509151697159,
        "wires": [
            [
                "d5a6843f.f0a258"
            ]
        ]
    },
    {
        "id": "2c3cc605.2dbeaa",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "operadores",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1133.1578979492188,
        "y": 3692.4308512210846,
        "wires": []
    },
    {
        "id": "14339a82.0d5cb5",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "Usuario conhecido",
        "topic": "",
        "payload": "{ \"usuario\": \"helio\", \"senha\": \"helio2\" }",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 268.8512268066406,
        "y": 3695.7085621356964,
        "wires": [
            [
                "2794fa06.5dc4e6"
            ]
        ]
    },
    {
        "id": "4eb7cec7.96764",
        "type": "split",
        "z": "3f422101.3791ae",
        "name": "",
        "splt": "\\n",
        "x": 1006.0201034545898,
        "y": 3597.8910868167877,
        "wires": [
            [
                "df49ea92.edd948"
            ]
        ]
    },
    {
        "id": "d5a6843f.f0a258",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "senha",
        "func": "msg.payload = msg.payload[0]?msg.payload[0]:{};\n\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 945.4487190246582,
        "y": 3736.4104750156403,
        "wires": [
            [
                "2c3cc605.2dbeaa",
                "26ffc76f.455d18"
            ]
        ]
    },
    {
        "id": "669c0ff.697f6f",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "Usuario desconhecido",
        "topic": "",
        "payload": "{ \"usuario\": \"helio2\", \"senha\": \"456\" }",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 278.0140075683594,
        "y": 3654.914738893509,
        "wires": [
            [
                "2794fa06.5dc4e6"
            ]
        ]
    },
    {
        "id": "79e83104.5064c",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "usuarios",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1015.6958389282227,
        "y": 3551.607926607132,
        "wires": []
    },
    {
        "id": "f9b24ac6.86f248",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "fabrica/ihm/erros/#",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 1416.6956939697266,
        "y": 2137.286958694458,
        "wires": [
            [
                "522ab01.03e9d5"
            ]
        ]
    },
    {
        "id": "522ab01.03e9d5",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1773.635009765625,
        "y": 2137.442728996277,
        "wires": []
    },
    {
        "id": "f63bd23a.5efa",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "fabrica/ihm/debug/#",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 1416.156753540039,
        "y": 2188.9148378372192,
        "wires": [
            [
                "a3febcdf.3a988"
            ]
        ]
    },
    {
        "id": "a3febcdf.3a988",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1775.9532165527344,
        "y": 2189.070590019226,
        "wires": []
    },
    {
        "id": "445e1e60.67798",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "fabrica/ihm/estado/#",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 1417.013900756836,
        "y": 2242.914819717407,
        "wires": [
            [
                "2ad4b6f1.35c84a"
            ]
        ]
    },
    {
        "id": "2ad4b6f1.35c84a",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1773.9532165527344,
        "y": 2243.070590019226,
        "wires": []
    },
    {
        "id": "2a685e5f.82bf42",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1773.9532165527344,
        "y": 2344.070590019226,
        "wires": []
    },
    {
        "id": "37524563.1fbf7a",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "fabrica/ihm/timer/",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 1406.013900756836,
        "y": 2393.460229873657,
        "wires": [
            [
                "9d7c3d1d.8d63e"
            ]
        ]
    },
    {
        "id": "9d7c3d1d.8d63e",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1772.9532165527344,
        "y": 2393.616000175476,
        "wires": []
    },
    {
        "id": "fd7f824f.1891a",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "fabrica/ihm/debug/REFORCO",
        "topic": "fabrica/ihm/debug/REFORCO",
        "qos": "0",
        "retain": "",
        "broker": "37b3c15d.a7496e",
        "x": 2272.6928634643555,
        "y": 2232.6732892990112,
        "wires": []
    },
    {
        "id": "771ba3d8.3c88dc",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "",
        "payload": "{'O que você quer fazer ?'}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 2030.6985244750977,
        "y": 2232.889205932617,
        "wires": [
            [
                "fd7f824f.1891a"
            ]
        ]
    },
    {
        "id": "1b98aabe.2c7625",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "fabrica/ihm/debug/PERF-N3",
        "topic": "fabrica/ihm/debug/PERF-N3",
        "qos": "0",
        "retain": "",
        "broker": "37b3c15d.a7496e",
        "x": 2265.0139236450195,
        "y": 2283.460283279419,
        "wires": []
    },
    {
        "id": "c8c9f546.035448",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "",
        "payload": "{'O que você quer fazer ?'}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 2030.0195846557617,
        "y": 2283.676199913025,
        "wires": [
            [
                "1b98aabe.2c7625"
            ]
        ]
    },
    {
        "id": "d4b3afd3.ea031",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "fabrica/ihm/estado/REFORCO",
        "topic": "fabrica/ihm/estado/REFORCO",
        "qos": "0",
        "retain": "",
        "broker": "37b3c15d.a7496e",
        "x": 2274.0281295776367,
        "y": 2336.4660139083862,
        "wires": []
    },
    {
        "id": "a25ea8a0.d942a8",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "",
        "payload": "{'O que você quer fazer ?'}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 2029.033790588379,
        "y": 2336.681930541992,
        "wires": [
            [
                "d4b3afd3.ea031"
            ]
        ]
    },
    {
        "id": "fec7fb0c.13c9a8",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "fabrica/ihm/user/#",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 1416.0139083862305,
        "y": 2446.27845954895,
        "wires": [
            [
                "cc50e727.e3cba8"
            ]
        ]
    },
    {
        "id": "cc50e727.e3cba8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1782.953224182129,
        "y": 2446.434229850769,
        "wires": []
    },
    {
        "id": "ccf6f404.8d3c38",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1256.6929626464844,
        "y": 3131.5254871845245,
        "wires": [
            [
                "636eaf61.9eab7"
            ]
        ]
    },
    {
        "id": "971e9d0a.28396",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "timer",
        "func": "let myHours = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\n\nlet d = new Date();\nlet x = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear() + \" \" + myHours.slice(0,5);\n        \nlet y = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear();\n\nmsg.payload = \n  {\n    \"date\": y,\n    \"hours\": myHours.slice(0,5)\n  };\n  \nnode.status({fill:\"blue\",shape:\"dot\",text:x});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1750.0139236450195,
        "y": 2621.27845954895,
        "wires": [
            [
                "28a038ce.6793e8",
                "5924dc76.72be24"
            ]
        ]
    },
    {
        "id": "e57b58b.ea8d3a8",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "timer",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "x": 1448.6956939697266,
        "y": 2621.2414512634277,
        "wires": [
            [
                "971e9d0a.28396"
            ]
        ]
    },
    {
        "id": "28a038ce.6793e8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "timer",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1887.6900100708008,
        "y": 2654.0653533935547,
        "wires": []
    },
    {
        "id": "5924dc76.72be24",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "timer",
        "topic": "fabrica/ihm/timer/",
        "qos": "0",
        "retain": "",
        "broker": "37b3c15d.a7496e",
        "x": 1888.7013931274414,
        "y": 2594.7584686279297,
        "wires": []
    },
    {
        "id": "31fc46ca.23cf3a",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 3866.777687072754,
        "y": 993.8890428543091,
        "wires": []
    },
    {
        "id": "216b86c9.f8560a",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "erro PLC",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 3398.1667671203613,
        "y": 223.5005760192871,
        "wires": []
    },
    {
        "id": "500fd6f7.a15278",
        "type": "link in",
        "z": "3f422101.3791ae",
        "name": "",
        "links": [
            "a8661b93.855de8",
            "c2c5220a.c006e",
            "f0f4111c.32aaa",
            "b40dcbfd.9195f8"
        ],
        "x": 3940.1667671203613,
        "y": 179.5005760192871,
        "wires": [
            [
                "1a65fa75.1e30f6",
                "83348503.f46a38"
            ]
        ]
    },
    {
        "id": "cccfbe3b.1ca04",
        "type": "mongodb in",
        "z": "3f422101.3791ae",
        "mongodb": "85fd827e.46d3c",
        "name": "consulta",
        "collection": "config",
        "operation": "find",
        "x": 1144.333438873291,
        "y": 455.5000991821289,
        "wires": [
            [
                "7a3aef67.22dc9",
                "6fcccea9.c952d"
            ]
        ]
    },
    {
        "id": "c626087f.4a38b8",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "Read indice",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 273.00012969970703,
        "y": 3119.9999582767487,
        "wires": [
            [
                "e0d5cd6b.723b"
            ]
        ]
    },
    {
        "id": "7a3aef67.22dc9",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Carregar parametros",
        "func": "var msg2 = {};\nvar parametros = []; //Cria um array vazio\nvar x = 0;\n\nif (msg.payload.length){\n    x=msg.payload[0].codigo;\n    msg2 = null;         //Saida de erro não acontece nada\n    \n    if(x=='REFORCO'){\n        parametros.push(msg.payload[0].parametros.automatico.velocidade); //AplanVelAuto M14\n        parametros.push(msg.payload[0].parametros.manual.velocidade); //AplanVelMan M17\n        parametros.push(msg.payload[0].parametros.ferramenta.furo); //AplanPasso M18\n        parametros.push(msg.payload[0].parametros.encoder.fator); //EncFactor M20\n        parametros.push(msg.payload[0].parametros.encoder.resolucao); //EncResol M21 \n        parametros.push(msg.payload[0].parametros.encoder.perimetro); //EncPerim M22\n        parametros.push(msg.payload[0].parametros.lubrificacao.ciclos.PrsCiclos); //PrsCiclosUnid M23\n        parametros.push(msg.payload[0].parametros.lubrificacao.preset.MbNovoCiclos);//NovoCiclosMil M26\n    }else if (x=='PERF-N3') {\n        parametros.push(msg.payload[0].parametros.automatico.velocidade); //AplanVelAuto M14\n        parametros.push(msg.payload[0].parametros.manual.velocidade); //AplanVelMan M17\n        parametros.push(msg.payload[0].parametros.ferramenta.passoN2); //AplanPasso M18\n        parametros.push(msg.payload[0].parametros.encoder.fator); //EncFactor M20\n        parametros.push(msg.payload[0].parametros.encoder.resolucao); //EncResol M21 \n        parametros.push(msg.payload[0].parametros.encoder.perimetro); //EncPerim M22\n        parametros.push(msg.payload[0].parametros.lubrificacao.ciclos.PrsCiclos); //PrsCiclosUnid M23\n        parametros.push(msg.payload[0].parametros.lubrificacao.preset.MbNovoCiclos);//NovoCiclosMil M26\n    } else{\n        parametros.push(msg.payload[0].parametros.automatico.velocidade); //AplanVelAuto M14\n        parametros.push(msg.payload[0].parametros.manual.velocidade); //AplanVelMan M17\n        parametros.push(msg.payload[0].parametros.ferramenta.furo); //AplanPasso M18\n        parametros.push(msg.payload[0].parametros.encoder.fator); //EncFactor M20\n        parametros.push(msg.payload[0].parametros.encoder.resolucao); //EncResol M21 \n        parametros.push(msg.payload[0].parametros.encoder.perimetro); //EncPerim M22\n        parametros.push(msg.payload[0].parametros.lubrificacao.ciclos.PrsCiclos); //PrsCiclosUnid M23\n        parametros.push(msg.payload[0].parametros.lubrificacao.preset.MbNovoCiclos);//NovoCiclosMil M26\n    }\n    flow.set('params', parametros); //Salva em uma variavel externa ao bloco\n    msg.payload = parametros; //Envia o conteudo do array para o proximo bloco\n    node.status({fill:\"blue\",shape:\"dot\",text:\"Parametros Carregados \" + x});\n\n}else{ // banco vazio\n    msg2.payload = { type: 'error', message: 'Banco vazio Paramentros!'};\n    msg2.payload.time= new Date();\n    msg.payload = null;\n    node.status({fill:\"red\",shape:\"dot\",text:'Erro banco vazio!'});\n}\n\nreturn [msg,msg2];\n",
        "outputs": "2",
        "noerr": 0,
        "x": 1339.8333549499512,
        "y": 455.75010108947754,
        "wires": [
            [
                "47159ceb.d93454",
                "b3bee5b3.702928",
                "a328d4ba.557548"
            ],
            [
                "a8661b93.855de8"
            ]
        ]
    },
    {
        "id": "4d3a1674.432608",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "Read MongoDB",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 728.333438873291,
        "y": 456.5000991821289,
        "wires": [
            [
                "5acf5954.4ed6e8"
            ]
        ]
    },
    {
        "id": "a8661b93.855de8",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "erro Carregando Parametros",
        "links": [
            "500fd6f7.a15278"
        ],
        "x": 1526.833423614502,
        "y": 414.25007820129395,
        "wires": []
    },
    {
        "id": "6fcccea9.c952d",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "Parametros MongoBD",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1340.000057220459,
        "y": 508.50007820129395,
        "wires": []
    },
    {
        "id": "e0b06437.caa188",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Erro Escrita M14",
        "func": "msg.payload = { type: 'error', message: 'Falha de escrita dos modbus do CLP. M14'};\nmsg.payload.time= new Date();\nnode.status({fill:\"red\",shape:\"dot\",text:'Falha M14'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2380.0001792907715,
        "y": 427.5001907348633,
        "wires": [
            [
                "f0f4111c.32aaa"
            ]
        ]
    },
    {
        "id": "1eaf33fa.12061c",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Erro Escrita M17",
        "func": "msg.payload = { type: 'error', message: 'Falha de escrita dos modbus do CLP. M17'};\nmsg.payload.time= new Date();\nnode.status({fill:\"red\",shape:\"dot\",text:'Falha M17'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2379.0001792907715,
        "y": 520.5001907348633,
        "wires": [
            [
                "f0f4111c.32aaa"
            ]
        ]
    },
    {
        "id": "549e431f.7b84bc",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Erro Escrita M18",
        "func": "msg.payload = { type: 'error', message: 'Falha de escrita dos modbus do CLP. M18'};\nmsg.payload.time= new Date();\nnode.status({fill:\"red\",shape:\"dot\",text:'Falha M18'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2380.0001792907715,
        "y": 614.5001907348633,
        "wires": [
            [
                "f0f4111c.32aaa"
            ]
        ]
    },
    {
        "id": "16e9aad3.ced205",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Erro Escrita M20",
        "func": "msg.payload = { type: 'error', message: 'Falha de escrita dos modbus do CLP. M20'};\nmsg.payload.time= new Date();\nnode.status({fill:\"red\",shape:\"dot\",text:'Falha M20'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2380.0001792907715,
        "y": 707.5001907348633,
        "wires": [
            [
                "f0f4111c.32aaa"
            ]
        ]
    },
    {
        "id": "dd13de36.dcbe8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Erro Escrita M21",
        "func": "msg.payload = { type: 'error', message: 'Falha de escrita dos modbus do CLP. M21'};\nmsg.payload.time= new Date();\nnode.status({fill:\"red\",shape:\"dot\",text:'Falha M21'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2380.0001792907715,
        "y": 804.5001907348633,
        "wires": [
            [
                "f0f4111c.32aaa"
            ]
        ]
    },
    {
        "id": "db11a312.2683b",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Erro Escrita M22",
        "func": "msg.payload = { type: 'error', message: 'Falha de escrita dos modbus do CLP. M22'};\nmsg.payload.time= new Date();\nnode.status({fill:\"red\",shape:\"dot\",text:'Falha M22'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2381.0001792907715,
        "y": 900.5001907348633,
        "wires": [
            [
                "f0f4111c.32aaa"
            ]
        ]
    },
    {
        "id": "6d873cfe.3f1bd4",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Erro Escrita M27",
        "func": "msg.payload = { type: 'error', message: 'Falha de escrita dos modbus do CLP. M27'};\nmsg.payload.time= new Date();\nnode.status({fill:\"red\",shape:\"dot\",text:'Falha M27'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2381.0001792907715,
        "y": 996.5001907348633,
        "wires": [
            [
                "f0f4111c.32aaa"
            ]
        ]
    },
    {
        "id": "ddeddc8f.1e15f",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Erro Escrita M28",
        "func": "msg.payload = { type: 'error', message: 'Falha de escrita dos modbus do CLP. M28'};\nmsg.payload.time= new Date();\nnode.status({fill:\"red\",shape:\"dot\",text:'Falha M28'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2381.0001792907715,
        "y": 1093.5001907348633,
        "wires": [
            [
                "f0f4111c.32aaa"
            ]
        ]
    },
    {
        "id": "f0f4111c.32aaa",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "erro gravando modbus",
        "links": [
            "8adc7ae0.3b6808",
            "500fd6f7.a15278"
        ],
        "x": 2650.777967453003,
        "y": 667.8335332870483,
        "wires": []
    },
    {
        "id": "33b11be2.758b84",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Comunica erro na gravação do ModBus",
        "info": "A cada inicialização os valores dos registradores são atualizados a partir de MongoDB:\n\n1- AplanVelAuto M14\nVelocidade maxima no automatico de 0% a 100%\n\n2- AplanVelMan M17\nVelocidade maxima no manual de 0% a 100%\n\n3- AplanPasso M18\nPasso da ferramenta em \"mm\", de 0 a 400mm\n\n4- EncFactor M20\nFator de correção do encoder em numeros inteiros apenas.\n\n5- EncResol M21\nResolução do encoder em numeros inteiros apenas. 1 a 10000\n\n6- EncPerim M22\nPerimetro do encoder em \"mm\". De 1 a 999\n\n7- PrsCiclosUnid M23\nCiclos de Lubrificação da prensa. De 0 a 65534 unidades\n\n8- PrsCiclosMil M24\nCiclos de Lubrificação da prensa vezes 1000. De 0 a 65534 unidades\n\n9- NovoPrsCiclosUnd M25\nCiclos que faltam para proxima Lubrificação da prensa. De 0 a 65534 unidades\n\n10- NovoCiclosMil M26\nCiclos que faltam para proxima Lubrificação da prensa vezes 1000. De 0 a 65534 unidades\n\n",
        "x": 2828.4445152282715,
        "y": 667.7223587036133,
        "wires": []
    },
    {
        "id": "6706a201.4219ec",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "fabrica/ihm/estado/registradores/#",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 1466.6667041778564,
        "y": 2295.5555877685547,
        "wires": [
            [
                "d3bbca7.bc9aa38"
            ]
        ]
    },
    {
        "id": "d3bbca7.bc9aa38",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1773.6060199737549,
        "y": 2295.7113580703735,
        "wires": []
    },
    {
        "id": "c2c5220a.c006e",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "erro comunicacao",
        "links": [
            "500fd6f7.a15278"
        ],
        "x": 3613.1667671203613,
        "y": 179.5005760192871,
        "wires": []
    },
    {
        "id": "b67e8f46.bcedf",
        "type": "mongodb in",
        "z": "3f422101.3791ae",
        "mongodb": "85fd827e.46d3c",
        "name": "Indice",
        "collection": "indice",
        "operation": "find",
        "x": 1135.285701751709,
        "y": 402.76423835754395,
        "wires": [
            [
                "b84a9b28.ca7a58"
            ]
        ]
    },
    {
        "id": "b84a9b28.ca7a58",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza indice",
        "func": "x = msg.payload[0].indice_salvo;\nglobal.set(\"Indice_Mongo\",x);\n\nmsg.payload =x;\nnode.status({fill:\"yellow\",shape:\"dot\",text:'Indice ' + x});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1319.172176361084,
        "y": 402.41243171691895,
        "wires": [
            []
        ]
    },
    {
        "id": "f7b381ba.239d8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 4435.055511474609,
        "y": 180.16691493988037,
        "wires": []
    },
    {
        "id": "b167204.c0376e",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Wait for all tasks to finish",
        "func": "context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"task1\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break;\n    case \"task2\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break;\n    case \"task3\":\n        context.data.task3 = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.task1 != null && context.data.task2 != null && context.data.task3 != null) {\n\tmsg2 = new Object();\n    msg2 = context.data;\n    context.data=null;\n\treturn msg2;\n} else return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 811.5000686645508,
        "y": 2184.000045776367,
        "wires": [
            [
                "4bb80eb.dcd35f"
            ]
        ]
    },
    {
        "id": "96e7ff02.bf351",
        "type": "delay",
        "z": "3f422101.3791ae",
        "name": "Random delay",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 545.5000686645508,
        "y": 2079.000045776367,
        "wires": [
            [
                "b167204.c0376e"
            ]
        ]
    },
    {
        "id": "4bb80eb.dcd35f",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1018.5000686645508,
        "y": 2183.000045776367,
        "wires": []
    },
    {
        "id": "a0c82d8c.7c87f",
        "type": "delay",
        "z": "3f422101.3791ae",
        "name": "Random delay",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 545.5000686645508,
        "y": 2175.000045776367,
        "wires": [
            [
                "b167204.c0376e"
            ]
        ]
    },
    {
        "id": "96a96d8d.21098",
        "type": "delay",
        "z": "3f422101.3791ae",
        "name": "Random delay",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 546.5000686645508,
        "y": 2259.000045776367,
        "wires": [
            [
                "b167204.c0376e"
            ]
        ]
    },
    {
        "id": "1407996.988b167",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Task1",
        "func": "msg.topic=\"task1\";\nmsg.payload=\"Task1's payload\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 377.5000686645508,
        "y": 2079.000045776367,
        "wires": [
            [
                "96e7ff02.bf351"
            ]
        ]
    },
    {
        "id": "e6690706.12ad28",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Task2",
        "func": "msg.topic=\"task2\";\nmsg.payload=\"Task2's payload\"\nreturn msg;",
        "outputs": 1,
        "x": 380.5000686645508,
        "y": 2174.000045776367,
        "wires": [
            [
                "a0c82d8c.7c87f"
            ]
        ]
    },
    {
        "id": "9bf07aed.1ce7c8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Task3",
        "func": "msg.topic=\"task3\";\nmsg.payload=\"Task3's payload\"\nreturn msg;",
        "outputs": 1,
        "x": 375.5000686645508,
        "y": 2258.000045776367,
        "wires": [
            [
                "96a96d8d.21098"
            ]
        ]
    },
    {
        "id": "2ad9ef0f.84f38",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 211.50006866455078,
        "y": 2163.000045776367,
        "wires": [
            [
                "1407996.988b167",
                "e6690706.12ad28",
                "9bf07aed.1ce7c8"
            ]
        ]
    },
    {
        "id": "1f799d27.a7d3c3",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "loop",
        "func": "\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n\nswitch (msg.payload) {\n\tcase \"pausa\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [null,null];\n\tcase \"start\":\n\t\tmsg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops;\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 3014.8333854675293,
        "y": 328.50055503845215,
        "wires": [
            [
                "e9703b45.435b48"
            ],
            [
                "8630156.a5859e8"
            ]
        ]
    },
    {
        "id": "389c2aa3.6d90c6",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ON",
        "func": "msg2 = {};\nmsg.payload = 'start';\nmsg2.payload= { type: 'warning', message: 'MAQUINA_RESET'};\nmsg2.payload.time= new Date();\nreturn [msg,msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 2812.8333854675293,
        "y": 380.50055503845215,
        "wires": [
            [
                "1f799d27.a7d3c3"
            ],
            [
                "b40dcbfd.9195f8"
            ]
        ]
    },
    {
        "id": "b40dcbfd.9195f8",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "erro comunicacao",
        "links": [
            "500fd6f7.a15278"
        ],
        "x": 2978.7500705718994,
        "y": 386.75007724761963,
        "wires": []
    },
    {
        "id": "8630156.a5859e8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 1000ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 1000);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 3017.500072479248,
        "y": 274.0000743865967,
        "wires": [
            [
                "1f799d27.a7d3c3"
            ]
        ]
    },
    {
        "id": "414487e5.0aa2e8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 1000ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 1000);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2812.5000648498535,
        "y": 331.75007724761963,
        "wires": [
            [
                "389c2aa3.6d90c6"
            ]
        ]
    },
    {
        "id": "362ffa7.8703d06",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 300ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 300);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2635.0000648498535,
        "y": 380.7500762939453,
        "wires": [
            [
                "389c2aa3.6d90c6"
            ]
        ]
    },
    {
        "id": "7812b5cf.241fdc",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 1200ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 1200);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 503.7500343322754,
        "y": 387.5000762939453,
        "wires": [
            [
                "42750595.14a0ec"
            ]
        ]
    },
    {
        "id": "a285b920.7d9458",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 200ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 200);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1579.0000495910645,
        "y": 609.7500801086426,
        "wires": [
            [
                "de2a4214.04601"
            ]
        ]
    },
    {
        "id": "7bc83fa3.e83c",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 300ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 300);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 718.0000267028809,
        "y": 510.25003242492676,
        "wires": [
            [
                "5acf5954.4ed6e8"
            ]
        ]
    },
    {
        "id": "9e6517a5.d622f8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 3553.1943435668945,
        "y": 1006.6667594909668,
        "wires": []
    },
    {
        "id": "1ab63f02.59da71",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 4133.333333333333,
        "y": 250,
        "wires": []
    },
    {
        "id": "2169d4ef.38e9fc",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 4490,
        "y": 882.22216796875,
        "wires": []
    },
    {
        "id": "fcc45357.fe864",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4621.888746261597,
        "y": 153.44442749023438,
        "wires": []
    },
    {
        "id": "e635efc7.6f4a3",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 4621.782300949097,
        "y": 99.98658561706543,
        "wires": []
    },
    {
        "id": "38a9a957.98ed06",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Libera Maquina M3.0",
        "dataType": "HoldingRegister",
        "adr": "3",
        "server": "9d9e7956.cdee38",
        "x": 4463.648509979248,
        "y": 123.93412017822266,
        "wires": [
            [
                "e635efc7.6f4a3"
            ],
            [
                "fcc45357.fe864"
            ]
        ]
    },
    {
        "id": "69df81b0.bec44",
        "type": "mongodb",
        "z": "3f422101.3791ae",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "db",
        "name": ""
    },
    {
        "id": "37b3c15d.a7496e",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "9d9e7956.cdee38",
        "type": "modbustcp-no-pooling-server",
        "z": "",
        "host": "127.0.0.1",
        "port": "502",
        "unit_id": "0"
    },
    {
        "id": "85fd827e.46d3c",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "db",
        "name": ""
    },
    {
        "id": "dbe8569.427d7a8",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "db",
        "name": ""
    }
]