docs/localhost/node-red.json
[{"id":"6a72c641.6eadf8","type":"tab","label":"IHM_Generico"},{"id":"a5db2d6a.d5e07","type":"inject","z":"6a72c641.6eadf8","name":"Start ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":106.26787567138672,"y":91.6737813949585,"wires":[["33f35963.2790c6"]]},{"id":"30cffe95.6e18c2","type":"debug","z":"6a72c641.6eadf8","name":"global.get(conectadoServidor)","active":true,"console":"false","complete":"payload","x":1634,"y":257,"wires":[]},{"id":"b1befc2c.960d1","type":"http in","z":"6a72c641.6eadf8","name":"maquinas listar","url":"/api/maquina/","method":"get","swaggerDoc":"","x":160.47614288330078,"y":1814.7618312835693,"wires":[["b080bbfa.4b29b8"]]},{"id":"64b1e1b8.4818d","type":"http response","z":"6a72c641.6eadf8","name":"","x":698.4761066436768,"y":1815.761830329895,"wires":[]},{"id":"b080bbfa.4b29b8","type":"function","z":"6a72c641.6eadf8","name":"Parametros de todas as maquinas","func":"var myDate = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\n\nvar d = new Date();\nvar x = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear() + \" \" + myDate;\n\nmsg.payload = \n[\n  {\n    \"_id\": \"Aplanadora-N3\",\n    \"codigo\": \"PERF-N3\",\n    \"nome\": \"Aplanadora N3\",\n    \"path\": \"maquinas/perfiladeiras/n3\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.230\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.231\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.232\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n    \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9978,\n        \"resolucao\": 2500,\n        \"perimetro\": 400\n      },\n      \"manual\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 95,\n        \"paradaEntrePecasProduzidas\": 0,\n        \"tempoParada\": 0\n      },\n      \"transmissao\": {\n        \"reducao\": 0,\n        \"diametrorolo\": 0,\n        \"avancoMilimetrosPorRotacao\": 9.5144\n      },\n      \"corte\":{\n        \"espessura\": 0,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"passoN2\": 200,\n        \"passoN3\": 200,\n        \"passoN5\": 200\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"10095646\",\n        \"produto\": {\n          \"codigo\": \"ESTCAN000N300000000#2000#0#0\",\n          \"descricao\": \"CANTONEIRA N-3 2000MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"produzindo\"\n      },\n      {\n        \"numero\": \"10095645\",\n        \"produto\": {\n          \"codigo\": \"ESTCAN000N300000000#2400#0#0\",\n          \"descricao\": \"CANTONEIRA N-3 2400MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"pendente\"\n      }\n    ]\n  },\n  {\n    \"_id\": \"Perfiladeira Reforco\",\n    \"codigo\": \"REFORCO\",\n    \"nome\": \"Perfiladeira Reforco\",\n    \"path\": \"maquinas/perfiladeiras/reforco\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.233\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.234\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.235\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n     \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9986,\n        \"resolucao\": 2500,\n        \"perimetro\": 127.32\n      },\n      \"manual\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"0.6\",\n        \"desaceleracao\": \"0.6\",\n        \"velocidade\": 95,\n        \"paradaEntrePecasProduzidas\": 20,\n        \"tempoParada\": 10\n      },\n      \"transmissao\": {\n        \"reducao\": 0,\n        \"diametrorolo\": 0,\n        \"avancoMilimetrosPorRotacao\": 9.5144\n      },\n      \"corte\":{\n        \"espessura\": 5,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"corte\": 1,\n        \"furo\": 20\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"1231-11\",\n        \"produto\": {\n          \"codigo\": \"PPLESTREFOUGAL000000#0#0#610\",\n          \"descricao\": \"PERFIL U GALV P/ APOIO DE CAIXA MED 610MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-11T11:22:08.224Z\",\n        \"status\": \"produzindo\"\n      },\n      {\n        \"numero\": \"8792-55\",\n        \"produto\": {\n          \"codigo\": \"PPLESTREFOUGAL000000#0#0#910\",\n          \"descricao\": \"PERFIL U GALV P/ APOIO DE CAIXA MED 910MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"pendente\"\n      }\n    ]\n  },\n    {\n    \"_id\": \"Perfiladeira Sigma 120\",\n    \"codigo\": \"Sigma 120\",\n    \"nome\": \"Perfiladeira Sigma 120\",\n    \"path\": \"maquinas/perfiladeiras/sigma120\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.236\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.237\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.238\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n     \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9909,\n        \"resolucao\": 2500,\n        \"perimetro\": 400\n      },\n      \"manual\": {\n        \"aceleracao\": \"3\",\n        \"desaceleracao\": \"1\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"2\",\n        \"desaceleracao\": \"1\",\n        \"velocidade\": 100,\n        \"paradaEntrePecasProduzidas\": 40,\n        \"tempoParada\": 2\n      },\n      \"transmissao\": {\n        \"reducao\": \"72.73\",\n        \"diametrorolo\": 165,\n        \"avancoMilimetrosPorRotacao\": 0\n      },\n      \"corte\":{\n        \"espessura\": 5,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"corte\": 1\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"1231-11\",\n        \"produto\": {\n          \"codigo\": \"MEZSIG0CH1412000000#1800#0#0\",\n          \"descricao\": \"VIGA SIGMA 120 CH 2.00 MM MED 1800MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2017-04-10T11:22:08.224Z\",\n        \"status\": \"Produzindo\"\n      },\n      {\n        \"numero\": \"8792-55\",\n        \"produto\": {\n          \"codigo\": \"PPLSTRSI120050D00000#1200#0#0\",\n          \"descricao\": \"STOP TRAZEIRO SIGMA 120 DEITADO MED 1200MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2017-04-14T11:22:08.224Z\",\n        \"status\": \"Pendente\"\n      }\n    ]\n  }\n]\nnode.status({fill:\"blue\",shape:\"dot\",text:x});\nreturn msg;","outputs":1,"noerr":0,"x":449.4761657714844,"y":1815.7618398666382,"wires":[["64b1e1b8.4818d"]]},{"id":"7798c0de.996bd","type":"http in","z":"6a72c641.6eadf8","name":"maquinas alterar","url":"/api/maquina/","method":"put","swaggerDoc":"","x":161.33328247070312,"y":1907.7618452608585,"wires":[[]]},{"id":"a225083e.374278","type":"http response","z":"6a72c641.6eadf8","name":"","x":631.3332824707031,"y":1907.7618452608585,"wires":[]},{"id":"47270436.f6a71c","type":"function","z":"6a72c641.6eadf8","name":"SQL","func":"return msg;","outputs":1,"noerr":0,"x":411.3332824707031,"y":1907.7618452608585,"wires":[["a225083e.374278"]]},{"id":"a0dfdbfd.524628","type":"http in","z":"6a72c641.6eadf8","name":"maquinas incluir","url":"/api/maquina/","method":"post","swaggerDoc":"","x":161.33328247070312,"y":1858.7618452608585,"wires":[[]]},{"id":"28338255.b86aee","type":"http response","z":"6a72c641.6eadf8","name":"","x":631.3332824707031,"y":1858.7618452608585,"wires":[]},{"id":"6ec48c88.6fdb54","type":"function","z":"6a72c641.6eadf8","name":"SQL","func":"return msg;","outputs":1,"noerr":0,"x":411.3332824707031,"y":1858.7618452608585,"wires":[["28338255.b86aee"]]},{"id":"64f451bd.9526d","type":"http in","z":"6a72c641.6eadf8","name":"/api/maquina/config","url":"/api/maquina/config","method":"get","swaggerDoc":"","x":123,"y":250,"wires":[["15bc3f55.a044f9"]]},{"id":"3806d066.f2091","type":"http response","z":"6a72c641.6eadf8","name":"","x":864,"y":168,"wires":[]},{"id":"dcffec7b.c644c","type":"debug","z":"6a72c641.6eadf8","name":"resposta mongo config OK","active":true,"console":"false","complete":"payload","x":922,"y":213,"wires":[]},{"id":"ae335400.26cdf","type":"debug","z":"6a72c641.6eadf8","name":"config IHM","active":true,"console":"false","complete":"payload","x":885,"y":437,"wires":[]},{"id":"1d68c254.9b429e","type":"comment","z":"6a72c641.6eadf8","name":"INICIALIZA VARIAVEIS GLOBAIS DAS MAQUINAS","info":"","x":222.51787567138672,"y":48.42377805709839,"wires":[]},{"id":"5bb0547d.1660bc","type":"http in","z":"6a72c641.6eadf8","name":"/api/maquina/config/save","url":"/api/maquina/config","method":"post","swaggerDoc":"","x":148,"y":537.0000305175781,"wires":[["4d87f2c.cdc900c"]]},{"id":"7c52d8c0.ca0ba8","type":"http response","z":"6a72c641.6eadf8","name":"","x":864.7142696380615,"y":530.1428318023682,"wires":[]},{"id":"5f497986.707428","type":"http response","z":"6a72c641.6eadf8","name":"","x":870,"y":3700,"wires":[]},{"id":"db901090.fb14b","type":"http in","z":"6a72c641.6eadf8","name":"Index","url":"/static/:file","method":"get","swaggerDoc":"","x":119.44435755411769,"y":3700.111061943902,"wires":[["56485a42.28ce74"]]},{"id":"56485a42.28ce74","type":"file in","z":"6a72c641.6eadf8","name":"index.HTML","filename":"/home/marcelomiranda/git/ihm/build/index.html","format":"utf8","x":507.5554733276367,"y":3700.22217464447,"wires":[["7091b176.bc6ec","32efa350.784d7c"]]},{"id":"307db1ec.349b5e","type":"http response","z":"6a72c641.6eadf8","name":"","x":870.4445018768315,"y":3779.2380379570855,"wires":[]},{"id":"37ffcea4.895302","type":"function","z":"6a72c641.6eadf8","name":"Text/CSS","func":"msg.headers = { \"Content-type\" : \"text/css\" }\n \nreturn msg;","outputs":1,"noerr":0,"x":708.9999128977456,"y":3779.1268910302056,"wires":[["307db1ec.349b5e"]]},{"id":"b8327169.6d72d","type":"comment","z":"6a72c641.6eadf8","name":"HTML","info":"","x":118.99998474121094,"y":3663.999975204468,"wires":[]},{"id":"a1b6b855.e93178","type":"comment","z":"6a72c641.6eadf8","name":"CSS folder","info":"","x":129.88881365458155,"y":3742.6826237572564,"wires":[]},{"id":"7def20e5.501a5","type":"comment","z":"6a72c641.6eadf8","name":"JAVASCRIPT folder","info":"","x":159.33331362406398,"y":3822.1271380318535,"wires":[]},{"id":"3d83bb34.151e74","type":"http response","z":"6a72c641.6eadf8","name":"","x":870.4444637298589,"y":3859.6824578179253,"wires":[]},{"id":"d31accd4.c95e9","type":"http in","z":"6a72c641.6eadf8","name":"Scripts","url":"/static/js/:file","method":"get","swaggerDoc":"","x":119.88882128397609,"y":3859.793519761827,"wires":[["21773191.fa15ce"]]},{"id":"8dd563f2.20762","type":"comment","z":"6a72c641.6eadf8","name":"media folder","info":"","x":139.11099306742335,"y":3908.7935360802544,"wires":[]},{"id":"319672cd.1000fe","type":"http response","z":"6a72c641.6eadf8","name":"","x":869.6666927337651,"y":3944.127060784234,"wires":[]},{"id":"5b2ac543.ede2bc","type":"http in","z":"6a72c641.6eadf8","name":"media","url":"/static/media/:file","method":"get","swaggerDoc":"","x":119.11105028788234,"y":3944.2381227281357,"wires":[["d840ad2b.a3812"]]},{"id":"7ef106ad.51c5f8","type":"function","z":"6a72c641.6eadf8","name":"media","func":"var ext = msg.filename.split('.')[msg.filename.split('.').length - 1]\n\nconsole.log('File extension: ' + ext)\n\nswitch(ext) {\n    case 'eot':\n        msg.headers = { \"Content-type\" : \"application/vnd.ms-fontobject\" }\n        break;\n    case 'svg':\n        msg.headers = { \"Content-type\" : \"image/svg+xml\" }\n        break;\n    case 'png':\n        msg.headers = { \"Content-type\" : \"image/png\" }\n        break;\n    case 'gif':\n        msg.headers = { \"Content-type\" : \"image/gif\" }\n        break;\n    case 'ico':\n        msg.headers = { \"Content-type\" : \"image/x-icon\" }\n        break;\n    case ('jpeg'||'jpg'):\n        msg.headers = { \"Content-type\" : \"image/jpeg\" }\n        break;\n    case 'ttf':\n        msg.headers = { \"Content-type\" : \"application/x-font-ttf\" }\n        break;\n    case 'woff':\n        msg.headers = { \"Content-type\" : \"application/font-woff\" }\n        break;\n    case 'woff2':\n        msg.headers = { \"Content-type\" : \"application/font-woff2\" }\n        break;\n    case 'otf':\n        msg.headers = { \"Content-type\" : \"application/x-font-opentype\" }\n        break;\n    case 'ttf':\n        msg.headers = { \"Content-type\" : \"application/font-sfnt\" }\n        break;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":700.8888441721597,"y":3944.0159481896294,"wires":[["319672cd.1000fe","c2545571.490428"]]},{"id":"7091b176.bc6ec","type":"function","z":"6a72c641.6eadf8","name":"Text/HTML","func":"msg.headers = { \"Content-type\" : \"text/html\" }\n\nreturn msg;","outputs":1,"noerr":0,"x":717.833251953125,"y":3700.0211486816406,"wires":[["5f497986.707428"]]},{"id":"4a1b8d98.48b354","type":"http in","z":"6a72c641.6eadf8","name":"CSS Files","url":"/static/css/:file","method":"get","swaggerDoc":"","x":130.79631487528468,"y":3778.8566682603623,"wires":[["f173079.6f472f8"]]},{"id":"f173079.6f472f8","type":"function","z":"6a72c641.6eadf8","name":"files","func":"msg.filename = '//home//marcelomiranda//git//sitio//build//static//css//' + msg.req.params.file;\nreturn msg;","outputs":1,"noerr":0,"x":363.01855913798,"y":3778.6345002916123,"wires":[["24b924bc.53751c"]]},{"id":"24b924bc.53751c","type":"file in","z":"6a72c641.6eadf8","name":"","filename":"","format":"","x":529.2407957712808,"y":3778.745668199327,"wires":[["37ffcea4.895302","aa340056.831ef"]]},{"id":"21773191.fa15ce","type":"function","z":"6a72c641.6eadf8","name":"files","func":"msg.filename = '//home//marcelomiranda//git//sitio//build//static//js//' + msg.req.params.file;\nreturn msg;","outputs":1,"noerr":0,"x":360.7683226267495,"y":3860.6899801625145,"wires":[["485f092f.21aa38"]]},{"id":"d840ad2b.a3812","type":"function","z":"6a72c641.6eadf8","name":"files","func":"msg.filename = '//home//marcelomiranda//git//sitio//build//static//media//' + msg.req.params.file;\nreturn msg;","outputs":1,"noerr":0,"x":366.3518644968667,"y":3943.9677408006455,"wires":[["f12987a5.98f148"]]},{"id":"485f092f.21aa38","type":"file in","z":"6a72c641.6eadf8","name":"","filename":"","format":"","x":529.6852461496987,"y":3860.6345002916123,"wires":[["f0ce9cf8.f1888","3d83bb34.151e74"]]},{"id":"f0ce9cf8.f1888","type":"debug","z":"6a72c641.6eadf8","name":"FIles JS","active":true,"console":"false","complete":"filename","x":709.574150721232,"y":3899.4123304155137,"wires":[]},{"id":"f12987a5.98f148","type":"file in","z":"6a72c641.6eadf8","name":"","filename":"","format":"","x":531.9074141184487,"y":3943.745462205675,"wires":[["7ef106ad.51c5f8"]]},{"id":"aa340056.831ef","type":"debug","z":"6a72c641.6eadf8","name":"CSS files","active":true,"console":"false","complete":"true","x":709.907475153605,"y":3823.9677522447373,"wires":[]},{"id":"36e75ad2.ca4f76","type":"comment","z":"6a72c641.6eadf8","name":"Servidor WEB","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":547.4629440307617,"y":3647.4517793655396,"wires":[]},{"id":"32efa350.784d7c","type":"debug","z":"6a72c641.6eadf8","name":"saida","active":true,"console":"false","complete":"true","x":698.7499771118164,"y":3660.133430480957,"wires":[]},{"id":"c2545571.490428","type":"debug","z":"6a72c641.6eadf8","name":"Fonts Files","active":true,"console":"false","complete":"headers","x":891.2499281565347,"y":3994.253233803643,"wires":[]},{"id":"6dfa8f54.2ccb8","type":"mongodb out","z":"6a72c641.6eadf8","mongodb":"99b811f7.2a08b","name":"APAGAR log_erro","collection":"log_erro","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":903,"y":307,"wires":[]},{"id":"65107c43.480f34","type":"comment","z":"6a72c641.6eadf8","name":"Apagar Cuidado \"Teste\"","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":134.3332748413086,"y":1244.333191871643,"wires":[]},{"id":"6685280e.dd7a38","type":"mongodb out","z":"6a72c641.6eadf8","mongodb":"99b811f7.2a08b","name":"APAGAR TODA A COLLECTION config","collection":"config","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":534.4444370269775,"y":1286.3331905901432,"wires":[]},{"id":"ca24648d.5f40e8","type":"inject","z":"6a72c641.6eadf8","name":"LIMPAR coleção config","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":158.08658599853516,"y":1285.2823696136475,"wires":[["6685280e.dd7a38","2c9a7386.75012c"]]},{"id":"1076170a.89ac79","type":"mongodb out","z":"6a72c641.6eadf8","mongodb":"99b811f7.2a08b","name":"APAGAR indice","collection":"indice","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":893.8517150878906,"y":353.3335151672363,"wires":[]},{"id":"fa042579.7699d8","type":"inject","z":"6a72c641.6eadf8","name":"String vazia","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":2513.333227157593,"wires":[["787ef79c.1d9aa8"]]},{"id":"421cbd40.7bf854","type":"mongodb in","z":"6a72c641.6eadf8","mongodb":"99b811f7.2a08b","name":"consulta","collection":"parametros","operation":"find","x":728.967170715332,"y":2513.688723564148,"wires":[["e87e66c4.e004b8"]]},{"id":"e87e66c4.e004b8","type":"debug","z":"6a72c641.6eadf8","name":"resposta do MongoDB","active":true,"console":"false","complete":"payload","x":1013.0782127380371,"y":2513.7998790740967,"wires":[]},{"id":"187a924d.2798ce","type":"function","z":"6a72c641.6eadf8","name":"contador +1","func":"msg.query = { _id: 'AplanadoraN3' }\nmsg.payload = {\n    $inc: {\n       \"os.produzido\": 1\n     }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":531.1892700195312,"y":2420.2665462493896,"wires":[["cb536c09.ec16b"]]},{"id":"cb536c09.ec16b","type":"mongodb out","z":"6a72c641.6eadf8","mongodb":"99b811f7.2a08b","name":"salvar","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"update","x":739.1892547607422,"y":2420.666540145874,"wires":[]},{"id":"ede9c485.d323f8","type":"inject","z":"6a72c641.6eadf8","name":"$inc: incrementa","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":218.02280807495117,"y":2419.9332427978516,"wires":[["187a924d.2798ce","eb685cce.a5859"]]},{"id":"787ef79c.1d9aa8","type":"function","z":"6a72c641.6eadf8","name":"Paginação ","func":"msg.limit = 5;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":527.4115238189697,"y":2513.7480068206787,"wires":[["421cbd40.7bf854"]]},{"id":"4e16d28d.2072bc","type":"comment","z":"6a72c641.6eadf8","name":"Paginação  e consulta MongoDB","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":246.18935775756836,"y":2477.5998463630676,"wires":[]},{"id":"eb685cce.a5859","type":"function","z":"6a72c641.6eadf8","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nreturn null;","outputs":1,"noerr":0,"x":530.5226745605469,"y":2455.7108335494995,"wires":[["787ef79c.1d9aa8"]]},{"id":"a69c1614.8d8d88","type":"comment","z":"6a72c641.6eadf8","name":"Contador Produzidos ++ ","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":223.18885040283203,"y":2384.5998029708862,"wires":[]},{"id":"33f35963.2790c6","type":"function","z":"6a72c641.6eadf8","name":"Variaveis Globais","func":"//Estado inicial da maquina é não inicializada MaqInicializada=0\nglobal.set('conectadoServidor', 0);\nglobal.set(\"ComandoMaquina\",0);//liberamensagens do bloco libera maquina\nglobal.set(\"MotorPrensa\",0);\nglobal.set(\"MotorLigado\",0);\nglobal.set(\"MotorInvertido\",0);\nglobal.set(\"Desbobinador\",0);\nglobal.set(\"Indice_Mongo\",0);\nglobal.set(\"TamanhoDesejadoPeca_KEYBOARD\",0);\nglobal.set(\"TamanhoRealPeca_KEYBOARD\",0);\nglobal.set(\"FatorEncoder\",9909);\nglobal.set(\"ModBus\",[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]);\nvar start = new Date().getTime();\nglobal.set(\"tempo\",start);\n\nvar mensagens = [];\n\nmensagens['LER_CLP_MODBUS'] =        { type: 'error', message: ' CLP não responde. Verifique as conexões de rede.' };\nmensagens['EMERGENCIA'] =            { type: 'error', message: ' Emergencia acionada!' };\nmensagens['FALTA_FASE'] =            { type: 'error', message: ' Falta de Fase' };\nmensagens['BOMBA_HIDRAULICA'] =      { type: 'error', message: ' Térmico da Bomba Hidraulica' };\nmensagens['MARTELO_PRENSA'] =        { type: 'error', message: ' Térmico do Motor do Martelo Prensa' };\nmensagens['PRESSAO_AR'] =            { type: 'warning', message: 'Pressao do Ar Baixa!' };\nmensagens['INVERSOR'] =              { type: 'error', message: ' Erro no Inversor' };\nmensagens['SERVO'] =                 { type: 'error', message: ' Erro no Servo' };\nmensagens['CHAVE_GERAL_DESLIGADA'] = { type: 'warning', message: ' Chave Geral Desligada' };\nmensagens['CHAVE_GERAL_LIGADA']    = { type: 'warning', message: ' Chave Geral ligada' };\nmensagens['MAQUINA_NAO_LIBERADA'] =  { type: 'warning', message: ' Maquina Não Liberada' };\nmensagens['MAQUINA_LIBERADA']     =  { type: 'warning', message: ' Maquina Liberada' };\nmensagens['ERRO_POSICIONAMENTO']=    { type: 'error', message: ' Erro Posicionamento' };\nmensagens['SEGURAN_PRENSA'] =        { type: 'info', message: ' Segurança da Prensa' };\nmensagens['APLAN_ABERTA'] =          { type: 'info', message: ' Aplanadora Aberda' };\n\nglobal.set(\"mensagens\",mensagens);\nmsg= {payload: \"{MAQUINA_OFF:0}\"};\nreturn msg;","outputs":1,"noerr":0,"x":267.7463073730469,"y":91.36992168426514,"wires":[[]]},{"id":"667ba04f.66114","type":"function","z":"6a72c641.6eadf8","name":"Delay 100ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 100);\nreturn null;","outputs":1,"noerr":0,"x":1109,"y":257,"wires":[["726a473.44b8ab8","5b3053c5.e49f0c","4deeb71c.ace508"]]},{"id":"726a473.44b8ab8","type":"function","z":"6a72c641.6eadf8","name":"CONEXAO C/ SERVIDOR","func":"if(global.get('conectadoServidor')){\n    console.dir('CONECTADO AO SERVIDOR !');\n    node.status({fill:\"blue\",shape:\"dot\",text:'CONECTADO COM SERVIDOR'});\n}else{\n    console.dir('-------------> ERRO NA CONEXAO PRODUCAO !!!!!! <-------------');\n    global.set('conectadoServidor', 0);\n    node.status({fill:\"red\",shape:\"dot\",text:'ERRO'});\n}\n\nmsg= {payload: global.get('conectadoServidor')};\nreturn msg;\n","outputs":1,"noerr":0,"x":1364,"y":257,"wires":[["30cffe95.6e18c2"]]},{"id":"48532d7c.9f5a84","type":"mongodb out","z":"6a72c641.6eadf8","mongodb":"99b811f7.2a08b","name":"salvar","collection":"log_erro","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1564,"y":305,"wires":[]},{"id":"5b3053c5.e49f0c","type":"function","z":"6a72c641.6eadf8","name":"collection inicial log_erro","func":"let myDate = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\nlet d = new Date();\nconst x = ((\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear() + \" \" + myDate)||0;\n        \nmsg.payload = {\n\t\"_id\": 1,\n\t\"log_mesagens\": {\n\t}\n}\nnode.status({fill:\"blue\",shape:\"dot\",text:x});\nreturn msg;","outputs":1,"noerr":0,"x":1362.7589492797852,"y":305.104772567749,"wires":[["48532d7c.9f5a84"]]},{"id":"19454010.11a81","type":"mongodb out","z":"6a72c641.6eadf8","mongodb":"99b811f7.2a08b","name":"salvar","collection":"indice","payonly":true,"upsert":false,"multi":true,"operation":"store","x":1565,"y":353,"wires":[]},{"id":"4deeb71c.ace508","type":"function","z":"6a72c641.6eadf8","name":"collection inicial indice","func":"msg.payload = {\n\t\"_id\": \"indice\",\n\t\"indice_mesagens\": 0\n}\n\nnode.status({fill:\"blue\",shape:\"dot\",text:'Indice Criado'});\nreturn msg;","outputs":1,"noerr":0,"x":1354,"y":353,"wires":[["19454010.11a81"]]},{"id":"402a5feb.204cb","type":"e-mail","z":"6a72c641.6eadf8","server":"smtp.gmail.com","port":"465","name":"","dname":"","x":650,"y":2820,"wires":[]},{"id":"b8794825.46bbb","type":"function","z":"6a72c641.6eadf8","name":"","func":"msg.from = \"pxa255@gmail.com\";\nmsg.to = \"marcelo.miranda@tecnequip.com.br\";\nmsg.cc = \"pxa255@gmail.com\";\nmsg.payload = \"Testando 4 o envio de emails pelo node-red\";\nreturn msg;","outputs":1,"noerr":0,"x":487,"y":2820,"wires":[["402a5feb.204cb","84e4be8c.0d35"]]},{"id":"84e4be8c.0d35","type":"debug","z":"6a72c641.6eadf8","name":"","active":true,"console":"false","complete":"true","x":648,"y":2870,"wires":[]},{"id":"dd81f015.c8bfa8","type":"inject","z":"6a72c641.6eadf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":345,"y":2819.9999923706055,"wires":[["b8794825.46bbb"]]},{"id":"8d9b39e1.b0489","type":"e-mail in","z":"6a72c641.6eadf8","name":"pxa255@gmail.com","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","repeat":"240","x":422.14928436279297,"y":2918.3688373565674,"wires":[["7b3ec33d.0e6d9c"]]},{"id":"7b3ec33d.0e6d9c","type":"debug","z":"6a72c641.6eadf8","name":"recebidos","active":true,"console":"false","complete":"true","x":636.8606224060059,"y":2917.5253829956055,"wires":[]},{"id":"f39deaea.9490f","type":"mqtt in","z":"6a72c641.6eadf8","name":"enviar email","topic":"+/task/completed/sendTask/Task_1d9liyj/#","qos":"2","broker":"4ba52d67.d77c34","x":175.0993995666504,"y":3078.636278152466,"wires":[["d825db2e.34738"]]},{"id":"d825db2e.34738","type":"function","z":"6a72c641.6eadf8","name":"parse","func":"try {\n let payload = JSON.parse(msg.payload);\n payload.document = JSON.parse(payload.document);\n msg.payload = payload;\n msg.from = 'orcamento@altamira.com.br'\n msg.to = 'alessandro@altamira.com.br' //msg.payload.document.representante.email\n msg.topic = 'Recado: ' + msg.payload.document.empresa;\n node.status({ fill:\"green\", shape:\"dot\", text: msg.topic });\n}\ncatch(e) {\n console.log('Parse error: ' + e)\n node.error('Parse error: ' + e)\n node.status({ fill:\"red\", shape:\"dot\", text: e.message });\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":355.0993995666504,"y":3078.636278152466,"wires":[["ea70c400.482e98","f1a082d7.7ed488"]]},{"id":"4e6ef771.0b5878","type":"debug","z":"6a72c641.6eadf8","name":"EMAIL RECADO","active":true,"console":"false","complete":"true","x":835.0993995666504,"y":3078.636278152466,"wires":[]},{"id":"826e259c.4728a","type":"inject","z":"6a72c641.6eadf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":545.0993995666504,"y":3038.636278152466,"wires":[["e7c4716f.6e9e6"]]},{"id":"ea70c400.482e98","type":"debug","z":"6a72c641.6eadf8","name":"EMAIL RECADO","active":true,"console":"false","complete":"true","x":565.0994300842285,"y":2990.6362838745117,"wires":[]},{"id":"77bda22e.a3ee0c","type":"mqtt in","z":"6a72c641.6eadf8","name":"gravar recado","topic":"+/task/completed/userTask/Task_1mfcqmp/#","qos":"2","broker":"4ba52d67.d77c34","x":178.09946823120117,"y":3152.636315345764,"wires":[["8d43e1e0.ea38a"]]},{"id":"8d43e1e0.ea38a","type":"function","z":"6a72c641.6eadf8","name":"parse","func":"try {\n let payload = JSON.parse(msg.payload);\n payload.document = JSON.parse(payload.document);\n msg.payload = payload;\n node.status({ fill:\"green\", shape:\"dot\", text: msg.topic });\n}\ncatch(e) {\n console.log('Parse error: ' + e)\n node.error('Parse error: ' + e)\n node.status({ fill:\"red\", shape:\"dot\", text:e });\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":358.0994682312012,"y":3152.636315345764,"wires":[["d2e636f.c1953c8","d08b7fea.88ecb8"]]},{"id":"d2e636f.c1953c8","type":"debug","z":"6a72c641.6eadf8","name":"GRAVAR RECADO","active":true,"console":"false","complete":"true","x":578.0994682312012,"y":3152.636315345764,"wires":[]},{"id":"949a9482.64c39","type":"e-mail","z":"6a72c641.6eadf8","server":"smtp.gmail.com","port":"465","name":"pxa255@gmail.com","dname":"","x":757.0994281768799,"y":3296.6363067626953,"wires":[]},{"id":"4fa89fe1.b2ed6","type":"function","z":"6a72c641.6eadf8","name":"","func":"msg.from = \"pxa255@gmail.com\";\nmsg.to = \"alessandro.holanda@altamira.com.br\";\nmsg.cc = \"pxa255@gmail.com\";\nmsg.payload = \"Testando 5 o envio de emails pelo node-red\";\nreturn msg;","outputs":1,"noerr":0,"x":537.0994281768799,"y":3296.6363067626953,"wires":[["949a9482.64c39","7aaa80c7.85e89"]]},{"id":"7aaa80c7.85e89","type":"debug","z":"6a72c641.6eadf8","name":"","active":true,"console":"false","complete":"true","x":717.0994281768799,"y":3356.6363067626953,"wires":[]},{"id":"39ef9971.c37c66","type":"inject","z":"6a72c641.6eadf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":347.0994281768799,"y":3296.6363067626953,"wires":[["4fa89fe1.b2ed6"]]},{"id":"d08b7fea.88ecb8","type":"function","z":"6a72c641.6eadf8","name":"SQL","func":"var mssql = global.get('mssql');\n\nvar procedure_name = '[Recado].[Novo]'\n\nvar request = new mssql.Request(global.get('ERP'));\n\nrequest.input('id', mssql.VarChar(36), msg.payload.document.id)\nrequest.input('produto', mssql.VarChar(50), msg.payload.document.produto)\nrequest.input('cliente', mssql.VarChar(50), msg.payload.document.cliente)\nrequest.input('empresa', mssql.VarChar(50), msg.payload.document.empresa)\nrequest.input('endereco', mssql.VarChar(50), msg.payload.document.endereco)\nrequest.input('numero', mssql.VarChar(10), msg.payload.document.numero)\nrequest.input('complemento', mssql.VarChar(50), msg.payload.document.complemento)\nrequest.input('contato', mssql.VarChar(50), msg.payload.document.contato)\nrequest.input('ddd', mssql.VarChar(2), msg.payload.document.ddd)\nrequest.input('telefone', mssql.VarChar(10), msg.payload.document.telefone)\nrequest.input('representante', mssql.VarChar(50), msg.payload.document.representante.codigo)\nrequest.input('regiao', mssql.VarChar(50), msg.payload.document.regiao)\n\nrequest.execute(procedure_name).then(function(recordsets, returnValue, affected) {\n\n if (Array.isArray(recordsets) && recordsets.length > 0) {\n \n if (Array.isArray(recordsets[0]) && recordsets[0].length > 0 && recordsets[0][0].numero === 0) {\n\n node.status({ fill:\"green\", shape:\"dot\", text: 'Recado incluido ok.' });\n\n node.send({req: msg.req, res: msg.res, payload: recordsets[1][0]});\n } else {\n node.status({ fill:\"red\", shape:\"dot\", text: recordsets[0][0].mensagem || 'Erro desconhecido' });\n \n node.send({statusCode: 500, req: msg.req, res: msg.res, payload: recordsets[0][0]});\n }\n \n } else {\n node.status({ fill:\"red\", shape:\"dot\", text: recordsets[0][0].mensagem || 'Erro desconhecido' });\n \n return {statusCode: 500, req: msg.req, res: msg.res, payload: {number: -1, message: 'Internal server error: invalid response from database.'}};\n }\n\n})\n.catch(function(err) {\n console.log('-----------------> Erro ao chamar Stored Procedure ' + procedure_name + ' <-----------------')\n console.log(JSON.stringify(err !== null && typeof err === 'object' && err))\n msg.payload = err !== null && typeof err === 'object' ? err : { erro: 9999, mensagem: err || 'Erro desconhecido.' };\n node.status({ fill:\"red\", shape:\"dot\", text: err !== null && typeof err === 'object' ? err.message : err });\n node.send(msg);\n});","outputs":1,"noerr":0,"x":538.0994682312012,"y":3212.636315345764,"wires":[["cef29c44.80042"]]},{"id":"cef29c44.80042","type":"debug","z":"6a72c641.6eadf8","name":"RECADO GRAVADO","active":true,"console":"false","complete":"true","x":748.0994682312012,"y":3212.636315345764,"wires":[]},{"id":"e7c4716f.6e9e6","type":"e-mail","z":"6a72c641.6eadf8","server":"smtp.gmail.com","port":"465","name":"pxa255@gmail.com","dname":"","x":835.0993995666504,"y":3038.636278152466,"wires":[]},{"id":"f1a082d7.7ed488","type":"function","z":"6a72c641.6eadf8","name":"template","func":"msg.payload = \n`\n<!DOCTYPE html>\n<html>\n<head>\n <meta charset=\"utf-8\">\n <title>Recado</title>\n</head>\n<body>\n\n <div>\n <h2>Recado</h2>\n <table>\n <tr>\n <td><b>Produto</b></td>\n <td><nobr>${msg.payload.document.produto}</nobr></td>\n </tr>\n <tr>\n <td><b>Cliente</b></td>\n <td><nobr>${msg.payload.document.cliente}</nobr></td>\n </tr>\n <tr>\n <td><b>Empresa</b></td>\n <td><nobr>${msg.payload.document.empresa}</nobr></td>\n </tr>\n <tr>\n <td><b>Endereço</b></td>\n <td><nobr>${msg.payload.document.endereco}</nobr></td>\n </tr>\n <tr>\n <td><b>Numero</b></td>\n <td><nobr>${msg.payload.document.numero}</nobr></td>\n </tr>\n <tr>\n <td><b>Complemento</b></td>\n <td><nobr>${msg.payload.document.complemento}</nobr></td>\n </tr>\n <tr>\n <td><b>Contato</b></td>\n <td><nobr>${msg.payload.document.contato}</nobr></td>\n </tr>\n <tr>\n <td><b>Telefone</b></td>\n <td><nobr>(${msg.payload.document.ddd}) ${msg.payload.document.telefone}</nobr></td>\n </tr>\n <tr>\n <td><b>Região</b></td>\n <td><nobr>${msg.payload.document.regiao}</nobr></td>\n </tr>\n </table>\n </div>\n\n</body>\n</html>\n`\nreturn msg;","outputs":1,"noerr":0,"x":525.0993995666504,"y":3078.636278152466,"wires":[["4e6ef771.0b5878","e7c4716f.6e9e6"]]},{"id":"d02a819d.5fb788","type":"comment","z":"6a72c641.6eadf8","name":"Deserializador global \"Referencia\"","info":"var msgs = [];\nvar g = (global.get(\"M\")||[0]);\nfor(z = 0; z < g.length) {\nfor (i = 0; i < 15; i++) {\n msgs.push(\n {\n _msgid: msg._msgid,\n topic: msg.topic,\n payload: g[z] & (1 << i)\n }\n );\n}\n}\n//var type = msg.payload[0] & 1 ? 'error' : 'warning';\n\n//var count = flow.get(\"CONTADOR_ERRO_M2\");\n//count++;\n\n\nreturn msgs;","x":2180,"y":2880,"wires":[]},{"id":"9e40411d.500d7","type":"inject","z":"6a72c641.6eadf8","name":"Inicialização MAQ","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":1877.1488647460938,"y":1434.4408264160156,"wires":[[]]},{"id":"8985c2f6.caf7d8","type":"mqtt out","z":"6a72c641.6eadf8","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"4ba52d67.d77c34","x":3875.946357727051,"y":2075.345630645752,"wires":[]},{"id":"51b445b9.50edd4","type":"function","z":"6a72c641.6eadf8","name":"Global ModBus Referencias","func":"global.set(\"ModBus\", msg.payload);\nmsg2 = {};\nmsg2.payload = \"Iguail\";\nvar Anterior =(global.get(\"Anterior\")||[0]);\nvar ValorAtual = global.get(\"ModBus\");\nmsg = null;\n\nfor (var i = 0; i < Anterior.length; i++) {\n \n if (Anterior[i] != ValorAtual[i]) {\n msg2.payload = \"Diferente\";\n global.set(\"Anterior\", ValorAtual);\n msg = {payload:ValorAtual};\n break;\n } \n}\nreturn [msg,msg2];","outputs":"2","noerr":0,"x":2160.4108352661133,"y":2920.7143745422363,"wires":[[],[]]},{"id":"51dc9f84.9bb7b8","type":"mqtt in","z":"6a72c641.6eadf8","name":"","topic":"board/setup","qos":"2","broker":"4ba52d67.d77c34","x":1170,"y":2260,"wires":[["e4108502.5b6758","57408ba1.0ad6ec"]]},{"id":"e4108502.5b6758","type":"function","z":"6a72c641.6eadf8","name":"Registradores de Comandos","func":"var p = JSON.parse(msg.payload);\nvar res = [null,null,null,null,null,null,null,null,null,null,null,null,null];\nvar modbus = global.get(\"ModBus\");\n \n //***** INICIALIZA OU DESLIGA MAQUINA *****//\n if (p.LigarMaquina !== undefined) {\n if (modbus[2] & (1 << 11)) {\n modbus[2] &= ~(1<<11); //M2.11 igual a 1 MbLigaChaveGeral\n node.status({fill:\"red\",shape:\"ring\",text:\"Geral Desligada\"});\n } else {\n modbus[2] |= (1<<11); //M2.11 igual a 0 MbLigaChaveGeral\n node.status({fill:\"green\",shape:\"dot\",text:\"Geral Ligada\"});\n }\n global.set(\"ComandoMaquina\",1); \n global.set('ModBus', modbus); //Atualiza registrador global.\n res[0] = {payload:modbus[2]}; //Primeiro liga ou desliga chave geral\n }\n \n //***** ON/OFF MOTOR *****//\n if (p.LigarPrensa !== undefined) {\n if ((modbus[3]) & (1 << 3)) {\n modbus[3] &= ~(1<<3); //M3.3 igual a 1 DbPrsLigaMotor\n global.set(\"MotorLigado\",0);\n node.status({fill:\"red\",shape:\"ring\",text:\"Motor OFF\"});\n } else {\n modbus[3] |= (1<<3);//M3.3 igual a 0 DbPrsParar\n global.set(\"MotorLigado\",1);\n node.status({fill:\"green\",shape:\"dot\",text:\"Motor ON\"});\n }\n global.set(\"ComandoMaquina\",2);\n global.set('ModBus', modbus);//Atualiza registrador global.\n res[1] = {payload: modbus[3]};\n }\n \n //***** ABRIR TAMPA MODBUS 31.10 *****//\n if (p.abrirTampa !== undefined) {\n if (p.abrirTampa == '1'){\n modbus[31] |= (1<<10); \n }else if (p.abrirTampa == '0'){\n modbus[31] = 0; \n }\n global.set(\"ComandoMaquina\",3);\n res[2] = {payload:(modbus[31])};\n }\n \n //***** FECHAR TAMPA MODBUS 31.11 *****//\n if (p.fecharTampa !== undefined) {\n if(p.fecharTampa == '1'){\n modbus[31] |= (1<<11); \n }else if (p.fecharTampa == '0'){\n modbus[31] = 0;\n }\n global.set(\"ComandoMaquina\",4);\n res[3] = {payload:(modbus[31])};\n }\n \n //***** AVANCAR PERFIL MODBUS 2.3 *****//\n if (p.avancaPerfil !== undefined) {\n if(p.avancaPerfil == '1'){\n modbus[2] |= (1<<3); \n }else if (p.avancaPerfil == '0'){\n modbus[2] &= ~(1<<3);\n }\n global.set(\"ComandoMaquina\",5);\n res[4] = {payload: modbus[2]};\n }\n //***** RECUAR PERFIL MODBUS 2.4 *****//\n if (p.recuaPerfil !== undefined) {\n if(p.recuaPerfil == '1'){\n modbus[2] |= (1<<4); \n }else if (p.recuaPerfil == '0'){\n modbus[2] &= ~(1<<4);\n }\n global.set(\"ComandoMaquina\",6); \n res[5] = {payload:modbus[2]};\n }\n \n //*****botao_Parar_Maquina***********//\n if (p.botao_Parar_Maquina !== undefined) {\n modbus[2] |= (1<<13); //M2.13 igual a 0 MbPrsParar\n modbus[2] &= ~(1<<0); //M2.0 igual a 0 MbModoAuto\n node.status({fill:\"red\",shape:\"ring\",text:\"Parando prensa\"});\n global.set(\"ComandoMaquina\",7);\n global.set('ModBus', modbus);//Atualiza registrador global.\n res[6] = {payload: modbus[2]};\n }\n \n //*****botao_Manual************//\n if (p.botao_Manual !== undefined) {\n modbus[3] |= 1; //Libera maquina\n modbus[2] &= ~(1<<0); //M2.0 igual a 0 MbModoAuto\n node.status({fill:\"red\",shape:\"ring\",text:\"Modo Manual\"});\n global.set(\"ComandoMaquina\",8);\n global.set('ModBus', modbus);//Atualiza registrador global.\n res[7] = {payload: modbus[2]};\n }\n \n //*****botao_Produzir*********//\n if (p.botao_Produzir !== undefined) {\n modbus[3] |= 1; //Libera maquina\n if ((modbus[2]) & (1 << 0)) {\n modbus[2] &= ~(1<<0); //M2.0 igual a 1 produzir\n node.status({fill:\"green\",shape:\"dot\",text:\"Produzindo\"});\n } else {\n modbus[2] |= (1<<0);//M2.0 igual a 0 não produzir\n node.status({fill:\"red\",shape:\"ring\",text:\"Não produzindo\"});\n }\n global.set(\"ComandoMaquina\",9);\n global.set('ModBus', modbus);//Atualiza registrador global.\n res[8] = {payload: modbus[2]};\n }\n \n //***** Reverçao do motor da prensa *****//\n if (p.SentidoInv !== undefined) {\n if ((modbus[2]) & (1 << 14)) {\n modbus[2] &= ~(1<<14); //M2.14 igual a 1 MbPrsSentidoInv\n global.set(\"MotorInvertido\",0);\n node.status({fill:\"blue\",shape:\"ring\",text:\"Motor normal\"});\n } else {\n modbus[2] |= (1<<14);//M3.3 igual a 0 DbPrsParar\n global.set(\"MotorInvertido\",1);\n node.status({fill:\"green\",shape:\"dot\",text:\"Motor Invertido\"});\n }\n global.set(\"ComandoMaquina\",10);\n global.set('ModBus', modbus);//Atualiza registrador global.\n res[9] = {payload: modbus[2]};\n }\n \n //***** DESLIGA MAQUINA depois zera tudo *****//\n if (p.ResetMaquina !== undefined) {\n modbus[2] &= ~(1<<11); \n node.status({fill:\"red\",shape:\"ring\",text:\"Geral Desligada e reset\"});\n global.set(\"ComandoMaquina\",0); \n global.set('ModBus', modbus); //Atualiza registrador global.\n res[10] = {payload:modbus[2]}; //Primeiro desliga chave geral\n }\n \n //*****Desbobinador ******//\n if (p.AceleracaoAuto !== undefined) {\n var x = global.get(\"Desbobinador\");\n if(x){\n global.set('Desbobinador', 0);//Atualiza registrador global.\n }else{\n global.set('Desbobinador', 1);//Atualiza registrador global.\n }\n global.set(\"ComandoMaquina\",11);\n res[11] = {payload: global.get(\"Desbobinador\")};\n }\n \n //*****Atualiza TABS-2**************//\n if (p.AtualizarRegistradores !== undefined) {\n node.status({fill:\"red\",shape:\"ring\",text:\"Tab-2\"});\n res[12] = {payload: 1};\n }\n \nreturn res;","outputs":"13","noerr":0,"x":1467.1784286499023,"y":2260.7834057807922,"wires":[["4af66fc2.06042"],["45993cb3.3c77dc"],["1c34d726.3e9a29"],["742cf281.fcde1c"],["e479ded8.b8fa6"],["68ee141a.c6a48c"],["6311e46a.7d848c"],["7254b086.33d33"],["23d99030.bcbb1"],["6ec177f.e15b608"],["f65d8c53.8d7ab"],["bff12d48.23e238"],["ac10c7c4.a6cf08"]]},{"id":"45993cb3.3c77dc","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"Liga Motor Prensa M3.3","dataType":"HoldingRegister","adr":"3","server":"2a7dee3e.00f3a2","x":1847.526496887207,"y":1969.1857495307922,"wires":[["85988176.decdb"],["8f3afaa.0290608"]]},{"id":"e479ded8.b8fa6","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"Perfil Avança M2.3","dataType":"HoldingRegister","adr":"2","server":"2a7dee3e.00f3a2","x":1828.9076118469238,"y":2178.471284866333,"wires":[["fcb8b7e1.47bc78"],["73a06bbc.e7e784"]]},{"id":"742cf281.fcde1c","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"Aplanadora Fecha M31.11","dataType":"HoldingRegister","adr":"31","server":"2a7dee3e.00f3a2","x":1839.1930770874023,"y":2110.042799472809,"wires":[["67fe5ede.0699a8"],["c9959930.28cc9"]]},{"id":"1c34d726.3e9a29","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"Aplanadora Abre M31.10","dataType":"HoldingRegister","adr":"31","server":"2a7dee3e.00f3a2","x":1848.3360214233398,"y":2039.0427994728088,"wires":[["c2036981.0a41e"],["eab22708.034148"]]},{"id":"68ee141a.c6a48c","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"Perfil Recua M2.4","dataType":"HoldingRegister","adr":"2","server":"2a7dee3e.00f3a2","x":1827.6218147277832,"y":2249.4711742401123,"wires":[["6a5aa500.43e57c"],["d947318d.3356c"]]},{"id":"b7e2393a.48b5e","type":"comment","z":"6a72c641.6eadf8","name":"Registradores R/W Setup da Aplanadora \"HTML\"","info":"#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso","x":1832.8177108764648,"y":1841.4070630073547,"wires":[]},{"id":"5ee24057.96097","type":"function","z":"6a72c641.6eadf8","name":"Erro comunicação Escrita","func":"msg.payload = {\n time: new Date(),\n type: 'error',\n message: 'Falha de escrita dos modbus do CLP.'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3620.9573516845703,"y":2074.9122772216797,"wires":[["8985c2f6.caf7d8"]]},{"id":"4550ed8c.1e293c","type":"function","z":"6a72c641.6eadf8","name":"Variaveis Globais","func":"//Estado inicial da maquina é não inicializada MaqInicializada=0\nglobal.set(\"ComandoMaquina\",0);//liberamensagens do bloco libera maquina\nglobal.set(\"MotorPrensa\",0);\nglobal.set(\"MotorLigado\",0);\nglobal.set(\"MotorInvertido\",0);\nglobal.set(\"Desbobinador\",0);\nglobal.set(\"Indice_Mongo\",0);\nglobal.set(\"TamanhoDesejadoPeca_KEYBOARD\",0);\nglobal.set(\"TamanhoRealPeca_KEYBOARD\",0);\nglobal.set(\"FatorEncoder\",9909);\nglobal.set(\"ModBus\",[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]);\nvar start = new Date().getTime();\nglobal.set(\"tempo\",start);\n\nvar mensagens = [];\n\nmensagens['LER_CLP_MODBUS'] = { type: 'error', message: ' CLP não responde. Verifique as conexões de rede.' };\nmensagens['EMERGENCIA'] = { type: 'error', message: ' Emergencia acionada!' };\nmensagens['FALTA_FASE'] = { type: 'error', message: ' Falta de Fase' };\nmensagens['BOMBA_HIDRAULICA'] = { type: 'error', message: ' Térmico da Bomba Hidraulica' };\nmensagens['MARTELO_PRENSA'] = { type: 'error', message: ' Térmico do Motor do Martelo Prensa' };\nmensagens['PRESSAO_AR'] = { type: 'warning', message: 'Pressao do Ar Baixa!' };\nmensagens['INVERSOR'] = { type: 'error', message: ' Erro no Inversor' };\nmensagens['SERVO'] = { type: 'error', message: ' Erro no Servo' };\nmensagens['CHAVE_GERAL_DESLIGADA'] = { type: 'warning', message: ' Chave Geral Desligada' };\nmensagens['CHAVE_GERAL_LIGADA'] = { type: 'warning', message: ' Chave Geral ligada' };\nmensagens['MAQUINA_NAO_LIBERADA'] = { type: 'warning', message: ' Maquina Não Liberada' };\nmensagens['MAQUINA_LIBERADA'] = { type: 'warning', message: ' Maquina Liberada' };\nmensagens['ERRO_POSICIONAMENTO']= { type: 'error', message: ' Erro Posicionamento' };\nmensagens['SEGURAN_PRENSA'] = { type: 'info', message: ' Segurança da Prensa' };\nmensagens['APLAN_ABERTA'] = { type: 'info', message: ' Aplanadora Aberda' };\n\nglobal.set(\"mensagens\",mensagens);\nmsg= {payload: \"{MAQUINA_OFF:0}\"};\nreturn msg;","outputs":1,"noerr":0,"x":2420.3272666931152,"y":1435.976891040802,"wires":[["d92558b3.e79788"]]},{"id":"cc880a98.eb2148","type":"function","z":"6a72c641.6eadf8","name":"Ligou geral?","func":"//verifica 2.11 e libera 3.0\nvar mensagens = global.get(\"mensagens\");\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n\nif (((modbus[2]) & (1 << 11))) {\n modbus[3] |= 1; //M3.0 igual a 1 libera maquina\n msg.payload = modbus[3];\n msg2.payload = mensagens['CHAVE_GERAL_LIGADA'];\n msg2.payload.time= new Date();\n node.status({fill:\"green\",shape:\"dot\",text:\"Chave Ligada\"});\n}else if (~((modbus[2]) & (1 << 11))){ \n modbus[3] &= 0;\n msg.payload = 0;\n msg2.payload = mensagens['CHAVE_GERAL_DESLIGADA'];\n msg2.payload.time= new Date();\n node.status({fill:\"yellow\",shape:\"ring\",text:\"Chave Deslidaga\"});\n}else {\n node.status({fill:\"red\",shape:\"ring\",text:\"Bug\"});\n}\n \n\nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2560.148838043213,"y":1886.3816742897034,"wires":[["7c86f4a6.9e7c44"],["13365efd.df11a9"]]},{"id":"4af66fc2.06042","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"LigaGeral M2.11","dataType":"HoldingRegister","adr":"2","server":"2a7dee3e.00f3a2","x":1827.5949325561523,"y":1901.4995865821838,"wires":[["11df76a8.6dd149"],["dda02df6.4d21f"]]},{"id":"22d25295.21d3de","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"Libera Maquina M3.0","dataType":"HoldingRegister","adr":"3","server":"2a7dee3e.00f3a2","x":3022.866989135742,"y":1880.028181552887,"wires":[["725466bc.a31f5"],["2ba1eecb.995002"]]},{"id":"b87514ca.07487","type":"function","z":"6a72c641.6eadf8","name":"Erro comunicação","func":"var mensagens = global.get(\"mensagens\");\n//var modbus = global.get(\"ModBus\");\n\nmsg.payload = mensagens['LER_CLP_MODBUS'];\nmsg.payload.time= new Date();\n\n//global.set('ModBus', modbus);\nreturn msg;","outputs":1,"noerr":0,"x":2145.036647796631,"y":1376.3210377693176,"wires":[["d4e897ab.d1e688","4550ed8c.1e293c"]]},{"id":"e0642d53.fea6f8","type":"modbustcp-no-pooling-read","z":"6a72c641.6eadf8","name":"Read POP","dataType":"HoldingRegister","adr":"0","quantity":"32","server":"2a7dee3e.00f3a2","x":1895.613124847412,"y":1369.1584095954895,"wires":[["c987131a.25537","ded94789.1d4538"],["b87514ca.07487"]]},{"id":"5af92cc.b972c54","type":"inject","z":"6a72c641.6eadf8","name":"atualizar","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":1523.2915306091309,"y":1368.6551747322083,"wires":[["ef301843.284048"]]},{"id":"708eccc1.812b4c","type":"link in","z":"6a72c641.6eadf8","name":"Atualizacao dos 32 registradores ModBus","links":["486a3698.c9871","c2036981.0a41e","67fe5ede.0699a8","fcb8b7e1.47bc78","6a5aa500.43e57c","bff12d48.23e238"],"x":2134.744140625,"y":2055.4454345703125,"wires":[["fd4e3c6a.33be28"]]},{"id":"22b63756.01f3d8","type":"link in","z":"6a72c641.6eadf8","name":"Comando para ler todo ModBus","links":["11df76a8.6dd149","85988176.decdb","51e1ba28.58ac2c","51edcd46.c68414","563a1e6.65f926","ae3f9dd7.f126b8","913a8e6b.a2df88"],"x":1569.048828125,"y":1296.5908813476562,"wires":[["ef301843.284048"]]},{"id":"11df76a8.6dd149","type":"link out","z":"6a72c641.6eadf8","name":"Comando para ler todo ModBus","links":["22b63756.01f3d8"],"x":2008.356746673584,"y":1881.9092755317688,"wires":[]},{"id":"486a3698.c9871","type":"link out","z":"6a72c641.6eadf8","name":"Atualizacao dos 32 registradores ModBus","links":["708eccc1.812b4c","278b8d9f.332cc2","3292c332.e62afc","17d59d24.8682a3","fded0008.003bb8","91bb35aa.506f38","7a9f7416.07fd14","ffc2b971.50fa4","777bd47b.b983dc","a99b0250.54b63"],"x":2799.8066005706787,"y":1345.9082279205322,"wires":[]},{"id":"85988176.decdb","type":"link out","z":"6a72c641.6eadf8","name":"Comando para ler todo ModBus","links":["22b63756.01f3d8"],"x":2008.5652084350586,"y":1952.3238282203674,"wires":[]},{"id":"8f3afaa.0290608","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":2008.2557754516602,"y":1987.942913532257,"wires":[]},{"id":"b8fa5d57.159e48","type":"link in","z":"6a72c641.6eadf8","name":"","links":["8f3afaa.0290608","dda02df6.4d21f","2ba1eecb.995002","eab22708.034148","c9959930.28cc9","33011ad8.acec56","73a06bbc.e7e784","d947318d.3356c","c0be415e.4a7b58","58990b64.caf4c4","bbefe6d8.b4477","22f2378f.e33d98","469e35c3.c734c4","7054e04c.bced4","69ab8b81.b375fc","49372141.54216","586c46a2.960888"],"x":3471.2460598945618,"y":2074.5107345581055,"wires":[["5ee24057.96097"]]},{"id":"dda02df6.4d21f","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":2008.374813079834,"y":1917.1809811592102,"wires":[]},{"id":"c2036981.0a41e","type":"link out","z":"6a72c641.6eadf8","name":"Comando para ler todo ModBus","links":["708eccc1.812b4c"],"x":2009.422508239746,"y":2021.8318467140198,"wires":[]},{"id":"eab22708.034148","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":2009.6447372436523,"y":2055.83184671402,"wires":[]},{"id":"67fe5ede.0699a8","type":"link out","z":"6a72c641.6eadf8","name":"Comando para ler todo ModBus","links":["708eccc1.812b4c"],"x":2009.1558456420898,"y":2091.942930698395,"wires":[]},{"id":"c9959930.28cc9","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":2009.1558456420898,"y":2126.942930698395,"wires":[]},{"id":"d4e897ab.d1e688","type":"mqtt out","z":"6a72c641.6eadf8","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"4ba52d67.d77c34","x":3009.9920654296875,"y":1379.887752532959,"wires":[]},{"id":"13365efd.df11a9","type":"mqtt out","z":"6a72c641.6eadf8","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"4ba52d67.d77c34","x":2862.095615386963,"y":1929.586166858673,"wires":[]},{"id":"a0cbcfa.ff8deb","type":"mqtt out","z":"6a72c641.6eadf8","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"4ba52d67.d77c34","x":2863.9481201171875,"y":2060.3003540039062,"wires":[]},{"id":"7c86f4a6.9e7c44","type":"function","z":"6a72c641.6eadf8","name":"Delay 100ms","func":"setTimeout(function() {\n node.send(msg);\n}, 100);\nreturn null;","outputs":1,"noerr":0,"x":2813.5238876342773,"y":1880.157549381256,"wires":[["22d25295.21d3de"]]},{"id":"ef301843.284048","type":"function","z":"6a72c641.6eadf8","name":"Delay 500ms","func":"setTimeout(function() {\n node.send(msg);\n}, 500);\nreturn null;","outputs":1,"noerr":0,"x":1722.5237503051758,"y":1368.919463634491,"wires":[[]]},{"id":"bd4db71f.389a8","type":"debug","z":"6a72c641.6eadf8","name":"Comandomaquina=0","active":true,"console":"false","complete":"payload","x":2840.0478134155273,"y":1777.7767000198364,"wires":[]},{"id":"2ba1eecb.995002","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":3174.440647125244,"y":1886.2051606178284,"wires":[]},{"id":"fd4e3c6a.33be28","type":"switch","z":"6a72c641.6eadf8","name":"ComandoMaquina","property":"ComandoMaquina","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"}],"checkall":"true","outputs":12,"x":2269.023681640625,"y":2055.5862426757812,"wires":[["39cb3987.f3da46"],["cc880a98.eb2148"],["149a6015.027118"],["17459705.34a999"],["c51cda73.44d3e"],["ebed7435.7e594"],["4a1680d4.69f53"],["d99587c8.1e3628"],["60e6792e.65ede8"],["60c979ef.870eb8"],["6247052f.f5b2d4"],["25926a1b.90504e"]]},{"id":"725466bc.a31f5","type":"function","z":"6a72c641.6eadf8","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":3285.3573837280273,"y":1861.2528042793274,"wires":[[]]},{"id":"2bdfd9b7.f12bee","type":"function","z":"6a72c641.6eadf8","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":3291.2856407165527,"y":1993.633738040924,"wires":[[]]},{"id":"149a6015.027118","type":"function","z":"6a72c641.6eadf8","name":"Ligou motor?","func":"//verifica 3.3 e libera 2.12\nvar mensagens = global.get(\"mensagens\");\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n\nif (((modbus[3]) & (1 << 3))) {//M3.3 igual a 1 ligando motor\n modbus[2] |= (1<<12);\n msg.payload = modbus[2];\n msg2.payload ={ type: 'info', message: 'Acelerando motor...' };\n msg2.payload.time= new Date();\n node.status({fill:\"green\",shape:\"dot\",text:\"Acelerando...\"});\n}else if (~((modbus[3]) & (1 << 3))){ // M3.3 igual a 0 Desliga motor\n modbus[2] &= ~(1<<12);\n msg.payload = modbus[2];\n msg2.payload ={ type: 'info', message: 'Desligando motor...' };\n msg2.payload.time= new Date();\n node.status({fill:\"yellow\",shape:\"ring\",text:\"Deslingado\"});\n}else {\n node.status({fill:\"red\",shape:\"ring\",text:\"Bug\"});\n}\n \nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2562.9239234924316,"y":2016.3195405006409,"wires":[["cd30325f.b14da8"],["a0cbcfa.ff8deb"]]},{"id":"cd30325f.b14da8","type":"function","z":"6a72c641.6eadf8","name":"Delay 100ms","func":"setTimeout(function() {\n node.send(msg);\n}, 100);\nreturn null;","outputs":1,"noerr":0,"x":2813.5236473083496,"y":2010.2528071403503,"wires":[["52558012.ae1e98"]]},{"id":"52558012.ae1e98","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"Desliga motor M2.12","dataType":"HoldingRegister","adr":"2","server":"2a7dee3e.00f3a2","x":3023.190402984619,"y":2009.9195160865784,"wires":[["2bdfd9b7.f12bee"],["33011ad8.acec56"]]},{"id":"33011ad8.acec56","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":3179.809543609619,"y":2016.3481049537659,"wires":[]},{"id":"e797e1db.e41908","type":"function","z":"6a72c641.6eadf8","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":3294.023899078369,"y":2114.6695160865784,"wires":[[]]},{"id":"17459705.34a999","type":"function","z":"6a72c641.6eadf8","name":"Delay 50ms","func":"setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\" Aplanadora Abre M31.10\"});\nreturn null;","outputs":1,"noerr":0,"x":2563.273899078369,"y":2119.6695160865784,"wires":[["e797e1db.e41908"]]},{"id":"1fb22a4d.1b6716","type":"function","z":"6a72c641.6eadf8","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":3294.523899078369,"y":2163.9195160865784,"wires":[[]]},{"id":"c51cda73.44d3e","type":"function","z":"6a72c641.6eadf8","name":"Delay 50ms","func":"setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Aplanadora fecha M31.11\"});\nreturn null;","outputs":1,"noerr":0,"x":2561.773899078369,"y":2167.6695160865784,"wires":[["1fb22a4d.1b6716"]]},{"id":"fcb8b7e1.47bc78","type":"link out","z":"6a72c641.6eadf8","name":"Comando para ler todo ModBus","links":["708eccc1.812b4c"],"x":2009.9463386535645,"y":2162.0429821014404,"wires":[]},{"id":"73a06bbc.e7e784","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":2010.374927520752,"y":2196.757215499878,"wires":[]},{"id":"6a5aa500.43e57c","type":"link out","z":"6a72c641.6eadf8","name":"Comando para ler todo ModBus","links":["708eccc1.812b4c"],"x":2010.9463386535645,"y":2232.900037765503,"wires":[]},{"id":"d947318d.3356c","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":2010.232105255127,"y":2268.0429821014404,"wires":[]},{"id":"ebed7435.7e594","type":"function","z":"6a72c641.6eadf8","name":"Delay 50ms","func":"setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\" Perfil Avança M2.3\"});\nreturn null;","outputs":1,"noerr":0,"x":2564.666748046875,"y":2214.7337799072266,"wires":[["7d3f2cb0.e7d9cc"]]},{"id":"4a1680d4.69f53","type":"function","z":"6a72c641.6eadf8","name":"Delay 50ms","func":"setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"M2.4\"});\nreturn null;","outputs":1,"noerr":0,"x":2564.166748046875,"y":2260.7337799072266,"wires":[["cab23bc3.d15f28"]]},{"id":"7d3f2cb0.e7d9cc","type":"function","z":"6a72c641.6eadf8","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":3294.381103515625,"y":2211.7337799072266,"wires":[[]]},{"id":"cab23bc3.d15f28","type":"function","z":"6a72c641.6eadf8","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":3294.5238037109375,"y":2257.7337713241577,"wires":[[]]},{"id":"648e92b7.03022c","type":"switch","z":"6a72c641.6eadf8","name":"i<7","property":"i","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","outputs":7,"x":2314.1627769470215,"y":1232.963918685913,"wires":[["b11f4674.5e8318"],["12a62684.a604d9"],["de8a0314.64b3b"],["54f1d0cf.1e3c78"],["16e59475.7a5694"],["4766da0e.824e9c"],["103545c6.f8c8b2"]]},{"id":"af890bb2.1a5fe8","type":"function","z":"6a72c641.6eadf8","name":"i++","func":"msg.i++;\n\nreturn msg;","outputs":1,"noerr":0,"x":2455.0236740112305,"y":998.0472450256348,"wires":[["648e92b7.03022c"]]},{"id":"b11f4674.5e8318","type":"function","z":"6a72c641.6eadf8","name":"ALARMES E MENSAGENS HTML","func":"var mensagens = global.get(\"mensagens\");\nvar modbus = msg.payload;\nvar msg2 ={\n //_msgid: msg._msgid,\n payload: msg.payload\n};\n\n//msg.payload = msg.i;\n\nif (msg2.payload[0] & (1 << 0)) {\n msg2.payload = mensagens['EMERGENCIA'];\n} else if (msg2.payload[0] & (1 << 1)) {\n msg2.payload = mensagens['FALTA_FASE'];\n} else if (msg2.payload[0] & (1 << 2)) {\n msg2.payload = mensagens['BOMBA_HIDRAULICA'];\n} else if (msg2.payload[0] & (1 << 3)) {\n msg2.payload = mensagens['MARTELO_PRENSA'];\n} else if (msg2.payload[0] & (1 << 4)) {\n msg2.payload = mensagens['PRESSAO_AR'];\n} else if (msg2.payload[0] & (1 << 5)) {\n msg2.payload = mensagens['INVERSOR'];\n} else if (msg2.payload[0] & (1 << 6)) {\n msg2.payload = mensagens['SERVO'];\n} else if ((msg2.payload[0] & (1 << 7)))/*||(msg.payload[2] &= ~(1 << 11)))*/ {\n msg2.payload = mensagens['CHAVE_GERAL_DESLIGADA'];\n} else if (msg2.payload[0] & (1 << 9)) {\n msg2.payload = mensagens['ERRO_POSICIONAMENTO'];\n} else if (msg2.payload[0] & (1 << 10)) {\n msg2.payload = mensagens['SEGURAN_PRENSA'];\n} else if (msg2.payload[1] & (1 << 12)) {\n msg2.payload = mensagens['APLAN_ABERTA'];\n} else if (msg2.payload[0] & (1 << 8)) {\n msg2.payload = mensagens['MAQUINA_NAO_LIBERADA'];\n} else {\n if((global.get(\"MotorInvertido\"))==1){\n msg2.payload = { type: 'info', message: ' Motor Invertido!!!'};\n }else{\n msg2.payload = { type: 'info', message: ' Maquina OK'};\n }\n \n}\n\n\nmsg2.payload.time= new Date();\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2588.7042961120605,"y":1124.5472679138184,"wires":[["af890bb2.1a5fe8"],["d4e897ab.d1e688","ed3ce57a.2cc5b8"]]},{"id":"c987131a.25537","type":"function","z":"6a72c641.6eadf8","name":"loop leitura i=0","func":"global.set(\"ModBus\",msg.payload);\nmsg.i =0;\nreturn msg;","outputs":1,"noerr":0,"x":2136.496025085449,"y":1232.7695178985596,"wires":[["648e92b7.03022c"]]},{"id":"12a62684.a604d9","type":"function","z":"6a72c641.6eadf8","name":"APLANADORA FECHADA HTML","func":"var msg2 ={\n //_msgid: msg._msgid,\n payload: global.get(\"ModBus\")\n};\n\n//msg.payload = msg.i;\n\nif (msg2.payload[1] & (1 << 12)) {\n msg2= {\n payload: { \n APLANADORA_FECHADA:0\n }\n };\n } else{\n msg2= {\n payload: {\n APLANADORA_FECHADA:1\n }\n };\n }\n\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2588.804512023926,"y":1160.341854095459,"wires":[["af890bb2.1a5fe8"],["d4e897ab.d1e688"]]},{"id":"de8a0314.64b3b","type":"function","z":"6a72c641.6eadf8","name":"ATUALIZA MAQ LIGADA HTML","func":"var msg2 ={\n //_msgid: msg._msgid,\n payload: global.get(\"ModBus\")\n};\n\n//msg.payload = msg.i;\nif (msg2.payload[2] & (1 << 11 )) {\n msg2= {\n payload: { \n MAQUINA_ON:1\n }\n };\n } else{\n msg2= {\n payload: {\n MAQUINA_ON:0\n }\n };\n }\n\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2578.3014526367188,"y":1197.5750379562378,"wires":[["af890bb2.1a5fe8"],["d4e897ab.d1e688"]]},{"id":"103545c6.f8c8b2","type":"function","z":"6a72c641.6eadf8","name":"Loop Finished","func":"msg.payload=global.get(\"ModBus\");\nreturn msg;","outputs":1,"noerr":0,"x":2528.6349563598633,"y":1345.797273159027,"wires":[["c6c96b32.58cc2"]]},{"id":"c6c96b32.58cc2","type":"function","z":"6a72c641.6eadf8","name":"Delay 300ms","func":"setTimeout(function() {\n node.send(msg);\n}, 300);\nreturn null;","outputs":1,"noerr":0,"x":2696.9238815307617,"y":1345.552843093872,"wires":[["486a3698.c9871"]]},{"id":"d92558b3.e79788","type":"function","z":"6a72c641.6eadf8","name":"Delay 50ms","func":"setTimeout(function() {\n node.send(msg);\n}, 50);\nreturn null;","outputs":1,"noerr":0,"x":2694.895393371582,"y":1435.8957042694092,"wires":[["d4e897ab.d1e688","468c06b1.349ee8"]]},{"id":"2d6b76d9.c343fa","type":"comment","z":"6a72c641.6eadf8","name":"Liga Chave Geral e Libera a Maquina","info":"#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso","x":2638.412811279297,"y":1844.5750255584717,"wires":[]},{"id":"6ef8ba9e.f1784c","type":"comment","z":"6a72c641.6eadf8","name":"Liga / Deslig Motor","info":"#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso","x":2582.07958984375,"y":1974.5750732421875,"wires":[]},{"id":"adcc2d0f.f46948","type":"comment","z":"6a72c641.6eadf8","name":"Envia para fila qualquer erro na comunicação","info":"#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso","x":3684.857177734375,"y":2036.5750732421875,"wires":[]},{"id":"cf1e8db6.fac8a","type":"mongodb in","z":"6a72c641.6eadf8","mongodb":"99b811f7.2a08b","name":"consulta","collection":"parametros","operation":"find","x":627.138801574707,"y":2589.1665596961975,"wires":[["29b83930.14efe6"]]},{"id":"98a76c8e.e304f8","type":"function","z":"6a72c641.6eadf8","name":"lê apenas 1 parametro","func":"// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = { \"_id\": \"AplanadoraN3\" }\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { \"parametros.encoder.fator\": 1 }\n\n// Ler 1 valor\nmsg.limit = 1;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":414.2498722076416,"y":2589.003590106964,"wires":[["cf1e8db6.fac8a"]]},{"id":"10435d6.51c46a3","type":"inject","z":"6a72c641.6eadf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":194.2637825012207,"y":2588.666540622711,"wires":[["98a76c8e.e304f8"]]},{"id":"29b83930.14efe6","type":"function","z":"6a72c641.6eadf8","name":"parse(fator encoder)","func":"msg.payload=msg.payload[0].parametros.encoder.fator;\nreturn msg;","outputs":1,"noerr":0,"x":820.3056182861328,"y":2589.5832591056824,"wires":[["2e2d8b1b.690554"]]},{"id":"2e2d8b1b.690554","type":"debug","z":"6a72c641.6eadf8","name":"ler registrador x","active":true,"console":"false","complete":"payload","x":1026.6390380859375,"y":2589.583139896393,"wires":[]},{"id":"ab31595a.aca83","type":"comment","z":"6a72c641.6eadf8","name":"Lê apenas um valor","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":199.47183418273926,"y":2553.5831999778748,"wires":[]},{"id":"ffcffbb5.282738","type":"mongodb in","z":"6a72c641.6eadf8","mongodb":"21901924.6efb16","name":"consulta","collection":"parametros","operation":"find","x":3158.15763092041,"y":1495.2639064788818,"wires":[["999afb43.a8175","3986e292.1a4ef6"]]},{"id":"468c06b1.349ee8","type":"function","z":"6a72c641.6eadf8","name":"Paginação ","func":"msg.limit = 5;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":2958.2687015533447,"y":1495.1009368896484,"wires":[["ffcffbb5.282738","18819ce3.e2af33"]]},{"id":"6b0a6c77.50f804","type":"comment","z":"6a72c641.6eadf8","name":"Carrega valores iniciais do banco","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3016.5465698242188,"y":1460.2027893066406,"wires":[]},{"id":"999afb43.a8175","type":"function","z":"6a72c641.6eadf8","name":"Carrega todos os parametros","func":"//Cria um array vazio\nvar parametros = [];\n\nparametros.push(msg.payload[0].parametros.velocidade.automatico); //AplanVelAuto M14\nparametros.push(msg.payload[0].parametros.velocidade.manual); //AplanVelMan M17\nparametros.push(msg.payload[0].parametros.ferramenta.passo); //AplanPasso M18\nparametros.push(msg.payload[0].parametros.encoder.fator); //EncFactor M20\nparametros.push(msg.payload[0].parametros.encoder.resolucao); //EncResol M21 \nparametros.push(msg.payload[0].parametros.encoder.perimetro); //EncPerim M22\nparametros.push(msg.payload[0].lubrificacao.ciclos.PrsCiclosUnid); //PrsCiclosUnid M23\nparametros.push(msg.payload[0].lubrificacao.ciclos.PrsCiclosMil); //PrsCiclosMil M24\nparametros.push(msg.payload[0].lubrificacao.preset.MbNovoCiclosUnd);//NovoPrsCiclosUnd M25\nparametros.push(msg.payload[0].lubrificacao.preset.MbNovoCiclosmil);//NovoCiclosMil M26\n\n//Salva em uma variavel externa ao bloco\nflow.set('params', parametros); \n\n//Envia o conteudo do array para o proximo bloco\nmsg.payload = parametros;\n\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Parametros Carregados\"});\nreturn msg;","outputs":"1","noerr":0,"x":3374.2129135131836,"y":1494.9528560638425,"wires":[["ec26ab35.2beae","f7e2d980.a3f5d8","77d7b9ae.629db8"]]},{"id":"ec26ab35.2beae","type":"debug","z":"6a72c641.6eadf8","name":"Array completo","active":true,"console":"false","complete":"payload","x":3650.3316497802734,"y":1637.7149257659912,"wires":[]},{"id":"f7e2d980.a3f5d8","type":"debug","z":"6a72c641.6eadf8","name":"tamanho","active":false,"console":"false","complete":"payload.length","x":3627.998466491699,"y":1597.190761566162,"wires":[]},{"id":"77d7b9ae.629db8","type":"function","z":"6a72c641.6eadf8","name":"Separa cada mensagem","func":"var msgs = [null, null, null, null, null, null, null, null, null, null];\n\nmsgs[flow.get('params').length - 1] = {payload: flow.get('params')[flow.get('params').length - 1]};\n\nnode.send(msgs);\n","outputs":"10","noerr":0,"x":3674.959747314453,"y":1496.0353088378906,"wires":[["620373a0.51b1c4","85b07d5c.52755"],["3829ab6d.523bc4"],["c7e665dd.459fe"],["a4618778.f97d88"],["18e44514.9be983"],["decefcb2.8d32"],["4ebd4da9.f73e4c"],["c3e585f0.d9db1"],["fa1c9c75.f8e6a"],["aec5f87d.a0785"]]},{"id":"c0be415e.4a7b58","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":4222.650390625,"y":1782.6386413574219,"wires":[]},{"id":"f4e9659b.485e08","type":"function","z":"6a72c641.6eadf8","name":"LOOP DE ESCRITA","func":"//Somente entra aqui se o array ainda for >= 0\nif (flow.get('params').length >= 0) {\n \n // Carrega todos os parametros que ainda não foram enviados\n var params = flow.get('params');\n \n // Cria um novo Array tirando o ultimo elemento\n var novo = params.slice(0, flow.get('params').length - 1);\n \n // Sobrescreve o arry params\n flow.set('params', novo);\n \n // Envia novo array com -1 elemento\n msg.payload = novo;\n return msg;\n}\n","outputs":1,"noerr":0,"x":3667.285888671875,"y":1305.3528442382812,"wires":[["77d7b9ae.629db8"]]},{"id":"8b1c5578.5c54","type":"debug","z":"6a72c641.6eadf8","name":"LOOP","active":true,"console":"false","complete":"payload","x":3616.74609375,"y":1347.2417297363281,"wires":[]},{"id":"620373a0.51b1c4","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"AplanVelAuto_M14","dataType":"HoldingRegister","adr":"14","server":"2a7dee3e.00f3a2","x":3996.7461471557617,"y":1306.8527631759644,"wires":[["39e4cfc9.36a05","ac578e50.bd1b6"],["c0be415e.4a7b58"]]},{"id":"18e44514.9be983","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"EncResol_M21","dataType":"HoldingRegister","adr":"21","server":"2a7dee3e.00f3a2","x":3988.3176078796387,"y":1499.281349182129,"wires":[["39e4cfc9.36a05","9d5161a1.776ad"],["c0be415e.4a7b58"]]},{"id":"c7e665dd.459fe","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"AplanPasso_M18","dataType":"HoldingRegister","adr":"18","server":"2a7dee3e.00f3a2","x":3998.8888244628906,"y":1403.995701789856,"wires":[["39e4cfc9.36a05","bdb2eb61.08086"],["c0be415e.4a7b58"]]},{"id":"3829ab6d.523bc4","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"AplanVelMan_M17","dataType":"HoldingRegister","adr":"17","server":"2a7dee3e.00f3a2","x":3998.031768798828,"y":1354.995701789856,"wires":[["39e4cfc9.36a05","f31e0478.c85b7"],["c0be415e.4a7b58"]]},{"id":"a4618778.f97d88","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"EncFactor_M20","dataType":"HoldingRegister","adr":"20","server":"2a7dee3e.00f3a2","x":3987.8888969421387,"y":1452.7099380493164,"wires":[["39e4cfc9.36a05","6f850fb7.d61138"],["c0be415e.4a7b58"]]},{"id":"aec5f87d.a0785","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"NovoCiclosMil_M26","dataType":"HoldingRegister","adr":"26","server":"2a7dee3e.00f3a2","x":4008.7460746765137,"y":1741.8527603149414,"wires":[["39e4cfc9.36a05","831b0f5.313c37"],["c0be415e.4a7b58"]]},{"id":"4ebd4da9.f73e4c","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"PrsCiclosUnid_M27","dataType":"HoldingRegister","adr":"27","server":"2a7dee3e.00f3a2","x":3999.3172912597656,"y":1600.5671129226685,"wires":[["39e4cfc9.36a05","7107b21a.c59ae4"],["c0be415e.4a7b58"]]},{"id":"decefcb2.8d32","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"EncPerim_M22","dataType":"HoldingRegister","adr":"22","server":"2a7dee3e.00f3a2","x":3988.460235595703,"y":1549.5671129226685,"wires":[["39e4cfc9.36a05","21b27162.08cb66"],["c0be415e.4a7b58"]]},{"id":"fa1c9c75.f8e6a","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"NovoPrsCiclosUnd_M25","dataType":"HoldingRegister","adr":"25","server":"2a7dee3e.00f3a2","x":4018.3173637390137,"y":1692.281349182129,"wires":[["39e4cfc9.36a05","babedf9d.1b1c68"],["c0be415e.4a7b58"]]},{"id":"c3e585f0.d9db1","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"PrsCiclosMil_M28","dataType":"HoldingRegister","adr":"28","server":"2a7dee3e.00f3a2","x":3999.52392578125,"y":1646.3528442382812,"wires":[["39e4cfc9.36a05","2bd42ebb.12568a"],["c0be415e.4a7b58"]]},{"id":"6592a39.d46ffdc","type":"link in","z":"6a72c641.6eadf8","name":"loop escrita","links":["39e4cfc9.36a05"],"x":3323.02392578125,"y":1305.3195190429688,"wires":[["608dc94.1157338"]]},{"id":"39e4cfc9.36a05","type":"link out","z":"6a72c641.6eadf8","name":"loop inicializando CLP","links":["6592a39.d46ffdc"],"x":4232.02392578125,"y":1267.6195068359375,"wires":[]},{"id":"608dc94.1157338","type":"function","z":"6a72c641.6eadf8","name":"Delay 100ms","func":"setTimeout(function() {\n node.send(msg);\n}, 100);\nreturn null;","outputs":1,"noerr":0,"x":3429.02392578125,"y":1305.26953125,"wires":[["8b1c5578.5c54","f4e9659b.485e08"]]},{"id":"ab5448f6.d796","type":"mqtt out","z":"6a72c641.6eadf8","name":"Topico Regitradores da Maquina","topic":"AplanadoraN/registradores","qos":"0","retain":"false","broker":"4ba52d67.d77c34","x":4835.000335693359,"y":1499.9718284606934,"wires":[]},{"id":"df2f4625.1b909","type":"comment","z":"6a72c641.6eadf8","name":"Grava valor dos registradores no CLP","info":"A cada inicialização os valores dos registradores são atualizados a partir de MongoDB:\n\n1- AplanVelAuto M14\nVelocidade maxima no automatico de 0% a 100%\n\n2- AplanVelMan M17\nVelocidade maxima no manual de 0% a 100%\n\n3- AplanPasso M18\nPasso da ferramenta em \"mm\", de 0 a 400mm\n\n4- EncFactor M20\nFator de correção do encoder em numeros inteiros apenas.\n\n5- EncResol M21\nResolução do encoder em numeros inteiros apenas. 1 a 10000\n\n6- EncPerim M22\nPerimetro do encoder em \"mm\". De 1 a 999\n\n7- PrsCiclosUnid M23\nCiclos de Lubrificação da prensa. De 0 a 65534 unidades\n\n8- PrsCiclosMil M24\nCiclos de Lubrificação da prensa vezes 1000. De 0 a 65534 unidades\n\n9- NovoPrsCiclosUnd M25\nCiclos que faltam para proxima Lubrificação da prensa. De 0 a 65534 unidades\n\n10- NovoCiclosMil M26\nCiclos que faltam para proxima Lubrificação da prensa vezes 1000. De 0 a 65534 unidades\n\n","x":4002.1904296875,"y":1267.6861877441406,"wires":[]},{"id":"ac578e50.bd1b6","type":"function","z":"6a72c641.6eadf8","name":"Atualiza M14 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n AplanVelAuto: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n\n \nreturn msg;","outputs":"1","noerr":0,"x":4380.52375793457,"y":1306.5909748077393,"wires":[["ab5448f6.d796"]]},{"id":"f31e0478.c85b7","type":"function","z":"6a72c641.6eadf8","name":"Atualiza M17 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n AplanVelMan: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n \nreturn msg;","outputs":"1","noerr":0,"x":4379.381103515625,"y":1355.1623840332031,"wires":[["ab5448f6.d796"]]},{"id":"6f850fb7.d61138","type":"function","z":"6a72c641.6eadf8","name":"Atualiza M20 na pagina","func":"var valor = msg.payload;\n\nglobal.set(\"FatorEncoder\",valor);\nmsg.payload = {\n EncFactor: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n \nreturn msg;","outputs":"1","noerr":0,"x":4378.381103515625,"y":1452.876708984375,"wires":[["ab5448f6.d796"]]},{"id":"bdb2eb61.08086","type":"function","z":"6a72c641.6eadf8","name":"Atualiza M18 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n AplanPasso: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\nreturn msg;","outputs":"1","noerr":0,"x":4379.52375793457,"y":1403.3052997589111,"wires":[["ab5448f6.d796"]]},{"id":"7107b21a.c59ae4","type":"function","z":"6a72c641.6eadf8","name":"Atualiza M27 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n PrsCiclosUnid: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n \nreturn msg;","outputs":"1","noerr":0,"x":4377.23828125,"y":1599.01953125,"wires":[["ab5448f6.d796"]]},{"id":"21b27162.08cb66","type":"function","z":"6a72c641.6eadf8","name":"Atualiza M22 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n EncPerim: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\nreturn msg;","outputs":"1","noerr":0,"x":4378.380935668945,"y":1549.4481220245361,"wires":[["ab5448f6.d796"]]},{"id":"9d5161a1.776ad","type":"function","z":"6a72c641.6eadf8","name":"Atualiza M21 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n EncResol: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\nreturn msg;","outputs":"1","noerr":0,"x":4378.23828125,"y":1501.3052062988281,"wires":[["ab5448f6.d796"]]},{"id":"831b0f5.313c37","type":"function","z":"6a72c641.6eadf8","name":"Atualiza M26 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n NovoCiclosMil: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:\"falta implementar\"});\n \nreturn msg;","outputs":"1","noerr":0,"x":4376.381103515625,"y":1742.876708984375,"wires":[["ab5448f6.d796"]]},{"id":"babedf9d.1b1c68","type":"function","z":"6a72c641.6eadf8","name":"Atualiza M25 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n NovoPrsCiclosUnd: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n \nreturn msg;","outputs":"1","noerr":0,"x":4377.52375793457,"y":1693.3052997589111,"wires":[["ab5448f6.d796"]]},{"id":"2bd42ebb.12568a","type":"function","z":"6a72c641.6eadf8","name":"Atualiza M28 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n PrsCiclosMil: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:(\"Valor x1000 = \"+ valor)});\n\nreturn msg;","outputs":"1","noerr":0,"x":4377.381103515625,"y":1645.1623840332031,"wires":[["ab5448f6.d796"]]},{"id":"3986e292.1a4ef6","type":"debug","z":"6a72c641.6eadf8","name":"consulta","active":false,"console":"false","complete":"payload","x":3315.595458984375,"y":1451.0910720825195,"wires":[]},{"id":"2aaeefbb.03a838","type":"function","z":"6a72c641.6eadf8","name":"Atualiza MongoDB","func":"var parametro = JSON.parse(msg.payload);\n\n/****** APLANADORA VELOCIDADE AUTOMATICA M14 *********/\nif (parametro.AplanVelAuto_KEYBOARD !== undefined) {\n var x = parametro.AplanVelAuto_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.velocidade.automatico\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Velocidade Auto = \"+ x)});\n return msg;\n}\n\n/****** APLANADORA VELOCIDADE MANUAL M17 *********/\nif (parametro.AplanVelMan_KEYBOARD !== undefined) {\n var x = parametro.AplanVelMan_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.velocidade.manual\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Velocidade Manual = \"+ x)});\n return msg;\n}\n\n/****** APLANADORA PASSO M18 *********/\nif (parametro.AplanPasso_KEYBOARD !== undefined) {\n var x = parametro.AplanPasso_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.ferramenta.passo\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Passo = \"+ x)});\n return msg;\n}\n\n/****** FATOR DE ENCONDER M20*********/\nif (parametro.EncFactor_KEYBOARD !== undefined) {\n var x = parametro.EncFactor_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.encoder.fator\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"fator = \"+ x)});\n return msg;\n}\n\n/****** RESOLUÇÃO DO ENCONDER M21 *********/\nif (parametro.EncResol_KEYBOARD !== undefined) {\n var x = parametro.EncResol_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.encoder.resolucao\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Resolução ENC = \"+ x)});\n return msg;\n}\n\n/****** PERIMETRO DO ENCONDER M22 *********/\nif (parametro.EncPerim_KEYBOARD !== undefined) {\n var x = parametro.EncPerim_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.encoder.perimetro\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Perimetro ENC = \"+ x)});\n return msg;\n}\n\n/****** TamanhoDesejadoPeca Campo da pagina *********/\nif (parametro.TamanhoDesejadoPeca_KEYBOARD !== undefined) {\n var x = (parametro.TamanhoDesejadoPeca_KEYBOARD||0);\n if ((x>=2)&&(x<=20000)){\n global.set('TamanhoDesejadoPeca_KEYBOARD', x);\n }else {\n x=0;\n global.set('TamanhoDesejadoPeca_KEYBOARD', 0);\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Tamanho Desejado = \"+ x)});\n}\n\n/****** TamanhoRealPeca Campo da pagina *********/\nif (parametro.TamanhoRealPeca_KEYBOARD !== undefined) {\n var x = (parametro.TamanhoRealPeca_KEYBOARD||0);\n if ((x>=2)&&(x<=20000)){\n global.set('TamanhoRealPeca_KEYBOARD', x);\n }else {\n x=0;\n global.set('TamanhoRealPeca_KEYBOARD', 0);\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Tamanho Real = \"+ x)});\n}\n\n/****** RecalcularFator e grava no banco *********/\nif (parametro.RecalcularFator !== undefined) {\n var x = (global.get('TamanhoRealPeca_KEYBOARD')||0);\n var y = (global.get('TamanhoDesejadoPeca_KEYBOARD')||0);\n if ((x!==0)&&(y!==0)){\n var z = x/y;\n z *= (global.get('FatorEncoder')/10000);\n var z2 = Math.round(z*10000);\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.encoder.fator\": z2\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Calculado Fator ENC = \"+ z2)});\n return msg;\n }\n}\n\n/****** Atualiza numero de cilcos da prensa e grava no banco ********/\nif ((parametro.PrsCiclosUnid_KEYBOARD !== undefined )||(parametro.PRENSA_CICLOS !== undefined) ) {\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"lubrificacao.ciclos.PrsCiclosUnid\": parametro.PrsCiclosUnid_KEYBOARD\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Ciclos = \"+ parametro.PrsCiclosUnid_KEYBOARD)});\n return msg;\n}\n\n/* FALTA FAZER*************\nPrsCiclosUnid M23\nPrsCiclosMil M24\nNovoPrsCiclosUnd M25\nNovoCiclosMil M26*/\n\n\n","outputs":1,"noerr":0,"x":2416.880771636963,"y":1551.376657485962,"wires":[["3a43b8be.524868","d14538.7dc612c8","ddff8cbf.c14bb8"]]},{"id":"3a43b8be.524868","type":"mongodb out","z":"6a72c641.6eadf8","mongodb":"21901924.6efb16","name":"salvar","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"update","x":2678.8807373046875,"y":1551.4433279037476,"wires":[]},{"id":"3154672a.9f0388","type":"mqtt in","z":"6a72c641.6eadf8","name":"","topic":"AplanadoraN/registradores","qos":"0","broker":"4ba52d67.d77c34","x":2145.976551055908,"y":1601.6542530059814,"wires":[["2aaeefbb.03a838","3e19f808.7ebf58"]]},{"id":"578e2f91.fdf9a8","type":"comment","z":"6a72c641.6eadf8","name":"Save the modified values in the bank","info":"#Whats is saved until now!\n\nAfter one JSON.parse(msg.payload);\n\nAPLANADORA VELOCIDADE AUTOMATICA M14\nAPLANADORA VELOCIDADE MANUAL M17\nAPLANADORA PASSO M18\nRESOLUÇÃO DO ENCONDER M21","x":2421.0438842773438,"y":1510.785394668579,"wires":[]},{"id":"d14538.7dc612c8","type":"debug","z":"6a72c641.6eadf8","name":"Salvou","active":true,"console":"false","complete":"payload","x":2678.3095703125,"y":1604.3766784667969,"wires":[]},{"id":"ddff8cbf.c14bb8","type":"function","z":"6a72c641.6eadf8","name":"Delay 300ms","func":"setTimeout(function() {\n msg= {payload: \"{MAQUINA_OFF:0}\"};\n node.send(msg);\n}, 300);\n\nreturn null;","outputs":1,"noerr":0,"x":2695.333526611328,"y":1493.9005126953125,"wires":[["79ab20db.20d7a","468c06b1.349ee8"]]},{"id":"79ab20db.20d7a","type":"debug","z":"6a72c641.6eadf8","name":"depois de salvar","active":false,"console":"false","complete":"true","x":2957.0767822265625,"y":1553.5460510253906,"wires":[]},{"id":"3e19f808.7ebf58","type":"debug","z":"6a72c641.6eadf8","name":"fila","active":false,"console":"false","complete":"payload","x":2377.346538543701,"y":1601.2603778839111,"wires":[]},{"id":"57408ba1.0ad6ec","type":"debug","z":"6a72c641.6eadf8","name":"board/setup","active":true,"console":"false","complete":"payload","x":1418.7319831848145,"y":2132.82860660553,"wires":[]},{"id":"ded94789.1d4538","type":"debug","z":"6a72c641.6eadf8","name":"Leitura PLC","active":false,"console":"false","complete":"payload","x":2126.3095703125,"y":1304.8052673339844,"wires":[]},{"id":"f7176772.a6cd1","type":"debug","z":"6a72c641.6eadf8","name":"loop6","active":false,"console":"false","complete":"true","x":3243.650894165039,"y":1192.913950920105,"wires":[]},{"id":"54f1d0cf.1e3c78","type":"function","z":"6a72c641.6eadf8","name":"ATUALIZA MAQ ERRO POS HTML","func":"//M19\nvar msg2 ={ payload: global.get(\"ModBus\")};\n\nmsg2 = {\n payload: {\n ERRO_POS: msg2.payload[19] \n }\n};\n\n \nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2588.52392578125,"y":1233.1361999511719,"wires":[["af890bb2.1a5fe8"],["d4e897ab.d1e688"]]},{"id":"16e59475.7a5694","type":"function","z":"6a72c641.6eadf8","name":"ATUALIZA MAQ POS ATUAL HTML","func":"//M5\nvar msg2 ={ payload: global.get(\"ModBus\")};\n\nmsg2= {\n payload:{\n POS_ATUAL: msg2.payload[5] \n \n}};\n\n \nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2597.52392578125,"y":1271.1361999511719,"wires":[["af890bb2.1a5fe8"],["d4e897ab.d1e688"]]},{"id":"4766da0e.824e9c","type":"function","z":"6a72c641.6eadf8","name":"ATUALIZA MAQ","func":"//M5\nvar msg2 ={ payload: global.get(\"ModBus\")};\n\nvar ciclos = msg2.payload[23];\nvar Mciclos =((1000)*(msg2.payload[24]));\n\n\nmsg2= {\n payload:{\n PRENSA_CICLOS:(ciclos+Mciclos)\n}};\n\n \nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2527.823974609375,"y":1308.8362121582031,"wires":[["af890bb2.1a5fe8"],["d4e897ab.d1e688"]]},{"id":"6524b237.081dcc","type":"delay","z":"6a72c641.6eadf8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2174.9739379882812,"y":1435.4195556640625,"wires":[["4550ed8c.1e293c"]]},{"id":"23d99030.bcbb1","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"Modo Auto M2.0 ON/OFF","dataType":"HoldingRegister","adr":"2","server":"2a7dee3e.00f3a2","x":1845.572437286377,"y":2462.8237895965576,"wires":[["51e1ba28.58ac2c"],["58990b64.caf4c4"]]},{"id":"d99587c8.1e3628","type":"function","z":"6a72c641.6eadf8","name":"Delay 50ms","func":"setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Parar Maquina\"});\nreturn null;","outputs":1,"noerr":0,"x":2564.3739013671875,"y":2318.086181640625,"wires":[["16fc2453.34a594"]]},{"id":"60e6792e.65ede8","type":"function","z":"6a72c641.6eadf8","name":"Delay 50ms","func":"setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"M31.11\"});\nreturn null;","outputs":1,"noerr":0,"x":2562.8739013671875,"y":2396.086181640625,"wires":[["8b88f93a.d43838"]]},{"id":"60c979ef.870eb8","type":"function","z":"6a72c641.6eadf8","name":"Delay 50ms","func":"setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Produzir\"});\nreturn null;","outputs":1,"noerr":0,"x":2565.7667503356934,"y":2443.150445461273,"wires":[["342f76ad.29f4f2"]]},{"id":"25926a1b.90504e","type":"function","z":"6a72c641.6eadf8","name":"Delay 50ms Desbobinador","func":"setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Desbobinador\"});\nreturn null;","outputs":1,"noerr":0,"x":2615.2667503356934,"y":2614.150445461273,"wires":[["45617d28.7c6c54"]]},{"id":"bf462832.f116e","type":"function","z":"6a72c641.6eadf8","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":3294.99072265625,"y":2304.7861328125,"wires":[[]]},{"id":"8b88f93a.d43838","type":"function","z":"6a72c641.6eadf8","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":3295.49072265625,"y":2396.0361328125,"wires":[[]]},{"id":"73c57f06.0bf9","type":"function","z":"6a72c641.6eadf8","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":3295.347927093506,"y":2436.850396633148,"wires":[[]]},{"id":"45617d28.7c6c54","type":"function","z":"6a72c641.6eadf8","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":3295.4906272888184,"y":2614.8503880500793,"wires":[[]]},{"id":"51e1ba28.58ac2c","type":"link out","z":"6a72c641.6eadf8","name":"Comando para ler todo ModBus","links":["22b63756.01f3d8"],"x":2007.6392097473145,"y":2448.773801803589,"wires":[]},{"id":"58990b64.caf4c4","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":2007.329776763916,"y":2484.3928871154785,"wires":[]},{"id":"342f76ad.29f4f2","type":"function","z":"6a72c641.6eadf8","name":"Muda MbMaquinaProduzindo M1.7","func":"//*****MbMaquinaProduzindo M1.7\nvar modbus = global.get(\"ModBus\");\n \nif ((modbus[2]) & (1 << 0)) {\n modbus[1] &= ~(1<<7); //M1.7 igual a 1 produzir\n node.status({fill:\"red\",shape:\"dot\",text:\"M1.7 = OFF\"});\n} else {\n modbus[1] |= (1<<7);//M1.7 igual a 0 não produzir\n node.status({fill:\"green\",shape:\"ring\",text:\"M1.7 = ON\"});\n}\nglobal.set(\"ComandoMaquina\",9);\nglobal.set('ModBus', modbus);//Atualiza registrador global.\nmsg.payload = modbus[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":2811.973876953125,"y":2443.4529418945312,"wires":[["ae09164e.4781e8"]]},{"id":"ae09164e.4781e8","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"Modo Auto M1.7","dataType":"HoldingRegister","adr":"1","server":"2a7dee3e.00f3a2","x":3058.00732421875,"y":2444.13623046875,"wires":[["73c57f06.0bf9"],["bbefe6d8.b4477"]]},{"id":"bbefe6d8.b4477","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":3220.9906005859375,"y":2478.1362915039062,"wires":[]},{"id":"6311e46a.7d848c","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"MbPrsParar M2.13 & 2.0","dataType":"HoldingRegister","adr":"2","server":"2a7dee3e.00f3a2","x":1842.6057472229004,"y":2321.5236740112305,"wires":[["51edcd46.c68414"],["22f2378f.e33d98"]]},{"id":"51edcd46.c68414","type":"link out","z":"6a72c641.6eadf8","name":"Comando para ler todo ModBus","links":["22b63756.01f3d8"],"x":2009.6724739074707,"y":2303.4736919403076,"wires":[]},{"id":"22f2378f.e33d98","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":2009.3630256652832,"y":2338.0928325653076,"wires":[]},{"id":"7254b086.33d33","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"Modo Auto M2.0 OFF","dataType":"HoldingRegister","adr":"2","server":"2a7dee3e.00f3a2","x":1836.0391731262207,"y":2389.523801803589,"wires":[["563a1e6.65f926"],["469e35c3.c734c4"]]},{"id":"563a1e6.65f926","type":"link out","z":"6a72c641.6eadf8","name":"Comando para ler todo ModBus","links":["22b63756.01f3d8"],"x":2009.1059455871582,"y":2375.47381401062,"wires":[]},{"id":"469e35c3.c734c4","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":2007.7965126037598,"y":2411.0928993225098,"wires":[]},{"id":"bff12d48.23e238","type":"link out","z":"6a72c641.6eadf8","name":"Comando para ler todo ModBus","links":["708eccc1.812b4c"],"x":1751.605884552002,"y":2678.873899459839,"wires":[]},{"id":"16fc2453.34a594","type":"function","z":"6a72c641.6eadf8","name":"Parar motor","func":"//muda 3.3\nvar mensagens = global.get(\"mensagens\");\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n// M3.3 igual a 0 Desliga motor\n modbus[2] &= ~(1<<12);\n msg.payload = modbus[2];\n msg2.payload ={ type: 'info', message: 'Desligando motor para reverter...' };\n msg2.payload.time= new Date();\n node.status({fill:\"yellow\",shape:\"ring\",text:\"Deslingado\"});\n\nglobal.set(\"MotorLigado\",0);\nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2746.64892578125,"y":2318.6236572265625,"wires":[["bd66289a.909ef"],["aa934f5a.7045c"]]},{"id":"aa934f5a.7045c","type":"mqtt out","z":"6a72c641.6eadf8","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"4ba52d67.d77c34","x":3016.14892578125,"y":2361.3736572265625,"wires":[]},{"id":"bd66289a.909ef","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"Desliga motor M2.12","dataType":"HoldingRegister","adr":"2","server":"2a7dee3e.00f3a2","x":2996.89892578125,"y":2311.6236572265625,"wires":[["bf462832.f116e"],["7054e04c.bced4"]]},{"id":"7054e04c.bced4","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":3220.64892578125,"y":2350.8736572265625,"wires":[]},{"id":"6763d265.00037c","type":"mqtt in","z":"6a72c641.6eadf8","name":"Estado","topic":"AplanadoraN/Estado","qos":"0","broker":"4ba52d67.d77c34","x":2448.815673828125,"y":2786.8111572265625,"wires":[["d4addd99.2edf3","7d897ef8.005f58"]]},{"id":"d4addd99.2edf3","type":"debug","z":"6a72c641.6eadf8","name":"MQTT # RAW","active":false,"console":"false","complete":"payload","x":3058.815673828125,"y":2786.8111572265625,"wires":[]},{"id":"7d897ef8.005f58","type":"function","z":"6a72c641.6eadf8","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n text.shift();\n text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":2728.815673828125,"y":2846.8111572265625,"wires":[["d5c8cf18.dfa028","d4350cd6.16e0c8"]]},{"id":"d5c8cf18.dfa028","type":"debug","z":"6a72c641.6eadf8","name":"mqtt array","active":false,"console":"false","complete":"payload","x":3048.815673828125,"y":2866.8111572265625,"wires":[]},{"id":"d4350cd6.16e0c8","type":"ui_template","z":"6a72c641.6eadf8","group":"8af09e5c.9ec2e","name":"MQTT Output","order":1,"width":"0","height":"0","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n <ul>\n <li>{{x.payload}}</li>\n </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"x":3058.815673828125,"y":2826.8111572265625,"wires":[["a0463bb6.34395"]]},{"id":"bac7bf1.690f74","type":"ui_text_input","z":"6a72c641.6eadf8","name":"Message","label":"Message","group":"8af09e5c.9ec2e","order":3,"width":"","height":"","passthru":true,"mode":"text","delay":"300","topic":"message","x":2458.815673828125,"y":2906.8111572265625,"wires":[["8f8ac63c.2d80e8"]]},{"id":"a6143aab.0faf18","type":"ui_button","z":"6a72c641.6eadf8","name":"Submit","group":"8af09e5c.9ec2e","order":4,"width":"6","height":"2","label":"SUBMIT","color":"black","bgcolor":"","icon":"fa-arrow-circle-o-up","payload":"submit","payloadType":"str","topic":"submit","x":2448.815673828125,"y":2946.8111572265625,"wires":[["8f8ac63c.2d80e8"]]},{"id":"8f8ac63c.2d80e8","type":"function","z":"6a72c641.6eadf8","name":"Store and Submit","func":"context.msg = context.msg || {};\n\nswitch (msg.topic){\n case 'message':\n context.msg.payload = msg.payload;\n break;\n case 'topic':\n context.msg.topic = msg.payload;\n break;\n case 'submit':\n if(context.msg.topic){\n return context.msg;\n }else{\n context.msg.topic=\"#\"; // set default topic\n return context.msg;\n }\n}","outputs":"1","noerr":0,"x":2728.815673828125,"y":2926.8111572265625,"wires":[["3823bdf9.4d903a","9e3e69ab.689498"]]},{"id":"3823bdf9.4d903a","type":"debug","z":"6a72c641.6eadf8","name":"MQTT Monitor","active":false,"console":"false","complete":"true","x":3038.815673828125,"y":2926.8111572265625,"wires":[]},{"id":"83ed95d.e7a94e8","type":"ui_text_input","z":"6a72c641.6eadf8","name":"Topic","label":"Topic/","group":"8af09e5c.9ec2e","order":2,"width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"topic","x":2448.815673828125,"y":2866.8111572265625,"wires":[["8f8ac63c.2d80e8"]]},{"id":"d012ac1a.68d8c","type":"ui_button","z":"6a72c641.6eadf8","name":"Clear","group":"8af09e5c.9ec2e","order":0,"width":"4","height":"2","label":"CLEAR","color":"black","bgcolor":"","icon":"fa-trash","payload":"","payloadType":"str","topic":"","x":2448.815673828125,"y":2986.8111572265625,"wires":[["bac7bf1.690f74","83ed95d.e7a94e8"]]},{"id":"7a13f6fa.55fc6","type":"comment","z":"6a72c641.6eadf8","name":"MQTT Console with dashboard ","info":"This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com","x":2528.815673828125,"y":2746.8111572265625,"wires":[]},{"id":"9e3e69ab.689498","type":"mqtt out","z":"6a72c641.6eadf8","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"4ba52d67.d77c34","x":3077.565704345703,"y":2975.5611572265625,"wires":[]},{"id":"a0463bb6.34395","type":"debug","z":"6a72c641.6eadf8","name":"","active":false,"console":"false","complete":"false","x":3252.738185337612,"y":2826.3766828264506,"wires":[]},{"id":"e247176c.b4a5d","type":"function","z":"6a72c641.6eadf8","name":"indice +1","func":"//Carrega variavel global indice em y\nvar y = global.get(\"Indice_Mongo\");\n\n//monta a mensagem\nmsg.query = { _id: 'indice' }\nmsg.payload = {\n $set: {\n \"indice_mesagens\": parseInt(y)\n }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":3262.570137023926,"y":1059.7617664337158,"wires":[["93c91221.5c5d6"]]},{"id":"93c91221.5c5d6","type":"mongodb out","z":"6a72c641.6eadf8","mongodb":"21901924.6efb16","name":"Atualizar Indice","collection":"indice","payonly":true,"upsert":false,"multi":false,"operation":"update","x":3436.2841873168945,"y":1060.1118621826172,"wires":[]},{"id":"fb646c9a.611bb","type":"inject","z":"6a72c641.6eadf8","name":"Read indice","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":2752.106201171875,"y":1667.9507141113281,"wires":[["b038078d.bc0d7"]]},{"id":"76432e6e.8fb35","type":"debug","z":"6a72c641.6eadf8","name":"indice","active":false,"console":"false","complete":"payload","x":3619.566452026367,"y":1678.649073600769,"wires":[]},{"id":"ed3ce57a.2cc5b8","type":"function","z":"6a72c641.6eadf8","name":"mudar 1 item apenas","func":"var x = msg.payload;\n\nvar y = global.get(\"Indice_Mongo\");\n\nif (y <= 999){\n msg.query = { _id: y };\n msg.payload = {\n $set: {\n \"log_mesagens\": x\n }\n };\n y++;\n global.set(\"Indice_Mongo\",y);\n} else{\n global.set(\"Indice_Mongo\",1);\n msg.query = { _id: 1 };\n msg.payload = {\n $set: {\n \"log_mesagens\": x\n }\n };\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":2987.101203918457,"y":1131.4985046386719,"wires":[["b5274b74.36e12","f7176772.a6cd1","e247176c.b4a5d"]]},{"id":"b5274b74.36e12","type":"mongodb out","z":"6a72c641.6eadf8","mongodb":"21901924.6efb16","name":"update log_erro","collection":"log_erro","payonly":true,"upsert":true,"multi":true,"operation":"update","x":3270.545585632324,"y":1130.8983936309814,"wires":[]},{"id":"18819ce3.e2af33","type":"mongodb in","z":"6a72c641.6eadf8","mongodb":"21901924.6efb16","name":"consulta","collection":"indice","operation":"find","x":3158.9526977539062,"y":1552.9004764556885,"wires":[["ea0511d2.98f698"]]},{"id":"ea0511d2.98f698","type":"function","z":"6a72c641.6eadf8","name":"indice_mesagens","func":"x =msg.payload[0].indice_mesagens;\nglobal.set(\"Indice_Mongo\",x);\n\nmsg.payload =x;\nreturn msg;","outputs":1,"noerr":0,"x":3344.8390464782715,"y":1552.5487747192383,"wires":[["76432e6e.8fb35"]]},{"id":"7e2ece31.2d3a8","type":"link in","z":"6a72c641.6eadf8","name":"tabs2","links":["ac10c7c4.a6cf08"],"x":2490.973876953125,"y":1599.2529602050781,"wires":[["ddff8cbf.c14bb8"]]},{"id":"ac10c7c4.a6cf08","type":"link out","z":"6a72c641.6eadf8","name":"","links":["7e2ece31.2d3a8"],"x":1750.5391120910645,"y":2737.790403366089,"wires":[]},{"id":"446fe4dd.cb3034","type":"comment","z":"6a72c641.6eadf8","name":"Desbobinador","info":"","x":1857.5391120910645,"y":2678.9738750457764,"wires":[]},{"id":"372119c2.bd384e","type":"comment","z":"6a72c641.6eadf8","name":"TABS2","info":"","x":1838.239185333252,"y":2736.9738750457764,"wires":[]},{"id":"6ec177f.e15b608","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"MbPrsSentido M2.14","dataType":"HoldingRegister","adr":"2","server":"2a7dee3e.00f3a2","x":1832.872486114502,"y":2541.873899459839,"wires":[["ae3f9dd7.f126b8"],["69ab8b81.b375fc"]]},{"id":"ae3f9dd7.f126b8","type":"link out","z":"6a72c641.6eadf8","name":"Comando para ler todo ModBus","links":["22b63756.01f3d8"],"x":2009.9392127990723,"y":2523.823917388916,"wires":[]},{"id":"69ab8b81.b375fc","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":2009.6297645568848,"y":2558.443058013916,"wires":[]},{"id":"8d185a80.3637b8","type":"function","z":"6a72c641.6eadf8","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":3294.8740234375,"y":2515.4862060546875,"wires":[[]]},{"id":"6247052f.f5b2d4","type":"function","z":"6a72c641.6eadf8","name":"Delay 50ms","func":"setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Reverter prensa\"});\nreturn null;","outputs":1,"noerr":0,"x":2564.650146484375,"y":2527.7862634658813,"wires":[["972c8b25.3e8308"]]},{"id":"972c8b25.3e8308","type":"function","z":"6a72c641.6eadf8","name":"Parar motor","func":"//muda 3.3\nvar mensagens = global.get(\"mensagens\");\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n// M3.3 igual a 0 Desliga motor\n modbus[2] &= ~(1<<12);\n msg.payload = modbus[2];\n msg2.payload ={ type: 'info', message: 'Desligando motor para reverter...' };\n msg2.payload.time= new Date();\n node.status({fill:\"yellow\",shape:\"ring\",text:\"Deslingado\"});\n\nglobal.set(\"MotorLigado\",0);\nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2741.640625,"y":2527.4862060546875,"wires":[["acf13c02.5cdf78"],["a80a4c06.8114d"]]},{"id":"acf13c02.5cdf78","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"Desliga motor M2.12","dataType":"HoldingRegister","adr":"2","server":"2a7dee3e.00f3a2","x":3000.6407470703125,"y":2521.4862060546875,"wires":[["8d185a80.3637b8"],[]]},{"id":"a80a4c06.8114d","type":"mqtt out","z":"6a72c641.6eadf8","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"4ba52d67.d77c34","x":3021.6407470703125,"y":2571.4862060546875,"wires":[]},{"id":"f65d8c53.8d7ab","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"Desliga & zerar tudo!","dataType":"HoldingRegister","adr":"2","server":"2a7dee3e.00f3a2","x":1832.3222885131836,"y":2614.590473651886,"wires":[["5f4a406f.ddd6b"],["49372141.54216"]]},{"id":"49372141.54216","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":2009.1021690368652,"y":2632.2718682289124,"wires":[]},{"id":"c9cfa647.99c0d8","type":"link in","z":"6a72c641.6eadf8","name":"","links":["5f4a406f.ddd6b"],"x":1947.0029020309448,"y":1511.5822467803955,"wires":[[]]},{"id":"5f4a406f.ddd6b","type":"link out","z":"6a72c641.6eadf8","name":"reset maquina","links":["c9cfa647.99c0d8"],"x":2010.1514434814453,"y":2597.153057575226,"wires":[]},{"id":"b038078d.bc0d7","type":"function","z":"6a72c641.6eadf8","name":"Paginação ","func":"msg.limit = 5;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":2963.7236328125,"y":1604.6362609863281,"wires":[["18819ce3.e2af33"]]},{"id":"998ad8b7.3fa248","type":"comment","z":"6a72c641.6eadf8","name":"Consulta MongoDB por string","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":260,"y":2293.333227157593,"wires":[]},{"id":"afb80ff2.aebf2","type":"function","z":"6a72c641.6eadf8","name":"Exemplo de consulta","func":"msg.limit = parseInt(msg.req.query.size) || 10;\nmsg.skip = ((parseInt(msg.req.query.page) || 1) - 1) * (parseInt(msg.req.query.page) || 1);\nmsg.payload = {nome: {'$regex' : msg.payload.nome, '$options' : 'i'}}\nreturn msg;","outputs":1,"noerr":0,"x":244.01615142822266,"y":2337.033102989197,"wires":[[]]},{"id":"39cb3987.f3da46","type":"function","z":"6a72c641.6eadf8","name":"Desliga se ociosa","func":"var modbus = global.get(\"ModBus\");\nvar tempo = global.get(\"tempo\");\n\nif (((modbus[3]) & (1 << 3))){\n var atrazo = new Date().getTime();\n var diff = Math.round((parseInt((atrazo - tempo))/60000));\n \n node.status({fill:\"green\",shape:\"dot\",text:\"Diferença de tempo em min = \"+ diff});\n}else {\n var start = new Date().getTime();\n global.set(\"tempo\",start);\n node.status({fill:\"green\",shape:\"dot\",text:\"Motor Desligado \"});\n}\nreturn msg;","outputs":1,"noerr":0,"x":2579.952178955078,"y":1777.7338523864746,"wires":[["bd4db71f.389a8"]]},{"id":"913a8e6b.a2df88","type":"link out","z":"6a72c641.6eadf8","name":"Comando para ler todo ModBus","links":["22b63756.01f3d8"],"x":3295.745849609375,"y":1722.0194702148438,"wires":[]},{"id":"586c46a2.960888","type":"link out","z":"6a72c641.6eadf8","name":"Erro ModBus","links":["b8fa5d57.159e48"],"x":3295.4364166259766,"y":1757.6385555267334,"wires":[]},{"id":"f1f0510.edb8e3","type":"modbustcp-no-pooling-write","z":"6a72c641.6eadf8","name":"Desliga Motor Prensa M3.3","dataType":"HoldingRegister","adr":"3","server":"2a7dee3e.00f3a2","x":3128.7071380615234,"y":1738.8813915252686,"wires":[["913a8e6b.a2df88"],["586c46a2.960888"]]},{"id":"85b07d5c.52755","type":"debug","z":"6a72c641.6eadf8","name":"","active":true,"console":"false","complete":"false","x":4042.973663330078,"y":1223.3695373535156,"wires":[]},{"id":"754126d5.d3b6b8","type":"http in","z":"6a72c641.6eadf8","name":"/api/usuario/login","url":"/api/usuario/login","method":"post","swaggerDoc":"","x":118.66666793823242,"y":763.3333358764648,"wires":[["3d5382a6.7d53ae"]]},{"id":"4c66164b.fd0b68","type":"http response","z":"6a72c641.6eadf8","name":"","x":975.7908668518066,"y":762.7700004577637,"wires":[]},{"id":"15426b42.982955","type":"md5","z":"6a72c641.6eadf8","name":"","fieldToHash":"payload","fieldTypeToHash":"msg","hashField":"md5","hashFieldType":"msg","x":518.0950756072998,"y":1413.1905447542667,"wires":[["e8aaf6e7.eccff8"]]},{"id":"e8aaf6e7.eccff8","type":"debug","z":"6a72c641.6eadf8","name":"md5 resposta","active":true,"console":"false","complete":"true","x":675.2379627227783,"y":1413.6191164553165,"wires":[]},{"id":"3487fafe.427cbe","type":"mongodb in","z":"6a72c641.6eadf8","mongodb":"ea40591b.5f6778","name":"consulta","collection":"config","operation":"find","x":526,"y":250,"wires":[["618e46e5.22ab9"]]},{"id":"15bc3f55.a044f9","type":"function","z":"6a72c641.6eadf8","name":"Carrega parametros","func":"// No parametro projection 1 ou zero significa ler ou inguinorar resultado\n//msg.projection = { _id: 1, codigo: 1, nome: 1, path: 1}\nmsg.limit = 50;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":345.13826751708984,"y":249.8235740661621,"wires":[["3487fafe.427cbe"]]},{"id":"618e46e5.22ab9","type":"function","z":"6a72c641.6eadf8","name":"Dados OK","func":"var msg2 = {};\n\nif (msg.payload.length){\n    msg.payload=msg.payload[0];\n    msg2 = null;\n    node.status({fill:\"blue\",shape:\"dot\",text:msg.payload.codigo});\n    \n}else{ // banco vazio\n    msg2.payload = {};\n    msg.payload = {};\n    node.status({fill:\"red\",shape:\"dot\",text:'erro'});\n}\n\nreturn [msg,msg2];\n","outputs":"2","noerr":0,"x":683,"y":250,"wires":[["3806d066.f2091","dcffec7b.c644c"],["3746c744.2e8cb","1076170a.89ac79","6dfa8f54.2ccb8"]]},{"id":"2986d445.25c264","type":"mongodb out","z":"6a72c641.6eadf8","mongodb":"99b811f7.2a08b","name":"salvar config selecionada","collection":"config","payonly":true,"upsert":false,"multi":false,"operation":"store","x":925,"y":482,"wires":[]},{"id":"3746c744.2e8cb","type":"function","z":"6a72c641.6eadf8","name":"Erro --> Abre conexão","func":"let mssql = global.get('mssql');\n\nmsg.payload = \"conectando\";\n\nlet PRODUCAO = new mssql.Connection(\"mssql://financeiro:financeiro@192.168.0.1/FINANCEIRO\", function(err) {\n    if (err) {\n        global.set('conectadoServidor', 0);\n        PRODUCAO.on('error', function(err) {\n            node.error({payload: err || { erro: 9996, mensagem: 'Erro desconhecido na conexão'}});\n        });\n    } else {\n        global.set('conectadoServidor', 1);\n    }\n});\nnode.status({fill:\"yellow\",shape:\"dot\",text:'Conectando 192.168.0.1'});\n\nreturn msg;","outputs":1,"noerr":0,"x":913,"y":257,"wires":[["667ba04f.66114"]]},{"id":"97e06f9f.dd2068","type":"comment","z":"6a72c641.6eadf8","name":"CARREGA CONFIG LOCAL","info":"","x":152,"y":202,"wires":[]},{"id":"c1083e64.372738","type":"comment","z":"6a72c641.6eadf8","name":"SALVA CONFIG ESCOLHIDO \"localhost\"","info":"","x":188,"y":490,"wires":[]},{"id":"1fff9033.4c3e6","type":"comment","z":"6a72c641.6eadf8","name":"Verifica a senha e usuario","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":148.66666793823242,"y":723.3333358764648,"wires":[]},{"id":"4d87f2c.cdc900c","type":"function","z":"6a72c641.6eadf8","name":"Converte SQL to Mongo","func":"let msg2 ={ payload: msg.payload.usuarios}; //Passa para msg2 o JSON de usuarios\nlet d = new Date(),\n    lodash = global.get('lodash'), \n    i=0;\n\n// Converte iso date para hora local\n//let myDate = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\n//var x = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n//        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n//        d.getFullYear() + \" \" + myDate;\n\nconst l = (msg2.payload.length||0); //mede o tamanho do array fora do laço\nconst t = d.toISOString();\n\n\n//MAQUINA\nmsg.payload.maquina._id = msg.payload.maquina.id.toString(); //Converte id p/ _id para gravar no mongoDB\nmsg.payload.maquina.atualizacao = t; // Hora da gravação da configuração da maquina\nmsg.payload = lodash.omit(msg.payload.maquina, 'id'); //apaga o original\n\n\n//USUARIO\nfor (i=0; i<l; i++){\n    msg2.payload[i]._id = msg2.payload[i].id.toString();\n    msg2.payload[i].atualizacao = t; // Hora da gravação do log de usuarios\n    msg2.payload[i] = lodash.omit(msg2.payload[i], 'id');\n}\n\n//console.log(JSON.stringify(msg2.payload,null,2));      //Imprime no console o JSON do config que sera gravado\n\nreturn [msg, msg2];\n\n\n \n","outputs":"2","noerr":0,"x":616,"y":537,"wires":[["2986d445.25c264","ae335400.26cdf","7c52d8c0.ca0ba8"],["ee7cbbf0.7620e8","20c7ed66.d82f92"]]},{"id":"8d742d75.901fb","type":"comment","z":"6a72c641.6eadf8","name":"Parametros de todas as maquinas \"referencia\"","info":"Copia local de segurança de todos os parametros das maquinas\n\nPor default esta carregando essa lista do servidor\n\nÉ possível mudar para carregar local alterando o arquivo \n\n> ihm/src/api/maquina/config/index.js<","x":251.47614288330078,"y":1778.7618312835693,"wires":[]},{"id":"2c9a7386.75012c","type":"mongodb out","z":"6a72c641.6eadf8","mongodb":"99b811f7.2a08b","name":"APAGAR TODA A COLLECTION operadores","collection":"operadores","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":553.0721530914307,"y":1334.2808224260807,"wires":[]},{"id":"e882ddcb.5ec99","type":"mongodb out","z":"6a72c641.6eadf8","mongodb":"ed4a89c2.d3a5f8","name":"salvar tabela usuarios","collection":"operadores","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1078.9493083953857,"y":624.7240362167358,"wires":[]},{"id":"3d5382a6.7d53ae","type":"function","z":"6a72c641.6eadf8","name":"Carrega operador","func":"// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nlet parametro = msg.payload;\n\nmsg.payload = {usuario:{$in:[parametro.usuario]}, senha:{$in:[parametro.senha]}};\n//msg.projection = { usuario: 1, senha: 1};\nmsg.limit = 5;\nmsg.skip = 0;\n\nnode.status({fill:\"yellow\",shape:\"dot\",text: parametro.usuario + ' ' + parametro.senha});\nreturn msg;","outputs":1,"noerr":0,"x":368.1631889343262,"y":762.9691848754883,"wires":[["b15ea6ab.5a0f78"]]},{"id":"b15ea6ab.5a0f78","type":"mongodb in","z":"6a72c641.6eadf8","mongodb":"ea40591b.5f6778","name":"consulta operadores","collection":"operadores","operation":"find","x":623.5962448120117,"y":763.1455745697021,"wires":[["da8f0fca.ad3a3"]]},{"id":"7a4b9373.29bfec","type":"debug","z":"6a72c641.6eadf8","name":"operadores","active":true,"console":"false","complete":"payload","x":993.1581039428711,"y":719.0672740936279,"wires":[]},{"id":"6c14863.d001378","type":"inject","z":"6a72c641.6eadf8","name":"Usuario conhecido","topic":"","payload":"{ \"usuario\": \"helio\", \"senha\": \"helio2\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":127.85143280029297,"y":803.3449878692627,"wires":[["3d5382a6.7d53ae"]]},{"id":"20c7ed66.d82f92","type":"split","z":"6a72c641.6eadf8","name":"","splt":"\\n","x":866.0203094482422,"y":624.527509689331,"wires":[["e882ddcb.5ec99"]]},{"id":"da8f0fca.ad3a3","type":"function","z":"6a72c641.6eadf8","name":"senha","func":"msg.payload = msg.payload[0]?msg.payload[0]:{};\n\nreturn msg;","outputs":"1","noerr":0,"x":805.4489250183105,"y":763.0468978881836,"wires":[["7a4b9373.29bfec","4c66164b.fd0b68"]]},{"id":"396c8ffc.69389","type":"inject","z":"6a72c641.6eadf8","name":"Usuario desconhecido","topic":"","payload":"{ \"usuario\": \"helio2\", \"senha\": \"456\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":137.01421356201172,"y":844.5511474609375,"wires":[["3d5382a6.7d53ae"]]},{"id":"ee7cbbf0.7620e8","type":"debug","z":"6a72c641.6eadf8","name":"usuarios","active":true,"console":"false","complete":"payload","x":875.696044921875,"y":578.2443494796753,"wires":[]},{"id":"ac959ee3.e4c84","type":"mqtt in","z":"6a72c641.6eadf8","name":"","topic":"fabrica/ihm/erros/#","qos":"0","broker":"4ba52d67.d77c34","x":131.69599151611328,"y":909.9232940673828,"wires":[["73b627b1.e9cd58"]]},{"id":"73b627b1.e9cd58","type":"debug","z":"6a72c641.6eadf8","name":"","active":true,"console":"false","complete":"false","x":488.6353073120117,"y":910.0790643692017,"wires":[]},{"id":"4805dfc7.9729","type":"mqtt in","z":"6a72c641.6eadf8","name":"","topic":"fabrica/ihm/debug/#","qos":"0","broker":"4ba52d67.d77c34","x":127.15705108642578,"y":970.551173210144,"wires":[["4e0511dc.08e3c"]]},{"id":"4e0511dc.08e3c","type":"debug","z":"6a72c641.6eadf8","name":"","active":true,"console":"false","complete":"false","x":486.9535140991211,"y":970.7069253921509,"wires":[]},{"id":"fc81a567.47a888","type":"mqtt in","z":"6a72c641.6eadf8","name":"","topic":"fabrica/ihm/estado/#","qos":"0","broker":"4ba52d67.d77c34","x":133.01419830322266,"y":1024.551155090332,"wires":[["e7e61e0.800cae"]]},{"id":"e7e61e0.800cae","type":"debug","z":"6a72c641.6eadf8","name":"","active":true,"console":"false","complete":"false","x":489.9535140991211,"y":1024.7069253921509,"wires":[]},{"id":"ee8d924.c29587","type":"mqtt in","z":"6a72c641.6eadf8","name":"","topic":"fabrica/ihm/comandos/#","qos":"0","broker":"4ba52d67.d77c34","x":143.01419830322266,"y":1077.551155090332,"wires":[["60e03fc2.d9299"]]},{"id":"60e03fc2.d9299","type":"debug","z":"6a72c641.6eadf8","name":"","active":true,"console":"false","complete":"false","x":489.9535140991211,"y":1077.7069253921509,"wires":[]},{"id":"88d15f93.77cb6","type":"mqtt in","z":"6a72c641.6eadf8","name":"","topic":"fabrica/ihm/timer/#","qos":"0","broker":"4ba52d67.d77c34","x":133.01419830322266,"y":1140.096565246582,"wires":[["e7e15016.9156b"]]},{"id":"e7e15016.9156b","type":"debug","z":"6a72c641.6eadf8","name":"","active":true,"console":"false","complete":"false","x":489.9535140991211,"y":1140.2523355484009,"wires":[]},{"id":"3c6e7ee0.7dc7c2","type":"mqtt out","z":"6a72c641.6eadf8","name":"fabrica/ihm/debug/REFORCO","topic":"fabrica/ihm/debug/REFORCO","qos":"0","retain":"","broker":"4ba52d67.d77c34","x":979.6931610107422,"y":904.3096084594727,"wires":[]},{"id":"e9734a95.362558","type":"inject","z":"6a72c641.6eadf8","name":"","topic":"","payload":"{'O que você quer fazer ?'}","payloadType":"str","repeat":"","crontab":"","once":false,"x":744.6988220214844,"y":906.5255250930786,"wires":[["3c6e7ee0.7dc7c2"]]},{"id":"df19e797.c88238","type":"mqtt out","z":"6a72c641.6eadf8","name":"fabrica/ihm/debug/PERF-N3","topic":"fabrica/ihm/debug/PERF-N3","qos":"0","retain":"","broker":"4ba52d67.d77c34","x":980.0142211914062,"y":1020.0966186523438,"wires":[]},{"id":"f8980313.60c24","type":"inject","z":"6a72c641.6eadf8","name":"","topic":"","payload":"{'O que você quer fazer ?'}","payloadType":"str","repeat":"","crontab":"","once":false,"x":745.0198822021484,"y":1022.3125352859497,"wires":[["df19e797.c88238"]]},{"id":"99b811f7.2a08b","type":"mongodb","z":"6a72c641.6eadf8","hostname":"127.0.0.1","port":"27017","db":"db","name":""},{"id":"4ba52d67.d77c34","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2a7dee3e.00f3a2","type":"modbustcp-no-pooling-server","z":"","host":"127.0.0.1","port":"502","unit_id":"1"},{"id":"21901924.6efb16","type":"mongodb","z":"6a72c641.6eadf8","hostname":"127.0.0.1","port":"27017","db":"db","name":""},{"id":"8af09e5c.9ec2e","type":"ui_group","z":"","name":"Default","tab":"f59a38f6.978e18","disp":true,"width":"6"},{"id":"ea40591b.5f6778","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"db","name":""},{"id":"ed4a89c2.d3a5f8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"db","name":""},{"id":"f59a38f6.978e18","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
