docs/localhost/node-redReferencia.json
[
    {
        "id": "f059f28.8f7d61",
        "type": "mqtt in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "financeiro/cadastro/contas/incluir/#",
        "qos": "0",
        "broker": "204a6737.d2cb78",
        "x": 339.01422119140625,
        "y": 168.01479148864746,
        "wires": [
            [
                "f7c70ea4.350f9"
            ]
        ]
    },
    {
        "id": "f7c70ea4.350f9",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Recupera topico ID",
        "func": "return [\n    {\n        id: msg.id,\n        topic: 'financeiro/cadastro/contas/incluido/' + msg.topic.split('/')[msg.topic.split('/').length - 1], //msg.payload._id,\n        payload: msg.payload\n    }\n];",
        "outputs": "1",
        "noerr": 0,
        "x": 608.0142211914062,
        "y": 168.01479148864746,
        "wires": [
            [
                "a7672b90.395468",
                "d22519dc.435d48"
            ]
        ]
    },
    {
        "id": "14791d86.a21362",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Incluir + ID",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1228.26416015625,
        "y": 169.76479148864746,
        "wires": []
    },
    {
        "id": "d661a96d.a10d38",
        "type": "mqtt out",
        "z": "ca2080ab.3b2b8",
        "name": "contas/carregado/",
        "topic": "financeiro/cadastro/contas/carregado/",
        "qos": "0",
        "retain": "",
        "broker": "204a6737.d2cb78",
        "x": 1250.7404174804688,
        "y": 534.743185043335,
        "wires": []
    },
    {
        "id": "a7672b90.395468",
        "type": "mqtt out",
        "z": "ca2080ab.3b2b8",
        "name": "incluido/+id",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "204a6737.d2cb78",
        "x": 834.5434875488281,
        "y": 168.2939968109131,
        "wires": []
    },
    {
        "id": "cfe4e7f5.4e1fc8",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "mudar 1 socio apenas",
        "func": "msg.query = { _id: 'AplanadoraN3' }\nmsg.payload = {\n $set: {\n \"parametros.encoder.fator\": 2225\n }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3302.725143432617,
        "y": 2128.253800392151,
        "wires": [
            [
                "58d002dc.fcf06c"
            ]
        ]
    },
    {
        "id": "58d002dc.fcf06c",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "update only one",
        "collection": "socios",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 3562.725128173828,
        "y": 2128.6537942886353,
        "wires": []
    },
    {
        "id": "41514174.4b883",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "String vazia",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 3004.7579193115234,
        "y": 2348.0981578826904,
        "wires": [
            [
                "5d70f627.322f98"
            ]
        ]
    },
    {
        "id": "da19a124.057ab",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "consulta",
        "collection": "contas",
        "operation": "find",
        "x": 3523.7250900268555,
        "y": 2348.4536542892456,
        "wires": [
            [
                "ffe494d5.b131d8"
            ]
        ]
    },
    {
        "id": "ffe494d5.b131d8",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "resposta do MongoDB",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 3807.8361320495605,
        "y": 2348.5648097991943,
        "wires": []
    },
    {
        "id": "d775bea5.27837",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "APAGAR TODA A COLLECTION cadastroErros",
        "collection": "cadastroErros",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 3423.5026092529297,
        "y": 1751.4758253097534,
        "wires": []
    },
    {
        "id": "c1d790d3.55b5e",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "LIMPAR coleção cadastroErros",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 3066.2561569213867,
        "y": 1752.202880859375,
        "wires": [
            [
                "d775bea5.27837"
            ]
        ]
    },
    {
        "id": "a0126989.ad61b8",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "Editar socios",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 3005.558681488037,
        "y": 2127.920496940613,
        "wires": [
            [
                "cfe4e7f5.4e1fc8"
            ]
        ]
    },
    {
        "id": "292ab763.cd6ed8",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "indiceErros +1",
        "func": "msg.query = { _id: 'AplanadoraN3' }\nmsg.payload = {\n $inc: {\n \"os.produzido\": 1\n }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3335.9471893310547,
        "y": 2255.0314769744873,
        "wires": [
            [
                "778fce9c.b39a7"
            ]
        ]
    },
    {
        "id": "778fce9c.b39a7",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "salvar",
        "collection": "indiceErros",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 3533.9471740722656,
        "y": 2255.4314708709717,
        "wires": []
    },
    {
        "id": "ab1968bc.645078",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "$inc: incrementa",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 3012.7807273864746,
        "y": 2254.698173522949,
        "wires": [
            [
                "292ab763.cd6ed8",
                "3d381b1.45c2ce4"
            ]
        ]
    },
    {
        "id": "5d70f627.322f98",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Paginação ",
        "func": "msg.limit = 5;\nmsg.skip = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3322.169443130493,
        "y": 2348.5129375457764,
        "wires": [
            [
                "da19a124.057ab"
            ]
        ]
    },
    {
        "id": "402330e3.3b9dd",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Paginação e consulta MongoDB",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 3040.947277069092,
        "y": 2312.3647770881653,
        "wires": []
    },
    {
        "id": "5a015115.395ef",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "Criar estrutura cadastroErros",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 3056.3915405273438,
        "y": 1994.7815427780151,
        "wires": [
            [
                "da2e580f.c69a68"
            ]
        ]
    },
    {
        "id": "2bea505f.8af73",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "salvar",
        "collection": "cadastroErros",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 3548.74942779541,
        "y": 1994.832374572754,
        "wires": []
    },
    {
        "id": "da2e580f.c69a68",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "collection inicial cadastroErros",
        "func": "msg.payload = {\n\t\"_id\": 1,\n\t\"log_mesagens\": {\n\t}\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3331.758415222168,
        "y": 1994.9371614456177,
        "wires": [
            [
                "2bea505f.8af73"
            ]
        ]
    },
    {
        "id": "3c3b7d53.fbb7f2",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "consulta",
        "collection": "contas",
        "operation": "find",
        "x": 3425.6137981414795,
        "y": 2428.9481811523438,
        "wires": [
            [
                "72ebb0a9.ad536"
            ]
        ]
    },
    {
        "id": "2486cb7c.df9f94",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "lê apenas uma conta",
        "func": "// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = { \"_id\": \"AplanadoraN3\" }\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { \"parametros.encoder.fator\": 1 }\n\n// Ler 1 valor\nmsg.limit = 1;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3212.724868774414,
        "y": 2428.7852115631104,
        "wires": [
            [
                "3c3b7d53.fbb7f2"
            ]
        ]
    },
    {
        "id": "e209200d.bd094",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 2992.738779067993,
        "y": 2428.4481620788574,
        "wires": [
            [
                "2486cb7c.df9f94"
            ]
        ]
    },
    {
        "id": "72ebb0a9.ad536",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "parse(contas)",
        "func": "msg.payload=msg.payload[0].parametros.encoder.fator;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3598.7806148529053,
        "y": 2429.3648805618286,
        "wires": [
            [
                "12e018fd.ce8367"
            ]
        ]
    },
    {
        "id": "12e018fd.ce8367",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "ler conta x",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 3815.11403465271,
        "y": 2429.364761352539,
        "wires": []
    },
    {
        "id": "ef9e6e96.12f8c",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Lê apenas um valor",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 2997.9468307495117,
        "y": 2393.364821434021,
        "wires": []
    },
    {
        "id": "3d381b1.45c2ce4",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 3325.2805938720703,
        "y": 2290.475764274597,
        "wires": [
            [
                "5d70f627.322f98"
            ]
        ]
    },
    {
        "id": "54f12989.252308",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Contador Produzidos ++ ",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 3017.9467697143555,
        "y": 2216.364733695984,
        "wires": []
    },
    {
        "id": "b1300d3d.9924d",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Edita apenas 1 registro do banco com $set",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 3070.7247009277344,
        "y": 2089.698130607605,
        "wires": []
    },
    {
        "id": "32fd038a.c7027c",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "2- Cria estrutura inicial das coleções",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 3051.2802658081055,
        "y": 1850.0314674377441,
        "wires": []
    },
    {
        "id": "3aefef51.23e58",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "1- Apagar Cuidado",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 3002.835693359375,
        "y": 1611.2536220550537,
        "wires": []
    },
    {
        "id": "5c28349a.2b0b6c",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "APAGAR TODA A COLLECTION contas",
        "collection": "contas",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 3402.9468536376953,
        "y": 1703.2535963058472,
        "wires": []
    },
    {
        "id": "38a72231.45776e",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "LIMPAR coleção contas",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 3036.5890045166016,
        "y": 1703.202799797058,
        "wires": [
            [
                "5c28349a.2b0b6c"
            ]
        ]
    },
    {
        "id": "64141111.84979",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "Criar estrutura indice erros",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 3045.9135360717773,
        "y": 2044.2982454299927,
        "wires": [
            [
                "9793316a.7f64d"
            ]
        ]
    },
    {
        "id": "51fb223f.09252c",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "salvar",
        "collection": "indiceErros",
        "payonly": true,
        "upsert": false,
        "multi": true,
        "operation": "store",
        "x": 3548.826915740967,
        "y": 2043.7936143875122,
        "wires": []
    },
    {
        "id": "9793316a.7f64d",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "collection inicial indice erros",
        "func": "msg.payload = {\n\t\"_id\": \"indice\",\n\t\"indice_mesagens\": 0\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3321.2804107666016,
        "y": 2044.1204767227173,
        "wires": [
            [
                "51fb223f.09252c"
            ]
        ]
    },
    {
        "id": "9d0609f8.7fd6e8",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "LIMPAR coleção indice erros",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 3056.3543243408203,
        "y": 1800.1427145004272,
        "wires": [
            [
                "222d212.51503de"
            ]
        ]
    },
    {
        "id": "222d212.51503de",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "APAGAR TODA A COLLECTION indice erros",
        "collection": "indiceErros",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 3415.3543243408203,
        "y": 1799.8093404769897,
        "wires": []
    },
    {
        "id": "d6f38113.cd98b",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Consulta MongoDB por string",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 3442.4302253723145,
        "y": 1587.0814061164856,
        "wires": []
    },
    {
        "id": "ac824da.81ea6b",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Exemplo de consulta",
        "func": "msg.limit = parseInt(msg.req.query.size) || 10;\nmsg.skip = ((parseInt(msg.req.query.page) || 1) - 1) * (parseInt(msg.req.query.page) || 1);\nmsg.payload = {nome: {'$regex' : msg.payload.nome, '$options' : 'i'}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3420.2080421447754,
        "y": 1549.3037571907043,
        "wires": [
            []
        ]
    },
    {
        "id": "9e1ce4ee.292c28",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "APAGAR TODA A COLLECTION socios",
        "collection": "socios",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 3402.0522842407227,
        "y": 1654.805326461792,
        "wires": []
    },
    {
        "id": "11bd22f5.d7103d",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "LIMPAR coleção socios",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 3035.694435119629,
        "y": 1654.754529953003,
        "wires": [
            [
                "9e1ce4ee.292c28"
            ]
        ]
    },
    {
        "id": "d1c98088.b07d3",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "Criar estrutura socios",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 3035.48087310791,
        "y": 1897.448148727417,
        "wires": [
            [
                "859f9e4.ada0f6"
            ]
        ]
    },
    {
        "id": "4baf6cf3.628614",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "salvar",
        "collection": "socios",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 3546.8384704589844,
        "y": 1896.9433679580688,
        "wires": []
    },
    {
        "id": "859f9e4.ada0f6",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "collection inicial socios",
        "func": "msg.payload = \n{\n\t\"_id\": \"cdd2f034-3ec9-4d8b-a8c4-b67af29ccc39\",\n\t\"selecionada\": false,\n\t\"banco\": \"NOSSA CAIXA\",\n\t\"conta\": \"00100020003-6\",\n\t\"agencia\": 1653,\n\t\"descricao\": \"Primeiro conta\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3301.847457885742,
        "y": 1897.0481548309326,
        "wires": [
            [
                "4baf6cf3.628614"
            ]
        ]
    },
    {
        "id": "4c31f50c.a85eec",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "mudar 1 conta apenas",
        "func": "msg.query = { _id: 'AplanadoraN3' }\nmsg.payload = {\n $set: {\n \"parametros.encoder.fator\": 2225\n }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3303.1951065063477,
        "y": 2175.590970993042,
        "wires": [
            [
                "b9f5622c.e1ec8"
            ]
        ]
    },
    {
        "id": "b9f5622c.e1ec8",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "update only one",
        "collection": "contas",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 3563.1950912475586,
        "y": 2175.9909648895264,
        "wires": []
    },
    {
        "id": "2e694885.272808",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "Editar Conta",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 3006.0286445617676,
        "y": 2175.257667541504,
        "wires": [
            [
                "4c31f50c.a85eec"
            ]
        ]
    },
    {
        "id": "d5e7edc5.ef8bc",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "consulta",
        "collection": "socios",
        "operation": "find",
        "x": 3425.48087310791,
        "y": 2480.2339153289795,
        "wires": [
            [
                "c09d31be.3adb3"
            ]
        ]
    },
    {
        "id": "ecbd6899.0a52a8",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "lê apenas um socio",
        "func": "// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = { \"_id\": \"AplanadoraN3\" }\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { \"parametros.encoder.fator\": 1 }\n\n// Ler 1 valor\nmsg.limit = 1;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3202.5919437408447,
        "y": 2480.070945739746,
        "wires": [
            [
                "d5e7edc5.ef8bc"
            ]
        ]
    },
    {
        "id": "50b98791.d68648",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 2992.605854034424,
        "y": 2479.733896255493,
        "wires": [
            [
                "ecbd6899.0a52a8"
            ]
        ]
    },
    {
        "id": "c09d31be.3adb3",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "parse(socios)",
        "func": "msg.payload=msg.payload[0].parametros.encoder.fator;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3598.647689819336,
        "y": 2480.6506147384644,
        "wires": [
            [
                "798bfd3.1756f04"
            ]
        ]
    },
    {
        "id": "798bfd3.1756f04",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "ler socios x",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 3814.9811096191406,
        "y": 2480.650495529175,
        "wires": []
    },
    {
        "id": "fda7a866.83a998",
        "type": "mqtt in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "financeiro/cadastro/contas/carregar/",
        "qos": "0",
        "broker": "204a6737.d2cb78",
        "x": 334.54187774658203,
        "y": 533.0536727905273,
        "wires": [
            [
                "bcea2819.b97fa8",
                "2cd377c7.149278"
            ]
        ]
    },
    {
        "id": "e6608e20.e5de1",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "salvar conta",
        "collection": "contas",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1229.2194385528564,
        "y": 227.75369262695312,
        "wires": []
    },
    {
        "id": "d22519dc.435d48",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "carrega 20 contas",
        "func": "msg.limit = parseInt(msg.payload.per_page) || 20;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 852.6640319824219,
        "y": 226.81480979919434,
        "wires": [
            [
                "a64f9187.79941"
            ]
        ]
    },
    {
        "id": "a64f9187.79941",
        "type": "json",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "x": 1046.0973815917969,
        "y": 227.2981472015381,
        "wires": [
            [
                "e6608e20.e5de1",
                "c5b84e8c.63d84",
                "14791d86.a21362"
            ]
        ]
    },
    {
        "id": "8665c20.f084e4",
        "type": "mqtt in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "financeiro/cadastro/contas/alterar/#",
        "qos": "0",
        "broker": "204a6737.d2cb78",
        "x": 335.88079833984375,
        "y": 291.77041816711426,
        "wires": [
            [
                "6656f800.e068c8",
                "7a4fb8b8.bf7cf8"
            ]
        ]
    },
    {
        "id": "6656f800.e068c8",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Recupera topico ID",
        "func": "return [\n    {\n        id: msg.id,\n        topic: 'financeiro/cadastro/contas/alterado/' + msg.topic.split('/')[msg.topic.split('/').length - 1], //msg.payload._id,\n        payload: msg.payload\n    }\n];",
        "outputs": "1",
        "noerr": 0,
        "x": 609.6585540771484,
        "y": 291.7704257965088,
        "wires": [
            [
                "51a65811.d585a8",
                "d22519dc.435d48",
                "118bf35e.93c8bd"
            ]
        ]
    },
    {
        "id": "51a65811.d585a8",
        "type": "mqtt out",
        "z": "ca2080ab.3b2b8",
        "name": "alterado/+id",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "204a6737.d2cb78",
        "x": 832.7434272766113,
        "y": 291.60519790649414,
        "wires": []
    },
    {
        "id": "1cfa6e5e.200052",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "Carrega lista",
        "collection": "contas",
        "operation": "find",
        "x": 832.0362820095488,
        "y": 534.0926098293728,
        "wires": [
            [
                "d661a96d.a10d38",
                "2089cc4e.b73284"
            ]
        ]
    },
    {
        "id": "bcea2819.b97fa8",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "carrega 20 contas",
        "func": "msg.limit = parseInt(msg.payload.per_page) || 20;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 614.0177688598633,
        "y": 534.2222709655762,
        "wires": [
            [
                "1cfa6e5e.200052",
                "5a4c30ec.7a77"
            ]
        ]
    },
    {
        "id": "b8d4d19.d221b3",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Adiciona um registro",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 347.2216033935547,
        "y": 127.22224044799805,
        "wires": []
    },
    {
        "id": "91ca62b3.64aa8",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Atualiza lista de contas cadastro",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 294.30503845214844,
        "y": 494.6111869812012,
        "wires": []
    },
    {
        "id": "c5b84e8c.63d84",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Delay 200ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 200);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1228.7957763671875,
        "y": 285.00002098083496,
        "wires": [
            [
                "285b81f4.7e239e"
            ]
        ]
    },
    {
        "id": "285b81f4.7e239e",
        "type": "link out",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "links": [
            "a2176578.70d7a8",
            "b3391cd3.3b8e3"
        ],
        "x": 1351.814157485962,
        "y": 284.64818954467773,
        "wires": []
    },
    {
        "id": "a2176578.70d7a8",
        "type": "link in",
        "z": "ca2080ab.3b2b8",
        "name": "Atualiza Registro",
        "links": [
            "285b81f4.7e239e"
        ],
        "x": 454.25843715667725,
        "y": 493.5740852355957,
        "wires": [
            [
                "bcea2819.b97fa8"
            ]
        ]
    },
    {
        "id": "6876ec9c.e34464",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Modifica um registro",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 346.77709197998047,
        "y": 251.66676139831543,
        "wires": []
    },
    {
        "id": "4ceb68d2.5d1418",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "Carregar manual",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 394.4598846435547,
        "y": 589.044017791748,
        "wires": [
            [
                "bcea2819.b97fa8"
            ]
        ]
    },
    {
        "id": "2089cc4e.b73284",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Resposta",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1221.7933959960938,
        "y": 586.3288173675537,
        "wires": []
    },
    {
        "id": "5a4c30ec.7a77",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "comando para o mongo",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 874.1474609375,
        "y": 588.0440273284912,
        "wires": []
    },
    {
        "id": "1a9f49c0.df3db6",
        "type": "mqtt in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "financeiro/cadastro/contas/excluir/#",
        "qos": "0",
        "broker": "204a6737.d2cb78",
        "x": 335.6660461425781,
        "y": 379.83336448669434,
        "wires": [
            [
                "fde032c8.33fcb",
                "bc6a3f30.a43b4"
            ]
        ]
    },
    {
        "id": "9de4c3c5.096a4",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "deletar conta",
        "collection": "contas",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 1228.2214965820312,
        "y": 380.05556297302246,
        "wires": []
    },
    {
        "id": "6e76afb5.3e22",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Indica o ID",
        "func": "msg.payload = {\n\"_id\":msg.payload._id\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1019.5549926757812,
        "y": 380.0555934906006,
        "wires": [
            [
                "1a0dcf6b.6bdb71",
                "9de4c3c5.096a4",
                "c5b84e8c.63d84"
            ]
        ]
    },
    {
        "id": "1a0dcf6b.6bdb71",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1228.814208984375,
        "y": 443.2963161468506,
        "wires": []
    },
    {
        "id": "b505121a.f22b3",
        "type": "mqtt out",
        "z": "ca2080ab.3b2b8",
        "name": "excluido/+id",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "204a6737.d2cb78",
        "x": 830.8328247070312,
        "y": 420.4445095062256,
        "wires": []
    },
    {
        "id": "fde032c8.33fcb",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Recupera topico ID",
        "func": "return [\n    {\n        id: msg.id,\n        topic: 'financeiro/cadastro/contas/excluido/' + msg.topic.split('/')[msg.topic.split('/').length - 1], //msg.payload._id,\n        payload: msg.payload\n    }\n];",
        "outputs": "1",
        "noerr": 0,
        "x": 610.0549621582031,
        "y": 380.44447898864746,
        "wires": [
            [
                "b505121a.f22b3",
                "b4e33926.ae67a8",
                "d4f197b9.9c3788"
            ]
        ]
    },
    {
        "id": "b4e33926.ae67a8",
        "type": "json",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "x": 810.5475463867188,
        "y": 380.7648220062256,
        "wires": [
            [
                "6e76afb5.3e22"
            ]
        ]
    },
    {
        "id": "d4f197b9.9c3788",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "excluido",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 819.0974731445312,
        "y": 475.2648220062256,
        "wires": []
    },
    {
        "id": "bc6a3f30.a43b4",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "excluir",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 568.7641906738281,
        "y": 421.7648220062256,
        "wires": []
    },
    {
        "id": "7a4fb8b8.bf7cf8",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "alterar",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 574.7641906738281,
        "y": 333.7648220062256,
        "wires": []
    },
    {
        "id": "118bf35e.93c8bd",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "alterado",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 821.7642211914062,
        "y": 339.7648220062256,
        "wires": []
    },
    {
        "id": "5f2132a4.2a0efc",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Exclui um registro",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 344.880859375,
        "y": 342.88149070739746,
        "wires": []
    },
    {
        "id": "9ffb00d0.ff971",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Cadastro de contas",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 804.5549774169922,
        "y": 95.00000762939453,
        "wires": []
    },
    {
        "id": "3ad22e02.375422",
        "type": "mqtt in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "financeiro/cadastro/socios/incluir/#",
        "qos": "0",
        "broker": "204a6737.d2cb78",
        "x": 1736.8419799804688,
        "y": 184.84259605407715,
        "wires": [
            [
                "73ca7d35.c9a0c4"
            ]
        ]
    },
    {
        "id": "73ca7d35.c9a0c4",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Recupera topico ID",
        "func": "return [\n    {\n        id: msg.id,\n        topic: 'financeiro/cadastro/socios/incluido/' + msg.topic.split('/')[msg.topic.split('/').length - 1], //msg.payload._id,\n        payload: msg.payload\n    }\n];",
        "outputs": "1",
        "noerr": 0,
        "x": 2005.8419799804688,
        "y": 184.84259605407715,
        "wires": [
            [
                "a7e2502a.a0d7f",
                "7b0fee68.dc578"
            ]
        ]
    },
    {
        "id": "d2454aa5.fcb8f8",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Incluir + ID",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 2626.0919189453125,
        "y": 186.59259605407715,
        "wires": []
    },
    {
        "id": "872bf246.17037",
        "type": "mqtt out",
        "z": "ca2080ab.3b2b8",
        "name": "socios/carregado/",
        "topic": "financeiro/cadastro/socios/carregado/",
        "qos": "0",
        "retain": "",
        "broker": "204a6737.d2cb78",
        "x": 2604.5681915283203,
        "y": 550.570972442627,
        "wires": []
    },
    {
        "id": "a7e2502a.a0d7f",
        "type": "mqtt out",
        "z": "ca2080ab.3b2b8",
        "name": "incluido/+id",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "204a6737.d2cb78",
        "x": 2232.3712463378906,
        "y": 185.12180137634277,
        "wires": []
    },
    {
        "id": "78d132f3.4918ac",
        "type": "mqtt in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "financeiro/cadastro/socios/carregar/",
        "qos": "0",
        "broker": "204a6737.d2cb78",
        "x": 1732.3696365356445,
        "y": 549.881477355957,
        "wires": [
            [
                "983f6790.4300d8"
            ]
        ]
    },
    {
        "id": "bddd4650.d18d88",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "salvar socios",
        "collection": "socios",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 2627.047197341919,
        "y": 244.5814971923828,
        "wires": []
    },
    {
        "id": "7b0fee68.dc578",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "carrega 20 contas",
        "func": "msg.limit = parseInt(msg.payload.per_page) || 20;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2250.4917907714844,
        "y": 243.64261436462402,
        "wires": [
            [
                "83f67891.aeb608"
            ]
        ]
    },
    {
        "id": "83f67891.aeb608",
        "type": "json",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "x": 2443.9251403808594,
        "y": 244.12595176696777,
        "wires": [
            [
                "bddd4650.d18d88",
                "3bd3f3d.27ed30c",
                "d2454aa5.fcb8f8"
            ]
        ]
    },
    {
        "id": "af740ccb.8ca24",
        "type": "mqtt in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "financeiro/cadastro/socios/alterar/#",
        "qos": "0",
        "broker": "204a6737.d2cb78",
        "x": 1733.7085571289062,
        "y": 308.59822273254395,
        "wires": [
            [
                "c98d8346.e3825",
                "442c342a.fc103c"
            ]
        ]
    },
    {
        "id": "c98d8346.e3825",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Recupera topico ID",
        "func": "return [\n    {\n        id: msg.id,\n        topic: 'financeiro/cadastro/socios/alterado/' + msg.topic.split('/')[msg.topic.split('/').length - 1], //msg.payload._id,\n        payload: msg.payload\n    }\n];",
        "outputs": "1",
        "noerr": 0,
        "x": 2007.486312866211,
        "y": 308.5982303619385,
        "wires": [
            [
                "44983ae8.f485a4",
                "7b0fee68.dc578",
                "8a997170.b677e"
            ]
        ]
    },
    {
        "id": "44983ae8.f485a4",
        "type": "mqtt out",
        "z": "ca2080ab.3b2b8",
        "name": "alterado/+id",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "204a6737.d2cb78",
        "x": 2230.571186065674,
        "y": 308.4330024719238,
        "wires": []
    },
    {
        "id": "b6e32e71.3a7ca",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "Carrega lista",
        "collection": "socios",
        "operation": "find",
        "x": 2229.8640407986113,
        "y": 550.9204143948025,
        "wires": [
            [
                "872bf246.17037",
                "a6da90f1.c115f"
            ]
        ]
    },
    {
        "id": "983f6790.4300d8",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "carrega 20 contas",
        "func": "msg.limit = parseInt(msg.payload.per_page) || 20;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nmsg.payload = \"carregar\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2011.8455276489258,
        "y": 551.0500755310059,
        "wires": [
            [
                "b6e32e71.3a7ca",
                "fe31976f.f789d8"
            ]
        ]
    },
    {
        "id": "cbb7e9ac.b189d8",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Adiciona um registro",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 1745.0493621826172,
        "y": 144.05004501342773,
        "wires": []
    },
    {
        "id": "2e663c16.3dda84",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Atualiza pagina",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 1737.3827819824219,
        "y": 508.939001083374,
        "wires": []
    },
    {
        "id": "3bd3f3d.27ed30c",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Delay 100ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 100);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2626.62353515625,
        "y": 301.82782554626465,
        "wires": [
            [
                "62bc7291.b65f3c"
            ]
        ]
    },
    {
        "id": "62bc7291.b65f3c",
        "type": "link out",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "links": [
            "5d54ed14.d637a4"
        ],
        "x": 2750.6419162750244,
        "y": 301.4759941101074,
        "wires": []
    },
    {
        "id": "5d54ed14.d637a4",
        "type": "link in",
        "z": "ca2080ab.3b2b8",
        "name": "Atualiza Registro",
        "links": [
            "62bc7291.b65f3c"
        ],
        "x": 1852.0861959457397,
        "y": 510.4018898010254,
        "wires": [
            [
                "983f6790.4300d8"
            ]
        ]
    },
    {
        "id": "be9f1a7f.093d08",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Modifica um registro",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 1744.604850769043,
        "y": 268.4945659637451,
        "wires": []
    },
    {
        "id": "e10844fe.9d2928",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "Carregar manual",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1789.2876586914062,
        "y": 600.8718318939209,
        "wires": [
            [
                "983f6790.4300d8"
            ]
        ]
    },
    {
        "id": "a6da90f1.c115f",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Resposta",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 2481.6211547851562,
        "y": 604.1565914154053,
        "wires": []
    },
    {
        "id": "fe31976f.f789d8",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "comando para o mongo",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 2271.9752197265625,
        "y": 604.8718318939209,
        "wires": []
    },
    {
        "id": "1f257c67.2ad1a4",
        "type": "mqtt in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "financeiro/cadastro/socios/excluir/#",
        "qos": "0",
        "broker": "204a6737.d2cb78",
        "x": 1733.4938049316406,
        "y": 396.661169052124,
        "wires": [
            [
                "93b2009a.adaff",
                "72e90f5c.0ac1e"
            ]
        ]
    },
    {
        "id": "afd6c0db.f650c",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "deletar socios",
        "collection": "socios",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 2636.0492553710938,
        "y": 396.88336753845215,
        "wires": []
    },
    {
        "id": "8c0f5804.c866c8",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Indica o ID",
        "func": "msg.payload = {\n\"_id\":msg.payload._id\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2416.3827514648438,
        "y": 396.8833980560303,
        "wires": [
            [
                "8cddaee9.f7f9d",
                "afd6c0db.f650c",
                "3bd3f3d.27ed30c"
            ]
        ]
    },
    {
        "id": "8cddaee9.f7f9d",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 2626.6419677734375,
        "y": 460.1241207122803,
        "wires": []
    },
    {
        "id": "d7676099.b1d97",
        "type": "mqtt out",
        "z": "ca2080ab.3b2b8",
        "name": "excluido/+id",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "204a6737.d2cb78",
        "x": 2228.6605834960938,
        "y": 437.2723140716553,
        "wires": []
    },
    {
        "id": "93b2009a.adaff",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Recupera topico ID",
        "func": "return [\n    {\n        id: msg.id,\n        topic: 'financeiro/cadastro/socios/excluido/' + msg.topic.split('/')[msg.topic.split('/').length - 1], //msg.payload._id,\n        payload: msg.payload\n    }\n];",
        "outputs": "1",
        "noerr": 0,
        "x": 2007.8827209472656,
        "y": 397.27228355407715,
        "wires": [
            [
                "d7676099.b1d97",
                "ba9123fc.99697",
                "3035943.a363b6c"
            ]
        ]
    },
    {
        "id": "ba9123fc.99697",
        "type": "json",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "x": 2208.3753051757812,
        "y": 397.5926265716553,
        "wires": [
            [
                "8c0f5804.c866c8"
            ]
        ]
    },
    {
        "id": "3035943.a363b6c",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "excluido",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 2216.9252319335938,
        "y": 492.0926265716553,
        "wires": []
    },
    {
        "id": "72e90f5c.0ac1e",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "excluir",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1966.5919494628906,
        "y": 438.5926265716553,
        "wires": []
    },
    {
        "id": "442c342a.fc103c",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "alterar",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1972.5919494628906,
        "y": 350.5926265716553,
        "wires": []
    },
    {
        "id": "8a997170.b677e",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "alterado",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 2219.5919799804688,
        "y": 356.5926265716553,
        "wires": []
    },
    {
        "id": "2b2f4e58.791d12",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Exclui um registro",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 1742.7086181640625,
        "y": 359.70929527282715,
        "wires": []
    },
    {
        "id": "c0bd1445.7753e8",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Cadastro de Socios",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 2202.3827362060547,
        "y": 113.82781219482422,
        "wires": []
    },
    {
        "id": "e2c8cc75.701c4",
        "type": "mqtt out",
        "z": "ca2080ab.3b2b8",
        "name": "contas/carregado/",
        "topic": "financeiro/lancamento/contas/carregado/",
        "qos": "0",
        "retain": "",
        "broker": "204a6737.d2cb78",
        "x": 1256.5961795383027,
        "y": 774.3564582400852,
        "wires": []
    },
    {
        "id": "6bc7a075.370dc",
        "type": "mqtt in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "financeiro/lancamento/contas/carregar/",
        "qos": "0",
        "broker": "204a6737.d2cb78",
        "x": 321.64763980441603,
        "y": 771.666944079929,
        "wires": [
            [
                "66e2bde5.4270e4",
                "95936df4.440bf"
            ]
        ]
    },
    {
        "id": "98766e20.fbd83",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "Carrega lista",
        "collection": "contas",
        "operation": "find",
        "x": 839.8920440673828,
        "y": 771.705883026123,
        "wires": [
            [
                "e2c8cc75.701c4",
                "6b80dd78.845e94"
            ]
        ]
    },
    {
        "id": "b3391cd3.3b8e3",
        "type": "link in",
        "z": "ca2080ab.3b2b8",
        "name": "Atualiza Registro",
        "links": [
            "285b81f4.7e239e"
        ],
        "x": 454.11419921451125,
        "y": 730.187358432346,
        "wires": [
            [
                "66e2bde5.4270e4"
            ]
        ]
    },
    {
        "id": "dd41537e.2bd5b",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "Carregar manual",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 387.56566196017775,
        "y": 822.6572986178928,
        "wires": [
            [
                "66e2bde5.4270e4"
            ]
        ]
    },
    {
        "id": "6b80dd78.845e94",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Resposta contas",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1258.6491580539277,
        "y": 825.942090564304,
        "wires": []
    },
    {
        "id": "f84a1498.36c7d8",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "comando para o mongo",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 881.003222995334,
        "y": 825.6573005252415,
        "wires": []
    },
    {
        "id": "6d0b6dbe.988764",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Lancamentos de inclusao",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 815.5435333251953,
        "y": 691.7939567565918,
        "wires": []
    },
    {
        "id": "66e2bde5.4270e4",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "lê banco e conta",
        "func": "// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = \"Carregar contas\"\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { \"banco\": 1, \"conta\": 1 }\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 597.7934833102754,
        "y": 771.981397204929,
        "wires": [
            [
                "f84a1498.36c7d8",
                "98766e20.fbd83"
            ]
        ]
    },
    {
        "id": "669044e9.99179c",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Maior que $gt",
        "func": "// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = {idade:{$gt:20}}\n\n//msg.operation  = 'find';\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\n//msg.projection = \"idade:{$gt:10}\"\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3201.76424407959,
        "y": 2572.4482793807983,
        "wires": [
            [
                "76c9f32c.6f6cbc"
            ]
        ]
    },
    {
        "id": "3ec32f7f.77edc",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "testar query",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 2983.5364151000977,
        "y": 2572.1240606307983,
        "wires": [
            [
                "669044e9.99179c"
            ]
        ]
    },
    {
        "id": "2f312f47.a2bd1",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Resposta test",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 3816.619956970215,
        "y": 2573.409094810486,
        "wires": []
    },
    {
        "id": "76c9f32c.6f6cbc",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "",
        "collection": "test",
        "operation": "find",
        "x": 3575.097496032715,
        "y": 2572.965003013611,
        "wires": [
            [
                "2f312f47.a2bd1"
            ]
        ]
    },
    {
        "id": "acc5a948.c36a98",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Diferente de $ne",
        "func": "// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = {banco:{$ne:\"ALTAMIRA\"}}\n\n//msg.operation  = 'find';\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\n//msg.projection = \"idade:{$gt:10}\"\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3201.875389099121,
        "y": 2636.8982305526733,
        "wires": [
            [
                "3a9c33d5.c742cc"
            ]
        ]
    },
    {
        "id": "491dda2.5ff5124",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "testar query",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 2983.647560119629,
        "y": 2636.5740118026733,
        "wires": [
            [
                "acc5a948.c36a98"
            ]
        ]
    },
    {
        "id": "c3196326.df155",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Buscar o que estão numa lista $in",
        "func": "// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = {agencia:{$in:[\"234566\",\"555555\"]}}\n\n//msg.operation  = 'find';\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\n//msg.projection = \"idade:{$gt:10}\"\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3260.4308700561523,
        "y": 2692.8982305526733,
        "wires": [
            [
                "3a9c33d5.c742cc"
            ]
        ]
    },
    {
        "id": "9bb2e63.bd49618",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "testar query",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 2982.203025817871,
        "y": 2692.5740118026733,
        "wires": [
            [
                "c3196326.df155"
            ]
        ]
    },
    {
        "id": "3a9c33d5.c742cc",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "",
        "collection": "contas",
        "operation": "count",
        "x": 3586.208641052246,
        "y": 2636.4150762557983,
        "wires": [
            [
                "a9597a15.de7f98"
            ]
        ]
    },
    {
        "id": "a9597a15.de7f98",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Resposta contas",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 3826.73104095459,
        "y": 2635.859045982361,
        "wires": []
    },
    {
        "id": "4ca421c5.93903",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Buscar não esta numa lista $nin",
        "func": "// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = {agencia:{$nin:[\"234566\",\"555555\"]}}\n\n//msg.operation  = 'find';\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\n//msg.projection = \"idade:{$gt:10}\"\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3249.875389099121,
        "y": 2742.8982305526733,
        "wires": [
            [
                "3a9c33d5.c742cc"
            ]
        ]
    },
    {
        "id": "b281a1e8.2cf28",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "testar query",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 2982.647529602051,
        "y": 2741.573950767517,
        "wires": [
            [
                "4ca421c5.93903"
            ]
        ]
    },
    {
        "id": "a6be0280.3e22d",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "update valor",
        "func": "// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload =  {$set: {\n        \"nome\": \"maria 1\",\n        \"idade\": 123466\n    }}\n\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3189.4308700561523,
        "y": 2802.898169517517,
        "wires": [
            [
                "2d5101c3.78984e",
                "18b66b0d.142835"
            ]
        ]
    },
    {
        "id": "5bcb3d48.a3d3d4",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "testar query",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 2986.4308853149414,
        "y": 2801.898169517517,
        "wires": [
            [
                "a6be0280.3e22d"
            ]
        ]
    },
    {
        "id": "ac53a014.e2c6",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Resposta update test",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 4021.4308700561523,
        "y": 2801.8982305526733,
        "wires": []
    },
    {
        "id": "2d5101c3.78984e",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "update idade",
        "collection": "test",
        "payonly": false,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 3539.097496032715,
        "y": 2803.031470298767,
        "wires": []
    },
    {
        "id": "18b66b0d.142835",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 3538.4308700561523,
        "y": 2859.548071861267,
        "wires": [
            [
                "536a214e.b47f6"
            ]
        ]
    },
    {
        "id": "536a214e.b47f6",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "lê banco e conta",
        "func": "msg.limit = parseInt(msg.payload.per_page) || 20;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nmsg.payload = \"Carregar test\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3730.4308700561523,
        "y": 2859.598120689392,
        "wires": [
            [
                "cf951b11.161458"
            ]
        ]
    },
    {
        "id": "cf951b11.161458",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "test.find()",
        "collection": "test",
        "operation": "find",
        "x": 3750.097526550293,
        "y": 2801.731421470642,
        "wires": [
            [
                "ac53a014.e2c6"
            ]
        ]
    },
    {
        "id": "1a231cbe.ef0763",
        "type": "mqtt in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "financeiro/lancamento/contas/incluir/#",
        "qos": "0",
        "broker": "204a6737.d2cb78",
        "x": 319.5143085055879,
        "y": 909.1148200564915,
        "wires": [
            [
                "912bbd74.0a877"
            ]
        ]
    },
    {
        "id": "912bbd74.0a877",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Recupera topico ID",
        "func": "node.status({\n    fill:\"blue\",shape:\"ring\",text:\"incluido/\" + msg.topic.split('/')[msg.topic.split('/').length - 1]\n});\n\nvar lancamento = JSON.parse(msg.payload);\n\nreturn {\n    id: msg.id,\n    topic: 'financeiro/lancamento/contas/incluido/' + msg.topic.split('/')[msg.topic.split('/').length - 1], //lancamento._id,\n    payload: { \n        _id: lancamento._id, \n        conta: lancamento.conta, \n        data: lancamento.data, \n        cheque: lancamento.cheque, \n        liquidado: lancamento.liquidado, \n        operacao: lancamento.operacao, \n        debito: (lancamento.operacao === 'debito' ? lancamento.valor : 0),\n        credito: (lancamento.operacao === 'credito' ? lancamento.valor : 0),\n        valor: lancamento.valor * (lancamento.operacao === 'credito' ? 1 : -1), \n        observacao: lancamento.observacao \n    }\n};",
        "outputs": "1",
        "noerr": 0,
        "x": 605.5143085055879,
        "y": 909.1148200564915,
        "wires": [
            [
                "5a0592d0.d8c10c",
                "c7dfccb9.0eb02",
                "b1339630.4c1c88"
            ]
        ]
    },
    {
        "id": "5a0592d0.d8c10c",
        "type": "mqtt out",
        "z": "ca2080ab.3b2b8",
        "name": "incluido/+id",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "204a6737.d2cb78",
        "x": 841.0435748630098,
        "y": 909.3940253787571,
        "wires": []
    },
    {
        "id": "b1339630.4c1c88",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "salvar lancamentos",
        "collection": "lancamentos",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 862.5143585205078,
        "y": 961.1149711608887,
        "wires": []
    },
    {
        "id": "92d7d9b.37e2c28",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "Carrega valores",
        "collection": "lancamentos",
        "operation": "aggregate",
        "x": 758.0141448974609,
        "y": 1598.6980571746826,
        "wires": [
            [
                "8f35fe51.9cb67",
                "e0d81e3.76d3be",
                "f4e9451e.1eecf8"
            ]
        ]
    },
    {
        "id": "9cf41e98.9a37b",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "total",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1350.902976989746,
        "y": 1752.4090032577515,
        "wires": []
    },
    {
        "id": "c9d07cad.4dad9",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "lê banco e conta",
        "func": "// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = [\n    {\n       $group: {\n            _id: \"$conta\",\n            debito:{ $sum: \"$debito\" },\n            credito:{ $sum: \"$credito\" },\n            valor: {  $sum: \"$valor\"},\n            count: { $sum: 1 }\n        },\n    }\n]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 557.0141143798828,
        "y": 1598.9979839324951,
        "wires": [
            [
                "92d7d9b.37e2c28"
            ]
        ]
    },
    {
        "id": "f1ec6459.8a8b08",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "Totais",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 388.8974723815918,
        "y": 1639.3314304351807,
        "wires": [
            [
                "c9d07cad.4dad9"
            ]
        ]
    },
    {
        "id": "308bf1ef.6f8f0e",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Valor total",
        "func": "if(msg.payload !== null || msg.payload !== undefined){\n    msg.payload = 'R$ ' + msg.payload.valor.toFixed(2).replace('.', ',');\n    node.status({fill: \"yellow\", shape: \"ring\", text: msg.payload});\n} else {\n    msg.payload = \"0,00\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1111.569725036621,
        "y": 1752.8257513046265,
        "wires": [
            [
                "9cf41e98.9a37b"
            ]
        ]
    },
    {
        "id": "be835efe.b33a5",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Debitos",
        "func": "if(msg.payload !== null || msg.payload !== undefined){\n    let x = parseFloat(msg.payload.debito).toFixed(2);\n    let y = 'R$ ' + x.toString().replace('.', ',');\n    msg.payload = y;\n    node.status({fill:\"red\",shape:\"ring\",text:y});\n}\nelse{\n    msg.payload = \"0,00\";\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro Payload\"});\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1109.569725036621,
        "y": 1653.1758489608765,
        "wires": [
            [
                "b4ac9019.9ebd4"
            ]
        ]
    },
    {
        "id": "7facb223.6e26ac",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Creditos",
        "func": "if(msg.payload !== null || msg.payload !== undefined){\n    let x = parseFloat(msg.payload.credito).toFixed(2);\n    let y = 'R$ ' + x.toString().replace('.', ',');\n    msg.payload = y\n    node.status({fill:\"green\",shape:\"ring\",text:y});\n}\nelse{\n    msg.payload = \"0,00\";\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro Payload\"});\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1110.569725036621,
        "y": 1705.1758489608765,
        "wires": [
            [
                "e41fcddc.e5d0a"
            ]
        ]
    },
    {
        "id": "b4ac9019.9ebd4",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "debito",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1351.569725036621,
        "y": 1653.1758489608765,
        "wires": []
    },
    {
        "id": "e41fcddc.e5d0a",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "credito",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1351.569725036621,
        "y": 1705.1758489608765,
        "wires": []
    },
    {
        "id": "ad9ebd0f.4159c",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "saldo",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1352.569725036621,
        "y": 1803.1757879257202,
        "wires": []
    },
    {
        "id": "c0b9e81.8445318",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Saldo",
        "func": "if(msg.payload !== null || msg.payload !== undefined){\n    let x = parseFloat(msg.payload.debito);\n    let y = parseFloat(msg.payload.credito);\n    let z = (y - x).toFixed(2);\n    node.status({fill:\"yellow\",shape:\"ring\",text:z});\n    msg.payload = 'R$ ' + z.toString().replace('.', ',');\n    \n}\nelse{\n    msg.payload = \"0,00\";\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro Payload\"});\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1103.236473083496,
        "y": 1803.5925359725952,
        "wires": [
            [
                "ad9ebd0f.4159c"
            ]
        ]
    },
    {
        "id": "b28329d4.de3b18",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Numero de lancamentos",
        "func": "if(msg.payload !== null || msg.payload !== undefined){\n    let x = parseInt(msg.payload.count);\n    node.status({fill:\"yellow\",shape:\"ring\",text:x});\n    msg.payload = x;\n}\nelse{\n    msg.payload = 0;\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro Payload\"});\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1163.569725036621,
        "y": 1860.1757879257202,
        "wires": [
            [
                "829ba61a.c29e38"
            ]
        ]
    },
    {
        "id": "829ba61a.c29e38",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Numero de lancamentos",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1414.902976989746,
        "y": 1859.7591009140015,
        "wires": []
    },
    {
        "id": "d013fe00.cf59d",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "Carrega lancamentos",
        "collection": "lancamentos",
        "operation": "find",
        "x": 778.7641525268555,
        "y": 2147.51473236084,
        "wires": [
            [
                "4c713e67.b978a"
            ]
        ]
    },
    {
        "id": "92b280ab.44c2c",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "lê lancamento",
        "func": "// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = \"Carrega Lancamento\"\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { \"conta\": 1, \"data\": 1, \"cheque\":1, \"liquidado\":1, \"operacao\":1, \"valor\":1, \"observacao\":1}\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 525.6655917697481,
        "y": 2147.7901855044893,
        "wires": [
            [
                "d013fe00.cf59d"
            ]
        ]
    },
    {
        "id": "ac1927ea.4fb238",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "Lê 20 até lancamentos",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 295.986328125,
        "y": 2147.653633117676,
        "wires": [
            [
                "92b280ab.44c2c"
            ]
        ]
    },
    {
        "id": "4c713e67.b978a",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "lancamentos contas",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1016.7641525268555,
        "y": 2147.7646713256836,
        "wires": []
    },
    {
        "id": "4df84a65.05e4a4",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "conta pelo ID",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 265.76412200927734,
        "y": 2264.564598083496,
        "wires": [
            [
                "f62b23df.d91e2"
            ]
        ]
    },
    {
        "id": "f62b23df.d91e2",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "lê banco e conta",
        "func": "// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = { \"_id\": \"9280aff5-619b-4e87-a82a-f31da6347a8d\"}\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { \"banco\": 1, \"conta\": 1 }\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 526.991943359375,
        "y": 2264.888696670532,
        "wires": [
            [
                "fcfb7927.32f078"
            ]
        ]
    },
    {
        "id": "fcfb7927.32f078",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "Carrega conta pelo ID",
        "collection": "contas",
        "operation": "find",
        "x": 780.0905041164824,
        "y": 2264.6131824917265,
        "wires": [
            [
                "a633e1a.1ce6e2",
                "d9d0319b.e474a"
            ]
        ]
    },
    {
        "id": "a633e1a.1ce6e2",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "resposta do mongo",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1012.8682861328125,
        "y": 2309.564640045166,
        "wires": []
    },
    {
        "id": "540eb190.6c08",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Resposta contas",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1280.5142822265625,
        "y": 2264.8494300842285,
        "wires": []
    },
    {
        "id": "d9d0319b.e474a",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Numero de lancamentos",
        "func": "if(msg.payload !== null || msg.payload !== undefined){\n    let x = msg.payload[0].banco;\n    let y = msg.payload[0].conta;\n    node.status({fill:\"yellow\",shape:\"ring\",text:x + \" - \" + y});\n    msg.payload = (x + \" - \" + y);\n}\nelse{\n    msg.payload = 0;\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro Payload\"});\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1032.4307861328125,
        "y": 2264.631290435791,
        "wires": [
            [
                "540eb190.6c08"
            ]
        ]
    },
    {
        "id": "c6666d7a.07ed5",
        "type": "http in",
        "z": "ca2080ab.3b2b8",
        "name": "lancamentos",
        "url": "/api/lancamentos",
        "method": "get",
        "swaggerDoc": "",
        "x": 291.76409912109375,
        "y": 2496.748134613037,
        "wires": [
            []
        ]
    },
    {
        "id": "c56eb0a5.7a532",
        "type": "http response",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "x": 1392.7641296386719,
        "y": 2568.748134613037,
        "wires": []
    },
    {
        "id": "436da371.feaa6c",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "filtro",
        "func": "\n//msg.payload = \"SELECT RCB.*, RCB_PED.numero AS pedido FROM RCB LEFT OUTER JOIN RCB_PED ON RCB.nosso_numero = RCB_PED.nosso_numero\"; \nmsg.payload = '';\nmsg.limit= 50;\nmsg.skip = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 471.76409912109375,
        "y": 2496.748134613037,
        "wires": [
            [
                "878cd7b5.862338"
            ]
        ]
    },
    {
        "id": "afa266a5.359198",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "conta",
        "func": "\nmsg.payload = { \"_id\": msg.payload.conta }\nmsg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1391.7640991210938,
        "y": 2485.748134613037,
        "wires": [
            [
                "81a7bc9d.963d4"
            ]
        ]
    },
    {
        "id": "1e7278e5.ea8437",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "lancamentos",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    return [\n        {\n            lancamentos: msg.payload.map( x => \n            {\n                return {\n                    _id: x._id,\n                \tconta: x.conta,\n                \tdata: x.data,\n                \tcheque: x.cheque,\n                \tliquidado: x.liquidado,\n                \t//operacao: x.operacao,\n                \tvalor: x.debito > 0 ? x.valor * -1 : x.valor,\n                \tobservacao: x.observacao,\n                }\n            })\n        }, \n    null];\n} else {\n    return [null, msg];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 891.7640991210938,
        "y": 2496.748134613037,
        "wires": [
            [
                "10184a4c.4e4006",
                "42d11a2d.4295b4"
            ],
            [
                "5cf80b09.ca7264"
            ]
        ]
    },
    {
        "id": "10184a4c.4e4006",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "loop",
        "func": "if (msg.index === undefined) {\n    msg.index = 0;\n    msg.payload = msg.lancamentos[msg.index];\n    return [msg, null];\n} else {\n    msg.index++;\n    if (msg.index < msg.lancamentos.length) {\n        msg.payload = msg.lancamentos[msg.index];    \n        return [msg, null]\n    }\n    msg.payload = msg.lancamentos;\n    return [null, msg];\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 1211.7640991210938,
        "y": 2491.748134613037,
        "wires": [
            [
                "afa266a5.359198"
            ],
            [
                "fc15d403.87c348"
            ]
        ]
    },
    {
        "id": "b576ac80.c094a",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "result",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.lancamentos[msg.index].conta = msg.payload[0];    \n} else {\n    msg.lancamentos[msg.index].conta = {\n        \"_id\": \"00000000-0000-0000-0000-0000000000\",\n        \"selecionada\": false,\n        \"banco\": \"????????\",\n        \"conta\": \"?????\",\n        \"agencia\": \"????????\",\n        \"descricao\": \"???????????????\"\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1407.3195190429688,
        "y": 2410.636999130249,
        "wires": [
            [
                "10184a4c.4e4006"
            ]
        ]
    },
    {
        "id": "878cd7b5.862338",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "lancamentos",
        "collection": "lancamentos",
        "operation": "find",
        "x": 671.7640991210938,
        "y": 2496.748134613037,
        "wires": [
            [
                "1e7278e5.ea8437",
                "777a4f6.c9cf9b"
            ]
        ]
    },
    {
        "id": "81a7bc9d.963d4",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "contas",
        "collection": "contas",
        "operation": "find",
        "x": 1551.7640991210938,
        "y": 2485.748134613037,
        "wires": [
            [
                "b576ac80.c094a",
                "54f8905d.a4512"
            ]
        ]
    },
    {
        "id": "fc15d403.87c348",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Final",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1391.5015869140625,
        "y": 2528.717746734619,
        "wires": []
    },
    {
        "id": "777a4f6.c9cf9b",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "lancamentos",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 891.7640991210938,
        "y": 2536.748134613037,
        "wires": []
    },
    {
        "id": "8c74ff06.54b7b",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 301.76409912109375,
        "y": 2556.748134613037,
        "wires": [
            [
                "436da371.feaa6c"
            ]
        ]
    },
    {
        "id": "54f8905d.a4512",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1721.7641143798828,
        "y": 2485.384511947632,
        "wires": []
    },
    {
        "id": "b3ab01ae.266",
        "type": "http response",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "x": 1093.7641296386719,
        "y": 2579.748134613037,
        "wires": []
    },
    {
        "id": "33326f20.0ee4d",
        "type": "http response",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "x": 1100.3326721191406,
        "y": 2692.3334617614746,
        "wires": []
    },
    {
        "id": "59c75b4f.b64c94",
        "type": "catch",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "scope": null,
        "x": 710.3326721191406,
        "y": 2712.3334617614746,
        "wires": [
            [
                "16400222.71fe9e",
                "fdd17f7f.70948"
            ]
        ]
    },
    {
        "id": "16400222.71fe9e",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 940.3326721191406,
        "y": 2732.3334617614746,
        "wires": []
    },
    {
        "id": "fdd17f7f.70948",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "erro",
        "func": "msg.statusCode = 500;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920.3326721191406,
        "y": 2692.3334617614746,
        "wires": [
            [
                "33326f20.0ee4d"
            ]
        ]
    },
    {
        "id": "5cf80b09.ca7264",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Lancamentos Vazio",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1132.4640808105469,
        "y": 2535.948085784912,
        "wires": []
    },
    {
        "id": "42d11a2d.4295b4",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "modificado",
        "active": true,
        "console": "false",
        "complete": "lancamentos",
        "x": 1073.4474182128906,
        "y": 2429.748134613037,
        "wires": []
    },
    {
        "id": "8f35fe51.9cb67",
        "type": "split",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "splt": "\\n",
        "x": 934.0037479400635,
        "y": 1652.9576454162598,
        "wires": [
            [
                "308bf1ef.6f8f0e",
                "be835efe.b33a5",
                "7facb223.6e26ac",
                "c0b9e81.8445318",
                "b28329d4.de3b18"
            ]
        ]
    },
    {
        "id": "2cd377c7.149278",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "comando",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 593.3475189208984,
        "y": 486.3666801452637,
        "wires": []
    },
    {
        "id": "95936df4.440bf",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Lancamento contas",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 610.0976367526582,
        "y": 727.9833407931858,
        "wires": []
    },
    {
        "id": "aec91574.73de48",
        "type": "mqtt in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "financeiro/lancamento/contas/saldo/carregar/",
        "qos": "0",
        "broker": "204a6737.d2cb78",
        "x": 271.486328125,
        "y": 1598.8554649353027,
        "wires": [
            [
                "c9d07cad.4dad9"
            ]
        ]
    },
    {
        "id": "e0d81e3.76d3be",
        "type": "mqtt out",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "financeiro/lancamento/contas/saldo/carregado/",
        "qos": "0",
        "retain": "",
        "broker": "204a6737.d2cb78",
        "x": 1227.9308242797852,
        "y": 1598.383279800415,
        "wires": []
    },
    {
        "id": "f4e9451e.1eecf8",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "resposta de cada conta",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1157.0421295166016,
        "y": 1554.7999334335327,
        "wires": []
    },
    {
        "id": "c7dfccb9.0eb02",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "lancamento conta",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 860.0977325439453,
        "y": 867.9500541687012,
        "wires": []
    },
    {
        "id": "19528254.bb7bce",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "MAP Exemplo",
        "func": "var index = 0;\n\nmsg.payload = ['a','b','c','d','e','f'].map( (item, index, list) => \n    \"test_\" + item + ' (' + index + \"), total: \" + (index % 2 ? list[index - 1] : '_')\n);\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 439.8974609375,
        "y": 3403.6664958000183,
        "wires": [
            [
                "484eeeaa.697fb"
            ]
        ]
    },
    {
        "id": "37c469c1.7308d6",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 227.8974609375,
        "y": 3402.6664958000183,
        "wires": [
            [
                "19528254.bb7bce"
            ]
        ]
    },
    {
        "id": "484eeeaa.697fb",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 659.8974609375,
        "y": 3403.6664958000183,
        "wires": []
    },
    {
        "id": "40b6d45f.45d1cc",
        "type": "mqtt in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "financeiro/consulta/posicao/periodo/",
        "qos": "0",
        "broker": "204a6737.d2cb78",
        "x": 320.0433807373047,
        "y": 1104.4582328796387,
        "wires": [
            [
                "a4f53bad.8ff808"
            ]
        ]
    },
    {
        "id": "a4f53bad.8ff808",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "carrega 20 contas",
        "func": "msg.limit = parseInt(msg.payload.per_page) || 20;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 621.7969589233398,
        "y": 1105.0157489776611,
        "wires": [
            [
                "aafb8cfc.47fc"
            ]
        ]
    },
    {
        "id": "aafb8cfc.47fc",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "d87e90d.622c57",
        "name": "Carrega lista",
        "collection": "contas",
        "operation": "find",
        "x": 839.8154720730254,
        "y": 1104.8860878414578,
        "wires": [
            [
                "cf455419.de16b8",
                "290eefc0.a408d"
            ]
        ]
    },
    {
        "id": "290eefc0.a408d",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Resposta",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1229.5725860595703,
        "y": 1157.1222953796387,
        "wires": []
    },
    {
        "id": "cf455419.de16b8",
        "type": "mqtt out",
        "z": "ca2080ab.3b2b8",
        "name": "contas/carregado/",
        "topic": "financeiro/cadastro/contas/carregado/",
        "qos": "0",
        "retain": "",
        "broker": "204a6737.d2cb78",
        "x": 1258.5196075439453,
        "y": 1105.53666305542,
        "wires": []
    },
    {
        "id": "3900bb29.6f1df4",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Atualiza lista de contas consultas por periodo",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 827.2934112548828,
        "y": 1060.7082633972168,
        "wires": []
    },
    {
        "id": "29685982.ec0d26",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "tipo de consulta",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 640.4601593017578,
        "y": 1293.8124504089355,
        "wires": []
    },
    {
        "id": "6978e71.ce52d18",
        "type": "mqtt in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "financeiro/lancamento/contas/consultar/",
        "qos": "0",
        "broker": "204a6737.d2cb78",
        "x": 316.75865173339844,
        "y": 1293.3610954284668,
        "wires": [
            [
                "29685982.ec0d26"
            ]
        ]
    },
    {
        "id": "51924521.cffbdc",
        "type": "exec",
        "z": "ca2080ab.3b2b8",
        "command": "\"C:\\\\Program Files (x86)\\\\Google\\\\Chrome\\\\Application\\\\chrome.exe\"",
        "addpay": false,
        "append": "",
        "useSpawn": false,
        "timer": "",
        "name": "chrome",
        "x": 957.4489135742188,
        "y": 1319.5275950431824,
        "wires": [
            [
                "73e7379.25295c8"
            ],
            [
                "1ab3550f.0d90db"
            ],
            [
                "6706642d.ab517c"
            ]
        ]
    },
    {
        "id": "73e7379.25295c8",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "toString()",
        "func": "msg.payload = msg.payload.toString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1134.1156311035156,
        "y": 1256.8275828361511,
        "wires": [
            [
                "aa2575e8.6ac0a8"
            ]
        ]
    },
    {
        "id": "aa2575e8.6ac0a8",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1293.1156311035156,
        "y": 1256.8275828361511,
        "wires": []
    },
    {
        "id": "1ab3550f.0d90db",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "rc",
        "func": "if (msg.control && (msg.control.state == 'end' || msg.control.state == 'error')) return { payload: msg.control.rc }",
        "outputs": 1,
        "noerr": 0,
        "x": 1126.1156311035156,
        "y": 1320.8275828361511,
        "wires": [
            [
                "d989a122.fa438"
            ]
        ]
    },
    {
        "id": "d989a122.fa438",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "rc",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1286.1156311035156,
        "y": 1320.8275828361511,
        "wires": []
    },
    {
        "id": "6706642d.ab517c",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "toString()",
        "func": "msg.payload = msg.payload.toString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1131.1156311035156,
        "y": 1382.8275828361511,
        "wires": [
            [
                "5bcfe05e.eea78"
            ]
        ]
    },
    {
        "id": "5bcfe05e.eea78",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "output2",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1309.1156311035156,
        "y": 1383.8275828361511,
        "wires": []
    },
    {
        "id": "b593ad90.55f3a",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "48c1208c.0aacb",
        "name": "salvar",
        "collection": "parametros",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1317.4258880615234,
        "y": 3033.1640696525574,
        "wires": []
    },
    {
        "id": "253044a.7d3d4bc",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "collection inicial parametros",
        "func": "msg.payload = {\n\t\"_id\": \"AplanadoraN3\",\n\t\"nome\": \"Aplanadora N3\",\n\t\"setor\": \"Estamparia\",\n\t\"parametros\": {\n\t\t\"encoder\": {\n\t\t\t\"fator\": 9999,\n\t\t\t\"resolucao\": 2500,\n\t\t\t\"perimetro\": 400\n\t\t},\n\t\t\"velocidade\": {\n\t\t\t\"automatico\": 100,\n\t\t\t\"manual\": 25\n\t\t},\n\t\t\"ferramenta\": {\n\t\t\t\"passo\": 200\n\t\t}\n\t},\n\t\"estado\": {\n\t\t\"situacao\": {\n\t\t\t\"codigo\": 99,\n\t\t\t\"descricao\": \"Maquina OK\"\n\t\t}\n\t},\n\t\"operador\": {\n\t\t\"codigo\": 1012,\n\t\t\"nome\": \"IRANILDO\"\n\t},\n\t\"os\": {\n\t \"numero\": \"1231-11\",\n\t \"produto\": {\n\t \"codigo\": \"XXXXXXXXX\",\n\t \"descricao\": \"AAAAAABBBBBCCCCC\"\n\t },\n\t \"quantidade\": 1550,\n\t \"produzido\": 0,\n\t \"refugo\": 0\n\t},\n\t\"lubrificacao\": {\n\t\t\"preset\": {\n\t\t \"MbNovoCiclosUnd\":0,\n\t\t \"MbNovoCiclosmil\":1\n\t\t},\n\t\t\"ciclos\": {\n\t\t \"PrsCiclosUnid\":500,\n\t\t \"PrsCiclosMil\":0\n\t\t}\n\t},\n\t\"timestamp\":new Date()\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1110.4348754882812,
        "y": 3033.268856525421,
        "wires": [
            [
                "b593ad90.55f3a"
            ]
        ]
    },
    {
        "id": "c78dd923.60a088",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "48c1208c.0aacb",
        "name": "APAGAR TODA A COLLECTION log_erro",
        "collection": "log_erro",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 809.1567993164062,
        "y": 2959.463192462921,
        "wires": []
    },
    {
        "id": "de2263bc.615a4",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "48c1208c.0aacb",
        "name": "salvar",
        "collection": "log_erro",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1473.4036102294922,
        "y": 3071.819739818573,
        "wires": []
    },
    {
        "id": "77b046bf.7c6d48",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "collection inicial log_erro",
        "func": "msg.payload = {\n\t\"_id\": 1,\n\t\"log_mesagens\": {\n\t}\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1266.41259765625,
        "y": 3071.9245266914368,
        "wires": [
            [
                "de2263bc.615a4"
            ]
        ]
    },
    {
        "id": "a8e4b75e.551268",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "48c1208c.0aacb",
        "name": "APAGAR TODA A COLLECTION parametros",
        "collection": "parametros",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 648.6011047363281,
        "y": 2923.240963459015,
        "wires": []
    },
    {
        "id": "7089c599.3efd2c",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "48c1208c.0aacb",
        "name": "salvar",
        "collection": "indice",
        "payonly": true,
        "upsert": false,
        "multi": true,
        "operation": "store",
        "x": 1631.4810752868652,
        "y": 3110.7809834480286,
        "wires": []
    },
    {
        "id": "d7ccfa1c.8462e8",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "collection inicial indice",
        "func": "msg.payload = {\n\t\"_id\": \"indice\",\n\t\"indice_mesagens\": 0\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1424.9345703125,
        "y": 3111.1078457832336,
        "wires": [
            [
                "7089c599.3efd2c",
                "da6bea43.6a6ed8"
            ]
        ]
    },
    {
        "id": "c1ac7dec.a80f9",
        "type": "mongodb out",
        "z": "ca2080ab.3b2b8",
        "mongodb": "48c1208c.0aacb",
        "name": "APAGAR TODA A COLLECTION indice",
        "collection": "indice",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 979.0086059570312,
        "y": 2996.79670381546,
        "wires": []
    },
    {
        "id": "1e2dc68e.57ded9",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Delay 150ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 150);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 548.8044738769531,
        "y": 2959.971218585968,
        "wires": [
            [
                "c78dd923.60a088",
                "e05b4104.3909c"
            ]
        ]
    },
    {
        "id": "e05b4104.3909c",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Delay 150ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 150);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 719.8045043945312,
        "y": 2996.971218585968,
        "wires": [
            [
                "c1ac7dec.a80f9",
                "3a7a6110.d0840e"
            ]
        ]
    },
    {
        "id": "3a7a6110.d0840e",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Delay 150ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 150);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 888.8045043945312,
        "y": 3032.971218585968,
        "wires": [
            [
                "253044a.7d3d4bc",
                "cbfffa5a.599a88"
            ]
        ]
    },
    {
        "id": "cbfffa5a.599a88",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Delay 150ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 150);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1059.7044677734375,
        "y": 3071.971218585968,
        "wires": [
            [
                "77b046bf.7c6d48",
                "c474d0a3.c1d8f"
            ]
        ]
    },
    {
        "id": "c474d0a3.c1d8f",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Delay 150ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 150);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1225.804443359375,
        "y": 3110.971218585968,
        "wires": [
            [
                "d7ccfa1c.8462e8"
            ]
        ]
    },
    {
        "id": "da6bea43.6a6ed8",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1650.9208984375,
        "y": 3066.08788728714,
        "wires": [
            []
        ]
    },
    {
        "id": "16bc2606.836d6a",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "string vazia",
        "func": "msg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360.9999694824219,
        "y": 2922.8961148262024,
        "wires": [
            [
                "a8e4b75e.551268",
                "1e2dc68e.57ded9"
            ]
        ]
    },
    {
        "id": "8174968d.2451e8",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Aggregator pattern",
        "info": "",
        "x": 214.02842712402344,
        "y": 3456.2841868400574,
        "wires": []
    },
    {
        "id": "813589d6.8d4bb8",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "payload=451",
        "func": "msg.payload = 451;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 537.8617172241211,
        "y": 3539.7842993736267,
        "wires": [
            [
                "6e470d24.441384"
            ]
        ]
    },
    {
        "id": "6e470d24.441384",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Calculate Sum",
        "func": "// Reduce the number of inputs\ncontext.global.n--;\n\n// Store the data in msg.payload for all operations as they complete\ncontext.global.data[context.global.n] = msg.payload;\n\n// When all operations are complete calculate the sum and return\nif (context.global.n === 0)\n{   // Calculate the total value\n    var sum = 0;\n    for (var i = 0; i < context.global.data.length; i++)\n    {\n        sum += context.global.data[i];\n    }\n    msg.payload = sum;\n\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 732.8617706298828,
        "y": 3562.7843222618103,
        "wires": [
            [
                "9476712e.b3b29"
            ]
        ]
    },
    {
        "id": "a0aec2de.7560e",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "payload=326",
        "func": "msg.payload = 326;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 536.8617401123047,
        "y": 3587.784311771393,
        "wires": [
            [
                "6e470d24.441384"
            ]
        ]
    },
    {
        "id": "9476712e.b3b29",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Returns 777",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 914.8617477416992,
        "y": 3562.784309864044,
        "wires": []
    },
    {
        "id": "b5847e7c.10558",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Combine 2 Functions",
        "func": "context.global.n = 2;\ncontext.global.data = new Array(2);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 333.8617401123047,
        "y": 3564.78430891037,
        "wires": [
            [
                "813589d6.8d4bb8",
                "a0aec2de.7560e"
            ]
        ]
    },
    {
        "id": "c1d83ebd.259f9",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "↓ 1st value",
        "info": "",
        "x": 536.6082305908203,
        "y": 3501.3583750724792,
        "wires": []
    },
    {
        "id": "d9c8b164.c7412",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "Calculate the sum of 2 numbers",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 293.91778564453125,
        "y": 3500.477408885956,
        "wires": [
            [
                "b5847e7c.10558"
            ]
        ]
    },
    {
        "id": "1219d6.946d462a",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "↑ 2nd value",
        "info": "",
        "x": 535.4415817260742,
        "y": 3628.358287334442,
        "wires": []
    },
    {
        "id": "4825a4d.ad7c15c",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Define how many parallel operations ↑",
        "info": "",
        "x": 283.37013244628906,
        "y": 3607.9057688713074,
        "wires": []
    },
    {
        "id": "9f5822b4.c1cdb",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "↑ Once all parallel operations complete, calculate sum",
        "info": "",
        "x": 819.9416351318359,
        "y": 3605.1916575431824,
        "wires": []
    },
    {
        "id": "40523a31.edacd4",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 234.02842712402344,
        "y": 3776.2841868400574,
        "wires": [
            [
                "bbeea1be.60e24"
            ]
        ]
    },
    {
        "id": "bbeea1be.60e24",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "1st output 451, 2nd output 326",
        "func": "msg.payload = 451;\nvar msg2 = {};\nmsg2.payload = 326;\n\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 428.02842712402344,
        "y": 3776.2841868400574,
        "wires": [
            [
                "21e124af.01ce8c"
            ],
            [
                "e59c5efd.22fac"
            ]
        ]
    },
    {
        "id": "21e124af.01ce8c",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Returns 451",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 641.0284271240234,
        "y": 3749.2841868400574,
        "wires": []
    },
    {
        "id": "e59c5efd.22fac",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Returns 326",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 639.0284271240234,
        "y": 3802.2841868400574,
        "wires": []
    },
    {
        "id": "1fc6dabf.51e705",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Separator pattern",
        "info": "",
        "x": 214.02842712402344,
        "y": 3716.2841868400574,
        "wires": []
    },
    {
        "id": "57e71644.10cbe8",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "↑ 1 input and 2 outputs",
        "info": "",
        "x": 402.9415740966797,
        "y": 3820.7099986076355,
        "wires": []
    },
    {
        "id": "6d7410ac.cffbc",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "WordCount Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 284.02842712402344,
        "y": 3996.2841868400574,
        "wires": [
            [
                "694b8959.68d148"
            ]
        ]
    },
    {
        "id": "b4f9a8c5.93a0a8",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Map",
        "func": "var input = msg.payload.toLowerCase()\n                       .replace( /\\.$/, \"\")\n                       .split(/ |, /);\n// Map\nvar key_value = [];\nfor (var i=0; i<input.length; i++)\n{\n    var key = input[i];\n    if (key in key_value)\n    {\n        key_value[key]++;\n    } else {\n        key_value[key] = 1;\n    }\n}\n\n// Shuffle\nvar key1_value = [];\nvar key2_value = [];\nfor (var key in key_value)\n{\n    if ('a'<=key[0] && key[0]<='m')\n    {\n        key1_value.push([key, key_value[key]]);\n    } else {\n        key2_value.push([key, key_value[key]]);\n    }\n}\n\nmsg.payload = key1_value;\nvar msg2 = {};\nmsg2.payload = key2_value;\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 584.0284271240234,
        "y": 4031.284142971039,
        "wires": [
            [
                "26f43142.753b0e",
                "763750a7.fc3f3"
            ],
            [
                "73655f16.500c6",
                "763750a7.fc3f3"
            ]
        ]
    },
    {
        "id": "26f43142.753b0e",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Reduce",
        "func": "context.global.n1--;\n\ncontext.global.data1[context.global.n1] = msg.payload;\n\nif (context.global.n1 === 0)\n{  \n    var tmp = [];\n    for (var i=0; i<context.global.data1.length; i++)\n    {\n        var input = context.global.data1[i];\n        for (var j=0; j<input.length; j++)\n        {\n            var key = input[j][0];\n            var value = input[j][1];\n            if (key in tmp)\n            {\n                tmp[key] += value;\n            } else {\n                tmp[key] = value;\n            }\n        }\n    }\n    \n    var output = [];\n    for (var key in tmp)\n    {\n        output.push([key, tmp[key]]);\n    }\n    msg.payload = output;\n\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 792.0284271240234,
        "y": 4046.284142971039,
        "wires": [
            [
                "bc1e36d8.4f3ab8"
            ]
        ]
    },
    {
        "id": "bc1e36d8.4f3ab8",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 932.0284271240234,
        "y": 4046.284142971039,
        "wires": []
    },
    {
        "id": "694b8959.68d148",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Map=3",
        "func": "var map = 3;\n\ncontext.global.n1 = map;\ncontext.global.data1 = new Array(map);\n\ncontext.global.n2 = map;\ncontext.global.data2 = new Array(map);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 271.02842712402344,
        "y": 4077.284142971039,
        "wires": [
            [
                "52a97cc8.7bbce4",
                "7cb38174.c9314",
                "885c5f6.222fba"
            ]
        ]
    },
    {
        "id": "52a97cc8.7bbce4",
        "type": "template",
        "z": "ca2080ab.3b2b8",
        "name": "This is a pen.",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "This is a pen.",
        "x": 440.02842712402344,
        "y": 4031.284142971039,
        "wires": [
            [
                "b4f9a8c5.93a0a8"
            ]
        ]
    },
    {
        "id": "73655f16.500c6",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Reduce",
        "func": "context.global.n2--;\n\ncontext.global.data2[context.global.n2] = msg.payload;\n\nif (context.global.n2 === 0)\n{   \n    var tmp = [];\n    for (var i=0; i<context.global.data2.length; i++)\n    {\n        var input = context.global.data2[i];\n        for (var j=0; j<input.length; j++)\n        {\n            var key = input[j][0];\n            var value = input[j][1];\n            if (key in tmp)\n            {\n                tmp[key] += value;\n            } else {\n                tmp[key] = value;\n            }\n        }\n    }\n    \n    var output = [];\n    for (var key in tmp)\n    {\n        output.push([key, tmp[key]]);\n    }\n    msg.payload = output;\n\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 794.0284271240234,
        "y": 4098.284142971039,
        "wires": [
            [
                "e8525a10.20adf8"
            ]
        ]
    },
    {
        "id": "e8525a10.20adf8",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 933.0284271240234,
        "y": 4098.284142971039,
        "wires": []
    },
    {
        "id": "214f0e63.04f8a2",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Map",
        "func": "var input = msg.payload.toLowerCase()\n                       .replace( /\\.$/, \"\")\n                       .split(/ |, /);\n// Map\nvar key_value = [];\nfor (var i=0; i<input.length; i++)\n{\n    var key = input[i];\n    if (key in key_value)\n    {\n        key_value[key]++;\n    } else {\n        key_value[key] = 1;\n    }\n}\n\n// Shuffle\nvar key1_value = [];\nvar key2_value = [];\nfor (var key in key_value)\n{\n    if ('a'<=key[0] && key[0]<='m')\n    {\n        key1_value.push([key, key_value[key]]);\n    } else {\n        key2_value.push([key, key_value[key]]);\n    }\n}\n\nmsg.payload = key1_value;\nvar msg2 = {};\nmsg2.payload = key2_value;\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 585.0284271240234,
        "y": 4077.284142971039,
        "wires": [
            [
                "26f43142.753b0e"
            ],
            [
                "73655f16.500c6"
            ]
        ]
    },
    {
        "id": "6613845a.518f4c",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Map",
        "func": "var input = msg.payload.toLowerCase()\n                       .replace( /\\.$/, \"\")\n                       .split(/ |, /);\n// Map\nvar key_value = [];\nfor (var i=0; i<input.length; i++)\n{\n    var key = input[i];\n    if (key in key_value)\n    {\n        key_value[key]++;\n    } else {\n        key_value[key] = 1;\n    }\n}\n\n// Shuffle\nvar key1_value = [];\nvar key2_value = [];\nfor (var key in key_value)\n{\n    if ('a'<=key[0] && key[0]<='m')\n    {\n        key1_value.push([key, key_value[key]]);\n    } else {\n        key2_value.push([key, key_value[key]]);\n    }\n}\n\nmsg.payload = key1_value;\nvar msg2 = {};\nmsg2.payload = key2_value;\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 586.0284271240234,
        "y": 4123.284142971039,
        "wires": [
            [
                "26f43142.753b0e"
            ],
            [
                "73655f16.500c6"
            ]
        ]
    },
    {
        "id": "7cb38174.c9314",
        "type": "template",
        "z": "ca2080ab.3b2b8",
        "name": "Give me a pen.",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "Give me a pen.",
        "x": 435.02842712402344,
        "y": 4077.284142971039,
        "wires": [
            [
                "214f0e63.04f8a2"
            ]
        ]
    },
    {
        "id": "885c5f6.222fba",
        "type": "template",
        "z": "ca2080ab.3b2b8",
        "name": "This pen is small.",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "This pen is small.",
        "x": 428.02842712402344,
        "y": 4123.284142971039,
        "wires": [
            [
                "6613845a.518f4c"
            ]
        ]
    },
    {
        "id": "3856ec4e.2bef24",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "MapReduce pattern",
        "info": "",
        "x": 214.02842712402344,
        "y": 3956.2841868400574,
        "wires": []
    },
    {
        "id": "efa36183.35f35",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Set the map count ↑",
        "info": "",
        "x": 231.94161987304688,
        "y": 4123.710044384003,
        "wires": []
    },
    {
        "id": "13ba9141.1d782f",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "↓ input data to be processed",
        "info": "",
        "x": 508.10826110839844,
        "y": 3989.709963321686,
        "wires": []
    },
    {
        "id": "f55d3d0.b57f8c",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "↑ seperates the words based on the first letter, a-m is sent to the top function, n-z is sent to the lower",
        "info": "",
        "x": 841.4415740966797,
        "y": 4163.135827541351,
        "wires": []
    },
    {
        "id": "748c0b01.dc54d4",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "↓ reduce the arrays and count the total value",
        "info": "",
        "x": 902.6082611083984,
        "y": 4004.8025755882263,
        "wires": []
    },
    {
        "id": "b86d375d.68f438",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "After all inputs have returned,",
        "info": "",
        "x": 853.5284271240234,
        "y": 3966.2008147239685,
        "wires": []
    },
    {
        "id": "763750a7.fc3f3",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "map",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 814.0284271240234,
        "y": 3876.2841868400574,
        "wires": []
    },
    {
        "id": "77898482.a820fc",
        "type": "http in",
        "z": "ca2080ab.3b2b8",
        "name": "lancamentos",
        "url": "/api/lancamentos",
        "method": "get",
        "swaggerDoc": "",
        "x": 2239.380615234375,
        "y": 1045.6666498184204,
        "wires": [
            [
                "88617f20.b5c38"
            ]
        ]
    },
    {
        "id": "a97d704d.9b899",
        "type": "http response",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "x": 3339.380615234375,
        "y": 1085.6666498184204,
        "wires": []
    },
    {
        "id": "88617f20.b5c38",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "filtro",
        "func": "\n//msg.payload = \"SELECT RCB.*, RCB_PED.numero AS pedido FROM RCB LEFT OUTER JOIN RCB_PED ON RCB.nosso_numero = RCB_PED.nosso_numero\"; \nmsg.payload = '';\nmsg.limit= 5;\nmsg.skip = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2419.380615234375,
        "y": 1045.6666498184204,
        "wires": [
            []
        ]
    },
    {
        "id": "7df5bf37.40517",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "conta",
        "func": "\nmsg.payload = { \"_id\": msg.payload.conta }\nmsg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3339.380615234375,
        "y": 1045.6666498184204,
        "wires": [
            [
                "ed721bfe.e5c318"
            ]
        ]
    },
    {
        "id": "3095fd7c.55bf82",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "lancamentos",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.lancamentos = msg.payload;\n    return [msg, null];\n} else {\n    return [null, msg];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 2839.380615234375,
        "y": 1045.6666498184204,
        "wires": [
            [
                "5b75be6b.d202c"
            ],
            [
                "393fa708.db9138"
            ]
        ]
    },
    {
        "id": "5b75be6b.d202c",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "loop",
        "func": "if (msg.index === undefined) {\n    msg.index = 0;\n    msg.payload = msg.lancamentos[msg.index];\n    return [msg, null];\n} else {\n    msg.index++;\n    if (msg.index < msg.lancamentos.length) {\n        msg.payload = msg.lancamentos[msg.index];    \n        return [msg, null]\n    }\n    msg.payload = msg.lancamentos;\n    return [null, msg];\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 3159.380615234375,
        "y": 1045.6666498184204,
        "wires": [
            [
                "7df5bf37.40517"
            ],
            [
                "a97d704d.9b899",
                "5c7a5414.5b94fc"
            ]
        ]
    },
    {
        "id": "9634f4b0.71a088",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "result",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.lancamentos[msg.index].conta = msg.payload[0];    \n} else {\n    msg.lancamentos[msg.index].conta = {\n        \"_id\": \"00000000-0000-0000-0000-0000000000\",\n        \"selecionada\": false,\n        \"banco\": \"????????\",\n        \"conta\": \"?????\",\n        \"agencia\": \"????????\",\n        \"descricao\": \"???????????????\"\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3339.380615234375,
        "y": 1165.6666498184204,
        "wires": [
            [
                "5b75be6b.d202c"
            ]
        ]
    },
    {
        "id": "88e73163.3b806",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "e42c5f8d.81064",
        "name": "lancamentos",
        "collection": "lancamentos",
        "operation": "find",
        "x": 2619.380615234375,
        "y": 1045.6666498184204,
        "wires": [
            [
                "3095fd7c.55bf82",
                "c7dcc3e.8f4884"
            ]
        ]
    },
    {
        "id": "ed721bfe.e5c318",
        "type": "mongodb in",
        "z": "ca2080ab.3b2b8",
        "mongodb": "e42c5f8d.81064",
        "name": "contas",
        "collection": "contas",
        "operation": "find",
        "x": 3499.380615234375,
        "y": 1045.6666498184204,
        "wires": [
            [
                "9634f4b0.71a088",
                "35ac21e0.ea262e"
            ]
        ]
    },
    {
        "id": "5c7a5414.5b94fc",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 3353.180618286133,
        "y": 1211.6666498184204,
        "wires": []
    },
    {
        "id": "c7dcc3e.8f4884",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2839.380615234375,
        "y": 1085.6666498184204,
        "wires": []
    },
    {
        "id": "4f740740.4b9e58",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 2249.380615234375,
        "y": 1105.6666498184204,
        "wires": [
            [
                "88617f20.b5c38"
            ]
        ]
    },
    {
        "id": "35ac21e0.ea262e",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 3579.380615234375,
        "y": 1125.6666498184204,
        "wires": []
    },
    {
        "id": "393fa708.db9138",
        "type": "http response",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "x": 3039.380615234375,
        "y": 1085.6666498184204,
        "wires": []
    },
    {
        "id": "1b7f72a3.d0c27d",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "LOOP",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 2239.380615234375,
        "y": 989.0189280509949,
        "wires": []
    },
    {
        "id": "c576efba.3f058",
        "type": "http in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "url": "/activemq",
        "method": "get",
        "swaggerDoc": "",
        "x": 1572.7140197753906,
        "y": 3490.2310309410095,
        "wires": [
            [
                "7a8e244b.b5d1ec"
            ]
        ]
    },
    {
        "id": "7a8e244b.b5d1ec",
        "type": "http request",
        "z": "ca2080ab.3b2b8",
        "name": "Index.htlm",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.201:8161/admin",
        "tls": "",
        "x": 1852.7140197753906,
        "y": 3490.2310309410095,
        "wires": [
            [
                "f1d2f186.5938c"
            ]
        ]
    },
    {
        "id": "f1d2f186.5938c",
        "type": "http response",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "x": 2151.7140197753906,
        "y": 3490.2310309410095,
        "wires": []
    },
    {
        "id": "2043e0d3.be9b1",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "http://sistema/activemq",
        "info": "",
        "x": 1594.2140045166016,
        "y": 3443.2310309410095,
        "wires": []
    },
    {
        "id": "8a466ac5.9b68a8",
        "type": "http in",
        "z": "ca2080ab.3b2b8",
        "name": "Image Files",
        "url": "/admin/:folder/:file",
        "method": "get",
        "swaggerDoc": "",
        "x": 1559.628318786621,
        "y": 3586.002477169037,
        "wires": [
            [
                "8b127b6e.7f05e8",
                "ab90b6bf.7eb0f8"
            ]
        ]
    },
    {
        "id": "1b2dfc79.3e4d84",
        "type": "http request",
        "z": "ca2080ab.3b2b8",
        "name": "images files",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1989.6283340454102,
        "y": 3587.002477169037,
        "wires": [
            [
                "29a54453.80bb7c"
            ]
        ]
    },
    {
        "id": "29a54453.80bb7c",
        "type": "http response",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "x": 2218.62833404541,
        "y": 3587.002477169037,
        "wires": []
    },
    {
        "id": "3a84c10.de9014",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "file server - /admin/images/",
        "info": "",
        "x": 1609.628318786621,
        "y": 3544.002477169037,
        "wires": []
    },
    {
        "id": "8b127b6e.7f05e8",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "func": "msg.url = 'http://192.168.0.201:8161/admin/'  + msg.req.params.folder + '/' + msg.req.params.file;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1772.928321838379,
        "y": 3586.4025015830994,
        "wires": [
            [
                "1b2dfc79.3e4d84",
                "d6f9009a.1395d"
            ]
        ]
    },
    {
        "id": "d6f9009a.1395d",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "url",
        "x": 1980.928321838379,
        "y": 3647.8024649620056,
        "wires": []
    },
    {
        "id": "ab90b6bf.7eb0f8",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1736.6283340454102,
        "y": 3667.002477169037,
        "wires": []
    },
    {
        "id": "da6a443e.9f38d8",
        "type": "inject",
        "z": "ca2080ab.3b2b8",
        "name": "Start ",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 278.6185607910156,
        "y": 3256.0450410842896,
        "wires": [
            [
                "de018e67.bfe79"
            ]
        ]
    },
    {
        "id": "6f2c14a5.29f1ec",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "test",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 623.7614288330078,
        "y": 3256.473747253418,
        "wires": []
    },
    {
        "id": "de018e67.bfe79",
        "type": "MSSQL",
        "z": "ca2080ab.3b2b8",
        "mssqlCN": "815647e5.887a78",
        "name": "tes",
        "query": "select * from recado",
        "outField": "payload",
        "x": 451.4488830566406,
        "y": 3256.891357421875,
        "wires": [
            [
                "6f2c14a5.29f1ec"
            ]
        ]
    },
    {
        "id": "43b2986c.227be8",
        "type": "http response",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "x": 3717.142822265625,
        "y": 3260,
        "wires": []
    },
    {
        "id": "acba4f06.6a859",
        "type": "http in",
        "z": "ca2080ab.3b2b8",
        "name": "Index",
        "url": "/static/:file",
        "method": "get",
        "swaggerDoc": "",
        "x": 2966.5871798197427,
        "y": 3260.111061943902,
        "wires": [
            [
                "9445d48e.bc2a48"
            ]
        ]
    },
    {
        "id": "9445d48e.bc2a48",
        "type": "file in",
        "z": "ca2080ab.3b2b8",
        "name": "index.HTML",
        "filename": "/home/marcelomiranda/git/ihm/build/index.html",
        "format": "utf8",
        "x": 3354.6982955932617,
        "y": 3260.22217464447,
        "wires": [
            [
                "3386e282.d2738e",
                "156063b9.c0308c"
            ]
        ]
    },
    {
        "id": "bb1fdd9a.78e8",
        "type": "http response",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "x": 3717.5873241424565,
        "y": 3339.2380379570855,
        "wires": []
    },
    {
        "id": "a8d2bf06.aa415",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Text/CSS",
        "func": "msg.headers = { \"Content-type\" : \"text/css\" }\n \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3556.1427351633706,
        "y": 3339.1268910302056,
        "wires": [
            [
                "bb1fdd9a.78e8"
            ]
        ]
    },
    {
        "id": "4231ee9f.c3f1e",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "HTML",
        "info": "",
        "x": 2966.142807006836,
        "y": 3223.999975204468,
        "wires": []
    },
    {
        "id": "5dc3e56b.2811ac",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "CSS folder",
        "info": "",
        "x": 2977.0316359202066,
        "y": 3302.6826237572564,
        "wires": []
    },
    {
        "id": "6b031d62.687b34",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "JAVASCRIPT folder",
        "info": "",
        "x": 3006.476135889689,
        "y": 3382.1271380318535,
        "wires": []
    },
    {
        "id": "94f3dd7.5fa4c2",
        "type": "http response",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "x": 3717.587285995484,
        "y": 3419.6824578179253,
        "wires": []
    },
    {
        "id": "5eaba681.a616c8",
        "type": "http in",
        "z": "ca2080ab.3b2b8",
        "name": "Scripts",
        "url": "/static/js/:file",
        "method": "get",
        "swaggerDoc": "",
        "x": 2967.031643549601,
        "y": 3419.793519761827,
        "wires": [
            [
                "9cc52e66.1df92"
            ]
        ]
    },
    {
        "id": "3b7821cb.f0c63e",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "media folder",
        "info": "",
        "x": 2986.2538153330484,
        "y": 3468.7935360802544,
        "wires": []
    },
    {
        "id": "e55fe20f.a5e16",
        "type": "http response",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "x": 3716.80951499939,
        "y": 3504.127060784234,
        "wires": []
    },
    {
        "id": "bba74659.e838c8",
        "type": "http in",
        "z": "ca2080ab.3b2b8",
        "name": "media",
        "url": "/static/media/:file",
        "method": "get",
        "swaggerDoc": "",
        "x": 2966.2538725535073,
        "y": 3504.2381227281357,
        "wires": [
            [
                "69d331a7.c35e"
            ]
        ]
    },
    {
        "id": "af1b184a.ece8d8",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "media",
        "func": "var ext = msg.filename.split('.')[msg.filename.split('.').length - 1]\n\nconsole.log('File extension: ' + ext)\n\nswitch(ext) {\n    case 'eot':\n        msg.headers = { \"Content-type\" : \"application/vnd.ms-fontobject\" }\n        break;\n    case 'svg':\n        msg.headers = { \"Content-type\" : \"image/svg+xml\" }\n        break;\n    case 'png':\n        msg.headers = { \"Content-type\" : \"image/png\" }\n        break;\n    case 'gif':\n        msg.headers = { \"Content-type\" : \"image/gif\" }\n        break;\n    case 'ico':\n        msg.headers = { \"Content-type\" : \"image/x-icon\" }\n        break;\n    case ('jpeg'||'jpg'):\n        msg.headers = { \"Content-type\" : \"image/jpeg\" }\n        break;\n    case 'ttf':\n        msg.headers = { \"Content-type\" : \"application/x-font-ttf\" }\n        break;\n    case 'woff':\n        msg.headers = { \"Content-type\" : \"application/font-woff\" }\n        break;\n    case 'woff2':\n        msg.headers = { \"Content-type\" : \"application/font-woff2\" }\n        break;\n    case 'otf':\n        msg.headers = { \"Content-type\" : \"application/x-font-opentype\" }\n        break;\n    case 'ttf':\n        msg.headers = { \"Content-type\" : \"application/font-sfnt\" }\n        break;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3548.0316664377847,
        "y": 3504.0159481896294,
        "wires": [
            [
                "e55fe20f.a5e16",
                "2cb4c0ac.e1c28"
            ]
        ]
    },
    {
        "id": "3386e282.d2738e",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "Text/HTML",
        "func": "msg.headers = { \"Content-type\" : \"text/html\" }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3564.97607421875,
        "y": 3260.0211486816406,
        "wires": [
            [
                "43b2986c.227be8"
            ]
        ]
    },
    {
        "id": "735009dc.376028",
        "type": "http in",
        "z": "ca2080ab.3b2b8",
        "name": "CSS Files",
        "url": "/static/css/:file",
        "method": "get",
        "swaggerDoc": "",
        "x": 2977.9391371409097,
        "y": 3338.8566682603623,
        "wires": [
            [
                "d272d2a1.32783"
            ]
        ]
    },
    {
        "id": "d272d2a1.32783",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "files",
        "func": "msg.filename = '//home//marcelomiranda//git//sitio//build//static//css//' + msg.req.params.file;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3210.161381403605,
        "y": 3338.6345002916123,
        "wires": [
            [
                "ddc2190e.27b7e8"
            ]
        ]
    },
    {
        "id": "ddc2190e.27b7e8",
        "type": "file in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "filename": "",
        "format": "",
        "x": 3376.383618036906,
        "y": 3338.745668199327,
        "wires": [
            [
                "a8d2bf06.aa415",
                "f5384b87.dfb938"
            ]
        ]
    },
    {
        "id": "9cc52e66.1df92",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "files",
        "func": "msg.filename = '//home//marcelomiranda//git//sitio//build//static//js//' + msg.req.params.file;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3207.9111448923745,
        "y": 3420.6899801625145,
        "wires": [
            [
                "29c80d3a.236252"
            ]
        ]
    },
    {
        "id": "69d331a7.c35e",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "files",
        "func": "msg.filename = '//home//marcelomiranda//git//sitio//build//static//media//' + msg.req.params.file;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3213.4946867624917,
        "y": 3503.9677408006455,
        "wires": [
            [
                "ef5db843.b1c978"
            ]
        ]
    },
    {
        "id": "29c80d3a.236252",
        "type": "file in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "filename": "",
        "format": "",
        "x": 3376.8280684153237,
        "y": 3420.6345002916123,
        "wires": [
            [
                "b80a81f0.52dd4",
                "94f3dd7.5fa4c2"
            ]
        ]
    },
    {
        "id": "b80a81f0.52dd4",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "FIles JS",
        "active": true,
        "console": "false",
        "complete": "filename",
        "x": 3556.716972986857,
        "y": 3459.4123304155137,
        "wires": []
    },
    {
        "id": "ef5db843.b1c978",
        "type": "file in",
        "z": "ca2080ab.3b2b8",
        "name": "",
        "filename": "",
        "format": "",
        "x": 3379.0502363840737,
        "y": 3503.745462205675,
        "wires": [
            [
                "af1b184a.ece8d8"
            ]
        ]
    },
    {
        "id": "f5384b87.dfb938",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "CSS files",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 3557.05029741923,
        "y": 3383.9677522447373,
        "wires": []
    },
    {
        "id": "b6764764.ca6c68",
        "type": "comment",
        "z": "ca2080ab.3b2b8",
        "name": "Servidor WEB",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 3394.6057662963867,
        "y": 3207.4517793655396,
        "wires": []
    },
    {
        "id": "156063b9.c0308c",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "saida",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 3545.8927993774414,
        "y": 3220.133430480957,
        "wires": []
    },
    {
        "id": "2cb4c0ac.e1c28",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "Fonts Files",
        "active": true,
        "console": "false",
        "complete": "headers",
        "x": 3738.3927504221597,
        "y": 3554.253233803643,
        "wires": []
    },
    {
        "id": "733d5e2f.95fae",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "parse",
        "func": "try {\n let payload = JSON.parse(msg.payload);\n payload.document = JSON.parse(payload.document);\n msg.payload = payload;\n node.status({ fill:\"green\", shape:\"dot\", text: msg.topic });\n}\ncatch(e) {\n console.log('Parse error: ' + e)\n node.error('Parse error: ' + e)\n node.status({ fill:\"red\", shape:\"dot\", text:e });\n}\n\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 130,
        "y": 2731,
        "wires": [
            [
                "43074d2f.7858e4",
                "8435311e.2144d"
            ]
        ]
    },
    {
        "id": "43074d2f.7858e4",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "GRAVAR RECADO",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 350,
        "y": 2731,
        "wires": []
    },
    {
        "id": "8435311e.2144d",
        "type": "function",
        "z": "ca2080ab.3b2b8",
        "name": "SQL",
        "func": "var mssql = global.get('mssql');\n\nvar procedure_name = '[Recado].[Novo]'\n\nvar request = new mssql.Request(global.get('ERP'));\n\nrequest.input('id', mssql.VarChar(36), msg.payload.document.id)\nrequest.input('produto', mssql.VarChar(50), msg.payload.document.produto)\nrequest.input('cliente', mssql.VarChar(50), msg.payload.document.cliente)\nrequest.input('empresa', mssql.VarChar(50), msg.payload.document.empresa)\nrequest.input('endereco', mssql.VarChar(50), msg.payload.document.endereco)\nrequest.input('numero', mssql.VarChar(10), msg.payload.document.numero)\nrequest.input('complemento', mssql.VarChar(50), msg.payload.document.complemento)\nrequest.input('contato', mssql.VarChar(50), msg.payload.document.contato)\nrequest.input('ddd', mssql.VarChar(2), msg.payload.document.ddd)\nrequest.input('telefone', mssql.VarChar(10), msg.payload.document.telefone)\nrequest.input('representante', mssql.VarChar(50), msg.payload.document.representante.codigo)\nrequest.input('regiao', mssql.VarChar(50), msg.payload.document.regiao)\n\nrequest.execute(procedure_name).then(function(recordsets, returnValue, affected) {\n\n if (Array.isArray(recordsets) && recordsets.length > 0) {\n \n if (Array.isArray(recordsets[0]) && recordsets[0].length > 0 && recordsets[0][0].numero === 0) {\n\n node.status({ fill:\"green\", shape:\"dot\", text: 'Recado incluido ok.' });\n\n node.send({req: msg.req, res: msg.res, payload: recordsets[1][0]});\n } else {\n node.status({ fill:\"red\", shape:\"dot\", text: recordsets[0][0].mensagem || 'Erro desconhecido' });\n \n node.send({statusCode: 500, req: msg.req, res: msg.res, payload: recordsets[0][0]});\n }\n \n } else {\n node.status({ fill:\"red\", shape:\"dot\", text: recordsets[0][0].mensagem || 'Erro desconhecido' });\n \n return {statusCode: 500, req: msg.req, res: msg.res, payload: {number: -1, message: 'Internal server error: invalid response from database.'}};\n }\n\n})\n.catch(function(err) {\n console.log('-----------------> Erro ao chamar Stored Procedure ' + procedure_name + ' <-----------------')\n console.log(JSON.stringify(err !== null && typeof err === 'object' && err))\n msg.payload = err !== null && typeof err === 'object' ? err : { erro: 9999, mensagem: err || 'Erro desconhecido.' };\n node.status({ fill:\"red\", shape:\"dot\", text: err !== null && typeof err === 'object' ? err.message : err });\n node.send(msg);\n});",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 2791,
        "wires": [
            [
                "a5044d34.3284f"
            ]
        ]
    },
    {
        "id": "a5044d34.3284f",
        "type": "debug",
        "z": "ca2080ab.3b2b8",
        "name": "RECADO GRAVADO",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 520,
        "y": 2791,
        "wires": []
    },
    {
        "id": "204a6737.d2cb78",
        "type": "mqtt-broker",
        "z": "ca2080ab.3b2b8",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d87e90d.622c57",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "db",
        "name": ""
    },
    {
        "id": "48c1208c.0aacb",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "db",
        "name": ""
    },
    {
        "id": "e42c5f8d.81064",
        "type": "mongodb",
        "z": "",
        "hostname": "192.168.0.1",
        "port": "27017",
        "db": "db",
        "name": ""
    }
]