docs/localhost/node-red.json
[
    {
        "id": "62f025ed.e0393c",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "global.get(conectadoServidor)",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1663.9996643066406,
        "y": 340.363618850708,
        "wires": []
    },
    {
        "id": "30fbd3b9.836cfc",
        "type": "http in",
        "z": "3f422101.3791ae",
        "name": "maquinas listar",
        "url": "/api/maquina/",
        "method": "get",
        "swaggerDoc": "",
        "x": 134.4757957458496,
        "y": 3089.125556945801,
        "wires": [
            [
                "2446f44f.ab89cc"
            ]
        ]
    },
    {
        "id": "7fc844d9.163eec",
        "type": "http response",
        "z": "3f422101.3791ae",
        "name": "",
        "x": 672.4757595062256,
        "y": 3090.1255559921265,
        "wires": []
    },
    {
        "id": "2446f44f.ab89cc",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Parametros de todas as maquinas",
        "func": "var myDate = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\n\nvar d = new Date();\nvar x = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear() + \" \" + myDate;\n\nmsg.payload = \n[\n  {\n    \"_id\": \"Aplanadora-N3\",\n    \"codigo\": \"PERF-N3\",\n    \"nome\": \"Aplanadora N3\",\n    \"path\": \"maquinas/perfiladeiras/n3\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.230\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.231\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.232\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n    \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9978,\n        \"resolucao\": 2500,\n        \"perimetro\": 400\n      },\n      \"manual\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 95,\n        \"paradaEntrePecasProduzidas\": 0,\n        \"tempoParada\": 0\n      },\n      \"transmissao\": {\n        \"reducao\": 0,\n        \"diametrorolo\": 0,\n        \"avancoMilimetrosPorRotacao\": 9.5144\n      },\n      \"corte\":{\n        \"espessura\": 0,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"passoN2\": 200,\n        \"passoN3\": 200,\n        \"passoN5\": 200\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"10095646\",\n        \"produto\": {\n          \"codigo\": \"ESTCAN000N300000000#2000#0#0\",\n          \"descricao\": \"CANTONEIRA N-3 2000MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"produzindo\"\n      },\n      {\n        \"numero\": \"10095645\",\n        \"produto\": {\n          \"codigo\": \"ESTCAN000N300000000#2400#0#0\",\n          \"descricao\": \"CANTONEIRA N-3 2400MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"pendente\"\n      }\n    ]\n  },\n  {\n    \"_id\": \"Perfiladeira Reforco\",\n    \"codigo\": \"REFORCO\",\n    \"nome\": \"Perfiladeira Reforco\",\n    \"path\": \"maquinas/perfiladeiras/reforco\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.233\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.234\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.235\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n     \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9986,\n        \"resolucao\": 2500,\n        \"perimetro\": 127.32\n      },\n      \"manual\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"0.6\",\n        \"desaceleracao\": \"0.6\",\n        \"velocidade\": 95,\n        \"paradaEntrePecasProduzidas\": 20,\n        \"tempoParada\": 10\n      },\n      \"transmissao\": {\n        \"reducao\": 0,\n        \"diametrorolo\": 0,\n        \"avancoMilimetrosPorRotacao\": 9.5144\n      },\n      \"corte\":{\n        \"espessura\": 5,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"corte\": 1,\n        \"furo\": 20\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"1231-11\",\n        \"produto\": {\n          \"codigo\": \"PPLESTREFOUGAL000000#0#0#610\",\n          \"descricao\": \"PERFIL U GALV P/ APOIO DE CAIXA MED 610MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-11T11:22:08.224Z\",\n        \"status\": \"produzindo\"\n      },\n      {\n        \"numero\": \"8792-55\",\n        \"produto\": {\n          \"codigo\": \"PPLESTREFOUGAL000000#0#0#910\",\n          \"descricao\": \"PERFIL U GALV P/ APOIO DE CAIXA MED 910MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"pendente\"\n      }\n    ]\n  },\n    {\n    \"_id\": \"Perfiladeira Sigma 120\",\n    \"codigo\": \"Sigma 120\",\n    \"nome\": \"Perfiladeira Sigma 120\",\n    \"path\": \"maquinas/perfiladeiras/sigma120\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.236\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.237\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.238\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n     \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9909,\n        \"resolucao\": 2500,\n        \"perimetro\": 400\n      },\n      \"manual\": {\n        \"aceleracao\": \"3\",\n        \"desaceleracao\": \"1\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"2\",\n        \"desaceleracao\": \"1\",\n        \"velocidade\": 100,\n        \"paradaEntrePecasProduzidas\": 40,\n        \"tempoParada\": 2\n      },\n      \"transmissao\": {\n        \"reducao\": \"72.73\",\n        \"diametrorolo\": 165,\n        \"avancoMilimetrosPorRotacao\": 0\n      },\n      \"corte\":{\n        \"espessura\": 5,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"corte\": 1\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"1231-11\",\n        \"produto\": {\n          \"codigo\": \"MEZSIG0CH1412000000#1800#0#0\",\n          \"descricao\": \"VIGA SIGMA 120 CH 2.00 MM MED 1800MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2017-04-10T11:22:08.224Z\",\n        \"status\": \"Produzindo\"\n      },\n      {\n        \"numero\": \"8792-55\",\n        \"produto\": {\n          \"codigo\": \"PPLSTRSI120050D00000#1200#0#0\",\n          \"descricao\": \"STOP TRAZEIRO SIGMA 120 DEITADO MED 1200MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2017-04-14T11:22:08.224Z\",\n        \"status\": \"Pendente\"\n      }\n    ]\n  }\n]\nnode.status({fill:\"blue\",shape:\"dot\",text:x});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 423.4758186340332,
        "y": 3090.1255655288696,
        "wires": [
            [
                "7fc844d9.163eec"
            ]
        ]
    },
    {
        "id": "aa6a5d53.71287",
        "type": "http in",
        "z": "3f422101.3791ae",
        "name": "maquinas alterar",
        "url": "/api/maquina/",
        "method": "put",
        "swaggerDoc": "",
        "x": 135.33293533325195,
        "y": 3182.12557092309,
        "wires": [
            []
        ]
    },
    {
        "id": "ffb86459.735c28",
        "type": "http response",
        "z": "3f422101.3791ae",
        "name": "",
        "x": 605.332935333252,
        "y": 3182.12557092309,
        "wires": []
    },
    {
        "id": "68aa23d7.e0802c",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "SQL",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 385.33293533325195,
        "y": 3182.12557092309,
        "wires": [
            [
                "ffb86459.735c28"
            ]
        ]
    },
    {
        "id": "398a69e3.313ea6",
        "type": "http in",
        "z": "3f422101.3791ae",
        "name": "maquinas incluir",
        "url": "/api/maquina/",
        "method": "post",
        "swaggerDoc": "",
        "x": 135.33293533325195,
        "y": 3133.12557092309,
        "wires": [
            []
        ]
    },
    {
        "id": "28967eba.e63c82",
        "type": "http response",
        "z": "3f422101.3791ae",
        "name": "",
        "x": 605.332935333252,
        "y": 3133.12557092309,
        "wires": []
    },
    {
        "id": "96e3077.85dccf8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "SQL",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 385.33293533325195,
        "y": 3133.12557092309,
        "wires": [
            [
                "28967eba.e63c82"
            ]
        ]
    },
    {
        "id": "744d78de.896a98",
        "type": "http in",
        "z": "3f422101.3791ae",
        "name": "/api/maquina/config",
        "url": "/api/maquina/config",
        "method": "get",
        "swaggerDoc": "",
        "x": 152.99966430664062,
        "y": 333.363618850708,
        "wires": [
            [
                "e0d5cd6b.723b"
            ]
        ]
    },
    {
        "id": "e4c79f51.06a1d",
        "type": "http response",
        "z": "3f422101.3791ae",
        "name": "",
        "x": 892.9996643066406,
        "y": 242.363618850708,
        "wires": []
    },
    {
        "id": "a53e91a4.bcf41",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "resposta mongo config OK",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 961.9996643066406,
        "y": 291.363618850708,
        "wires": []
    },
    {
        "id": "eb8c64b0.c42f38",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "config IHM",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 914.9996643066406,
        "y": 520.363618850708,
        "wires": []
    },
    {
        "id": "c6a168ff.e81bc8",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "INICIALIZA VARIAVEIS GLOBAIS DAS MAQUINAS",
        "info": "",
        "x": 1956.850959777832,
        "y": 1449.7874355316162,
        "wires": []
    },
    {
        "id": "fe0d05f.f7255f8",
        "type": "http in",
        "z": "3f422101.3791ae",
        "name": "/api/maquina/config/save",
        "url": "/api/maquina/config",
        "method": "post",
        "swaggerDoc": "",
        "x": 177.99966430664062,
        "y": 620.3636493682861,
        "wires": [
            [
                "298ad3cc.8c239c"
            ]
        ]
    },
    {
        "id": "aa3683c5.babd7",
        "type": "http response",
        "z": "3f422101.3791ae",
        "name": "",
        "x": 894.7139339447021,
        "y": 613.5064506530762,
        "wires": []
    },
    {
        "id": "37d89342.f3c82c",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "APAGAR log_erro",
        "collection": "log_erro",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 932.9996643066406,
        "y": 390.363618850708,
        "wires": []
    },
    {
        "id": "834babdf.23ada8",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Apagar Cuidado \"Teste\"",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 122.33292198181152,
        "y": 1528.6967032849789,
        "wires": []
    },
    {
        "id": "6cee4bbe.905a44",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "APAGAR TODA A COLLECTION config",
        "collection": "config",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 603.4440841674805,
        "y": 1570.696702003479,
        "wires": []
    },
    {
        "id": "b4c64c8e.ddce3",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "LIMPAR coleção config",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 146.0862331390381,
        "y": 1569.6458810269833,
        "wires": [
            [
                "6cee4bbe.905a44",
                "b7796583.e84118"
            ]
        ]
    },
    {
        "id": "9ffad956.8fc638",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "APAGAR indice",
        "collection": "indice",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 923.8513793945312,
        "y": 436.69713401794434,
        "wires": []
    },
    {
        "id": "d4516a37.9cf2b8",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "String vazia",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 184.99966049194336,
        "y": 3476.6969985961914,
        "wires": [
            [
                "30841220.1855fe"
            ]
        ]
    },
    {
        "id": "909fe0ef.51522",
        "type": "mongodb in",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "consulta",
        "collection": "parametros",
        "operation": "find",
        "x": 703.9668312072754,
        "y": 3477.0524950027466,
        "wires": [
            [
                "84e6c7a8.381538"
            ]
        ]
    },
    {
        "id": "84e6c7a8.381538",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "resposta do MongoDB",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 988.0778732299805,
        "y": 3477.1636505126953,
        "wires": []
    },
    {
        "id": "dfeb141a.11bb38",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "contador +1",
        "func": "msg.query = { _id: 'AplanadoraN3' }\nmsg.payload = {\n    $inc: {\n       \"os.produzido\": 1\n     }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 506.1889305114746,
        "y": 3383.6303176879883,
        "wires": [
            [
                "dbd77ef5.fbc78"
            ]
        ]
    },
    {
        "id": "dbd77ef5.fbc78",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "salvar",
        "collection": "parametros",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 714.1889152526855,
        "y": 3384.0303115844727,
        "wires": []
    },
    {
        "id": "1c26b83d.4c6a98",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "$inc: incrementa",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 193.02246856689453,
        "y": 3383.29701423645,
        "wires": [
            [
                "dfeb141a.11bb38",
                "ab0ea147.8f652"
            ]
        ]
    },
    {
        "id": "30841220.1855fe",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Paginação ",
        "func": "msg.limit = 5;\nmsg.skip = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 502.4111843109131,
        "y": 3477.1117782592773,
        "wires": [
            [
                "909fe0ef.51522"
            ]
        ]
    },
    {
        "id": "7efa786f.75bfc8",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Paginação  e consulta MongoDB",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 221.18901824951172,
        "y": 3440.9636178016663,
        "wires": []
    },
    {
        "id": "ab0ea147.8f652",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n    node.send(msg);\n}, 50);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 505.52233505249023,
        "y": 3419.074604988098,
        "wires": [
            [
                "30841220.1855fe"
            ]
        ]
    },
    {
        "id": "96e8e8d6.c69138",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Contador Produzidos ++ ",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 198.1885108947754,
        "y": 3347.963574409485,
        "wires": []
    },
    {
        "id": "5ac573d9.ac563c",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 100ms",
        "func": "setTimeout(function() {\n    node.send(msg);\n}, 100);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1138.9996643066406,
        "y": 340.363618850708,
        "wires": [
            [
                "636eaf61.9eab7",
                "c5a8ad45.84ee1",
                "fa7f5ef7.dd4b5"
            ]
        ]
    },
    {
        "id": "636eaf61.9eab7",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "CONEXAO C/ SERVIDOR",
        "func": "if(global.get('conectadoServidor')){\n    console.dir('CONECTADO AO SERVIDOR !');\n    node.status({fill:\"blue\",shape:\"dot\",text:'CONECTADO COM SERVIDOR'});\n}else{\n    console.dir('-------------> ERRO NA CONEXAO PRODUCAO !!!!!! <-------------');\n    global.set('conectadoServidor', 0);\n    node.status({fill:\"red\",shape:\"dot\",text:'ERRO'});\n}\n\nmsg= {payload: global.get('conectadoServidor')};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1393.9996643066406,
        "y": 340.363618850708,
        "wires": [
            [
                "62f025ed.e0393c"
            ]
        ]
    },
    {
        "id": "4b2b6c85.acec14",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "salvar",
        "collection": "log_erro",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1585.9996643066406,
        "y": 388.363618850708,
        "wires": []
    },
    {
        "id": "c5a8ad45.84ee1",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "collection inicial log_erro",
        "func": "let myDate = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\nlet d = new Date();\nconst x = ((\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear() + \" \" + myDate)||0;\n        \nmsg.payload = {\n\t\"_id\": 1,\n\t\"log_mesagens\": {\n\t}\n}\nnode.status({fill:\"blue\",shape:\"dot\",text:x});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1384.7586135864258,
        "y": 388.46839141845703,
        "wires": [
            [
                "4b2b6c85.acec14"
            ]
        ]
    },
    {
        "id": "10968ce6.4d0753",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "salvar",
        "collection": "indice",
        "payonly": true,
        "upsert": false,
        "multi": true,
        "operation": "store",
        "x": 1586.9996643066406,
        "y": 436.363618850708,
        "wires": []
    },
    {
        "id": "fa7f5ef7.dd4b5",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "collection inicial indice",
        "func": "msg.payload = {\n\t\"_id\": \"indice\",\n\t\"indice_mesagens\": 0\n}\n\nnode.status({fill:\"blue\",shape:\"dot\",text:'Indice Criado'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1375.9996643066406,
        "y": 436.363618850708,
        "wires": [
            [
                "10968ce6.4d0753"
            ]
        ]
    },
    {
        "id": "92b53a1.c01c6c8",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Deserializador global \"Referencia\"",
        "info": "var msgs = [];\nvar g = (global.get(\"M\")||[0]);\nfor(z = 0; z < g.length) {\nfor (i = 0; i < 15; i++) {\n msgs.push(\n {\n _msgid: msg._msgid,\n topic: msg.topic,\n payload: g[z] & (1 << i)\n }\n );\n}\n}\n//var type = msg.payload[0] & 1 ? 'error' : 'warning';\n\n//var count = flow.get(\"CONTADOR_ERRO_M2\");\n//count++;\n\n\nreturn msgs;",
        "x": 579.9995956420898,
        "y": 123.36355113983154,
        "wires": []
    },
    {
        "id": "426dbe25.84cee",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "Inicialização MAQ",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 1880.333381652832,
        "y": 1485.000020980835,
        "wires": [
            [
                "f30afed4.182cd"
            ]
        ]
    },
    {
        "id": "99690f40.6717a",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "Topico Estado da Maquina",
        "topic": "AplanadoraN/Estado",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 3819.279228210449,
        "y": 3065.37589263916,
        "wires": []
    },
    {
        "id": "692c5de6.3d2494",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Global ModBus Referencias",
        "func": "global.set(\"ModBus\", msg.payload);\nmsg2 = {};\nmsg2.payload = \"Iguail\";\nvar Anterior =(global.get(\"Anterior\")||[0]);\nvar ValorAtual = global.get(\"ModBus\");\nmsg = null;\n\nfor (var i = 0; i < Anterior.length; i++) {\n \n if (Anterior[i] != ValorAtual[i]) {\n msg2.payload = \"Diferente\";\n global.set(\"Anterior\", ValorAtual);\n msg = {payload:ValorAtual};\n break;\n } \n}\nreturn [msg,msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 560.4104309082031,
        "y": 164.07792568206787,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "303e58bf.b06cf8",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "board/setup",
        "qos": "2",
        "broker": "37b3c15d.a7496e",
        "x": 549.9996948242188,
        "y": 2398.3636050224304,
        "wires": [
            [
                "36862eda.835662",
                "c83ff710.b4d4a8"
            ]
        ]
    },
    {
        "id": "36862eda.835662",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Registradores de Comandos",
        "func": "var p = JSON.parse(msg.payload);\nvar res = [null,null,null,null,null,null,null,null,null,null,null,null,null];\nvar modbus = global.get(\"ModBus\");\n \n //***** INICIALIZA OU DESLIGA MAQUINA *****//\n if (p.LigarMaquina !== undefined) {\n if (modbus[2] & (1 << 11)) {\n modbus[2] &= ~(1<<11); //M2.11 igual a 1 MbLigaChaveGeral\n node.status({fill:\"red\",shape:\"ring\",text:\"Geral Desligada\"});\n } else {\n modbus[2] |= (1<<11); //M2.11 igual a 0 MbLigaChaveGeral\n node.status({fill:\"green\",shape:\"dot\",text:\"Geral Ligada\"});\n }\n global.set(\"ComandoMaquina\",1); \n global.set('ModBus', modbus); //Atualiza registrador global.\n res[0] = {payload:modbus[2]}; //Primeiro liga ou desliga chave geral\n }\n \n //***** ON/OFF MOTOR *****//\n if (p.LigarPrensa !== undefined) {\n if ((modbus[3]) & (1 << 3)) {\n modbus[3] &= ~(1<<3); //M3.3 igual a 1 DbPrsLigaMotor\n global.set(\"MotorLigado\",0);\n node.status({fill:\"red\",shape:\"ring\",text:\"Motor OFF\"});\n } else {\n modbus[3] |= (1<<3);//M3.3 igual a 0 DbPrsParar\n global.set(\"MotorLigado\",1);\n node.status({fill:\"green\",shape:\"dot\",text:\"Motor ON\"});\n }\n global.set(\"ComandoMaquina\",2);\n global.set('ModBus', modbus);//Atualiza registrador global.\n res[1] = {payload: modbus[3]};\n }\n \n //***** ABRIR TAMPA MODBUS 31.10 *****//\n if (p.abrirTampa !== undefined) {\n if (p.abrirTampa == '1'){\n modbus[31] |= (1<<10); \n }else if (p.abrirTampa == '0'){\n modbus[31] = 0; \n }\n global.set(\"ComandoMaquina\",3);\n res[2] = {payload:(modbus[31])};\n }\n \n //***** FECHAR TAMPA MODBUS 31.11 *****//\n if (p.fecharTampa !== undefined) {\n if(p.fecharTampa == '1'){\n modbus[31] |= (1<<11); \n }else if (p.fecharTampa == '0'){\n modbus[31] = 0;\n }\n global.set(\"ComandoMaquina\",4);\n res[3] = {payload:(modbus[31])};\n }\n \n //***** AVANCAR PERFIL MODBUS 2.3 *****//\n if (p.avancaPerfil !== undefined) {\n if(p.avancaPerfil == '1'){\n modbus[2] |= (1<<3); \n }else if (p.avancaPerfil == '0'){\n modbus[2] &= ~(1<<3);\n }\n global.set(\"ComandoMaquina\",5);\n res[4] = {payload: modbus[2]};\n }\n //***** RECUAR PERFIL MODBUS 2.4 *****//\n if (p.recuaPerfil !== undefined) {\n if(p.recuaPerfil == '1'){\n modbus[2] |= (1<<4); \n }else if (p.recuaPerfil == '0'){\n modbus[2] &= ~(1<<4);\n }\n global.set(\"ComandoMaquina\",6); \n res[5] = {payload:modbus[2]};\n }\n \n //*****botao_Parar_Maquina***********//\n if (p.botao_Parar_Maquina !== undefined) {\n modbus[2] |= (1<<13); //M2.13 igual a 0 MbPrsParar\n modbus[2] &= ~(1<<0); //M2.0 igual a 0 MbModoAuto\n node.status({fill:\"red\",shape:\"ring\",text:\"Parando prensa\"});\n global.set(\"ComandoMaquina\",7);\n global.set('ModBus', modbus);//Atualiza registrador global.\n res[6] = {payload: modbus[2]};\n }\n \n //*****botao_Manual************//\n if (p.botao_Manual !== undefined) {\n modbus[3] |= 1; //Libera maquina\n modbus[2] &= ~(1<<0); //M2.0 igual a 0 MbModoAuto\n node.status({fill:\"red\",shape:\"ring\",text:\"Modo Manual\"});\n global.set(\"ComandoMaquina\",8);\n global.set('ModBus', modbus);//Atualiza registrador global.\n res[7] = {payload: modbus[2]};\n }\n \n //*****botao_Produzir*********//\n if (p.botao_Produzir !== undefined) {\n modbus[3] |= 1; //Libera maquina\n if ((modbus[2]) & (1 << 0)) {\n modbus[2] &= ~(1<<0); //M2.0 igual a 1 produzir\n node.status({fill:\"green\",shape:\"dot\",text:\"Produzindo\"});\n } else {\n modbus[2] |= (1<<0);//M2.0 igual a 0 não produzir\n node.status({fill:\"red\",shape:\"ring\",text:\"Não produzindo\"});\n }\n global.set(\"ComandoMaquina\",9);\n global.set('ModBus', modbus);//Atualiza registrador global.\n res[8] = {payload: modbus[2]};\n }\n \n //***** Reverçao do motor da prensa *****//\n if (p.SentidoInv !== undefined) {\n if ((modbus[2]) & (1 << 14)) {\n modbus[2] &= ~(1<<14); //M2.14 igual a 1 MbPrsSentidoInv\n global.set(\"MotorInvertido\",0);\n node.status({fill:\"blue\",shape:\"ring\",text:\"Motor normal\"});\n } else {\n modbus[2] |= (1<<14);//M3.3 igual a 0 DbPrsParar\n global.set(\"MotorInvertido\",1);\n node.status({fill:\"green\",shape:\"dot\",text:\"Motor Invertido\"});\n }\n global.set(\"ComandoMaquina\",10);\n global.set('ModBus', modbus);//Atualiza registrador global.\n res[9] = {payload: modbus[2]};\n }\n \n //***** DESLIGA MAQUINA depois zera tudo *****//\n if (p.ResetMaquina !== undefined) {\n modbus[2] &= ~(1<<11); \n node.status({fill:\"red\",shape:\"ring\",text:\"Geral Desligada e reset\"});\n global.set(\"ComandoMaquina\",0); \n global.set('ModBus', modbus); //Atualiza registrador global.\n res[10] = {payload:modbus[2]}; //Primeiro desliga chave geral\n }\n \n //*****Desbobinador ******//\n if (p.AceleracaoAuto !== undefined) {\n var x = global.get(\"Desbobinador\");\n if(x){\n global.set('Desbobinador', 0);//Atualiza registrador global.\n }else{\n global.set('Desbobinador', 1);//Atualiza registrador global.\n }\n global.set(\"ComandoMaquina\",11);\n res[11] = {payload: global.get(\"Desbobinador\")};\n }\n \n //*****Atualiza TABS-2**************//\n if (p.AtualizarRegistradores !== undefined) {\n node.status({fill:\"red\",shape:\"ring\",text:\"Tab-2\"});\n res[12] = {payload: 1};\n }\n \nreturn res;",
        "outputs": "13",
        "noerr": 0,
        "x": 847.1781234741211,
        "y": 2399.1470108032227,
        "wires": [
            [
                "4385b0f9.574de"
            ],
            [
                "45e7cc78.853694"
            ],
            [
                "699ee25c.ef766c"
            ],
            [
                "4b74aa93.e0f1f4"
            ],
            [
                "1c9b29d7.65a666"
            ],
            [
                "caa3832c.70e15"
            ],
            [
                "5b635d7a.3bf714"
            ],
            [
                "7a42f021.5382f"
            ],
            [
                "d05b95db.1985e8"
            ],
            [
                "36d307d7.5a1a88"
            ],
            [
                "82dbd0e8.0ef29"
            ],
            [
                "a3b7a4ff.8832e8"
            ],
            [
                "998aa1cf.9dfc6"
            ]
        ]
    },
    {
        "id": "45e7cc78.853694",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Liga Motor Prensa M3.3",
        "dataType": "HoldingRegister",
        "adr": "3",
        "server": "9d9e7956.cdee38",
        "x": 1227.5261917114258,
        "y": 2107.5493545532227,
        "wires": [
            [
                "da8f5bb2.8b1618"
            ],
            [
                "8c3a4c94.ffaf3"
            ]
        ]
    },
    {
        "id": "1c9b29d7.65a666",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Perfil Avança M2.3",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 1208.9073066711426,
        "y": 2316.8348898887634,
        "wires": [
            [
                "c397feac.bfd1f"
            ],
            [
                "a8ad87dc.fc3248"
            ]
        ]
    },
    {
        "id": "4b74aa93.e0f1f4",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Aplanadora Fecha M31.11",
        "dataType": "HoldingRegister",
        "adr": "31",
        "server": "9d9e7956.cdee38",
        "x": 1219.192771911621,
        "y": 2248.4064044952393,
        "wires": [
            [
                "301db44f.91665c"
            ],
            [
                "349d3c34.ec8144"
            ]
        ]
    },
    {
        "id": "699ee25c.ef766c",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Aplanadora Abre M31.10",
        "dataType": "HoldingRegister",
        "adr": "31",
        "server": "9d9e7956.cdee38",
        "x": 1228.3357162475586,
        "y": 2177.4064044952393,
        "wires": [
            [
                "c3b8fba7.148f78"
            ],
            [
                "e98988d4.1b7d68"
            ]
        ]
    },
    {
        "id": "caa3832c.70e15",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Perfil Recua M2.4",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 1207.621509552002,
        "y": 2387.8347792625427,
        "wires": [
            [
                "d03cb3de.65188"
            ],
            [
                "120ed666.87e3ca"
            ]
        ]
    },
    {
        "id": "8f7adeaf.2c7c5",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Registradores R/W Setup da Aplanadora \"HTML\"",
        "info": "#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso",
        "x": 1212.8174057006836,
        "y": 1979.7706680297852,
        "wires": []
    },
    {
        "id": "60d1ae93.b2c27",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Erro comunicação Escrita",
        "func": "msg.payload = {\n time: new Date(),\n type: 'error',\n message: 'Falha de escrita dos modbus do CLP.'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3564.2902221679688,
        "y": 3064.942539215088,
        "wires": [
            [
                "99690f40.6717a"
            ]
        ]
    },
    {
        "id": "42750595.14a0ec",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "VAR Globais",
        "func": "//Estado inicial da maquina é não inicializada MaqInicializada=0\nglobal.set(\"ComandoMaquina\",0);//liberamensagens do bloco libera maquina\nglobal.set(\"MotorPrensa\",0);\nglobal.set(\"MotorLigado\",0);\nglobal.set(\"MotorInvertido\",0);\nglobal.set(\"Desbobinador\",0);\nglobal.set(\"Indice_Mongo\",0);\nglobal.set(\"TamanhoDesejadoPeca_KEYBOARD\",0);\nglobal.set(\"TamanhoRealPeca_KEYBOARD\",0);\nglobal.set(\"FatorEncoder\",9909);\nglobal.set(\"ModBus\",[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]);\nvar start = new Date().getTime();\nglobal.set(\"tempo\",start);\nglobal.set(\"erro\",[]);\n\nmsg.payload= { type: 'warning', message: 'MAQUINA_OFF'};\nmsg.payload.time= new Date();\n//mensagens['CHAVE_GERAL_LIGADA'] = { type: 'warning', message: ' Chave Geral ligada' };\n\n//mensagens['MAQUINA_LIBERADA'] = { type: 'warning', message: ' Maquina Liberada' };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2424.333381652832,
        "y": 1487.000020980835,
        "wires": [
            [
                "83348503.f46a38",
                "5acf5954.4ed6e8"
            ]
        ]
    },
    {
        "id": "45698b7.af43074",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Ligou geral?",
        "func": "//verifica 2.11 e libera 3.0\nvar modbus = msg.payload;\nvar msg2 = {};\n\n\nif (((modbus[2]) & (1 << 11))) {\n modbus[3] |= 1; //M3.0 igual a 1 libera maquina\n msg.payload = modbus[3];\n msg2.payload =  { type: 'warning', message: ' Chave Geral ligada' };\n msg2.payload.time= new Date();\n node.status({fill:\"green\",shape:\"dot\",text:\"Chave Ligada\"});\n}else if (~((modbus[2]) & (1 << 11))){ \n modbus[3] &= 0;\n msg.payload = 0;\n msg2.payload =  { type: 'warning', message: ' Chave Geral Desligada' };\n msg2.payload.time= new Date();\n node.status({fill:\"yellow\",shape:\"ring\",text:\"Chave Deslidaga\"});\n}else {\n node.status({fill:\"red\",shape:\"ring\",text:\"Bug\"});\n}\n \n\nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 2503.4817085266113,
        "y": 2876.4119362831116,
        "wires": [
            [
                "e0776435.85e3a8"
            ],
            [
                "9a06a573.d28728"
            ]
        ]
    },
    {
        "id": "4385b0f9.574de",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "LigaGeral M2.11",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 1207.594627380371,
        "y": 2039.8631916046143,
        "wires": [
            [
                "f7580835.f0a308"
            ],
            [
                "edcf9411.d91c88"
            ]
        ]
    },
    {
        "id": "cfd9dcd9.d9c2a",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Libera Maquina M3.0",
        "dataType": "HoldingRegister",
        "adr": "3",
        "server": "9d9e7956.cdee38",
        "x": 2966.1998596191406,
        "y": 2870.058443546295,
        "wires": [
            [
                "ec6a80e6.618b5"
            ],
            [
                "4f3e660a.e02418"
            ]
        ]
    },
    {
        "id": "d431c06f.7343f",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Erro comunicação",
        "func": "msg.payload = { type: 'error', message: 'CLP não responde. Verifique as conexões de rede.'};\nmsg.payload.time= new Date();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1961.333381652832,
        "y": 1220.000020980835,
        "wires": [
            [
                "c2c5220a.c006e"
            ]
        ]
    },
    {
        "id": "e9703b45.435b48",
        "type": "modbustcp-no-pooling-read",
        "z": "3f422101.3791ae",
        "name": "LER_POP",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "32",
        "server": "9d9e7956.cdee38",
        "x": 1718.1961364746094,
        "y": 1362.0220403671265,
        "wires": [
            [
                "fa929536.972ea8",
                "9b13078.64121f8"
            ],
            [
                "d431c06f.7343f",
                "216b86c9.f8560a"
            ]
        ]
    },
    {
        "id": "75985a2.d42a2a4",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "atualizar",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "x": 1741.6245574951172,
        "y": 1932.0187821388245,
        "wires": [
            [
                "81972c62.08ae8"
            ]
        ]
    },
    {
        "id": "a75f58eb.95d308",
        "type": "link in",
        "z": "3f422101.3791ae",
        "name": "Atualizacao dos 32 registradores ModBus",
        "links": [
            "3885f260.b4a86e",
            "c3b8fba7.148f78",
            "301db44f.91665c",
            "c397feac.bfd1f",
            "d03cb3de.65188",
            "a3b7a4ff.8832e8"
        ],
        "x": 2078.0770111083984,
        "y": 3045.4756965637207,
        "wires": [
            [
                "eaa2d6ba.68b368"
            ]
        ]
    },
    {
        "id": "93ec0c20.a969a",
        "type": "link in",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "f7580835.f0a308",
            "da8f5bb2.8b1618",
            "f33f8791.8265c8",
            "ffe2a610.2de9c8",
            "c7690c7c.bdddd",
            "e7de3316.2c099",
            "41e7e1a5.d8c8e"
        ],
        "x": 1787.3818550109863,
        "y": 1859.9544887542725,
        "wires": [
            [
                "81972c62.08ae8"
            ]
        ]
    },
    {
        "id": "f7580835.f0a308",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 1388.3564414978027,
        "y": 2020.2728805541992,
        "wires": []
    },
    {
        "id": "3885f260.b4a86e",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Atualizacao dos 32 registradores ModBus",
        "links": [
            "a75f58eb.95d308",
            "278b8d9f.332cc2",
            "3292c332.e62afc",
            "17d59d24.8682a3",
            "fded0008.003bb8",
            "91bb35aa.506f38",
            "7a9f7416.07fd14",
            "ffc2b971.50fa4",
            "777bd47b.b983dc",
            "a99b0250.54b63"
        ],
        "x": 2368.139533996582,
        "y": 1433.2718715667725,
        "wires": []
    },
    {
        "id": "da8f5bb2.8b1618",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 1388.5649032592773,
        "y": 2090.687433242798,
        "wires": []
    },
    {
        "id": "8c3a4c94.ffaf3",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 1388.255470275879,
        "y": 2126.3065185546875,
        "wires": []
    },
    {
        "id": "7fb2661d.9b7b08",
        "type": "link in",
        "z": "3f422101.3791ae",
        "name": "",
        "links": [
            "8c3a4c94.ffaf3",
            "edcf9411.d91c88",
            "4f3e660a.e02418",
            "e98988d4.1b7d68",
            "349d3c34.ec8144",
            "99b3bbbe.d58ac8",
            "a8ad87dc.fc3248",
            "120ed666.87e3ca",
            "1735a92c.5a8817",
            "2d23d02b.7d703",
            "60685a1e.aca134",
            "69bb3e75.14f64",
            "e73c9334.f776",
            "f8b2a9f8.65eef8",
            "7a986293.8c8b9c",
            "1876e927.61d017",
            "de00c564.1ca1a8"
        ],
        "x": 3414.57893037796,
        "y": 3064.5409965515137,
        "wires": [
            [
                "60d1ae93.b2c27"
            ]
        ]
    },
    {
        "id": "edcf9411.d91c88",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 1388.3745079040527,
        "y": 2055.5445861816406,
        "wires": []
    },
    {
        "id": "c3b8fba7.148f78",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "a75f58eb.95d308"
        ],
        "x": 1389.4222030639648,
        "y": 2160.19545173645,
        "wires": []
    },
    {
        "id": "e98988d4.1b7d68",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 1389.644432067871,
        "y": 2194.19545173645,
        "wires": []
    },
    {
        "id": "301db44f.91665c",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "a75f58eb.95d308"
        ],
        "x": 1389.1555404663086,
        "y": 2230.306535720825,
        "wires": []
    },
    {
        "id": "349d3c34.ec8144",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 1389.1555404663086,
        "y": 2265.306535720825,
        "wires": []
    },
    {
        "id": "83348503.f46a38",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "Topico Estado da Maquina",
        "topic": "fabrica/ihm/estado/",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 2743.333381652832,
        "y": 1400.000020980835,
        "wires": []
    },
    {
        "id": "9a06a573.d28728",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "Topico Estado da Maquina",
        "topic": "AplanadoraN/Estado",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 2805.4284858703613,
        "y": 2919.6164288520813,
        "wires": []
    },
    {
        "id": "6ecb0cfd.58a214",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "Topico Estado da Maquina",
        "topic": "AplanadoraN/Estado",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 2807.280990600586,
        "y": 3050.3306159973145,
        "wires": []
    },
    {
        "id": "e0776435.85e3a8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 100ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 100);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2756.856758117676,
        "y": 2870.1878113746643,
        "wires": [
            [
                "cfd9dcd9.d9c2a"
            ]
        ]
    },
    {
        "id": "81972c62.08ae8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 500ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 500);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1940.856777191162,
        "y": 1932.2830710411072,
        "wires": [
            []
        ]
    },
    {
        "id": "cd4855aa.9d0fc8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "Comandomaquina=0",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 2790.047477722168,
        "y": 2781.1401720046997,
        "wires": []
    },
    {
        "id": "4f3e660a.e02418",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 3117.7735176086426,
        "y": 2876.2354226112366,
        "wires": []
    },
    {
        "id": "eaa2d6ba.68b368",
        "type": "switch",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina",
        "property": "ComandoMaquina",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 12,
        "x": 2212.3565521240234,
        "y": 3045.6165046691895,
        "wires": [
            [
                "3941fc9e.2ee4e4",
                "31fc46ca.23cf3a"
            ],
            [
                "45698b7.af43074"
            ],
            [
                "9a0bb6c7.0186c8"
            ],
            [
                "78946e2e.780e"
            ],
            [
                "c2b2bd6c.d1a17"
            ],
            [
                "9b022c05.7eb91"
            ],
            [
                "2ec7c125.1f79ae"
            ],
            [
                "8ae15362.53ef7"
            ],
            [
                "3d127d0a.bfb0e2"
            ],
            [
                "5e7909af.8cfc48"
            ],
            [
                "ad8b8a25.2fd098"
            ],
            [
                "35681a5c.3ef276"
            ]
        ]
    },
    {
        "id": "ec6a80e6.618b5",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3228.690254211426,
        "y": 2851.2830662727356,
        "wires": [
            []
        ]
    },
    {
        "id": "a5898d53.e72bf",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3234.618511199951,
        "y": 2983.6640000343323,
        "wires": [
            []
        ]
    },
    {
        "id": "9a0bb6c7.0186c8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Ligou motor?",
        "func": "//verifica 3.3 e libera 2.12\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n\nif (((modbus[3]) & (1 << 3))) {//M3.3 igual a 1 ligando motor\n modbus[2] |= (1<<12);\n msg.payload = modbus[2];\n msg2.payload ={ type: 'info', message: 'Acelerando motor...' };\n msg2.payload.time= new Date();\n node.status({fill:\"green\",shape:\"dot\",text:\"Acelerando...\"});\n}else if (~((modbus[3]) & (1 << 3))){ // M3.3 igual a 0 Desliga motor\n modbus[2] &= ~(1<<12);\n msg.payload = modbus[2];\n msg2.payload ={ type: 'info', message: 'Desligando motor...' };\n msg2.payload.time= new Date();\n node.status({fill:\"yellow\",shape:\"ring\",text:\"Deslingado\"});\n}else {\n node.status({fill:\"red\",shape:\"ring\",text:\"Bug\"});\n}\n \nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 2506.25679397583,
        "y": 3006.349802494049,
        "wires": [
            [
                "77061f0a.3b9f"
            ],
            [
                "6ecb0cfd.58a214"
            ]
        ]
    },
    {
        "id": "77061f0a.3b9f",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 100ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 100);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2756.856517791748,
        "y": 3000.2830691337585,
        "wires": [
            [
                "31cebb79.0c4c24"
            ]
        ]
    },
    {
        "id": "31cebb79.0c4c24",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Desliga motor M2.12",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 2966.5232734680176,
        "y": 2999.9497780799866,
        "wires": [
            [
                "a5898d53.e72bf"
            ],
            [
                "99b3bbbe.d58ac8"
            ]
        ]
    },
    {
        "id": "99b3bbbe.d58ac8",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 3123.1424140930176,
        "y": 3006.378366947174,
        "wires": []
    },
    {
        "id": "fa65911f.62f7d",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3237.3567695617676,
        "y": 3104.6997780799866,
        "wires": [
            []
        ]
    },
    {
        "id": "78946e2e.780e",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\" Aplanadora Abre M31.10\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2506.6067695617676,
        "y": 3109.6997780799866,
        "wires": [
            [
                "fa65911f.62f7d"
            ]
        ]
    },
    {
        "id": "4d5fd3a4.358f9c",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3237.8567695617676,
        "y": 3153.9497780799866,
        "wires": [
            []
        ]
    },
    {
        "id": "c2b2bd6c.d1a17",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Aplanadora fecha M31.11\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2505.1067695617676,
        "y": 3157.6997780799866,
        "wires": [
            [
                "4d5fd3a4.358f9c"
            ]
        ]
    },
    {
        "id": "c397feac.bfd1f",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "a75f58eb.95d308"
        ],
        "x": 1389.9460334777832,
        "y": 2300.406587123871,
        "wires": []
    },
    {
        "id": "a8ad87dc.fc3248",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 1390.3746223449707,
        "y": 2335.1208205223083,
        "wires": []
    },
    {
        "id": "d03cb3de.65188",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "a75f58eb.95d308"
        ],
        "x": 1390.9460334777832,
        "y": 2371.2636427879333,
        "wires": []
    },
    {
        "id": "120ed666.87e3ca",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 1390.2318000793457,
        "y": 2406.406587123871,
        "wires": []
    },
    {
        "id": "9b022c05.7eb91",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\" Perfil Avança M2.3\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2507.9996185302734,
        "y": 3204.7640419006348,
        "wires": [
            [
                "fbe4f143.10f6a"
            ]
        ]
    },
    {
        "id": "2ec7c125.1f79ae",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"M2.4\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2507.4996185302734,
        "y": 3250.7640419006348,
        "wires": [
            [
                "bf2ab421.388df8"
            ]
        ]
    },
    {
        "id": "fbe4f143.10f6a",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3237.7139739990234,
        "y": 3201.7640419006348,
        "wires": [
            []
        ]
    },
    {
        "id": "bf2ab421.388df8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3237.856674194336,
        "y": 3247.764033317566,
        "wires": [
            []
        ]
    },
    {
        "id": "d8aa29e4.ad5358",
        "type": "switch",
        "z": "3f422101.3791ae",
        "name": "i<6",
        "property": "i",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 5,
        "x": 2183.495822906494,
        "y": 1356.327558517456,
        "wires": [
            [
                "e9797736.d2e4a8"
            ],
            [
                "10d9ff7.1023401"
            ],
            [
                "7b10f04c.6f74"
            ],
            [
                "11e16bc3.c8be34"
            ],
            [
                "3885f260.b4a86e"
            ]
        ]
    },
    {
        "id": "203c6e06.e71172",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "i++",
        "func": "msg.i++;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2283.356819152832,
        "y": 1205.41090965271,
        "wires": [
            [
                "d8aa29e4.ad5358"
            ]
        ]
    },
    {
        "id": "e9797736.d2e4a8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ALARMES",
        "func": "var mensagens = global.get(\"mensagens\");\nvar msg2 ={\n payload: msg.payload\n};\n\nif (msg2.payload[0] & (1 << 0)) {\n    msg2.payload = { type: 'error', message: 'Emergencia acionada!'};\n} else if (msg2.payload[0] & (1 << 1)) {\n    msg2.payload = { type: 'error', message: 'Falta de Fase'};\n} else if (msg2.payload[0] & (1 << 2)) {\n    msg2.payload = { type: 'error', message: 'Térmico da Bomba Hidraulica'};\n} else if (msg2.payload[0] & (1 << 3)) {\n    msg2.payload = { type: 'error', message: 'Térmico do Motor do Martelo Prensa'};\n} else if (msg2.payload[0] & (1 << 4)) {\n    msg2.payload = { type: 'error', message: 'Pressao do Ar Baixa!'};\n} else if (msg2.payload[0] & (1 << 5)) {\n    msg2.payload = { type: 'error', message: 'Erro no Inversor'};\n} else if (msg2.payload[0] & (1 << 6)) {\n    msg2.payload = { type: 'error', message: 'Erro no Servo'};\n} else if ((msg2.payload[0] & (1 << 7))) { /*||(msg.payload[2] &= ~(1 << 11)))*/\n    msg2.payload = { type: 'warning', message: 'Chave Geral Desligada'};\n} else if (msg2.payload[0] & (1 << 9)) {\n    msg2.payload =  { type: 'error', message: 'Erro Posicionamento'}\n} else if (msg2.payload[0] & (1 << 10)) {\n    msg2.payload = { type: 'info', message: 'Segurança da Prensa'};\n} else if (msg2.payload[1] & (1 << 12)) {\n    msg2.payload = { type: 'info', message: 'Aplanadora Aberda'};\n} else if (msg2.payload[0] & (1 << 8)) {\n    msg2.payload = { type: 'warning', message: 'Maquina Não Liberada'};\n} else {\n    if((global.get(\"MotorInvertido\"))==1){\n        msg2.payload = { type: 'info', message: 'Motor Invertido!!!'};\n    }else{\n        msg2.payload = { type: 'info', message: 'Maquina OK'};\n    }\n}\n\nmsg2.payload.time= new Date();\nmsg.payload.time= msg2.payload.time;\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 2421.037342071533,
        "y": 1280.9109077453613,
        "wires": [
            [
                "203c6e06.e71172"
            ],
            [
                "1a65fa75.1e30f6",
                "83348503.f46a38"
            ]
        ]
    },
    {
        "id": "9b13078.64121f8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "loop",
        "func": "msg.i =0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1921.8290710449219,
        "y": 1356.1331577301025,
        "wires": [
            [
                "d8aa29e4.ad5358"
            ]
        ]
    },
    {
        "id": "10d9ff7.1023401",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ON OFF",
        "func": "var msg2 ={\n payload: msg.payload\n};\n\nif (msg2.payload[2] & (1 << 11 )) {\n    msg2.payload = { type: 'warning', message: 'MAQUINA_ON'};\n} else{\n    msg2.payload = { type: 'warning', message: 'MAQUINA_OFF'};\n}\n\nmsg2.payload.time= msg.payload.time;\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 2410.6344985961914,
        "y": 1318.9386777877808,
        "wires": [
            [
                "203c6e06.e71172"
            ],
            [
                "83348503.f46a38"
            ]
        ]
    },
    {
        "id": "ba48a853.cdf648",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Liga Chave Geral e Libera a Maquina",
        "info": "#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso",
        "x": 2581.7456817626953,
        "y": 2834.60528755188,
        "wires": []
    },
    {
        "id": "c381dca4.d9a0c",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Liga / Deslig Motor",
        "info": "#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso",
        "x": 2525.4124603271484,
        "y": 2964.6053352355957,
        "wires": []
    },
    {
        "id": "2746a4c0.a80cdc",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Envia para fila qualquer erro na comunicação",
        "info": "#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso",
        "x": 3628.1900482177734,
        "y": 3026.6053352355957,
        "wires": []
    },
    {
        "id": "7b982c2d.20fc54",
        "type": "mongodb in",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "consulta",
        "collection": "parametros",
        "operation": "find",
        "x": 602.1384620666504,
        "y": 3552.530331134796,
        "wires": [
            [
                "7ab96e23.43ca7"
            ]
        ]
    },
    {
        "id": "f80c04c0.0dc4f8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "lê apenas 1 parametro",
        "func": "// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = { \"_id\": \"AplanadoraN3\" }\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { \"parametros.encoder.fator\": 1 }\n\n// Ler 1 valor\nmsg.limit = 1;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 389.24953269958496,
        "y": 3552.3673615455627,
        "wires": [
            [
                "7b982c2d.20fc54"
            ]
        ]
    },
    {
        "id": "85466217.03a8c",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 169.26344299316406,
        "y": 3552.03031206131,
        "wires": [
            [
                "f80c04c0.0dc4f8"
            ]
        ]
    },
    {
        "id": "7ab96e23.43ca7",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "parse(fator encoder)",
        "func": "msg.payload=msg.payload[0].parametros.encoder.fator;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 795.3052787780762,
        "y": 3552.947030544281,
        "wires": [
            [
                "71c576f0.caad58"
            ]
        ]
    },
    {
        "id": "71c576f0.caad58",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "ler registrador x",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1001.6386985778809,
        "y": 3552.9469113349915,
        "wires": []
    },
    {
        "id": "db8eb9c0.461068",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Lê apenas um valor",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 174.47149467468262,
        "y": 3516.9469714164734,
        "wires": []
    },
    {
        "id": "5acf5954.4ed6e8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Paginação ",
        "func": "msg.limit = 50;\nmsg.skip = 0;\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2690.333381652832,
        "y": 1554.000020980835,
        "wires": [
            [
                "cccfbe3b.1ca04"
            ]
        ]
    },
    {
        "id": "23f8b444.088ebc",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Carrega valores iniciais do banco",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 2747.333381652832,
        "y": 1515.000020980835,
        "wires": []
    },
    {
        "id": "b3bee5b3.702928",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "Array completo",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 3300.664794921875,
        "y": 1504.07861328125,
        "wires": []
    },
    {
        "id": "a328d4ba.557548",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "tamanho",
        "active": false,
        "console": "false",
        "complete": "payload.length",
        "x": 3280.33154296875,
        "y": 1461.554443359375,
        "wires": []
    },
    {
        "id": "47159ceb.d93454",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Separa cada mensagem",
        "func": "var msgs = [null, null, null, null, null, null, null, null, null, null];\n\nmsgs[flow.get('params').length - 1] = {payload: flow.get('params')[flow.get('params').length - 1]};\n\nnode.send(msgs);\n",
        "outputs": "10",
        "noerr": 0,
        "x": 3535.292724609375,
        "y": 1546.39892578125,
        "wires": [
            [
                "322a851.8a1977a",
                "10711e6a.720182"
            ],
            [
                "daf003bd.19cd9"
            ],
            [
                "aa035180.56781"
            ],
            [
                "71147d7c.db7594"
            ],
            [
                "6e6d72b4.f94d7c"
            ],
            [
                "4fb6b174.b9a42"
            ],
            [
                "6eece4fd.472e4c"
            ],
            [
                "921fa6ac.588e08"
            ],
            [
                "8ec7469.540c9b8"
            ],
            [
                "5d8709b5.f20a48"
            ]
        ]
    },
    {
        "id": "1735a92c.5a8817",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 4122.733245849609,
        "y": 1822.502314567566,
        "wires": []
    },
    {
        "id": "de2a4214.04601",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "LOOP DE ESCRITA",
        "func": "//Somente entra aqui se o array ainda for >= 0\nif (flow.get('params').length >= 0) {\n \n // Carrega todos os parametros que ainda não foram enviados\n var params = flow.get('params');\n \n // Cria um novo Array tirando o ultimo elemento\n var novo = params.slice(0, flow.get('params').length - 1);\n \n // Sobrescreve o arry params\n flow.set('params', novo);\n \n // Envia novo array com -1 elemento\n msg.payload = novo;\n return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 3586.618896484375,
        "y": 1337.7164306640625,
        "wires": [
            [
                "47159ceb.d93454"
            ]
        ]
    },
    {
        "id": "2d7806a4.f1a3fa",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "LOOP",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 3536.0791015625,
        "y": 1296.6053466796875,
        "wires": []
    },
    {
        "id": "322a851.8a1977a",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "AplanVelAuto_M14",
        "dataType": "HoldingRegister",
        "adr": "14",
        "server": "9d9e7956.cdee38",
        "x": 3896.829002380371,
        "y": 1346.7164363861084,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "eb66237a.c0298"
            ],
            [
                "1735a92c.5a8817"
            ]
        ]
    },
    {
        "id": "6e6d72b4.f94d7c",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "EncResol_M21",
        "dataType": "HoldingRegister",
        "adr": "21",
        "server": "9d9e7956.cdee38",
        "x": 3888.400463104248,
        "y": 1539.145022392273,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "96e48791.470a58"
            ],
            [
                "1735a92c.5a8817"
            ]
        ]
    },
    {
        "id": "aa035180.56781",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "AplanPasso_M18",
        "dataType": "HoldingRegister",
        "adr": "18",
        "server": "9d9e7956.cdee38",
        "x": 3898.9716796875,
        "y": 1443.859375,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "3cb6665d.6432ca"
            ],
            [
                "1735a92c.5a8817"
            ]
        ]
    },
    {
        "id": "daf003bd.19cd9",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "AplanVelMan_M17",
        "dataType": "HoldingRegister",
        "adr": "17",
        "server": "9d9e7956.cdee38",
        "x": 3898.1146240234375,
        "y": 1394.859375,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "6ff967e5.bbf5f8"
            ],
            [
                "1735a92c.5a8817"
            ]
        ]
    },
    {
        "id": "71147d7c.db7594",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "EncFactor_M20",
        "dataType": "HoldingRegister",
        "adr": "20",
        "server": "9d9e7956.cdee38",
        "x": 3887.971752166748,
        "y": 1492.5736112594604,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "758841f0.5bbd5"
            ],
            [
                "1735a92c.5a8817"
            ]
        ]
    },
    {
        "id": "5d8709b5.f20a48",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "NovoCiclosMil_M26",
        "dataType": "HoldingRegister",
        "adr": "26",
        "server": "9d9e7956.cdee38",
        "x": 3908.828929901123,
        "y": 1781.7164335250854,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "25e0e342.1f8cac"
            ],
            [
                "1735a92c.5a8817"
            ]
        ]
    },
    {
        "id": "6eece4fd.472e4c",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "PrsCiclosUnid_M27",
        "dataType": "HoldingRegister",
        "adr": "27",
        "server": "9d9e7956.cdee38",
        "x": 3899.400146484375,
        "y": 1640.4307861328125,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "1154279d.870758"
            ],
            [
                "1735a92c.5a8817"
            ]
        ]
    },
    {
        "id": "4fb6b174.b9a42",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "EncPerim_M22",
        "dataType": "HoldingRegister",
        "adr": "22",
        "server": "9d9e7956.cdee38",
        "x": 3888.5430908203125,
        "y": 1589.4307861328125,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "d069fa5e.c28398"
            ],
            [
                "1735a92c.5a8817"
            ]
        ]
    },
    {
        "id": "8ec7469.540c9b8",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "NovoPrsCiclosUnd_M25",
        "dataType": "HoldingRegister",
        "adr": "25",
        "server": "9d9e7956.cdee38",
        "x": 3918.400218963623,
        "y": 1732.145022392273,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "d1baee8f.18b2d"
            ],
            [
                "1735a92c.5a8817"
            ]
        ]
    },
    {
        "id": "921fa6ac.588e08",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "PrsCiclosMil_M28",
        "dataType": "HoldingRegister",
        "adr": "28",
        "server": "9d9e7956.cdee38",
        "x": 3899.6067810058594,
        "y": 1686.2165174484253,
        "wires": [
            [
                "f3dfdc5d.546f1",
                "fb901fa1.dca68"
            ],
            [
                "1735a92c.5a8817"
            ]
        ]
    },
    {
        "id": "507768a8.b14b28",
        "type": "link in",
        "z": "3f422101.3791ae",
        "name": "loop escrita",
        "links": [
            "f3dfdc5d.546f1"
        ],
        "x": 3241.35693359375,
        "y": 1336.68310546875,
        "wires": [
            [
                "920309e0.622ac8"
            ]
        ]
    },
    {
        "id": "f3dfdc5d.546f1",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "loop inicializando CLP",
        "links": [
            "507768a8.b14b28"
        ],
        "x": 4132.106781005859,
        "y": 1304.4831800460815,
        "wires": []
    },
    {
        "id": "920309e0.622ac8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 100ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 100);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 3364.35693359375,
        "y": 1336.6331787109375,
        "wires": [
            [
                "2d7806a4.f1a3fa",
                "de2a4214.04601"
            ]
        ]
    },
    {
        "id": "3d792536.d4f21a",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "Topico Regitradores da Maquina",
        "topic": "AplanadoraN/registradores",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 4675.0830078125,
        "y": 1538.83544921875,
        "wires": []
    },
    {
        "id": "6cfcc577.3bdfac",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Grava valor dos registradores no CLP",
        "info": "A cada inicialização os valores dos registradores são atualizados a partir de MongoDB:\n\n1- AplanVelAuto M14\nVelocidade maxima no automatico de 0% a 100%\n\n2- AplanVelMan M17\nVelocidade maxima no manual de 0% a 100%\n\n3- AplanPasso M18\nPasso da ferramenta em \"mm\", de 0 a 400mm\n\n4- EncFactor M20\nFator de correção do encoder em numeros inteiros apenas.\n\n5- EncResol M21\nResolução do encoder em numeros inteiros apenas. 1 a 10000\n\n6- EncPerim M22\nPerimetro do encoder em \"mm\". De 1 a 999\n\n7- PrsCiclosUnid M23\nCiclos de Lubrificação da prensa. De 0 a 65534 unidades\n\n8- PrsCiclosMil M24\nCiclos de Lubrificação da prensa vezes 1000. De 0 a 65534 unidades\n\n9- NovoPrsCiclosUnd M25\nCiclos que faltam para proxima Lubrificação da prensa. De 0 a 65534 unidades\n\n10- NovoCiclosMil M26\nCiclos que faltam para proxima Lubrificação da prensa vezes 1000. De 0 a 65534 unidades\n\n",
        "x": 3954.273193359375,
        "y": 1295.5498046875,
        "wires": []
    },
    {
        "id": "eb66237a.c0298",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M14 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n AplanVelAuto: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n\n \nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 4280.60661315918,
        "y": 1339.4546480178833,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "6ff967e5.bbf5f8",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M17 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n AplanVelMan: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n \nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 4279.463958740234,
        "y": 1388.0260572433472,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "758841f0.5bbd5",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M20 na pagina",
        "func": "var valor = msg.payload;\n\nglobal.set(\"FatorEncoder\",valor);\nmsg.payload = {\n EncFactor: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n \nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 4278.463958740234,
        "y": 1485.740382194519,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "3cb6665d.6432ca",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M18 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n AplanPasso: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 4279.60661315918,
        "y": 1436.1689729690552,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "1154279d.870758",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M27 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n PrsCiclosUnid: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n \nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 4277.321136474609,
        "y": 1631.883204460144,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "d069fa5e.c28398",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M22 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n EncPerim: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 4278.463790893555,
        "y": 1582.3117952346802,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "96e48791.470a58",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M21 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n EncResol: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 4278.321136474609,
        "y": 1534.1688795089722,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "25e0e342.1f8cac",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M26 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n NovoCiclosMil: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:\"falta implementar\"});\n \nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 4276.463958740234,
        "y": 1775.740382194519,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "d1baee8f.18b2d",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M25 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n NovoPrsCiclosUnd: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n \nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 4277.60661315918,
        "y": 1726.1689729690552,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "fb901fa1.dca68",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza M28 na pagina",
        "func": "var valor = msg.payload;\n\nmsg.payload = {\n PrsCiclosMil: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:(\"Valor x1000 = \"+ valor)});\n\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 4277.463958740234,
        "y": 1678.0260572433472,
        "wires": [
            [
                "3d792536.d4f21a"
            ]
        ]
    },
    {
        "id": "af685ba4.325c48",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Atualiza MongoDB",
        "func": "var parametro = JSON.parse(msg.payload);\n\n/****** APLANADORA VELOCIDADE AUTOMATICA M14 *********/\nif (parametro.AplanVelAuto_KEYBOARD !== undefined) {\n var x = parametro.AplanVelAuto_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.velocidade.automatico\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Velocidade Auto = \"+ x)});\n return msg;\n}\n\n/****** APLANADORA VELOCIDADE MANUAL M17 *********/\nif (parametro.AplanVelMan_KEYBOARD !== undefined) {\n var x = parametro.AplanVelMan_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.velocidade.manual\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Velocidade Manual = \"+ x)});\n return msg;\n}\n\n/****** APLANADORA PASSO M18 *********/\nif (parametro.AplanPasso_KEYBOARD !== undefined) {\n var x = parametro.AplanPasso_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.ferramenta.passo\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Passo = \"+ x)});\n return msg;\n}\n\n/****** FATOR DE ENCONDER M20*********/\nif (parametro.EncFactor_KEYBOARD !== undefined) {\n var x = parametro.EncFactor_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.encoder.fator\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"fator = \"+ x)});\n return msg;\n}\n\n/****** RESOLUÇÃO DO ENCONDER M21 *********/\nif (parametro.EncResol_KEYBOARD !== undefined) {\n var x = parametro.EncResol_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.encoder.resolucao\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Resolução ENC = \"+ x)});\n return msg;\n}\n\n/****** PERIMETRO DO ENCONDER M22 *********/\nif (parametro.EncPerim_KEYBOARD !== undefined) {\n var x = parametro.EncPerim_KEYBOARD;\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.encoder.perimetro\": x\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Perimetro ENC = \"+ x)});\n return msg;\n}\n\n/****** TamanhoDesejadoPeca Campo da pagina *********/\nif (parametro.TamanhoDesejadoPeca_KEYBOARD !== undefined) {\n var x = (parametro.TamanhoDesejadoPeca_KEYBOARD||0);\n if ((x>=2)&&(x<=20000)){\n global.set('TamanhoDesejadoPeca_KEYBOARD', x);\n }else {\n x=0;\n global.set('TamanhoDesejadoPeca_KEYBOARD', 0);\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Tamanho Desejado = \"+ x)});\n}\n\n/****** TamanhoRealPeca Campo da pagina *********/\nif (parametro.TamanhoRealPeca_KEYBOARD !== undefined) {\n var x = (parametro.TamanhoRealPeca_KEYBOARD||0);\n if ((x>=2)&&(x<=20000)){\n global.set('TamanhoRealPeca_KEYBOARD', x);\n }else {\n x=0;\n global.set('TamanhoRealPeca_KEYBOARD', 0);\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Tamanho Real = \"+ x)});\n}\n\n/****** RecalcularFator e grava no banco *********/\nif (parametro.RecalcularFator !== undefined) {\n var x = (global.get('TamanhoRealPeca_KEYBOARD')||0);\n var y = (global.get('TamanhoDesejadoPeca_KEYBOARD')||0);\n if ((x!==0)&&(y!==0)){\n var z = x/y;\n z *= (global.get('FatorEncoder')/10000);\n var z2 = Math.round(z*10000);\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"parametros.encoder.fator\": z2\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Calculado Fator ENC = \"+ z2)});\n return msg;\n }\n}\n\n/****** Atualiza numero de cilcos da prensa e grava no banco ********/\nif ((parametro.PrsCiclosUnid_KEYBOARD !== undefined )||(parametro.PRENSA_CICLOS !== undefined) ) {\n msg.query = { _id: 'AplanadoraN3' }\n msg.payload = {\n $set: {\n \"lubrificacao.ciclos.PrsCiclosUnid\": parametro.PrsCiclosUnid_KEYBOARD\n }\n }\n node.status({fill:\"blue\",shape:\"dot\",text:(\"Ciclos = \"+ parametro.PrsCiclosUnid_KEYBOARD)});\n return msg;\n}\n\n/* FALTA FAZER*************\nPrsCiclosUnid M23\nPrsCiclosMil M24\nNovoPrsCiclosUnd M25\nNovoCiclosMil M26*/\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2150.2138175964355,
        "y": 1674.7402973175049,
        "wires": [
            [
                "f94637bc.72f068",
                "9f1cc9f3.7aece8",
                "de8f8edb.9cff6"
            ]
        ]
    },
    {
        "id": "f94637bc.72f068",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "85fd827e.46d3c",
        "name": "salvar",
        "collection": "parametros",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 2412.21378326416,
        "y": 1674.8069677352905,
        "wires": []
    },
    {
        "id": "7e52dbd6.a6d584",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "AplanadoraN/registradores",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 1879.3095970153809,
        "y": 1725.0178928375244,
        "wires": [
            [
                "af685ba4.325c48",
                "a55a1e61.1fab"
            ]
        ]
    },
    {
        "id": "50b40fb.56f43f",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Save the modified values in the bank",
        "info": "#Whats is saved until now!\n\nAfter one JSON.parse(msg.payload);\n\nAPLANADORA VELOCIDADE AUTOMATICA M14\nAPLANADORA VELOCIDADE MANUAL M17\nAPLANADORA PASSO M18\nRESOLUÇÃO DO ENCONDER M21",
        "x": 2154.3769302368164,
        "y": 1634.149034500122,
        "wires": []
    },
    {
        "id": "9f1cc9f3.7aece8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "Salvou",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 2411.6426162719727,
        "y": 1727.7403182983398,
        "wires": []
    },
    {
        "id": "de8f8edb.9cff6",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 300ms",
        "func": "setTimeout(function() {\n msg= {payload: \"{MAQUINA_OFF:0}\"};\n node.send(msg);\n}, 300);\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2428.666572570801,
        "y": 1617.2641525268555,
        "wires": [
            [
                "523de868.ee89a8",
                "5acf5954.4ed6e8"
            ]
        ]
    },
    {
        "id": "523de868.ee89a8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "depois de salvar",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 2690.409828186035,
        "y": 1676.9096908569336,
        "wires": []
    },
    {
        "id": "a55a1e61.1fab",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "fila",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 2110.679584503174,
        "y": 1724.624017715454,
        "wires": []
    },
    {
        "id": "c83ff710.b4d4a8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "board/setup",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 798.7316780090332,
        "y": 2271.19221162796,
        "wires": []
    },
    {
        "id": "fa929536.972ea8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "Leitura PLC",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1943.142707824707,
        "y": 1309.9188442230225,
        "wires": []
    },
    {
        "id": "7b10f04c.6f74",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "POSICAO",
        "func": "var msg2 ={\n payload: msg.payload\n};\n\nif (msg2.payload[19] !== 0) {\n    msg2.payload = { type: 'info', message: 'ERRO_POS: ' + (msg2.payload[19].toString())};\n} else{\n    msg2.payload = { type: 'info', message: 'POS_ATUAL: '+ (msg2.payload[5].toString())};\n}\nmsg2.payload.time= msg.payload.time;\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 2420.8569717407227,
        "y": 1356.4998397827148,
        "wires": [
            [
                "203c6e06.e71172"
            ],
            [
                "83348503.f46a38"
            ]
        ]
    },
    {
        "id": "11e16bc3.c8be34",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "MIL CICLOS",
        "func": "var msg2 ={\n payload: msg.payload\n};\n\n//var ciclos = msg2.payload[23];\nvar Mciclos =msg2.payload[24];\n\n msg2.payload = { type: 'info', message: 'PRENSA_MIL_CICLOS: '+ (msg2.payload[24].toString())};\n\nmsg2.payload.time= msg.payload.time;\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 2423.157112121582,
        "y": 1395.1998500823975,
        "wires": [
            [
                "203c6e06.e71172"
            ],
            [
                "83348503.f46a38"
            ]
        ]
    },
    {
        "id": "f30afed4.182cd",
        "type": "delay",
        "z": "3f422101.3791ae",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2193.333381652832,
        "y": 1486.000020980835,
        "wires": [
            [
                "42750595.14a0ec"
            ]
        ]
    },
    {
        "id": "d05b95db.1985e8",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Modo Auto M2.0 ON/OFF",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 1225.5721321105957,
        "y": 2601.187394618988,
        "wires": [
            [
                "f33f8791.8265c8"
            ],
            [
                "2d23d02b.7d703"
            ]
        ]
    },
    {
        "id": "8ae15362.53ef7",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Parar Maquina\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2507.706771850586,
        "y": 3308.116443634033,
        "wires": [
            [
                "835451f4.5a93a"
            ]
        ]
    },
    {
        "id": "3d127d0a.bfb0e2",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"M31.11\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2506.206771850586,
        "y": 3386.116443634033,
        "wires": [
            [
                "28ee6a27.238ba6"
            ]
        ]
    },
    {
        "id": "5e7909af.8cfc48",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Produzir\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2509.099620819092,
        "y": 3433.1807074546814,
        "wires": [
            [
                "b9f58702.491698"
            ]
        ]
    },
    {
        "id": "35681a5c.3ef276",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms Desbobinador",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Desbobinador\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2558.599620819092,
        "y": 3604.1807074546814,
        "wires": [
            [
                "91ed9b83.330878"
            ]
        ]
    },
    {
        "id": "909bffb8.7ad7a",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3238.3235931396484,
        "y": 3294.816394805908,
        "wires": [
            []
        ]
    },
    {
        "id": "28ee6a27.238ba6",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3238.8235931396484,
        "y": 3386.066394805908,
        "wires": [
            []
        ]
    },
    {
        "id": "765f2bc8.9b2264",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3238.6807975769043,
        "y": 3426.8806586265564,
        "wires": [
            []
        ]
    },
    {
        "id": "91ed9b83.330878",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3238.823497772217,
        "y": 3604.8806500434875,
        "wires": [
            []
        ]
    },
    {
        "id": "f33f8791.8265c8",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 1387.6389045715332,
        "y": 2587.1374068260193,
        "wires": []
    },
    {
        "id": "2d23d02b.7d703",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 1387.3294715881348,
        "y": 2622.756492137909,
        "wires": []
    },
    {
        "id": "b9f58702.491698",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Muda MbMaquinaProduzindo M1.7",
        "func": "//*****MbMaquinaProduzindo M1.7\nvar modbus = global.get(\"ModBus\");\n \nif ((modbus[2]) & (1 << 0)) {\n modbus[1] &= ~(1<<7); //M1.7 igual a 1 produzir\n node.status({fill:\"red\",shape:\"dot\",text:\"M1.7 = OFF\"});\n} else {\n modbus[1] |= (1<<7);//M1.7 igual a 0 não produzir\n node.status({fill:\"green\",shape:\"ring\",text:\"M1.7 = ON\"});\n}\nglobal.set(\"ComandoMaquina\",9);\nglobal.set('ModBus', modbus);//Atualiza registrador global.\nmsg.payload = modbus[1];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2755.3067474365234,
        "y": 3433.4832038879395,
        "wires": [
            [
                "cac5fc75.5c759"
            ]
        ]
    },
    {
        "id": "cac5fc75.5c759",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Modo Auto M1.7",
        "dataType": "HoldingRegister",
        "adr": "1",
        "server": "9d9e7956.cdee38",
        "x": 3001.3401947021484,
        "y": 3434.166492462158,
        "wires": [
            [
                "765f2bc8.9b2264"
            ],
            [
                "60685a1e.aca134"
            ]
        ]
    },
    {
        "id": "60685a1e.aca134",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 3164.323471069336,
        "y": 3468.1665534973145,
        "wires": []
    },
    {
        "id": "5b635d7a.3bf714",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "MbPrsParar M2.13 & 2.0",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 1222.6054420471191,
        "y": 2459.887279033661,
        "wires": [
            [
                "ffe2a610.2de9c8"
            ],
            [
                "69bb3e75.14f64"
            ]
        ]
    },
    {
        "id": "ffe2a610.2de9c8",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 1389.6721687316895,
        "y": 2441.837296962738,
        "wires": []
    },
    {
        "id": "69bb3e75.14f64",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 1389.362720489502,
        "y": 2476.456437587738,
        "wires": []
    },
    {
        "id": "7a42f021.5382f",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Modo Auto M2.0 OFF",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 1216.0388679504395,
        "y": 2527.8874068260193,
        "wires": [
            [
                "c7690c7c.bdddd"
            ],
            [
                "e73c9334.f776"
            ]
        ]
    },
    {
        "id": "c7690c7c.bdddd",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 1389.105640411377,
        "y": 2513.8374190330505,
        "wires": []
    },
    {
        "id": "e73c9334.f776",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 1387.7962074279785,
        "y": 2549.45650434494,
        "wires": []
    },
    {
        "id": "a3b7a4ff.8832e8",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "a75f58eb.95d308"
        ],
        "x": 1131.6055793762207,
        "y": 2817.2375044822693,
        "wires": []
    },
    {
        "id": "835451f4.5a93a",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Parar motor",
        "func": "//muda 3.3\nvar mensagens = global.get(\"mensagens\");\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n// M3.3 igual a 0 Desliga motor\n modbus[2] &= ~(1<<12);\n msg.payload = modbus[2];\n msg2.payload ={ type: 'info', message: 'Desligando motor para reverter...' };\n msg2.payload.time= new Date();\n node.status({fill:\"yellow\",shape:\"ring\",text:\"Deslingado\"});\n\nglobal.set(\"MotorLigado\",0);\nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 2689.9817962646484,
        "y": 3308.6539192199707,
        "wires": [
            [
                "1c039ee5.9fdc81"
            ],
            [
                "ec6c27e6.f2b998"
            ]
        ]
    },
    {
        "id": "ec6c27e6.f2b998",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "Topico Estado da Maquina",
        "topic": "AplanadoraN/Estado",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 2959.4817962646484,
        "y": 3351.4039192199707,
        "wires": []
    },
    {
        "id": "1c039ee5.9fdc81",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Desliga motor M2.12",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 2940.2317962646484,
        "y": 3301.6539192199707,
        "wires": [
            [
                "909bffb8.7ad7a"
            ],
            [
                "f8b2a9f8.65eef8"
            ]
        ]
    },
    {
        "id": "f8b2a9f8.65eef8",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 3163.9817962646484,
        "y": 3340.9039192199707,
        "wires": []
    },
    {
        "id": "9f177a94.28db98",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "indice salvo",
        "func": "//Carrega variavel global indice em y\nvar y = msg.id;\n\n//monta a mensagem\nmsg.query = {_id:'indice'};\nmsg.payload = {\n $set: {\"indice_salvo\": parseInt(y)}\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2971.903205871582,
        "y": 1234.1253871917725,
        "wires": [
            [
                "61e20076.f1ab9"
            ]
        ]
    },
    {
        "id": "61e20076.f1ab9",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "dbe8569.427d7a8",
        "name": "Atualizar Indice",
        "collection": "indice",
        "payonly": true,
        "upsert": true,
        "multi": true,
        "operation": "update",
        "x": 3162.617256164551,
        "y": 1234.4754829406738,
        "wires": []
    },
    {
        "id": "7e85273.49bacd8",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "Read indice",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 2485.4392471313477,
        "y": 1791.314353942871,
        "wires": [
            [
                "359036bf.1591aa"
            ]
        ]
    },
    {
        "id": "cdbdfbc6.fd56d8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "indice_salvo",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 3497.899528503418,
        "y": 1731.012755393982,
        "wires": []
    },
    {
        "id": "1a65fa75.1e30f6",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "mudar 1 item apenas",
        "func": "var a = global.get(\"erro\");\n\nif (a.message!==msg.payload.message){\n    global.set(\"erro\",msg.payload);\n    var x = msg.payload;\n    var y = global.get(\"Indice_Mongo\");\n    \n    if (y <= 9){\n        msg.query = {_id:y.toString()};\n        msg.payload = {\n            $set:x\n        };\n        y++;\n        global.set(\"Indice_Mongo\",y);\n    } else{\n        global.set(\"Indice_Mongo\",0);\n        y=0;\n        msg.query = {_id:y.toString()};\n        msg.payload = {\n            $set:x\n        };\n    }\n    msg.id = y;\n    return msg;\n} else{\n    msg = null;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 2720.434211730957,
        "y": 1287.8622035980225,
        "wires": [
            [
                "6f7d434b.3e957c",
                "9f177a94.28db98"
            ]
        ]
    },
    {
        "id": "6f7d434b.3e957c",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "update log_erro",
        "collection": "log_erro",
        "payonly": true,
        "upsert": true,
        "multi": true,
        "operation": "update",
        "x": 2982.878547668457,
        "y": 1286.26198387146,
        "wires": []
    },
    {
        "id": "b67e8f46.bcedf",
        "type": "mongodb in",
        "z": "3f422101.3791ae",
        "mongodb": "85fd827e.46d3c",
        "name": "consulta",
        "collection": "indice",
        "operation": "find",
        "x": 2892.285743713379,
        "y": 1676.2641162872314,
        "wires": [
            [
                "b84a9b28.ca7a58"
            ]
        ]
    },
    {
        "id": "b84a9b28.ca7a58",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "indice_mesagens",
        "func": "x =msg.payload[0].indice_salvo;\nglobal.set(\"Indice_Mongo\",x);\n\nmsg.payload =x;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3248.172077178955,
        "y": 1675.9124145507812,
        "wires": [
            [
                "cdbdfbc6.fd56d8"
            ]
        ]
    },
    {
        "id": "27b77e93.93b722",
        "type": "link in",
        "z": "3f422101.3791ae",
        "name": "tabs2",
        "links": [
            "998aa1cf.9dfc6"
        ],
        "x": 2224.3069229125977,
        "y": 1722.616600036621,
        "wires": [
            [
                "de8f8edb.9cff6"
            ]
        ]
    },
    {
        "id": "998aa1cf.9dfc6",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "",
        "links": [
            "27b77e93.93b722"
        ],
        "x": 1130.5388069152832,
        "y": 2876.1540083885193,
        "wires": []
    },
    {
        "id": "8cd87733.7e0b38",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Desbobinador",
        "info": "",
        "x": 1237.5388069152832,
        "y": 2817.337480068207,
        "wires": []
    },
    {
        "id": "ba5a8618.83d4b8",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "TABS2",
        "info": "",
        "x": 1218.2388801574707,
        "y": 2875.337480068207,
        "wires": []
    },
    {
        "id": "36d307d7.5a1a88",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "MbPrsSentido M2.14",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 1212.8721809387207,
        "y": 2680.2375044822693,
        "wires": [
            [
                "e7de3316.2c099"
            ],
            [
                "7a986293.8c8b9c"
            ]
        ]
    },
    {
        "id": "e7de3316.2c099",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 1389.938907623291,
        "y": 2662.1875224113464,
        "wires": []
    },
    {
        "id": "7a986293.8c8b9c",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 1389.6294593811035,
        "y": 2696.8066630363464,
        "wires": []
    },
    {
        "id": "37b03494.7701ec",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "ComandoMaquina0",
        "func": "global.set(\"ComandoMaquina\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3238.2068939208984,
        "y": 3505.5164680480957,
        "wires": [
            []
        ]
    },
    {
        "id": "ad8b8a25.2fd098",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Delay 50ms",
        "func": "setTimeout(function() {\n node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Reverter prensa\"});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2507.9830169677734,
        "y": 3517.8165254592896,
        "wires": [
            [
                "b97c0c7f.c8f64"
            ]
        ]
    },
    {
        "id": "b97c0c7f.c8f64",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Parar motor",
        "func": "//muda 3.3\nvar mensagens = global.get(\"mensagens\");\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n// M3.3 igual a 0 Desliga motor\n modbus[2] &= ~(1<<12);\n msg.payload = modbus[2];\n msg2.payload ={ type: 'info', message: 'Desligando motor para reverter...' };\n msg2.payload.time= new Date();\n node.status({fill:\"yellow\",shape:\"ring\",text:\"Deslingado\"});\n\nglobal.set(\"MotorLigado\",0);\nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 2684.9734954833984,
        "y": 3517.5164680480957,
        "wires": [
            [
                "dcdc5f9e.53bc6"
            ],
            [
                "d59ffdd6.f0e13"
            ]
        ]
    },
    {
        "id": "dcdc5f9e.53bc6",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Desliga motor M2.12",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 2943.973617553711,
        "y": 3511.5164680480957,
        "wires": [
            [
                "37b03494.7701ec"
            ],
            []
        ]
    },
    {
        "id": "d59ffdd6.f0e13",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "Topico Estado da Maquina",
        "topic": "AplanadoraN/Estado",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 2964.973617553711,
        "y": 3561.5164680480957,
        "wires": []
    },
    {
        "id": "82dbd0e8.0ef29",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Desliga & zerar tudo!",
        "dataType": "HoldingRegister",
        "adr": "2",
        "server": "9d9e7956.cdee38",
        "x": 1212.3219833374023,
        "y": 2752.9540786743164,
        "wires": [
            [
                "2d563054.784"
            ],
            [
                "1876e927.61d017"
            ]
        ]
    },
    {
        "id": "1876e927.61d017",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 1389.101863861084,
        "y": 2770.635473251343,
        "wires": []
    },
    {
        "id": "96c6b7f3.640bc8",
        "type": "link in",
        "z": "3f422101.3791ae",
        "name": "",
        "links": [
            "2d563054.784"
        ],
        "x": 1682.3359479904175,
        "y": 1634.9458866119385,
        "wires": [
            []
        ]
    },
    {
        "id": "2d563054.784",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "reset maquina",
        "links": [
            "96c6b7f3.640bc8"
        ],
        "x": 1390.151138305664,
        "y": 2735.5166625976562,
        "wires": []
    },
    {
        "id": "359036bf.1591aa",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Paginação ",
        "func": "msg.limit = 5;\nmsg.skip = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2697.0566787719727,
        "y": 1727.999900817871,
        "wires": [
            [
                "b67e8f46.bcedf"
            ]
        ]
    },
    {
        "id": "63a6ffe.d57dc",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Consulta MongoDB por string",
        "info": "$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/",
        "x": 234.99966049194336,
        "y": 3256.6969985961914,
        "wires": []
    },
    {
        "id": "2a7dd058.0d317",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Exemplo de consulta",
        "func": "msg.limit = parseInt(msg.req.query.size) || 10;\nmsg.skip = ((parseInt(msg.req.query.page) || 1) - 1) * (parseInt(msg.req.query.page) || 1);\nmsg.payload = {nome: {'$regex' : msg.payload.nome, '$options' : 'i'}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 219.01581192016602,
        "y": 3300.3968744277954,
        "wires": [
            []
        ]
    },
    {
        "id": "3941fc9e.2ee4e4",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Desliga se ociosa",
        "func": "var tempo = global.get(\"tempo\");\n\nif (((msg.payload[3]) & (1 << 3))){\n var atrazo = new Date().getTime();\n var diff = Math.round((parseInt((atrazo - tempo))/60000));\n \n node.status({fill:\"green\",shape:\"dot\",text:\"Diferença de tempo em min = \"+ diff});\n}else {\n var start = new Date().getTime();\n global.set(\"tempo\",start);\n node.status({fill:\"green\",shape:\"dot\",text:\"Motor Desligado \"});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2529.9518432617188,
        "y": 2781.097324371338,
        "wires": [
            [
                "cd4855aa.9d0fc8"
            ]
        ]
    },
    {
        "id": "41e7e1a5.d8c8e",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Comando para ler todo ModBus",
        "links": [
            "93ec0c20.a969a"
        ],
        "x": 3239.0787200927734,
        "y": 2712.049732208252,
        "wires": []
    },
    {
        "id": "de00c564.1ca1a8",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "Erro ModBus",
        "links": [
            "7fb2661d.9b7b08"
        ],
        "x": 3245.4360857009888,
        "y": 2781.0022706985474,
        "wires": []
    },
    {
        "id": "a317528e.86a8d",
        "type": "modbustcp-no-pooling-write",
        "z": "3f422101.3791ae",
        "name": "Desliga Motor Prensa M3.3",
        "dataType": "HoldingRegister",
        "adr": "3",
        "server": "9d9e7956.cdee38",
        "x": 3072.040008544922,
        "y": 2728.9116535186768,
        "wires": [
            [
                "41e7e1a5.d8c8e"
            ],
            [
                "de00c564.1ca1a8"
            ]
        ]
    },
    {
        "id": "10711e6a.720182",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 3875.056640625,
        "y": 1251.233154296875,
        "wires": []
    },
    {
        "id": "8f4d2241.79377",
        "type": "http in",
        "z": "3f422101.3791ae",
        "name": "/api/usuario/login",
        "url": "/api/usuario/login",
        "method": "post",
        "swaggerDoc": "",
        "x": 148.66633224487305,
        "y": 846.6969547271729,
        "wires": [
            [
                "2794fa06.5dc4e6"
            ]
        ]
    },
    {
        "id": "26ffc76f.455d18",
        "type": "http response",
        "z": "3f422101.3791ae",
        "name": "",
        "x": 1005.7905311584473,
        "y": 846.1336193084717,
        "wires": []
    },
    {
        "id": "d458326f.c97cd",
        "type": "md5",
        "z": "3f422101.3791ae",
        "name": "",
        "fieldToHash": "payload",
        "fieldTypeToHash": "msg",
        "hashField": "md5",
        "hashFieldType": "msg",
        "x": 193.0947265625,
        "y": 1349.5540771484375,
        "wires": [
            [
                "8a66ccc.3565b3"
            ]
        ]
    },
    {
        "id": "8a66ccc.3565b3",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "md5 resposta",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 526.2376136779785,
        "y": 1349.9826488494873,
        "wires": []
    },
    {
        "id": "36cb040b.1fae5c",
        "type": "mongodb in",
        "z": "3f422101.3791ae",
        "mongodb": "85fd827e.46d3c",
        "name": "consulta",
        "collection": "config",
        "operation": "find",
        "x": 555.9996643066406,
        "y": 333.363618850708,
        "wires": [
            [
                "5e094217.8eda8c"
            ]
        ]
    },
    {
        "id": "e0d5cd6b.723b",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Carrega parametros",
        "func": "// No parametro projection 1 ou zero significa ler ou inguinorar resultado\n//msg.projection = { _id: 1, codigo: 1, nome: 1, path: 1}\nmsg.limit = 50;\nmsg.skip = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 375.13793182373047,
        "y": 333.1871929168701,
        "wires": [
            [
                "36cb040b.1fae5c"
            ]
        ]
    },
    {
        "id": "5e094217.8eda8c",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Dados OK",
        "func": "var msg2 = {};\n\nif (msg.payload.length){\n    msg.payload=msg.payload[0];\n    msg2 = null;\n    node.status({fill:\"blue\",shape:\"dot\",text:msg.payload.codigo});\n    \n}else{ // banco vazio\n    msg2.payload = {};\n    msg.payload = {};\n    node.status({fill:\"red\",shape:\"dot\",text:'erro'});\n}\n\nreturn [msg,msg2];\n",
        "outputs": "2",
        "noerr": 0,
        "x": 712.9996643066406,
        "y": 333.363618850708,
        "wires": [
            [
                "e4c79f51.06a1d",
                "a53e91a4.bcf41"
            ],
            [
                "7017b5ae.337fbc",
                "9ffad956.8fc638",
                "37d89342.f3c82c"
            ]
        ]
    },
    {
        "id": "f626ee91.998c7",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "salvar config selecionada",
        "collection": "config",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 954.9996643066406,
        "y": 565.363618850708,
        "wires": []
    },
    {
        "id": "7017b5ae.337fbc",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Erro --> Abre conexão",
        "func": "let mssql = global.get('mssql');\n\nmsg.payload = \"conectando\";\n\nlet PRODUCAO = new mssql.Connection(\"mssql://financeiro:financeiro@192.168.0.1/FINANCEIRO\", function(err) {\n    if (err) {\n        global.set('conectadoServidor', 0);\n        PRODUCAO.on('error', function(err) {\n            node.error({payload: err || { erro: 9996, mensagem: 'Erro desconhecido na conexão'}});\n        });\n    } else {\n        global.set('conectadoServidor', 1);\n    }\n});\nnode.status({fill:\"yellow\",shape:\"dot\",text:'Conectando 192.168.0.1'});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 942.9996643066406,
        "y": 340.363618850708,
        "wires": [
            [
                "5ac573d9.ac563c"
            ]
        ]
    },
    {
        "id": "8c41c41e.5e0f68",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "CARREGA CONFIG LOCAL",
        "info": "",
        "x": 181.99966430664062,
        "y": 285.363618850708,
        "wires": []
    },
    {
        "id": "5dd5f37c.8910fc",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "SALVA CONFIG ESCOLHIDO \"localhost\"",
        "info": "",
        "x": 217.99966430664062,
        "y": 573.363618850708,
        "wires": []
    },
    {
        "id": "7965d30b.e358fc",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Verifica a senha e usuario",
        "info": "#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ",
        "x": 177.66632843017578,
        "y": 723.696946144104,
        "wires": []
    },
    {
        "id": "298ad3cc.8c239c",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Converte SQL to Mongo",
        "func": "let msg2 ={ payload: msg.payload.usuarios}; //Passa para msg2 o JSON de usuarios\nlet d = new Date(),\n    lodash = global.get('lodash'), \n    i=0;\n\n// Converte iso date para hora local\n//let myDate = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\n//var x = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n//        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n//        d.getFullYear() + \" \" + myDate;\n\nconst l = (msg2.payload.length||0); //mede o tamanho do array fora do laço\nconst t = d.toISOString();\n\n\n//MAQUINA\nmsg.payload.maquina._id = msg.payload.maquina.id.toString(); //Converte id p/ _id para gravar no mongoDB\nmsg.payload.maquina.atualizacao = t; // Hora da gravação da configuração da maquina\nmsg.payload = lodash.omit(msg.payload.maquina, 'id'); //apaga o original\n\n\n//USUARIO\nfor (i=0; i<l; i++){\n    msg2.payload[i]._id = msg2.payload[i].id.toString();\n    msg2.payload[i].atualizacao = t; // Hora da gravação do log de usuarios\n    msg2.payload[i] = lodash.omit(msg2.payload[i], 'id');\n}\n\n//console.log(JSON.stringify(msg2.payload,null,2));      //Imprime no console o JSON do config que sera gravado\n\nreturn [msg, msg2];\n\n\n \n",
        "outputs": "2",
        "noerr": 0,
        "x": 645.9996643066406,
        "y": 620.363618850708,
        "wires": [
            [
                "f626ee91.998c7",
                "eb8c64b0.c42f38",
                "aa3683c5.babd7"
            ],
            [
                "79e83104.5064c",
                "4eb7cec7.96764"
            ]
        ]
    },
    {
        "id": "204aa6e3.240afa",
        "type": "comment",
        "z": "3f422101.3791ae",
        "name": "Parametros de todas as maquinas \"referencia\"",
        "info": "Copia local de segurança de todos os parametros das maquinas\n\nPor default esta carregando essa lista do servidor\n\nÉ possível mudar para carregar local alterando o arquivo \n\n> ihm/src/api/maquina/config/index.js<",
        "x": 225.4757957458496,
        "y": 3053.125556945801,
        "wires": []
    },
    {
        "id": "b7796583.e84118",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "69df81b0.bec44",
        "name": "APAGAR TODA A COLLECTION operadores",
        "collection": "operadores",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 613.0718002319336,
        "y": 1618.6443338394165,
        "wires": []
    },
    {
        "id": "df49ea92.edd948",
        "type": "mongodb out",
        "z": "3f422101.3791ae",
        "mongodb": "85fd827e.46d3c",
        "name": "salvar tabela usuarios",
        "collection": "operadores",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1108.9489727020264,
        "y": 708.0876550674438,
        "wires": []
    },
    {
        "id": "2794fa06.5dc4e6",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Carrega operador",
        "func": "// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nlet parametro = msg.payload;\n\nmsg.payload = {usuario:{$in:[parametro.usuario]}, senha:{$in:[parametro.senha]}};\n//msg.projection = { usuario: 1, senha: 1};\nmsg.limit = 5;\nmsg.skip = 0;\n\nnode.status({fill:\"yellow\",shape:\"dot\",text: parametro.usuario + ' ' + parametro.senha});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 398.1628532409668,
        "y": 846.3328037261963,
        "wires": [
            [
                "57941e20.9a987"
            ]
        ]
    },
    {
        "id": "57941e20.9a987",
        "type": "mongodb in",
        "z": "3f422101.3791ae",
        "mongodb": "85fd827e.46d3c",
        "name": "consulta operadores",
        "collection": "operadores",
        "operation": "find",
        "x": 653.5959091186523,
        "y": 846.5091934204102,
        "wires": [
            [
                "d5a6843f.f0a258"
            ]
        ]
    },
    {
        "id": "2c3cc605.2dbeaa",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "operadores",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1023.1577682495117,
        "y": 802.4308929443359,
        "wires": []
    },
    {
        "id": "14339a82.0d5cb5",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "Usuario conhecido",
        "topic": "",
        "payload": "{ \"usuario\": \"helio\", \"senha\": \"helio2\" }",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 158.8510971069336,
        "y": 805.7086038589478,
        "wires": [
            [
                "2794fa06.5dc4e6"
            ]
        ]
    },
    {
        "id": "4eb7cec7.96764",
        "type": "split",
        "z": "3f422101.3791ae",
        "name": "",
        "splt": "\\n",
        "x": 896.0199737548828,
        "y": 707.8911285400391,
        "wires": [
            [
                "df49ea92.edd948"
            ]
        ]
    },
    {
        "id": "d5a6843f.f0a258",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "senha",
        "func": "msg.payload = msg.payload[0]?msg.payload[0]:{};\n\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 835.4485893249512,
        "y": 846.4105167388916,
        "wires": [
            [
                "2c3cc605.2dbeaa",
                "26ffc76f.455d18"
            ]
        ]
    },
    {
        "id": "669c0ff.697f6f",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "Usuario desconhecido",
        "topic": "",
        "payload": "{ \"usuario\": \"helio2\", \"senha\": \"456\" }",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 168.01387786865234,
        "y": 764.9147806167603,
        "wires": [
            [
                "2794fa06.5dc4e6"
            ]
        ]
    },
    {
        "id": "79e83104.5064c",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "usuarios",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 905.6957092285156,
        "y": 661.6079683303833,
        "wires": []
    },
    {
        "id": "f9b24ac6.86f248",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "fabrica/ihm/erros/#",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 161.6956558227539,
        "y": 993.2869129180908,
        "wires": [
            [
                "522ab01.03e9d5"
            ]
        ]
    },
    {
        "id": "522ab01.03e9d5",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 518.6349716186523,
        "y": 993.4426832199097,
        "wires": []
    },
    {
        "id": "f63bd23a.5efa",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "fabrica/ihm/debug/#",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 157.1567153930664,
        "y": 1053.914792060852,
        "wires": [
            [
                "a3febcdf.3a988"
            ]
        ]
    },
    {
        "id": "a3febcdf.3a988",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 516.9531784057617,
        "y": 1054.070544242859,
        "wires": []
    },
    {
        "id": "445e1e60.67798",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "fabrica/ihm/estado/#",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 163.01386260986328,
        "y": 1107.91477394104,
        "wires": [
            [
                "2ad4b6f1.35c84a"
            ]
        ]
    },
    {
        "id": "2ad4b6f1.35c84a",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 519.9531784057617,
        "y": 1108.070544242859,
        "wires": []
    },
    {
        "id": "81bec728.1f56f8",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "fabrica/ihm/comandos/#",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 173.01386260986328,
        "y": 1160.91477394104,
        "wires": [
            [
                "2a685e5f.82bf42"
            ]
        ]
    },
    {
        "id": "2a685e5f.82bf42",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 519.9531784057617,
        "y": 1161.070544242859,
        "wires": []
    },
    {
        "id": "37524563.1fbf7a",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "fabrica/ihm/timer/",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 153.01386260986328,
        "y": 1223.46018409729,
        "wires": [
            [
                "9d7c3d1d.8d63e"
            ]
        ]
    },
    {
        "id": "9d7c3d1d.8d63e",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 519.9531784057617,
        "y": 1223.615954399109,
        "wires": []
    },
    {
        "id": "fd7f824f.1891a",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "fabrica/ihm/debug/REFORCO",
        "topic": "fabrica/ihm/debug/REFORCO",
        "qos": "0",
        "retain": "",
        "broker": "37b3c15d.a7496e",
        "x": 1010.6928253173828,
        "y": 1041.673243522644,
        "wires": []
    },
    {
        "id": "771ba3d8.3c88dc",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "",
        "payload": "{'O que você quer fazer ?'}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 775.698486328125,
        "y": 1041.88916015625,
        "wires": [
            [
                "fd7f824f.1891a"
            ]
        ]
    },
    {
        "id": "1b98aabe.2c7625",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "fabrica/ihm/debug/PERF-N3",
        "topic": "fabrica/ihm/debug/PERF-N3",
        "qos": "0",
        "retain": "",
        "broker": "37b3c15d.a7496e",
        "x": 1010.0138854980469,
        "y": 1103.4602375030518,
        "wires": []
    },
    {
        "id": "c8c9f546.035448",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "",
        "payload": "{'O que você quer fazer ?'}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 775.0195465087891,
        "y": 1103.6761541366577,
        "wires": [
            [
                "1b98aabe.2c7625"
            ]
        ]
    },
    {
        "id": "d4b3afd3.ea031",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "fabrica/ihm/estado/REFORCO",
        "topic": "fabrica/ihm/estado/REFORCO",
        "qos": "0",
        "retain": "",
        "broker": "37b3c15d.a7496e",
        "x": 1020.0280914306641,
        "y": 1173.465968132019,
        "wires": []
    },
    {
        "id": "a25ea8a0.d942a8",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "",
        "payload": "{'O que você quer fazer ?'}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 775.0337524414062,
        "y": 1173.681884765625,
        "wires": [
            [
                "d4b3afd3.ea031"
            ]
        ]
    },
    {
        "id": "fec7fb0c.13c9a8",
        "type": "mqtt in",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "fabrica/ihm/user/#",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 151.0138702392578,
        "y": 1282.278413772583,
        "wires": [
            [
                "cc50e727.e3cba8"
            ]
        ]
    },
    {
        "id": "cc50e727.e3cba8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 517.9531860351562,
        "y": 1282.4341840744019,
        "wires": []
    },
    {
        "id": "ccf6f404.8d3c38",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1146.6928329467773,
        "y": 241.52552890777588,
        "wires": [
            [
                "636eaf61.9eab7"
            ]
        ]
    },
    {
        "id": "971e9d0a.28396",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "timer",
        "func": "let myHours = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\n\nlet d = new Date();\nlet x = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear() + \" \" + myHours.slice(0,5);\n        \nlet y = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear();\n\nmsg.payload = \n  {\n    \"date\": y,\n    \"hours\": myHours.slice(0,5)\n  };\n  \nnode.status({fill:\"blue\",shape:\"dot\",text:x});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 495.0138854980469,
        "y": 1441.278413772583,
        "wires": [
            [
                "28a038ce.6793e8",
                "5924dc76.72be24"
            ]
        ]
    },
    {
        "id": "e57b58b.ea8d3a8",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "timer",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "x": 193.6956558227539,
        "y": 1441.2414054870605,
        "wires": [
            [
                "971e9d0a.28396"
            ]
        ]
    },
    {
        "id": "28a038ce.6793e8",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "timer",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 632.6899719238281,
        "y": 1468.0653076171875,
        "wires": []
    },
    {
        "id": "5924dc76.72be24",
        "type": "mqtt out",
        "z": "3f422101.3791ae",
        "name": "timer",
        "topic": "fabrica/ihm/timer/",
        "qos": "0",
        "retain": "",
        "broker": "37b3c15d.a7496e",
        "x": 633.7013549804688,
        "y": 1408.7584228515625,
        "wires": []
    },
    {
        "id": "71f669d8.abcef8",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1532.8509483337402,
        "y": 1362.287441253662,
        "wires": [
            [
                "e9703b45.435b48"
            ]
        ]
    },
    {
        "id": "31fc46ca.23cf3a",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 2482.333206176758,
        "y": 2711.6666431427,
        "wires": []
    },
    {
        "id": "216b86c9.f8560a",
        "type": "debug",
        "z": "3f422101.3791ae",
        "name": "erro PLC",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1932.333381652832,
        "y": 1264.000020980835,
        "wires": []
    },
    {
        "id": "c2c5220a.c006e",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "erro comunicacao",
        "links": [
            "500fd6f7.a15278"
        ],
        "x": 2120.333381652832,
        "y": 1220.000020980835,
        "wires": []
    },
    {
        "id": "500fd6f7.a15278",
        "type": "link in",
        "z": "3f422101.3791ae",
        "name": "",
        "links": [
            "c2c5220a.c006e",
            "a8661b93.855de8"
        ],
        "x": 2478.333381652832,
        "y": 1220.000020980835,
        "wires": [
            [
                "1a65fa75.1e30f6",
                "83348503.f46a38"
            ]
        ]
    },
    {
        "id": "cccfbe3b.1ca04",
        "type": "mongodb in",
        "z": "3f422101.3791ae",
        "mongodb": "85fd827e.46d3c",
        "name": "consulta",
        "collection": "config",
        "operation": "find",
        "x": 2851.333381652832,
        "y": 1554.000020980835,
        "wires": [
            [
                "7a3aef67.22dc9"
            ]
        ]
    },
    {
        "id": "895fe136.b32da",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Variaveis Globais",
        "func": "//Estado inicial da maquina é não inicializada MaqInicializada=0\nglobal.set('conectadoServidor', 0);\nglobal.set(\"ComandoMaquina\",0);//liberamensagens do bloco libera maquina\nglobal.set(\"MotorPrensa\",0);\nglobal.set(\"MotorLigado\",0);\nglobal.set(\"MotorInvertido\",0);\nglobal.set(\"Desbobinador\",0);\nglobal.set(\"Indice_Mongo\",0);\nglobal.set(\"TamanhoDesejadoPeca_KEYBOARD\",0);\nglobal.set(\"TamanhoRealPeca_KEYBOARD\",0);\nglobal.set(\"FatorEncoder\",9909);\nglobal.set(\"ModBus\",[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]);\nvar start = new Date().getTime();\nglobal.set(\"tempo\",start);\n\nvar mensagens = [];\n\nmensagens['LER_CLP_MODBUS'] =        { type: 'error', message: ' CLP não responde. Verifique as conexões de rede.' };\nmensagens['EMERGENCIA'] =            { type: 'error', message: ' Emergencia acionada!' };\nmensagens['FALTA_FASE'] =            { type: 'error', message: ' Falta de Fase' };\nmensagens['BOMBA_HIDRAULICA'] =      { type: 'error', message: ' Térmico da Bomba Hidraulica' };\nmensagens['MARTELO_PRENSA'] =        { type: 'error', message: ' Térmico do Motor do Martelo Prensa' };\nmensagens['PRESSAO_AR'] =            { type: 'warning', message: 'Pressao do Ar Baixa!' };\nmensagens['INVERSOR'] =              { type: 'error', message: ' Erro no Inversor' };\nmensagens['SERVO'] =                 { type: 'error', message: ' Erro no Servo' };\nmensagens['CHAVE_GERAL_DESLIGADA'] = { type: 'warning', message: ' Chave Geral Desligada' };\nmensagens['CHAVE_GERAL_LIGADA']    = { type: 'warning', message: ' Chave Geral ligada' };\nmensagens['MAQUINA_NAO_LIBERADA'] =  { type: 'warning', message: ' Maquina Não Liberada' };\nmensagens['MAQUINA_LIBERADA']     =  { type: 'warning', message: ' Maquina Liberada' };\nmensagens['ERRO_POSICIONAMENTO']=    { type: 'error', message: ' Erro Posicionamento' };\nmensagens['SEGURAN_PRENSA'] =        { type: 'info', message: ' Segurança da Prensa' };\nmensagens['APLAN_ABERTA'] =          { type: 'info', message: ' Aplanadora Aberda' };\n\nglobal.set(\"mensagens\",mensagens);\nmsg= {payload: \"{MAQUINA_OFF:0}\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 297.7459716796875,
        "y": 174.73354053497314,
        "wires": [
            []
        ]
    },
    {
        "id": "c626087f.4a38b8",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "Read indice",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 163,
        "y": 230,
        "wires": [
            [
                "e0d5cd6b.723b"
            ]
        ]
    },
    {
        "id": "7a3aef67.22dc9",
        "type": "function",
        "z": "3f422101.3791ae",
        "name": "Carregar parametros",
        "func": "var msg2 = {};\nvar parametros = []; //Cria um array vazio\nvar x = 0;\n\nif (msg.payload.length){\n    x=msg.payload[0].codigo;\n    msg2 = null;         //Saida de erro não acontece nada\n\n    parametros.push(msg.payload[0].parametros.automatico.velocidade); //AplanVelAuto M14\n    parametros.push(msg.payload[0].parametros.manual.velocidade); //AplanVelMan M17\n    parametros.push(msg.payload[0].parametros.ferramenta.passoN2); //AplanPasso M18\n    parametros.push(msg.payload[0].parametros.encoder.fator); //EncFactor M20\n    parametros.push(msg.payload[0].parametros.encoder.resolucao); //EncResol M21 \n    parametros.push(msg.payload[0].parametros.encoder.perimetro); //EncPerim M22\n    parametros.push(msg.payload[0].parametros.lubrificacao.ciclos.PrsCiclos); //PrsCiclosUnid M23\n    //parametros.push(msg.payload[0].lubrificacao.ciclos.PrsCiclosMil); //PrsCiclosMil M24\n    //parametros.push(msg.payload[0].lubrificacao.preset.MbNovoCiclosUnd);//NovoPrsCiclosUnd M25\n    parametros.push(msg.payload[0].parametros.lubrificacao.preset.MbNovoCiclos);//NovoCiclosMil M26\n    \n    //flow.set('params', parametros); //Salva em uma variavel externa ao bloco\n    \n    msg.payload = parametros; //Envia o conteudo do array para o proximo bloco\n    node.status({fill:\"blue\",shape:\"dot\",text:\"Parametros Carregados \" + x});\n\n}else{ // banco vazio\n    msg2.payload = { type: 'error', message: 'Banco vazio Paramentros!'};\n    msg.payload = null;\n    msg.payload.time= new Date();\n    node.status({fill:\"red\",shape:\"dot\",text:'Erro banco vazio!'});\n}\n\nreturn [msg,msg2];\n",
        "outputs": "2",
        "noerr": 0,
        "x": 3046.833297729492,
        "y": 1554.2500228881836,
        "wires": [
            [
                "b3bee5b3.702928",
                "a328d4ba.557548",
                "47159ceb.d93454"
            ],
            [
                "a8661b93.855de8"
            ]
        ]
    },
    {
        "id": "4d3a1674.432608",
        "type": "inject",
        "z": "3f422101.3791ae",
        "name": "Read indice",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 2392.333381652832,
        "y": 1556.000020980835,
        "wires": [
            [
                "5acf5954.4ed6e8"
            ]
        ]
    },
    {
        "id": "a8661b93.855de8",
        "type": "link out",
        "z": "3f422101.3791ae",
        "name": "erro comunicacao",
        "links": [
            "500fd6f7.a15278"
        ],
        "x": 3238,
        "y": 1593,
        "wires": []
    },
    {
        "id": "69df81b0.bec44",
        "type": "mongodb",
        "z": "3f422101.3791ae",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "db",
        "name": ""
    },
    {
        "id": "37b3c15d.a7496e",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "9d9e7956.cdee38",
        "type": "modbustcp-no-pooling-server",
        "z": "",
        "host": "127.0.0.1",
        "port": "502",
        "unit_id": "0"
    },
    {
        "id": "85fd827e.46d3c",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "db",
        "name": ""
    },
    {
        "id": "dbe8569.427d7a8",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "db",
        "name": ""
    }
]