docs/localhost/node-redDashboard.json
[
    {
        "id": "8ef1ef7d.293fd",
        "type": "inject",
        "z": "79287f39.c2cb2",
        "name": "READ SYSTEM",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "521c6b24.0b7134",
                "705f92ab.7a6c8c"
            ]
        ]
    },
    {
        "id": "b6cefaba.41c5a8",
        "type": "comment",
        "z": "79287f39.c2cb2",
        "name": "SISTEMA",
        "info": "",
        "x": 200,
        "y": 180,
        "wires": []
    },
    {
        "id": "aa6046f4.a95b58",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "hostname",
        "func": "msg.payload = msg.payload.hostname; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 100,
        "wires": [
            [
                "d8c337cc.2025a8"
            ]
        ]
    },
    {
        "id": "d8c337cc.2025a8",
        "type": "ui_text",
        "z": "79287f39.c2cb2",
        "group": "64bcdc21.583e84",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "hostname",
        "label": "Hostname",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 800,
        "y": 100,
        "wires": []
    },
    {
        "id": "326be295.04ac3e",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "platform",
        "func": "msg.payload = msg.payload.platform; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "cdd0117d.8978e"
            ]
        ]
    },
    {
        "id": "cdd0117d.8978e",
        "type": "ui_text",
        "z": "79287f39.c2cb2",
        "group": "64bcdc21.583e84",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "platform",
        "label": "Platform",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "7eeac2bd.50255c",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "Usage",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 320,
        "wires": [
            [
                "f17f1f7c.04fa8"
            ]
        ]
    },
    {
        "id": "f17f1f7c.04fa8",
        "type": "ui_gauge",
        "z": "79287f39.c2cb2",
        "name": "Memory Usage",
        "group": "cc2c92ee.237a8",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "1 Minute",
        "label": "Usage",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "80f6f81c.f2de88",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "TOTAL MEM",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 360,
        "wires": [
            [
                "92eddc6c.f6b4f"
            ]
        ]
    },
    {
        "id": "92eddc6c.f6b4f",
        "type": "ui_text",
        "z": "79287f39.c2cb2",
        "group": "cc2c92ee.237a8",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Total Memory",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "da7bfd66.93c6b",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "memusage",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "bac2797e.a39b18"
            ]
        ]
    },
    {
        "id": "bac2797e.a39b18",
        "type": "ui_chart",
        "z": "79287f39.c2cb2",
        "name": "Memory - 24 Hours",
        "group": "cc2c92ee.237a8",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "24 Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 830,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8d76d19e.661f3",
        "type": "ui_template",
        "z": "79287f39.c2cb2",
        "group": "f8524b22.c96bb8",
        "name": "CAIXA DE ENTRADA",
        "order": 2,
        "width": "6",
        "height": "5",
        "format": "Ultima Mensagem recebida\n<div> <b> </b> </div>\n<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 580,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b7be59f2.8c8068",
        "type": "ui_toast",
        "z": "79287f39.c2cb2",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 580.2500228881836,
        "y": 626.5000076293945,
        "wires": []
    },
    {
        "id": "93a1b41.d4ea548",
        "type": "ui_form",
        "z": "79287f39.c2cb2",
        "name": "",
        "label": "Mensagem",
        "group": "f8524b22.c96bb8",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Email",
                "value": "mytxt",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "mytxt": ""
        },
        "payload": "",
        "topic": "",
        "x": 169.75001525878906,
        "y": 671.0000076293945,
        "wires": [
            [
                "16cc8a0d.a4e666",
                "cb80b4ed.f0fef8"
            ]
        ]
    },
    {
        "id": "1e637aa9.da56a5",
        "type": "comment",
        "z": "79287f39.c2cb2",
        "name": "Send Email",
        "info": "",
        "x": 567.2500076293945,
        "y": 583.2500057220459,
        "wires": []
    },
    {
        "id": "16cc8a0d.a4e666",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "",
        "func": "msg.payload = msg.payload.mytxt +\" Mensagem enviada [200 ok]\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 356.0000190734863,
        "y": 627.0000076293945,
        "wires": [
            [
                "b7be59f2.8c8068"
            ]
        ]
    },
    {
        "id": "f760315.649bcd",
        "type": "mqtt in",
        "z": "79287f39.c2cb2",
        "name": "Comandos",
        "topic": "fabrica/ihm/comandos/#",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 207.60714721679688,
        "y": 864.3214702606201,
        "wires": [
            [
                "29039d35.efb1e2",
                "5cc22159.3e279"
            ]
        ]
    },
    {
        "id": "29039d35.efb1e2",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "MQTT # RAW",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 807.6071472167969,
        "y": 864.3214702606201,
        "wires": []
    },
    {
        "id": "5cc22159.3e279",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "Store and shift msg",
        "func": "\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n text.shift();\n text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 477.6071472167969,
        "y": 924.3214702606201,
        "wires": [
            [
                "9e27caba.e9a658",
                "dd92174d.8f1008"
            ]
        ]
    },
    {
        "id": "9e27caba.e9a658",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "mqtt array",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 797.6071472167969,
        "y": 944.3214702606201,
        "wires": []
    },
    {
        "id": "dd92174d.8f1008",
        "type": "ui_template",
        "z": "79287f39.c2cb2",
        "group": "e4cae155.17fe1",
        "name": "MQTT comandos",
        "order": 1,
        "width": "6",
        "height": "7",
        "format": "<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n <ul>\n <li>{{x.payload}}</li>\n </ul>\n </li>\n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 817.6071472167969,
        "y": 904.3214702606201,
        "wires": [
            [
                "d01ee8d4.9ad2e8"
            ]
        ]
    },
    {
        "id": "2c2437d6.302ca8",
        "type": "ui_text_input",
        "z": "79287f39.c2cb2",
        "name": "Message",
        "label": "Message",
        "group": "e4cae155.17fe1",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "message",
        "x": 207.60714721679688,
        "y": 984.3214702606201,
        "wires": [
            [
                "e4c826fa.b09188"
            ]
        ]
    },
    {
        "id": "8df9e973.3ca768",
        "type": "ui_button",
        "z": "79287f39.c2cb2",
        "name": "Submit",
        "group": "e4cae155.17fe1",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "ENVIAR",
        "color": "black",
        "bgcolor": "",
        "icon": "fa-arrow-circle-o-up",
        "payload": "submit",
        "payloadType": "str",
        "topic": "submit",
        "x": 197.60714721679688,
        "y": 1024.3214702606201,
        "wires": [
            [
                "e4c826fa.b09188"
            ]
        ]
    },
    {
        "id": "e4c826fa.b09188",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "Store and Submit",
        "func": "context.msg = context.msg || {};\n\nswitch (msg.topic){\n case 'message':\n    context.msg.payload = msg.payload;\n break;\n case 'topic':\n    context.msg.topic = msg.payload;\n break;\n case 'submit':\n    if(context.msg.topic){\n    return context.msg;\n    }else{\n    context.msg.topic=\"#\"; // set default topic\n return context.msg;\n }\n}",
        "outputs": "1",
        "noerr": 0,
        "x": 477.6071472167969,
        "y": 1004.3214702606201,
        "wires": [
            [
                "bad3d7c5.2fc218",
                "13124172.09746f"
            ]
        ]
    },
    {
        "id": "bad3d7c5.2fc218",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "MQTT Monitor",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 787.6071472167969,
        "y": 1004.3214702606201,
        "wires": []
    },
    {
        "id": "891e074.298b6f8",
        "type": "ui_text_input",
        "z": "79287f39.c2cb2",
        "name": "Comando",
        "label": "Topic/",
        "group": "e4cae155.17fe1",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Comando",
        "x": 207.60714721679688,
        "y": 944.3214702606201,
        "wires": [
            [
                "e4c826fa.b09188"
            ]
        ]
    },
    {
        "id": "9f500f9d.82f5f",
        "type": "ui_button",
        "z": "79287f39.c2cb2",
        "name": "Clear",
        "group": "e4cae155.17fe1",
        "order": 0,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "LIMPAR",
        "color": "black",
        "bgcolor": "",
        "icon": "fa-trash",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 197.60714721679688,
        "y": 1064.3214702606201,
        "wires": [
            [
                "2c2437d6.302ca8",
                "891e074.298b6f8"
            ]
        ]
    },
    {
        "id": "f951c7bd.b4a428",
        "type": "comment",
        "z": "79287f39.c2cb2",
        "name": "MQTT Console with dashboard comandos",
        "info": "This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com",
        "x": 307.6071472167969,
        "y": 824.3214702606201,
        "wires": []
    },
    {
        "id": "13124172.09746f",
        "type": "mqtt out",
        "z": "79287f39.c2cb2",
        "name": "Topico Comandos da Maquina",
        "topic": "fabrica/ihm/comandos/PERF-N3",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 836.357177734375,
        "y": 1053.0714702606201,
        "wires": []
    },
    {
        "id": "d01ee8d4.9ad2e8",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1001.5296587262837,
        "y": 903.8869958605083,
        "wires": []
    },
    {
        "id": "85605f7a.34e8",
        "type": "mqtt in",
        "z": "79287f39.c2cb2",
        "name": "Estado",
        "topic": "fabrica/ihm/estado/#",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 192.60714721679688,
        "y": 1177.3214702606201,
        "wires": [
            [
                "2d595ef6.ca2b02",
                "825a9740.a1b038"
            ]
        ]
    },
    {
        "id": "2d595ef6.ca2b02",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "MQTT # RAW",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 802.6071472167969,
        "y": 1177.3214702606201,
        "wires": []
    },
    {
        "id": "825a9740.a1b038",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "Store and shift msg",
        "func": "\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n text.shift();\n text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 472.6071472167969,
        "y": 1237.3214702606201,
        "wires": [
            [
                "31f3c5b5.0458fa",
                "d9c60a65.772e28"
            ]
        ]
    },
    {
        "id": "31f3c5b5.0458fa",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "mqtt array",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 792.6071472167969,
        "y": 1257.3214702606201,
        "wires": []
    },
    {
        "id": "d9c60a65.772e28",
        "type": "ui_template",
        "z": "79287f39.c2cb2",
        "group": "59131955.46c5e8",
        "name": "MQTT comandos",
        "order": 1,
        "width": "6",
        "height": "7",
        "format": "<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n <ul>\n <li>{{x.payload}}</li>\n </ul>\n </li>\n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 812.6071472167969,
        "y": 1217.3214702606201,
        "wires": [
            [
                "ec2396ec.edcf88"
            ]
        ]
    },
    {
        "id": "c9f86d7.d35119",
        "type": "ui_text_input",
        "z": "79287f39.c2cb2",
        "name": "Message",
        "label": "Message",
        "group": "59131955.46c5e8",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "message",
        "x": 202.60714721679688,
        "y": 1297.3214702606201,
        "wires": [
            [
                "94897a68.059998"
            ]
        ]
    },
    {
        "id": "95da5ece.3d175",
        "type": "ui_button",
        "z": "79287f39.c2cb2",
        "name": "Submit",
        "group": "59131955.46c5e8",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "ENVIAR",
        "color": "black",
        "bgcolor": "",
        "icon": "fa-arrow-circle-o-up",
        "payload": "submit",
        "payloadType": "str",
        "topic": "submit",
        "x": 192.60714721679688,
        "y": 1337.3214702606201,
        "wires": [
            [
                "94897a68.059998"
            ]
        ]
    },
    {
        "id": "94897a68.059998",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "Store and Submit",
        "func": "context.msg = context.msg || {};\n\nswitch (msg.topic){\n case 'message':\n    context.msg.payload = msg.payload;\n break;\n case 'topic':\n    context.msg.topic = msg.payload;\n break;\n case 'submit':\n    if(context.msg.topic){\n    return context.msg;\n    }else{\n    context.msg.topic=\"#\"; // set default topic\n return context.msg;\n }\n}",
        "outputs": "1",
        "noerr": 0,
        "x": 472.6071472167969,
        "y": 1317.3214702606201,
        "wires": [
            [
                "587f56aa.c57fa8",
                "76a06c59.f068a4"
            ]
        ]
    },
    {
        "id": "587f56aa.c57fa8",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "MQTT Monitor",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 782.6071472167969,
        "y": 1317.3214702606201,
        "wires": []
    },
    {
        "id": "10a4f153.bc61af",
        "type": "ui_text_input",
        "z": "79287f39.c2cb2",
        "name": "Comando",
        "label": "Topic/",
        "group": "59131955.46c5e8",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Comando",
        "x": 202.60714721679688,
        "y": 1257.3214702606201,
        "wires": [
            [
                "94897a68.059998"
            ]
        ]
    },
    {
        "id": "bc8961af.89244",
        "type": "ui_button",
        "z": "79287f39.c2cb2",
        "name": "Clear",
        "group": "59131955.46c5e8",
        "order": 0,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "LIMPAR",
        "color": "black",
        "bgcolor": "",
        "icon": "fa-trash",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 192.60714721679688,
        "y": 1377.3214702606201,
        "wires": [
            [
                "c9f86d7.d35119",
                "10a4f153.bc61af"
            ]
        ]
    },
    {
        "id": "44b7557.9037fac",
        "type": "comment",
        "z": "79287f39.c2cb2",
        "name": "MQTT Console with dashboard Estado",
        "info": "This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com",
        "x": 292.6071472167969,
        "y": 1137.3214702606201,
        "wires": []
    },
    {
        "id": "76a06c59.f068a4",
        "type": "mqtt out",
        "z": "79287f39.c2cb2",
        "name": "Topico Estado da Maquina",
        "topic": "fabrica/ihm/estado/PERF-N3",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 821.357177734375,
        "y": 1366.0714702606201,
        "wires": []
    },
    {
        "id": "ec2396ec.edcf88",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 996.5296587262837,
        "y": 1216.8869958605083,
        "wires": []
    },
    {
        "id": "dafe12ce.f686",
        "type": "mqtt in",
        "z": "79287f39.c2cb2",
        "name": "User",
        "topic": "fabrica/ihm/user/#",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 1187.3571472167969,
        "y": 863.5714702606201,
        "wires": [
            [
                "d2e93db5.9868e",
                "b8cde176.b6cea"
            ]
        ]
    },
    {
        "id": "d2e93db5.9868e",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "MQTT # RAW",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1797.3571472167969,
        "y": 863.5714702606201,
        "wires": []
    },
    {
        "id": "b8cde176.b6cea",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "Store and shift msg",
        "func": "\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n text.shift();\n text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1467.3571472167969,
        "y": 923.5714702606201,
        "wires": [
            [
                "e1c623f4.6078e",
                "f18a167e.6de398"
            ]
        ]
    },
    {
        "id": "e1c623f4.6078e",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "mqtt array",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1787.3571472167969,
        "y": 943.5714702606201,
        "wires": []
    },
    {
        "id": "f18a167e.6de398",
        "type": "ui_template",
        "z": "79287f39.c2cb2",
        "group": "7459da06.2fe334",
        "name": "MQTT comandos",
        "order": 1,
        "width": "6",
        "height": "7",
        "format": "<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n <ul>\n <li>{{x.payload}}</li>\n </ul>\n </li>\n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1807.3571472167969,
        "y": 903.5714702606201,
        "wires": [
            [
                "80dcbb8.b97fc48"
            ]
        ]
    },
    {
        "id": "b60d605.3dcd2a",
        "type": "ui_text_input",
        "z": "79287f39.c2cb2",
        "name": "Message",
        "label": "Message",
        "group": "7459da06.2fe334",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "message",
        "x": 1197.3571472167969,
        "y": 983.5714702606201,
        "wires": [
            [
                "aba14615.e3f388"
            ]
        ]
    },
    {
        "id": "a8a3e728.913528",
        "type": "ui_button",
        "z": "79287f39.c2cb2",
        "name": "Submit",
        "group": "7459da06.2fe334",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "ENVIAR",
        "color": "black",
        "bgcolor": "",
        "icon": "fa-arrow-circle-o-up",
        "payload": "submit",
        "payloadType": "str",
        "topic": "submit",
        "x": 1187.3571472167969,
        "y": 1023.5714702606201,
        "wires": [
            [
                "aba14615.e3f388"
            ]
        ]
    },
    {
        "id": "aba14615.e3f388",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "Store and Submit",
        "func": "context.msg = context.msg || {};\n\nswitch (msg.topic){\n case 'message':\n    context.msg.payload = msg.payload;\n break;\n case 'topic':\n    context.msg.topic = msg.payload;\n break;\n case 'submit':\n    if(context.msg.topic){\n    return context.msg;\n    }else{\n    context.msg.topic=\"#\"; // set default topic\n return context.msg;\n }\n}",
        "outputs": "1",
        "noerr": 0,
        "x": 1467.3571472167969,
        "y": 1003.5714702606201,
        "wires": [
            [
                "c64d2883.87b578",
                "9e4bc6c2.6da348"
            ]
        ]
    },
    {
        "id": "c64d2883.87b578",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "MQTT Monitor",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1777.3571472167969,
        "y": 1003.5714702606201,
        "wires": []
    },
    {
        "id": "bd0adeb6.649b4",
        "type": "ui_text_input",
        "z": "79287f39.c2cb2",
        "name": "Comando",
        "label": "Topic/",
        "group": "7459da06.2fe334",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Comando",
        "x": 1197.3571472167969,
        "y": 943.5714702606201,
        "wires": [
            [
                "aba14615.e3f388"
            ]
        ]
    },
    {
        "id": "7d4c6a35.de2354",
        "type": "ui_button",
        "z": "79287f39.c2cb2",
        "name": "Clear",
        "group": "7459da06.2fe334",
        "order": 0,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "LIMPAR",
        "color": "black",
        "bgcolor": "",
        "icon": "fa-trash",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 1187.3571472167969,
        "y": 1063.5714702606201,
        "wires": [
            [
                "b60d605.3dcd2a",
                "bd0adeb6.649b4"
            ]
        ]
    },
    {
        "id": "77c73e2f.19f1b",
        "type": "comment",
        "z": "79287f39.c2cb2",
        "name": "MQTT Console with dashboard User",
        "info": "This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com",
        "x": 1277.3571472167969,
        "y": 823.5714702606201,
        "wires": []
    },
    {
        "id": "9e4bc6c2.6da348",
        "type": "mqtt out",
        "z": "79287f39.c2cb2",
        "name": "Topico USER",
        "topic": "fabrica/ihm/user/PERF-N3",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 1766.107177734375,
        "y": 1052.3214702606201,
        "wires": []
    },
    {
        "id": "80dcbb8.b97fc48",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1991.2796587262837,
        "y": 903.1369958605083,
        "wires": []
    },
    {
        "id": "835dbbb3.57aa68",
        "type": "mqtt in",
        "z": "79287f39.c2cb2",
        "name": "Erros",
        "topic": "fabrica/ihm/erros/#",
        "qos": "0",
        "broker": "37b3c15d.a7496e",
        "x": 1187.8571472167969,
        "y": 1177.5714702606201,
        "wires": [
            [
                "32951a93.0e59e6",
                "bd21e61c.98d6f8"
            ]
        ]
    },
    {
        "id": "32951a93.0e59e6",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "MQTT # RAW",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1797.8571472167969,
        "y": 1177.5714702606201,
        "wires": []
    },
    {
        "id": "bd21e61c.98d6f8",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "Store and shift msg",
        "func": "\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n text.shift();\n text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1467.8571472167969,
        "y": 1237.5714702606201,
        "wires": [
            [
                "1cdf22db.3f00ad",
                "5c4d79fb.f18018"
            ]
        ]
    },
    {
        "id": "1cdf22db.3f00ad",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "mqtt array",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1787.8571472167969,
        "y": 1257.5714702606201,
        "wires": []
    },
    {
        "id": "5c4d79fb.f18018",
        "type": "ui_template",
        "z": "79287f39.c2cb2",
        "group": "5f9fbf6e.2644f",
        "name": "MQTT comandos",
        "order": 1,
        "width": "6",
        "height": "7",
        "format": "<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n <ul>\n <li>{{x.payload}}</li>\n </ul>\n </li>\n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1807.8571472167969,
        "y": 1217.5714702606201,
        "wires": [
            [
                "1e549d76.02ed23"
            ]
        ]
    },
    {
        "id": "5d555845.1f8028",
        "type": "ui_text_input",
        "z": "79287f39.c2cb2",
        "name": "Message",
        "label": "Message",
        "group": "5f9fbf6e.2644f",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "message",
        "x": 1197.8571472167969,
        "y": 1297.5714702606201,
        "wires": [
            [
                "117185fd.835d3a"
            ]
        ]
    },
    {
        "id": "72a02d20.e7aa24",
        "type": "ui_button",
        "z": "79287f39.c2cb2",
        "name": "Submit",
        "group": "5f9fbf6e.2644f",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "ENVIAR",
        "color": "black",
        "bgcolor": "",
        "icon": "fa-arrow-circle-o-up",
        "payload": "submit",
        "payloadType": "str",
        "topic": "submit",
        "x": 1187.8571472167969,
        "y": 1337.5714702606201,
        "wires": [
            [
                "117185fd.835d3a"
            ]
        ]
    },
    {
        "id": "117185fd.835d3a",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "Store and Submit",
        "func": "context.msg = context.msg || {};\n\nswitch (msg.topic){\n case 'message':\n    context.msg.payload = msg.payload;\n break;\n case 'topic':\n    context.msg.topic = msg.payload;\n break;\n case 'submit':\n    if(context.msg.topic){\n    return context.msg;\n    }else{\n    context.msg.topic=\"#\"; // set default topic\n return context.msg;\n }\n}",
        "outputs": "1",
        "noerr": 0,
        "x": 1467.8571472167969,
        "y": 1317.5714702606201,
        "wires": [
            [
                "934dec12.b665e",
                "dfaaba85.2b74d8"
            ]
        ]
    },
    {
        "id": "934dec12.b665e",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "MQTT Monitor",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1777.8571472167969,
        "y": 1317.5714702606201,
        "wires": []
    },
    {
        "id": "fd7c5f2c.b9b08",
        "type": "ui_text_input",
        "z": "79287f39.c2cb2",
        "name": "Comando",
        "label": "Topic/",
        "group": "5f9fbf6e.2644f",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Comando",
        "x": 1197.8571472167969,
        "y": 1257.5714702606201,
        "wires": [
            [
                "117185fd.835d3a"
            ]
        ]
    },
    {
        "id": "af8cf764.c2a408",
        "type": "ui_button",
        "z": "79287f39.c2cb2",
        "name": "Clear",
        "group": "5f9fbf6e.2644f",
        "order": 0,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "LIMPAR",
        "color": "black",
        "bgcolor": "",
        "icon": "fa-trash",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 1187.8571472167969,
        "y": 1377.5714702606201,
        "wires": [
            [
                "5d555845.1f8028",
                "fd7c5f2c.b9b08"
            ]
        ]
    },
    {
        "id": "cb1900b9.dadf6",
        "type": "comment",
        "z": "79287f39.c2cb2",
        "name": "MQTT Console with dashboard User",
        "info": "This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com",
        "x": 1277.8571472167969,
        "y": 1137.5714702606201,
        "wires": []
    },
    {
        "id": "dfaaba85.2b74d8",
        "type": "mqtt out",
        "z": "79287f39.c2cb2",
        "name": "Topico ERROS",
        "topic": "fabrica/ihm/erros/PERF-N3",
        "qos": "0",
        "retain": "false",
        "broker": "37b3c15d.a7496e",
        "x": 1776.607177734375,
        "y": 1366.3214702606201,
        "wires": []
    },
    {
        "id": "1e549d76.02ed23",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1991.7796587262837,
        "y": 1217.1369958605083,
        "wires": []
    },
    {
        "id": "48932c61.a0b6f4",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "uptime",
        "func": "function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 220,
        "wires": [
            [
                "21b1e8f.1b39a18"
            ]
        ]
    },
    {
        "id": "21b1e8f.1b39a18",
        "type": "ui_text",
        "z": "79287f39.c2cb2",
        "group": "64bcdc21.583e84",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 800,
        "y": 220,
        "wires": []
    },
    {
        "id": "e2b7adaf.fa6be",
        "type": "e-mail in",
        "z": "79287f39.c2cb2",
        "name": "ihmaltamira@gmail.com",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "port": "993",
        "box": "INBOX",
        "disposition": "Read",
        "repeat": "400",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "a4783189.cd7bf",
                "8d76d19e.661f3"
            ]
        ]
    },
    {
        "id": "a4783189.cd7bf",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "recebidos",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "c4ff507a.fa96a",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "EMAIL RECADO",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 810,
        "y": 620,
        "wires": []
    },
    {
        "id": "b317f323.2a47a",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "Corpo do email",
        "func": "//Titulo do email\nmsg.topic = \"IHM-ALIMENTADOR-N3\";\n\n//Corpo do email\nmsg.payload = \n`\n<!DOCTYPE html>\n<html>\n<head>\n <meta charset=\"utf-8\">\n <title>Alimentador N3</title>\n</head>\n<body>\n\n <div>\n <h2>Recado</h2>\n <table>\n <tr>\n <td><b>Mensagem</b></td>\n <td><nobr>${msg.payload.mytxt}</nobr></td>\n </tr>\n <tr>\n <td><b>Evento ocorreu</b></td>\n <td><nobr>Dia = ${msg.date} Hora = ${msg.time}</nobr></td>\n </tr>\n <tr>\n <td><b>Operador</b></td>\n <td><nobr>Marcelo Miranda</nobr></td>\n </tr>\n </table>\n </div>\n\n</body>\n</html>\n`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570.9500942230225,
        "y": 670.5174627304077,
        "wires": [
            [
                "c4ff507a.fa96a",
                "11f233c2.909d5c"
            ]
        ]
    },
    {
        "id": "11f233c2.909d5c",
        "type": "e-mail",
        "z": "79287f39.c2cb2",
        "server": "smtp.gmail.com",
        "port": "587",
        "secure": false,
        "name": "ihmaltamira@gmail.com",
        "dname": "",
        "x": 830,
        "y": 670,
        "wires": []
    },
    {
        "id": "cb80b4ed.f0fef8",
        "type": "function",
        "z": "79287f39.c2cb2",
        "name": "timer",
        "func": "let myHours = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\n\nlet d = new Date();\nlet x = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear() + \" \" + myHours.slice(0,5);\n        \nlet y = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear();\n\nmsg.date =  y;\nmsg.time =  myHours.slice(0,5);\n  \nnode.status({fill:\"blue\",shape:\"dot\",text:x});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 357.24999809265137,
        "y": 670.7500438690186,
        "wires": [
            [
                "b317f323.2a47a",
                "e3262e9c.4b2d1"
            ]
        ]
    },
    {
        "id": "e3262e9c.4b2d1",
        "type": "debug",
        "z": "79287f39.c2cb2",
        "name": "timer",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 542.1760482788086,
        "y": 714.5369338989258,
        "wires": []
    },
    {
        "id": "c2d0e52f.75adb8",
        "type": "comment",
        "z": "79287f39.c2cb2",
        "name": "Receive Email",
        "info": "",
        "x": 567.2500228881836,
        "y": 432.00000190734863,
        "wires": []
    },
    {
        "id": "465c5d31.e72bc4",
        "type": "inject",
        "z": "79287f39.c2cb2",
        "name": "READ SYSTEM",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "dba9504a.d9ba"
            ]
        ]
    },
    {
        "id": "dba9504a.d9ba",
        "type": "OS",
        "z": "79287f39.c2cb2",
        "name": "",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "aa6046f4.a95b58",
                "326be295.04ac3e"
            ]
        ]
    },
    {
        "id": "705f92ab.7a6c8c",
        "type": "Uptime",
        "z": "79287f39.c2cb2",
        "name": "",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "48932c61.a0b6f4"
            ]
        ]
    },
    {
        "id": "521c6b24.0b7134",
        "type": "Memory",
        "z": "79287f39.c2cb2",
        "name": "",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "da7bfd66.93c6b",
                "7eeac2bd.50255c",
                "80f6f81c.f2de88"
            ]
        ]
    },
    {
        "id": "64bcdc21.583e84",
        "type": "ui_group",
        "z": "",
        "name": "Sysinfo",
        "tab": "b6d44a6b.17fbb8",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "cc2c92ee.237a8",
        "type": "ui_group",
        "z": "",
        "name": "Memory",
        "tab": "b6d44a6b.17fbb8",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "f8524b22.c96bb8",
        "type": "ui_group",
        "z": "",
        "name": "Emails Recebidos",
        "tab": "b6d44a6b.17fbb8",
        "order": 4,
        "disp": true,
        "width": "7"
    },
    {
        "id": "37b3c15d.a7496e",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "e4cae155.17fe1",
        "type": "ui_group",
        "z": "",
        "name": "COMANDO",
        "tab": "3b12fbb1.9b8864",
        "disp": true,
        "width": "6"
    },
    {
        "id": "59131955.46c5e8",
        "type": "ui_group",
        "z": "",
        "name": "ESTADO",
        "tab": "3b12fbb1.9b8864",
        "disp": true,
        "width": "6"
    },
    {
        "id": "7459da06.2fe334",
        "type": "ui_group",
        "z": "",
        "name": "USER",
        "tab": "3b12fbb1.9b8864",
        "disp": true,
        "width": "6"
    },
    {
        "id": "5f9fbf6e.2644f",
        "type": "ui_group",
        "z": "",
        "name": "ERRO",
        "tab": "3b12fbb1.9b8864",
        "disp": true,
        "width": "6"
    },
    {
        "id": "b6d44a6b.17fbb8",
        "type": "ui_tab",
        "z": "",
        "name": "IHM ESTADO",
        "icon": "dashboard"
    },
    {
        "id": "3b12fbb1.9b8864",
        "type": "ui_tab",
        "z": "",
        "name": "FILAS",
        "icon": "dashboard"
    }
]
