src/servidor/node-red_SERVIDOR.json
[{"id":"98e14d48.b1e92","type":"inject","z":"913af413.8e71b","name":"Start connect","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":143,"y":50,"wires":[["25ddf43f.60c534"]]},{"id":"25ddf43f.60c534","type":"function","z":"913af413.8e71b","name":"Conecta com SQL Local","func":"var mssql = global.get('mssql');\n\nvar PRODUCAO = new mssql.Connection(\"mssql://maquina:maquina@localhost/MAQUINAS\", function(err) {\n    if (err) {\n        node.status({fill:\"red\",shape:\"dot\",text:'ERRO'});\n        //console.dir('-------------> ERRO NA CONEXAO PRODUCAO !!!!!! <-------------')\n    } else {\n        global.set('PRODUCAO', PRODUCAO);\n        node.status({fill:\"blue\",shape:\"dot\",text:'CONECTADO COM SERVIDOR LOCAL'});\n        \n        PRODUCAO.on('error', function(err) {\n            node.error({payload: err || { erro: 9996, mensagem: 'Erro desconhecido na conexão'}})\n        });\n        \n    }\n});\n","outputs":1,"noerr":0,"x":422,"y":50,"wires":[[]]},{"id":"a2d580e7.59e3e8","type":"http in","z":"913af413.8e71b","name":"","url":"/api/maquina/","method":"get","swaggerDoc":"","x":130,"y":138.00000381469727,"wires":[["b805c716.037428"]]},{"id":"64a56739.9a7928","type":"http response","z":"913af413.8e71b","name":"","x":750,"y":140,"wires":[]},{"id":"b805c716.037428","type":"function","z":"913af413.8e71b","name":"SQL PR_MAQUINA_LISTA","func":"var mssql = global.get('mssql');\n\nvar procedure_name = 'PR_MAQUINA_LISTA'\n\nvar request = new mssql.Request(global.get('PRODUCAO'));\n\nrequest.execute(procedure_name).then(function(recordsets, returnValue, affected) {\n\n    console.dir('Recordsets: ' + recordsets.length); // count of recordsets returned by the procedure\n    console.dir('Record count in first recordset: ' + recordsets[0].length); // count of rows contained in first recordset\n    console.dir('Return value: ' + returnValue); // procedure return value\n    console.dir('Recordsets return value: ' + recordsets.returnValue); // same as previous line\n    console.dir('Rows affected: ' + affected); // number of rows affected by the statemens\n    console.dir('Recordset rows affected: ' + recordsets.rowsAffected); // same as previous line\n\n    //console.log(request.parameters.output_parameter.value); // output value\n\n    msg.payload.usuarios = Array.isArray(recordsets) && recordsets[0];\n    msg.payload.maquinas = Array.isArray(recordsets) && recordsets[1].map( maquina => {\n        maquina.rede        = JSON.parse(maquina.rede)\n\t    maquina.parametros  = JSON.parse(maquina.parametros)\n\t    return maquina\n    });\n\n    node.send(msg);\n\n})\n.catch(function(err) {\n    console.dir('-----------------> Erro ao chamar Stored Procedure ' + procedure_name + ' <-----------------')\n    console.dir(JSON.stringify(err))\n    msg.payload = err || { erro: 9999, mensagem: 'Erro desconhecido.'};\n    node.send(msg);\n});\n    ","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["ef707ac1.4d5d98","64a56739.9a7928"]]},{"id":"60d6266b.3f617","type":"http in","z":"913af413.8e71b","name":"maquinas alterar","url":"/api/maquina/","method":"put","swaggerDoc":"","x":120,"y":200,"wires":[["660f7a38.c99a0c"]]},{"id":"5719d942.8bfa78","type":"http response","z":"913af413.8e71b","name":"","x":750,"y":200,"wires":[]},{"id":"660f7a38.c99a0c","type":"function","z":"913af413.8e71b","name":"SQL PR_MAQUINA_ATUALIZA","func":"var mssql = global.get('mssql');\n\nvar procedure_name = 'PR_MAQUINA_ATUALIZA'\n\nvar request = new mssql.Request(global.get('PRODUCAO'));\n\nrequest.input('ID', mssql.Int, msg.payload.id)\nrequest.input('CODIGO', mssql.VarChar(20), msg.payload.codigo);\nrequest.input('NOME', mssql.VarChar(50), msg.payload.nome);\nrequest.input('PATH', mssql.VarChar(50), msg.payload.path);\nrequest.input('REDE', mssql.VarChar(mssql.MAX), JSON.stringify(msg.payload.rede));\nrequest.input('ATUALIZACAO', mssql.DateTime2(7), msg.payload.atualizacao);\nrequest.input('PARAMETROS', mssql.VarChar(mssql.MAX), JSON.stringify(msg.payload.parametros));\nrequest.input('ESTADO', mssql.VarChar(mssql.MAX), JSON.stringify(msg.payload.estado));\n\nrequest.execute(procedure_name).then(function(recordsets, returnValue, affected) {\n\n    console.dir('Recordsets: ' + recordsets.length); // count of recordsets returned by the procedure\n    console.dir('Record count in first recordset: ' + recordsets[0].length); // count of rows contained in first recordset\n    console.dir('Return value: ' + returnValue); // procedure return value\n    console.dir('Recordsets return value: ' + recordsets.returnValue); // same as previous line\n    console.dir('Rows affected: ' + affected); // number of rows affected by the statemens\n    console.dir('Recordset rows affected: ' + recordsets.rowsAffected); // same as previous line\n\n    //console.log(request.parameters.output_parameter.value); // output value\n\n    msg.payload = Array.isArray(recordsets) && {\n        id: recordsets[0][0].id,\n        codigo: recordsets[0][0].codigo,\n        nome: recordsets[0][0].nome,\n        path: recordsets[0][0].path,\n\t    rede: JSON.parse(recordsets[0][0].rede),\n\t    atualizacao: recordsets[0][0].atualizacao,\n\t    parametros: JSON.parse(recordsets[0][0].parametros),\n\t    estado: JSON.parse(recordsets[0][0].estado)\n    }\n\n    console.dir(msg.payload);\n    node.send(msg);\n\n})\n.catch(function(err) {\n    console.dir('-----------------> Erro ao chamar Stored Procedure ' + procedure_name + ' <-----------------')\n    console.dir(JSON.stringify(err))\n    msg.payload = err || { erro: 9999, mensagem: 'Erro desconhecido.'};\n    node.send(msg);\n});\n    ","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["5719d942.8bfa78"]]},{"id":"db43d633.0f04d8","type":"http in","z":"913af413.8e71b","name":"maquinas incluir","url":"/api/maquina/","method":"post","swaggerDoc":"","x":120,"y":260,"wires":[["16b5b50f.85f5f7"]]},{"id":"bd61c5af.77af38","type":"http response","z":"913af413.8e71b","name":"","x":750.0000495910645,"y":292.25002241134644,"wires":[]},{"id":"16b5b50f.85f5f7","type":"function","z":"913af413.8e71b","name":"SQL PR_MAQUINA_INSERIR","func":"var mssql = global.get('mssql');\n\nvar procedure_name = 'PR_MAQUINA_INSERIR'\n\nvar request = new mssql.Request(global.get('PRODUCAO'));\n\n//request.input('ID', mssql.Int, msg.payload.id)\nrequest.input('CODIGO', mssql.VarChar(20), msg.payload.codigo);\nrequest.input('NOME', mssql.VarChar(50), msg.payload.nome);\nrequest.input('PATH', mssql.VarChar(50), msg.payload.path);\nrequest.input('REDE', mssql.VarChar(mssql.MAX), JSON.stringify(msg.payload.rede));\nrequest.input('ATUALIZACAO', mssql.DateTime2(7), msg.payload.atualizacao);\nrequest.input('PARAMETROS', mssql.VarChar(mssql.MAX), JSON.stringify(msg.payload.parametros));\nrequest.input('ESTADO', mssql.VarChar(mssql.MAX), JSON.stringify(msg.payload.estado));\n\n\nrequest.execute(procedure_name).then(function(recordsets, returnValue, affected) {\n\n    console.dir('Recordsets: ' + recordsets.length); // count of recordsets returned by the procedure\n    console.dir('Record count in first recordset: ' + recordsets[0].length); // count of rows contained in first recordset\n    console.dir('Return value: ' + returnValue); // procedure return value\n    console.dir('Recordsets return value: ' + recordsets.returnValue); // same as previous line\n    console.dir('Rows affected: ' + affected); // number of rows affected by the statemens\n    console.dir('Recordset rows affected: ' + recordsets.rowsAffected); // same as previous line\n\n    //console.log(request.parameters.output_parameter.value); // output value\n\n    msg.payload = Array.isArray(recordsets) && {\n        id: recordsets[0][0].id,\n        codigo: recordsets[0][0].codigo,\n        nome: recordsets[0][0].nome,\n        path: recordsets[0][0].path,\n\t    rede: JSON.parse(recordsets[0][0].rede),\n\t    atualizacao: recordsets[0][0].atualizacao,\n\t    parametros: JSON.parse(recordsets[0][0].parametros),\n\t    estado: JSON.parse(recordsets[0][0].estado)\n    };\n    \n    console.dir(msg.payload);\n    node.send(msg);\n\n})\n.catch(function(err) {\n    console.dir('-----------------> Erro ao chamar Stored Procedure ' + procedure_name + ' <-----------------');\n    console.dir(JSON.stringify(err));\n    msg.payload = err || { erro: 9999, mensagem: 'Erro desconhecido.'};\n    node.send(msg);\n});\n    ","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["bd61c5af.77af38","fe58fbc1.afa398"]]},{"id":"bbc92b79.b8d04","type":"function","z":"913af413.8e71b","name":"Lista de maquinas DEFAULT","func":"var myDate = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\n\nvar d = new Date();\nvar x = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear() + \" \" + myDate;\n\nmsg.payload = \n[\n  {\n    \"codigo\": \"PERF-N3\",\n    \"nome\": \"Aplanadora N3\",\n    \"path\": \"maquinas/perfiladeiras/n3\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.239\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.231\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.232\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n    \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9978,\n        \"resolucao\": 2500,\n        \"perimetro\": 400\n      },\n      \"manual\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 95,\n        \"paradaEntrePecasProduzidas\": 0,\n        \"tempoParada\": 0\n      },\n      \"transmissao\": {\n        \"reducao\": 0,\n        \"diametrorolo\": 0,\n        \"avancoMilimetrosPorRotacao\": 9.5144\n      },\n      \"corte\":{\n        \"espessura\": 0,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"passoN2\": 200,\n        \"passoN3\": 200,\n        \"passoN5\": 200\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n  },\n  {\n    \"codigo\": \"REFORCO\",\n    \"nome\": \"Perfiladeira Reforco\",\n    \"path\": \"maquinas/perfiladeiras/reforco\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.233\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.234\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.235\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n     \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9986,\n        \"resolucao\": 2500,\n        \"perimetro\": 127.32\n      },\n      \"manual\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"0.6\",\n        \"desaceleracao\": \"0.6\",\n        \"velocidade\": 95,\n        \"paradaEntrePecasProduzidas\": 20,\n        \"tempoParada\": 10\n      },\n      \"transmissao\": {\n        \"reducao\": 0,\n        \"diametrorolo\": 0,\n        \"avancoMilimetrosPorRotacao\": 9.5144\n      },\n      \"corte\":{\n        \"espessura\": 5,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"corte\": 1,\n        \"furo\": 20\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    }\n  },\n    {\n    \"codigo\": \"Sigma 120\",\n    \"nome\": \"Perfiladeira Sigma 120\",\n    \"path\": \"maquinas/perfiladeiras/sigma120\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.236\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.237\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.238\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n     \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9909,\n        \"resolucao\": 2500,\n        \"perimetro\": 400\n      },\n      \"manual\": {\n        \"aceleracao\": \"3\",\n        \"desaceleracao\": \"1\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"2\",\n        \"desaceleracao\": \"1\",\n        \"velocidade\": 100,\n        \"paradaEntrePecasProduzidas\": 40,\n        \"tempoParada\": 2\n      },\n      \"transmissao\": {\n        \"reducao\": \"72.73\",\n        \"diametrorolo\": 165,\n        \"avancoMilimetrosPorRotacao\": 0\n      },\n      \"corte\":{\n        \"espessura\": 5,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"corte\": 1\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    }\n  }\n]\nnode.status({fill:\"blue\",shape:\"dot\",text:x});\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":380,"wires":[["32139e02.461372"]]},{"id":"fe58fbc1.afa398","type":"debug","z":"913af413.8e71b","name":"","active":true,"console":"false","complete":"false","x":770,"y":240,"wires":[]},{"id":"f19397fa.fd78b","type":"inject","z":"913af413.8e71b","name":"CONFIG DEFAULT","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":380,"wires":[["bbc92b79.b8d04"]]},{"id":"ef707ac1.4d5d98","type":"debug","z":"913af413.8e71b","name":"","active":true,"console":"false","complete":"payload","x":727.2500267028809,"y":96.5000114440918,"wires":[]},{"id":"32139e02.461372","type":"split","z":"913af413.8e71b","name":"SALVA UMA POR VEZ","splt":"\\n","x":720,"y":380,"wires":[["9fed487.5e688b8"]]},{"id":"10811e3b.b8e902","type":"inject","z":"913af413.8e71b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121.75001525878906,"y":94.05000495910645,"wires":[["b805c716.037428"]]},{"id":"9fed487.5e688b8","type":"function","z":"913af413.8e71b","name":"SQL PR_MAQUINA_INSERIR","func":"var mssql = global.get('mssql');\n\nvar procedure_name = 'PR_MAQUINA_INSERIR'\n\nvar request = new mssql.Request(global.get('PRODUCAO'));\n\n//request.input('ID', mssql.Int, msg.payload.id)\nrequest.input('CODIGO', mssql.VarChar(20), msg.payload.codigo);\nrequest.input('NOME', mssql.VarChar(50), msg.payload.nome);\nrequest.input('PATH', mssql.VarChar(50), msg.payload.path);\nrequest.input('REDE', mssql.VarChar(mssql.MAX), JSON.stringify(msg.payload.rede));\nrequest.input('ATUALIZACAO', mssql.DateTime2(7), msg.payload.atualizacao);\nrequest.input('PARAMETROS', mssql.VarChar(mssql.MAX), JSON.stringify(msg.payload.parametros));\nrequest.input('ESTADO', mssql.VarChar(mssql.MAX), JSON.stringify(msg.payload.estado));\n\n\nrequest.execute(procedure_name).then(function(recordsets, returnValue, affected) {\n\n    console.dir('Recordsets: ' + recordsets.length); // count of recordsets returned by the procedure\n    console.dir('Record count in first recordset: ' + recordsets[0].length); // count of rows contained in first recordset\n    console.dir('Return value: ' + returnValue); // procedure return value\n    console.dir('Recordsets return value: ' + recordsets.returnValue); // same as previous line\n    console.dir('Rows affected: ' + affected); // number of rows affected by the statemens\n    console.dir('Recordset rows affected: ' + recordsets.rowsAffected); // same as previous line\n\n    //console.log(request.parameters.output_parameter.value); // output value\n\n    msg.payload = Array.isArray(recordsets) && {\n        id: recordsets[0][0].id,\n        codigo: recordsets[0][0].codigo,\n        nome: recordsets[0][0].nome,\n        path: recordsets[0][0].path,\n\t    rede: JSON.parse(recordsets[0][0].rede),\n\t    atualizacao: recordsets[0][0].atualizacao,\n\t    parametros: JSON.parse(recordsets[0][0].parametros),\n\t    estado: JSON.parse(recordsets[0][0].estado)\n    };\n    \n    console.dir(msg.payload);\n    node.send(msg);\n\n})\n.catch(function(err) {\n    console.dir('-----------------> Erro ao chamar Stored Procedure ' + procedure_name + ' <-----------------');\n    console.dir(JSON.stringify(err));\n    msg.payload = err || { erro: 9999, mensagem: 'Erro desconhecido.'};\n    node.send(msg);\n});\n    ","outputs":1,"noerr":0,"x":1010,"y":380,"wires":[["4cb94463.ee781c"]]},{"id":"4cb94463.ee781c","type":"debug","z":"913af413.8e71b","name":"","active":true,"console":"false","complete":"false","x":1270,"y":380,"wires":[]},{"id":"b6687b3e.cc4628","type":"function","z":"913af413.8e71b","name":"Lista de USUARIOS DEFAULT","func":"var myDate = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\n\nvar d = new Date();\nvar x = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear() + \" \" + myDate;\n\nmsg.payload =\n[\n    {\n    \t\"_id\": 1,\n    \t\"usuario\": \"helio\",\n    \t\"senha\": \"helio2\",\n    \t\"perfil\": \"administrador\",\n    \t\"email\": \"helio.toda@altamira.com.br\",\n    \t\"descricao\": \"Primeiro operador\",\n    \t\"atualizacao\": d.toISOString()\n    },\n    {\n\t    \"_id\": 2,\n    \t\"usuario\": \"celso\",\n    \t\"senha\": \"\",\n    \t\"perfil\": \"administrador\",\n    \t\"email\": \"celso@altamira.com.br\",\n    \t\"descricao\": \"Segundo operador\",\n    \t\"atualizacao\": d.toISOString()\n    }\n];\nnode.status({fill:\"blue\",shape:\"dot\",text:'usuarios salvos as '+ x });\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":488,"wires":[["85e1ab75.c6e408"]]},{"id":"6b847aba.a8bf54","type":"inject","z":"913af413.8e71b","name":"USUARIOS DEFAULT","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":488,"wires":[["b6687b3e.cc4628"]]},{"id":"85e1ab75.c6e408","type":"split","z":"913af413.8e71b","name":"SALVA UMA POR VEZ","splt":"\\n","x":720,"y":488,"wires":[["e0af2560.5a2f58"]]},{"id":"e0af2560.5a2f58","type":"debug","z":"913af413.8e71b","name":"","active":true,"console":"false","complete":"false","x":1008,"y":487,"wires":[]}]
