src/ 	node-redReferencia.json
[{"id":"8b85f4d7.009b38","type":"mqtt in","z":"3d889d64.5b41e2","name":"","topic":"financeiro/cadastro/contas/incluir/#","qos":"0","broker":"5c3d5234.4841bc","x":313.01422119140625,"y":149.0147843360901,"wires":[["8da71dcf.843ca"]]},{"id":"8da71dcf.843ca","type":"function","z":"3d889d64.5b41e2","name":"Recupera topico ID","func":"return [\n    {\n        id: msg.id,\n        topic: 'financeiro/cadastro/contas/incluido/' + msg.topic.split('/')[msg.topic.split('/').length - 1], //msg.payload._id,\n        payload: msg.payload\n    }\n];","outputs":"1","noerr":0,"x":582.0142211914062,"y":149.0147843360901,"wires":[["687620d8.e53ad","29dfae19.6908d2"]]},{"id":"df2b61b.780eaa","type":"debug","z":"3d889d64.5b41e2","name":"Incluir + ID","active":false,"console":"false","complete":"payload","x":1202.26416015625,"y":150.7647843360901,"wires":[]},{"id":"1f947942.51a6d7","type":"mqtt out","z":"3d889d64.5b41e2","name":"contas/carregado/","topic":"financeiro/cadastro/contas/carregado/","qos":"0","retain":"","broker":"5c3d5234.4841bc","x":1224.7404174804688,"y":515.7431778907776,"wires":[]},{"id":"687620d8.e53ad","type":"mqtt out","z":"3d889d64.5b41e2","name":"incluido/+id","topic":"","qos":"0","retain":"","broker":"5c3d5234.4841bc","x":808.5434875488281,"y":149.2939896583557,"wires":[]},{"id":"291537c1.186d58","type":"function","z":"3d889d64.5b41e2","name":"mudar 1 socio apenas","func":"msg.query = { _id: 'AplanadoraN3' }\nmsg.payload = {\n $set: {\n \"parametros.encoder.fator\": 2225\n }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3276.725143432617,"y":2109.2537932395935,"wires":[["a12c83bb.de567"]]},{"id":"a12c83bb.de567","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"update only one","collection":"socios","payonly":true,"upsert":false,"multi":false,"operation":"update","x":3536.725128173828,"y":2109.653787136078,"wires":[]},{"id":"2be93998.52b6b6","type":"inject","z":"3d889d64.5b41e2","name":"String vazia","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":2978.7579193115234,"y":2329.098150730133,"wires":[["32fa76cf.d6444a"]]},{"id":"86be3c17.5a399","type":"mongodb in","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"consulta","collection":"contas","operation":"find","x":3497.7250900268555,"y":2329.4536471366882,"wires":[["d3b908f1.d44428"]]},{"id":"d3b908f1.d44428","type":"debug","z":"3d889d64.5b41e2","name":"resposta do MongoDB","active":true,"console":"false","complete":"payload","x":3781.8361320495605,"y":2329.564802646637,"wires":[]},{"id":"c419ed15.0bd65","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"APAGAR TODA A COLLECTION cadastroErros","collection":"cadastroErros","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":3397.5026092529297,"y":1732.475818157196,"wires":[]},{"id":"8e607ad7.c211d8","type":"inject","z":"3d889d64.5b41e2","name":"LIMPAR coleção cadastroErros","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":3040.2561569213867,"y":1733.2028737068176,"wires":[["c419ed15.0bd65"]]},{"id":"436d96f5.b838d8","type":"inject","z":"3d889d64.5b41e2","name":"Editar socios","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":2979.558681488037,"y":2108.9204897880554,"wires":[["291537c1.186d58"]]},{"id":"f677cc79.ea1a4","type":"function","z":"3d889d64.5b41e2","name":"indiceErros +1","func":"msg.query = { _id: 'AplanadoraN3' }\nmsg.payload = {\n $inc: {\n \"os.produzido\": 1\n }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3309.9471893310547,"y":2236.03146982193,"wires":[["c8942613.dcb1d8"]]},{"id":"c8942613.dcb1d8","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"salvar","collection":"indiceErros","payonly":true,"upsert":false,"multi":false,"operation":"update","x":3507.9471740722656,"y":2236.4314637184143,"wires":[]},{"id":"7d1bd5d0.3addbc","type":"inject","z":"3d889d64.5b41e2","name":"$inc: incrementa","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":2986.7807273864746,"y":2235.698166370392,"wires":[["f677cc79.ea1a4","7bc0763d.2e6a18"]]},{"id":"32fa76cf.d6444a","type":"function","z":"3d889d64.5b41e2","name":"Paginação ","func":"msg.limit = 5;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":3296.169443130493,"y":2329.512930393219,"wires":[["86be3c17.5a399"]]},{"id":"6a186764.8286b8","type":"comment","z":"3d889d64.5b41e2","name":"Paginação e consulta MongoDB","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3014.947277069092,"y":2293.364769935608,"wires":[]},{"id":"e35ba389.563bd","type":"inject","z":"3d889d64.5b41e2","name":"Criar estrutura cadastroErros","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":3030.3915405273438,"y":1975.7815356254578,"wires":[["dd36c4ee.3efaf8"]]},{"id":"4860e1d9.a3a75","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"salvar","collection":"cadastroErros","payonly":true,"upsert":false,"multi":false,"operation":"store","x":3522.74942779541,"y":1975.8323674201965,"wires":[]},{"id":"dd36c4ee.3efaf8","type":"function","z":"3d889d64.5b41e2","name":"collection inicial cadastroErros","func":"msg.payload = {\n\t\"_id\": 1,\n\t\"log_mesagens\": {\n\t}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3305.758415222168,"y":1975.9371542930603,"wires":[["4860e1d9.a3a75"]]},{"id":"9f6df1a.b54b81","type":"mongodb in","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"consulta","collection":"contas","operation":"find","x":3399.6137981414795,"y":2409.9481739997864,"wires":[["e90846f1.7df4e8"]]},{"id":"dfd71e6c.1b0d8","type":"function","z":"3d889d64.5b41e2","name":"lê apenas uma conta","func":"// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = { \"_id\": \"AplanadoraN3\" }\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { \"parametros.encoder.fator\": 1 }\n\n// Ler 1 valor\nmsg.limit = 1;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":3186.724868774414,"y":2409.785204410553,"wires":[["9f6df1a.b54b81"]]},{"id":"3e8b53b0.35c50c","type":"inject","z":"3d889d64.5b41e2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":2966.738779067993,"y":2409.4481549263,"wires":[["dfd71e6c.1b0d8"]]},{"id":"e90846f1.7df4e8","type":"function","z":"3d889d64.5b41e2","name":"parse(contas)","func":"msg.payload=msg.payload[0].parametros.encoder.fator;\nreturn msg;","outputs":1,"noerr":0,"x":3572.7806148529053,"y":2410.3648734092712,"wires":[["92740b8d.ec1c08"]]},{"id":"92740b8d.ec1c08","type":"debug","z":"3d889d64.5b41e2","name":"ler conta x","active":true,"console":"false","complete":"payload","x":3789.11403465271,"y":2410.3647541999817,"wires":[]},{"id":"eb656b79.7a7698","type":"comment","z":"3d889d64.5b41e2","name":"Lê apenas um valor","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":2971.9468307495117,"y":2374.3648142814636,"wires":[]},{"id":"7bc0763d.2e6a18","type":"function","z":"3d889d64.5b41e2","name":"Delay 50ms","func":"setTimeout(function() {\n node.send(msg);\n}, 50);\nreturn null;","outputs":1,"noerr":0,"x":3299.2805938720703,"y":2271.47575712204,"wires":[["32fa76cf.d6444a"]]},{"id":"24f21ed6.c5e142","type":"comment","z":"3d889d64.5b41e2","name":"Contador Produzidos ++ ","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":2991.9467697143555,"y":2197.3647265434265,"wires":[]},{"id":"2e22d2e9.165d9e","type":"comment","z":"3d889d64.5b41e2","name":"Edita apenas 1 registro do banco com $set","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3044.7247009277344,"y":2070.6981234550476,"wires":[]},{"id":"f56ebde6.88c9b","type":"comment","z":"3d889d64.5b41e2","name":"2- Cria estrutura inicial das coleções","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3025.2802658081055,"y":1831.0314602851868,"wires":[]},{"id":"a101378.9515fc8","type":"comment","z":"3d889d64.5b41e2","name":"1- Apagar Cuidado","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":2976.835693359375,"y":1592.2536149024963,"wires":[]},{"id":"3e82ca5a.577636","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"APAGAR TODA A COLLECTION contas","collection":"contas","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":3376.9468536376953,"y":1684.2535891532898,"wires":[]},{"id":"5b6ceaa5.738b74","type":"inject","z":"3d889d64.5b41e2","name":"LIMPAR coleção contas","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":3010.5890045166016,"y":1684.2027926445007,"wires":[["3e82ca5a.577636"]]},{"id":"f35641ce.ed46b","type":"inject","z":"3d889d64.5b41e2","name":"Criar estrutura indice erros","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":3019.9135360717773,"y":2025.2982382774353,"wires":[["7e17ec99.e8a7e4"]]},{"id":"24fb1edd.79a0f2","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"salvar","collection":"indiceErros","payonly":true,"upsert":false,"multi":true,"operation":"store","x":3522.826915740967,"y":2024.7936072349548,"wires":[]},{"id":"7e17ec99.e8a7e4","type":"function","z":"3d889d64.5b41e2","name":"collection inicial indice erros","func":"msg.payload = {\n\t\"_id\": \"indice\",\n\t\"indice_mesagens\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3295.2804107666016,"y":2025.12046957016,"wires":[["24fb1edd.79a0f2"]]},{"id":"c3dd8f27.4bb6e","type":"inject","z":"3d889d64.5b41e2","name":"LIMPAR coleção indice erros","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":3030.3543243408203,"y":1781.1427073478699,"wires":[["ba36159.135a1e8"]]},{"id":"ba36159.135a1e8","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"APAGAR TODA A COLLECTION indice erros","collection":"indiceErros","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":3389.3543243408203,"y":1780.8093333244324,"wires":[]},{"id":"73a3b55b.3aaffc","type":"comment","z":"3d889d64.5b41e2","name":"Consulta MongoDB por string","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":3416.4302253723145,"y":1568.0813989639282,"wires":[]},{"id":"1493ac9d.f1eea3","type":"function","z":"3d889d64.5b41e2","name":"Exemplo de consulta","func":"msg.limit = parseInt(msg.req.query.size) || 10;\nmsg.skip = ((parseInt(msg.req.query.page) || 1) - 1) * (parseInt(msg.req.query.page) || 1);\nmsg.payload = {nome: {'$regex' : msg.payload.nome, '$options' : 'i'}}\nreturn msg;","outputs":1,"noerr":0,"x":3394.2080421447754,"y":1530.303750038147,"wires":[[]]},{"id":"bd56ea43.b4d958","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"APAGAR TODA A COLLECTION socios","collection":"socios","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":3376.0522842407227,"y":1635.8053193092346,"wires":[]},{"id":"efb6b36f.6a10e","type":"inject","z":"3d889d64.5b41e2","name":"LIMPAR coleção socios","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":3009.694435119629,"y":1635.7545228004456,"wires":[["bd56ea43.b4d958"]]},{"id":"7be0c1b1.a4d73","type":"inject","z":"3d889d64.5b41e2","name":"Criar estrutura socios","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":3009.48087310791,"y":1878.4481415748596,"wires":[["3720f52b.dca22a"]]},{"id":"9ae2bfdd.c5571","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"salvar","collection":"socios","payonly":true,"upsert":false,"multi":false,"operation":"store","x":3520.8384704589844,"y":1877.9433608055115,"wires":[]},{"id":"3720f52b.dca22a","type":"function","z":"3d889d64.5b41e2","name":"collection inicial socios","func":"msg.payload = \n{\n\t\"_id\": \"cdd2f034-3ec9-4d8b-a8c4-b67af29ccc39\",\n\t\"selecionada\": false,\n\t\"banco\": \"NOSSA CAIXA\",\n\t\"conta\": \"00100020003-6\",\n\t\"agencia\": 1653,\n\t\"descricao\": \"Primeiro conta\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":3275.847457885742,"y":1878.0481476783752,"wires":[["9ae2bfdd.c5571"]]},{"id":"20e95efb.12f4c2","type":"function","z":"3d889d64.5b41e2","name":"mudar 1 conta apenas","func":"msg.query = { _id: 'AplanadoraN3' }\nmsg.payload = {\n $set: {\n \"parametros.encoder.fator\": 2225\n }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3277.1951065063477,"y":2156.5909638404846,"wires":[["8351e353.4c7bd"]]},{"id":"8351e353.4c7bd","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"update only one","collection":"contas","payonly":true,"upsert":false,"multi":false,"operation":"update","x":3537.1950912475586,"y":2156.990957736969,"wires":[]},{"id":"33321863.768218","type":"inject","z":"3d889d64.5b41e2","name":"Editar Conta","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":2980.0286445617676,"y":2156.2576603889465,"wires":[["20e95efb.12f4c2"]]},{"id":"ce0f450d.b2ac38","type":"mongodb in","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"consulta","collection":"socios","operation":"find","x":3399.48087310791,"y":2461.233908176422,"wires":[["f78ba715.054e78"]]},{"id":"d681d86b.466478","type":"function","z":"3d889d64.5b41e2","name":"lê apenas um socio","func":"// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = { \"_id\": \"AplanadoraN3\" }\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { \"parametros.encoder.fator\": 1 }\n\n// Ler 1 valor\nmsg.limit = 1;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":3176.5919437408447,"y":2461.0709385871887,"wires":[["ce0f450d.b2ac38"]]},{"id":"70f773a8.74800c","type":"inject","z":"3d889d64.5b41e2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":2966.605854034424,"y":2460.733889102936,"wires":[["d681d86b.466478"]]},{"id":"f78ba715.054e78","type":"function","z":"3d889d64.5b41e2","name":"parse(socios)","func":"msg.payload=msg.payload[0].parametros.encoder.fator;\nreturn msg;","outputs":1,"noerr":0,"x":3572.647689819336,"y":2461.650607585907,"wires":[["241d4fd.83da9b"]]},{"id":"241d4fd.83da9b","type":"debug","z":"3d889d64.5b41e2","name":"ler socios x","active":true,"console":"false","complete":"payload","x":3788.9811096191406,"y":2461.6504883766174,"wires":[]},{"id":"dc8dda66.c688e8","type":"mqtt in","z":"3d889d64.5b41e2","name":"","topic":"financeiro/cadastro/contas/carregar/","qos":"0","broker":"5c3d5234.4841bc","x":308.54187774658203,"y":514.05366563797,"wires":[["8b623442.9e8ca8","9702b0d.1aca15"]]},{"id":"10c82eb9.729411","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"salvar conta","collection":"contas","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1203.2194385528564,"y":208.75368547439575,"wires":[]},{"id":"29dfae19.6908d2","type":"function","z":"3d889d64.5b41e2","name":"carrega 20 contas","func":"msg.limit = parseInt(msg.payload.per_page) || 20;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nreturn msg;","outputs":1,"noerr":0,"x":826.6640319824219,"y":207.81480264663696,"wires":[["388de5d5.a0479a"]]},{"id":"388de5d5.a0479a","type":"json","z":"3d889d64.5b41e2","name":"","x":1020.0973815917969,"y":208.2981400489807,"wires":[["10c82eb9.729411","4621c668.283878","df2b61b.780eaa"]]},{"id":"31f8cbd5.102ba4","type":"mqtt in","z":"3d889d64.5b41e2","name":"","topic":"financeiro/cadastro/contas/alterar/#","qos":"0","broker":"5c3d5234.4841bc","x":309.88079833984375,"y":272.7704110145569,"wires":[["42a7509e.96744","88a7c598.71b648"]]},{"id":"42a7509e.96744","type":"function","z":"3d889d64.5b41e2","name":"Recupera topico ID","func":"return [\n    {\n        id: msg.id,\n        topic: 'financeiro/cadastro/contas/alterado/' + msg.topic.split('/')[msg.topic.split('/').length - 1], //msg.payload._id,\n        payload: msg.payload\n    }\n];","outputs":"1","noerr":0,"x":583.6585540771484,"y":272.7704186439514,"wires":[["4d6f6c67.f05da4","29dfae19.6908d2","34cae1eb.31623e"]]},{"id":"4d6f6c67.f05da4","type":"mqtt out","z":"3d889d64.5b41e2","name":"alterado/+id","topic":"","qos":"0","retain":"","broker":"5c3d5234.4841bc","x":806.7434272766113,"y":272.60519075393677,"wires":[]},{"id":"38fb6c4.2678f94","type":"mongodb in","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"Carrega lista","collection":"contas","operation":"find","x":806.0362820095488,"y":515.0926026768154,"wires":[["1f947942.51a6d7","786610e3.31683"]]},{"id":"8b623442.9e8ca8","type":"function","z":"3d889d64.5b41e2","name":"carrega 20 contas","func":"msg.limit = parseInt(msg.payload.per_page) || 20;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nreturn msg;","outputs":1,"noerr":0,"x":588.0177688598633,"y":515.2222638130188,"wires":[["38fb6c4.2678f94","d00c4200.3159f"]]},{"id":"72073c09.892204","type":"comment","z":"3d889d64.5b41e2","name":"Adiciona um registro","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":321.2216033935547,"y":108.22223329544067,"wires":[]},{"id":"9ebe3c3.052e5c","type":"comment","z":"3d889d64.5b41e2","name":"Atualiza lista de contas cadastro","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":268.30503845214844,"y":475.6111798286438,"wires":[]},{"id":"4621c668.283878","type":"function","z":"3d889d64.5b41e2","name":"Delay 200ms","func":"setTimeout(function() {\n node.send(msg);\n}, 200);\nreturn null;","outputs":1,"noerr":0,"x":1202.7957763671875,"y":266.0000138282776,"wires":[["560d1a32.226824"]]},{"id":"560d1a32.226824","type":"link out","z":"3d889d64.5b41e2","name":"","links":["bb168592.10c4d8","ceaf09ed.bce538"],"x":1325.814157485962,"y":265.64818239212036,"wires":[]},{"id":"bb168592.10c4d8","type":"link in","z":"3d889d64.5b41e2","name":"Atualiza Registro","links":["560d1a32.226824"],"x":428.25843715667725,"y":474.57407808303833,"wires":[["8b623442.9e8ca8"]]},{"id":"865cf9c1.773e28","type":"comment","z":"3d889d64.5b41e2","name":"Modifica um registro","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":320.77709197998047,"y":232.66675424575806,"wires":[]},{"id":"a86f4e42.7ee7d","type":"inject","z":"3d889d64.5b41e2","name":"Carregar manual","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":368.4598846435547,"y":570.0440106391907,"wires":[["8b623442.9e8ca8"]]},{"id":"786610e3.31683","type":"debug","z":"3d889d64.5b41e2","name":"Resposta","active":true,"console":"false","complete":"payload","x":1195.7933959960938,"y":567.3288102149963,"wires":[]},{"id":"d00c4200.3159f","type":"debug","z":"3d889d64.5b41e2","name":"comando para o mongo","active":false,"console":"false","complete":"payload","x":848.1474609375,"y":569.0440201759338,"wires":[]},{"id":"b5b70dc2.3d794","type":"mqtt in","z":"3d889d64.5b41e2","name":"","topic":"financeiro/cadastro/contas/excluir/#","qos":"0","broker":"5c3d5234.4841bc","x":309.6660461425781,"y":360.83335733413696,"wires":[["d8904253.ecb61","4c8ad0dd.b93cc"]]},{"id":"10b40cca.7e7713","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"deletar conta","collection":"contas","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":1202.2214965820312,"y":361.0555558204651,"wires":[]},{"id":"b973a735.a0fba8","type":"function","z":"3d889d64.5b41e2","name":"Indica o ID","func":"msg.payload = {\n\"_id\":msg.payload._id\n}\nreturn msg;","outputs":1,"noerr":0,"x":993.5549926757812,"y":361.0555863380432,"wires":[["ca0ef23d.93cd4","10b40cca.7e7713","4621c668.283878"]]},{"id":"ca0ef23d.93cd4","type":"debug","z":"3d889d64.5b41e2","name":"","active":false,"console":"false","complete":"false","x":1202.814208984375,"y":424.2963089942932,"wires":[]},{"id":"b635abd5.382588","type":"mqtt out","z":"3d889d64.5b41e2","name":"excluido/+id","topic":"","qos":"0","retain":"","broker":"5c3d5234.4841bc","x":804.8328247070312,"y":401.4445023536682,"wires":[]},{"id":"d8904253.ecb61","type":"function","z":"3d889d64.5b41e2","name":"Recupera topico ID","func":"return [\n    {\n        id: msg.id,\n        topic: 'financeiro/cadastro/contas/excluido/' + msg.topic.split('/')[msg.topic.split('/').length - 1], //msg.payload._id,\n        payload: msg.payload\n    }\n];","outputs":"1","noerr":0,"x":584.0549621582031,"y":361.4444718360901,"wires":[["b635abd5.382588","180f3f33.0df601","d8c74617.a3c8b8"]]},{"id":"180f3f33.0df601","type":"json","z":"3d889d64.5b41e2","name":"","x":784.5475463867188,"y":361.7648148536682,"wires":[["b973a735.a0fba8"]]},{"id":"d8c74617.a3c8b8","type":"debug","z":"3d889d64.5b41e2","name":"excluido","active":false,"console":"false","complete":"true","x":793.0974731445312,"y":456.2648148536682,"wires":[]},{"id":"4c8ad0dd.b93cc","type":"debug","z":"3d889d64.5b41e2","name":"excluir","active":false,"console":"false","complete":"true","x":542.7641906738281,"y":402.7648148536682,"wires":[]},{"id":"88a7c598.71b648","type":"debug","z":"3d889d64.5b41e2","name":"alterar","active":false,"console":"false","complete":"true","x":548.7641906738281,"y":314.7648148536682,"wires":[]},{"id":"34cae1eb.31623e","type":"debug","z":"3d889d64.5b41e2","name":"alterado","active":false,"console":"false","complete":"true","x":795.7642211914062,"y":320.7648148536682,"wires":[]},{"id":"d183e0a7.4ef9","type":"comment","z":"3d889d64.5b41e2","name":"Exclui um registro","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":318.880859375,"y":323.8814835548401,"wires":[]},{"id":"5126825f.a7402c","type":"comment","z":"3d889d64.5b41e2","name":"Cadastro de contas","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":778.5549774169922,"y":76.00000047683716,"wires":[]},{"id":"82859e07.a2eb8","type":"mqtt in","z":"3d889d64.5b41e2","name":"","topic":"financeiro/cadastro/socios/incluir/#","qos":"0","broker":"5c3d5234.4841bc","x":1710.8419799804688,"y":165.84258890151978,"wires":[["2eb78807.41c468"]]},{"id":"2eb78807.41c468","type":"function","z":"3d889d64.5b41e2","name":"Recupera topico ID","func":"return [\n    {\n        id: msg.id,\n        topic: 'financeiro/cadastro/socios/incluido/' + msg.topic.split('/')[msg.topic.split('/').length - 1], //msg.payload._id,\n        payload: msg.payload\n    }\n];","outputs":"1","noerr":0,"x":1979.8419799804688,"y":165.84258890151978,"wires":[["89403f18.7652e","b69e3a83.78e628"]]},{"id":"340c762f.21b74a","type":"debug","z":"3d889d64.5b41e2","name":"Incluir + ID","active":false,"console":"false","complete":"payload","x":2600.0919189453125,"y":167.59258890151978,"wires":[]},{"id":"14744bde.a2f054","type":"mqtt out","z":"3d889d64.5b41e2","name":"socios/carregado/","topic":"financeiro/cadastro/socios/carregado/","qos":"0","retain":"","broker":"5c3d5234.4841bc","x":2578.5681915283203,"y":531.5709652900696,"wires":[]},{"id":"89403f18.7652e","type":"mqtt out","z":"3d889d64.5b41e2","name":"incluido/+id","topic":"","qos":"0","retain":"","broker":"5c3d5234.4841bc","x":2206.3712463378906,"y":166.1217942237854,"wires":[]},{"id":"a0d52bb.3092ad8","type":"mqtt in","z":"3d889d64.5b41e2","name":"","topic":"financeiro/cadastro/socios/carregar/","qos":"0","broker":"5c3d5234.4841bc","x":1706.3696365356445,"y":530.8814702033997,"wires":[["759cdf48.c26a3"]]},{"id":"fabb4b0b.a85c38","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"salvar socios","collection":"socios","payonly":true,"upsert":false,"multi":false,"operation":"store","x":2601.047197341919,"y":225.58149003982544,"wires":[]},{"id":"b69e3a83.78e628","type":"function","z":"3d889d64.5b41e2","name":"carrega 20 contas","func":"msg.limit = parseInt(msg.payload.per_page) || 20;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nreturn msg;","outputs":1,"noerr":0,"x":2224.4917907714844,"y":224.64260721206665,"wires":[["fe499491.be4348"]]},{"id":"fe499491.be4348","type":"json","z":"3d889d64.5b41e2","name":"","x":2417.9251403808594,"y":225.1259446144104,"wires":[["fabb4b0b.a85c38","2660ec42.4f7124","340c762f.21b74a"]]},{"id":"7eab6f96.2cc38","type":"mqtt in","z":"3d889d64.5b41e2","name":"","topic":"financeiro/cadastro/socios/alterar/#","qos":"0","broker":"5c3d5234.4841bc","x":1707.7085571289062,"y":289.5982155799866,"wires":[["c222d17d.a7ded","3f10e0be.f59ee"]]},{"id":"c222d17d.a7ded","type":"function","z":"3d889d64.5b41e2","name":"Recupera topico ID","func":"return [\n    {\n        id: msg.id,\n        topic: 'financeiro/cadastro/socios/alterado/' + msg.topic.split('/')[msg.topic.split('/').length - 1], //msg.payload._id,\n        payload: msg.payload\n    }\n];","outputs":"1","noerr":0,"x":1981.486312866211,"y":289.5982232093811,"wires":[["21c75340.87020c","b69e3a83.78e628","c27518c9.dea808"]]},{"id":"21c75340.87020c","type":"mqtt out","z":"3d889d64.5b41e2","name":"alterado/+id","topic":"","qos":"0","retain":"","broker":"5c3d5234.4841bc","x":2204.571186065674,"y":289.43299531936646,"wires":[]},{"id":"c062a4c4.5c2298","type":"mongodb in","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"Carrega lista","collection":"socios","operation":"find","x":2203.8640407986113,"y":531.9204072422451,"wires":[["14744bde.a2f054","a338187f.39c878"]]},{"id":"759cdf48.c26a3","type":"function","z":"3d889d64.5b41e2","name":"carrega 20 contas","func":"msg.limit = parseInt(msg.payload.per_page) || 20;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nmsg.payload = \"carregar\";\nreturn msg;","outputs":1,"noerr":0,"x":1985.8455276489258,"y":532.0500683784485,"wires":[["c062a4c4.5c2298","6955beae.d0d1"]]},{"id":"a1070848.ede138","type":"comment","z":"3d889d64.5b41e2","name":"Adiciona um registro","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":1719.0493621826172,"y":125.05003786087036,"wires":[]},{"id":"a766a4fa.388268","type":"comment","z":"3d889d64.5b41e2","name":"Atualiza pagina","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":1711.3827819824219,"y":489.93899393081665,"wires":[]},{"id":"2660ec42.4f7124","type":"function","z":"3d889d64.5b41e2","name":"Delay 100ms","func":"setTimeout(function() {\n node.send(msg);\n}, 100);\nreturn null;","outputs":1,"noerr":0,"x":2600.62353515625,"y":282.8278183937073,"wires":[["b9e7123b.7bcbe"]]},{"id":"b9e7123b.7bcbe","type":"link out","z":"3d889d64.5b41e2","name":"","links":["b82d325c.8193a"],"x":2723.6419162750244,"y":282.47598695755005,"wires":[]},{"id":"b82d325c.8193a","type":"link in","z":"3d889d64.5b41e2","name":"Atualiza Registro","links":["b9e7123b.7bcbe"],"x":1826.0861959457397,"y":491.401882648468,"wires":[["759cdf48.c26a3"]]},{"id":"7e259705.3fd3f8","type":"comment","z":"3d889d64.5b41e2","name":"Modifica um registro","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":1718.604850769043,"y":249.49455881118774,"wires":[]},{"id":"5f831cc9.66e8a4","type":"inject","z":"3d889d64.5b41e2","name":"Carregar manual","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1763.2876586914062,"y":581.8718247413635,"wires":[["759cdf48.c26a3"]]},{"id":"a338187f.39c878","type":"debug","z":"3d889d64.5b41e2","name":"Resposta","active":false,"console":"false","complete":"payload","x":2455.6211547851562,"y":585.1565842628479,"wires":[]},{"id":"6955beae.d0d1","type":"debug","z":"3d889d64.5b41e2","name":"comando para o mongo","active":false,"console":"false","complete":"payload","x":2245.9752197265625,"y":585.8718247413635,"wires":[]},{"id":"93c8f294.4090a","type":"mqtt in","z":"3d889d64.5b41e2","name":"","topic":"financeiro/cadastro/socios/excluir/#","qos":"0","broker":"5c3d5234.4841bc","x":1707.4938049316406,"y":377.66116189956665,"wires":[["b32cf9c0.675138","17d0aab1.9a0795"]]},{"id":"b361f641.451dc8","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"deletar socios","collection":"socios","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":2610.0492553710938,"y":377.8833603858948,"wires":[]},{"id":"654e7848.845718","type":"function","z":"3d889d64.5b41e2","name":"Indica o ID","func":"msg.payload = {\n\"_id\":msg.payload._id\n}\nreturn msg;","outputs":1,"noerr":0,"x":2390.3827514648438,"y":377.8833909034729,"wires":[["fc31a99a.4abf38","b361f641.451dc8","2660ec42.4f7124"]]},{"id":"fc31a99a.4abf38","type":"debug","z":"3d889d64.5b41e2","name":"","active":false,"console":"false","complete":"false","x":2600.6419677734375,"y":441.1241135597229,"wires":[]},{"id":"91649bfa.94d5e8","type":"mqtt out","z":"3d889d64.5b41e2","name":"excluido/+id","topic":"","qos":"0","retain":"","broker":"5c3d5234.4841bc","x":2202.6605834960938,"y":418.2723069190979,"wires":[]},{"id":"b32cf9c0.675138","type":"function","z":"3d889d64.5b41e2","name":"Recupera topico ID","func":"return [\n    {\n        id: msg.id,\n        topic: 'financeiro/cadastro/socios/excluido/' + msg.topic.split('/')[msg.topic.split('/').length - 1], //msg.payload._id,\n        payload: msg.payload\n    }\n];","outputs":"1","noerr":0,"x":1981.8827209472656,"y":378.2722764015198,"wires":[["91649bfa.94d5e8","bd21723d.0a61b","2d8feba6.f82304"]]},{"id":"bd21723d.0a61b","type":"json","z":"3d889d64.5b41e2","name":"","x":2182.3753051757812,"y":378.5926194190979,"wires":[["654e7848.845718"]]},{"id":"2d8feba6.f82304","type":"debug","z":"3d889d64.5b41e2","name":"excluido","active":false,"console":"false","complete":"true","x":2190.9252319335938,"y":473.0926194190979,"wires":[]},{"id":"17d0aab1.9a0795","type":"debug","z":"3d889d64.5b41e2","name":"excluir","active":false,"console":"false","complete":"true","x":1940.5919494628906,"y":419.5926194190979,"wires":[]},{"id":"3f10e0be.f59ee","type":"debug","z":"3d889d64.5b41e2","name":"alterar","active":false,"console":"false","complete":"true","x":1946.5919494628906,"y":331.5926194190979,"wires":[]},{"id":"c27518c9.dea808","type":"debug","z":"3d889d64.5b41e2","name":"alterado","active":false,"console":"false","complete":"true","x":2193.5919799804688,"y":337.5926194190979,"wires":[]},{"id":"f17170db.b2dc9","type":"comment","z":"3d889d64.5b41e2","name":"Exclui um registro","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":1716.7086181640625,"y":340.7092881202698,"wires":[]},{"id":"8d6be53e.25cea8","type":"comment","z":"3d889d64.5b41e2","name":"Cadastro de Socios","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":2176.3827362060547,"y":94.82780504226685,"wires":[]},{"id":"7dc8262e.3710c8","type":"mqtt out","z":"3d889d64.5b41e2","name":"contas/carregado/","topic":"financeiro/lancamento/contas/carregado/","qos":"0","retain":"","broker":"5c3d5234.4841bc","x":1230.5961795383027,"y":755.3564510875278,"wires":[]},{"id":"f5cab49c.faabf8","type":"mqtt in","z":"3d889d64.5b41e2","name":"","topic":"financeiro/lancamento/contas/carregar/","qos":"0","broker":"5c3d5234.4841bc","x":295.64763980441603,"y":752.6669369273716,"wires":[["127f29b3.0b0766","a2ef144e.9c9838"]]},{"id":"bc98a58d.ff80b8","type":"mongodb in","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"Carrega lista","collection":"contas","operation":"find","x":813.8920440673828,"y":752.7058758735657,"wires":[["7dc8262e.3710c8","d955f1b9.85e6"]]},{"id":"ceaf09ed.bce538","type":"link in","z":"3d889d64.5b41e2","name":"Atualiza Registro","links":["560d1a32.226824"],"x":428.11419921451125,"y":711.1873512797886,"wires":[["127f29b3.0b0766"]]},{"id":"8778fb14.6987c8","type":"inject","z":"3d889d64.5b41e2","name":"Carregar manual","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":361.56566196017775,"y":803.6572914653354,"wires":[["127f29b3.0b0766"]]},{"id":"d955f1b9.85e6","type":"debug","z":"3d889d64.5b41e2","name":"Resposta contas","active":false,"console":"false","complete":"payload","x":1232.6491580539277,"y":806.9420834117466,"wires":[]},{"id":"1829d1d.42d822e","type":"debug","z":"3d889d64.5b41e2","name":"comando para o mongo","active":false,"console":"false","complete":"payload","x":855.003222995334,"y":806.6572933726841,"wires":[]},{"id":"34270dde.04ca32","type":"comment","z":"3d889d64.5b41e2","name":"Lancamentos de inclusao","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":789.5435333251953,"y":672.7939496040344,"wires":[]},{"id":"127f29b3.0b0766","type":"function","z":"3d889d64.5b41e2","name":"lê banco e conta","func":"// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = \"Carregar contas\"\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { \"banco\": 1, \"conta\": 1 }\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":571.7934833102754,"y":752.9813900523716,"wires":[["1829d1d.42d822e","bc98a58d.ff80b8"]]},{"id":"d2e1de63.d464b","type":"function","z":"3d889d64.5b41e2","name":"Maior que $gt","func":"// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = {idade:{$gt:20}}\n\n//msg.operation  = 'find';\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\n//msg.projection = \"idade:{$gt:10}\"\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":3175.76424407959,"y":2553.448272228241,"wires":[["506666f4.0439d8"]]},{"id":"a4519553.121838","type":"inject","z":"3d889d64.5b41e2","name":"testar query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":2957.5364151000977,"y":2553.124053478241,"wires":[["d2e1de63.d464b"]]},{"id":"6fe54843.c910c8","type":"debug","z":"3d889d64.5b41e2","name":"Resposta test","active":true,"console":"false","complete":"payload","x":3790.619956970215,"y":2554.4090876579285,"wires":[]},{"id":"506666f4.0439d8","type":"mongodb in","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"","collection":"test","operation":"find","x":3549.097496032715,"y":2553.9649958610535,"wires":[["6fe54843.c910c8"]]},{"id":"34014f97.e12eb","type":"function","z":"3d889d64.5b41e2","name":"Diferente de $ne","func":"// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = {banco:{$ne:\"ALTAMIRA\"}}\n\n//msg.operation  = 'find';\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\n//msg.projection = \"idade:{$gt:10}\"\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":3175.875389099121,"y":2617.898223400116,"wires":[["bbd9853d.b36898"]]},{"id":"447c2d3b.14d954","type":"inject","z":"3d889d64.5b41e2","name":"testar query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":2957.647560119629,"y":2617.574004650116,"wires":[["34014f97.e12eb"]]},{"id":"9852ed0f.0fb58","type":"function","z":"3d889d64.5b41e2","name":"Buscar o que estão numa lista $in","func":"// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = {agencia:{$in:[\"234566\",\"555555\"]}}\n\n//msg.operation  = 'find';\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\n//msg.projection = \"idade:{$gt:10}\"\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":3234.4308700561523,"y":2673.898223400116,"wires":[["bbd9853d.b36898"]]},{"id":"32ae6849.09d428","type":"inject","z":"3d889d64.5b41e2","name":"testar query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":2956.203025817871,"y":2673.574004650116,"wires":[["9852ed0f.0fb58"]]},{"id":"bbd9853d.b36898","type":"mongodb in","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"","collection":"contas","operation":"count","x":3560.208641052246,"y":2617.415069103241,"wires":[["7c46a771.7263d8"]]},{"id":"7c46a771.7263d8","type":"debug","z":"3d889d64.5b41e2","name":"Resposta contas","active":true,"console":"false","complete":"payload","x":3800.73104095459,"y":2616.8590388298035,"wires":[]},{"id":"1392128e.0893fd","type":"function","z":"3d889d64.5b41e2","name":"Buscar não esta numa lista $nin","func":"// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = {agencia:{$nin:[\"234566\",\"555555\"]}}\n\n//msg.operation  = 'find';\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\n//msg.projection = \"idade:{$gt:10}\"\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":3223.875389099121,"y":2723.898223400116,"wires":[["bbd9853d.b36898"]]},{"id":"e5532a9f.f99c38","type":"inject","z":"3d889d64.5b41e2","name":"testar query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":2956.647529602051,"y":2722.5739436149597,"wires":[["1392128e.0893fd"]]},{"id":"39c5bf46.20e81","type":"function","z":"3d889d64.5b41e2","name":"update valor","func":"// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload =  {$set: {\n        \"nome\": \"maria 1\",\n        \"idade\": 123466\n    }}\n\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":3163.4308700561523,"y":2783.8981623649597,"wires":[["b045d5ff.a52328","19532ab.ae930d5"]]},{"id":"7adc92a5.6ae02c","type":"inject","z":"3d889d64.5b41e2","name":"testar query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":2960.4308853149414,"y":2782.8981623649597,"wires":[["39c5bf46.20e81"]]},{"id":"3198da15.f48536","type":"debug","z":"3d889d64.5b41e2","name":"Resposta update test","active":true,"console":"false","complete":"payload","x":3995.4308700561523,"y":2782.898223400116,"wires":[]},{"id":"b045d5ff.a52328","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"update idade","collection":"test","payonly":false,"upsert":true,"multi":false,"operation":"update","x":3513.097496032715,"y":2784.0314631462097,"wires":[]},{"id":"19532ab.ae930d5","type":"function","z":"3d889d64.5b41e2","name":"Delay 50ms","func":"setTimeout(function() {\n node.send(msg);\n}, 50);\nreturn null;","outputs":1,"noerr":0,"x":3512.4308700561523,"y":2840.5480647087097,"wires":[["c6207ede.c4825"]]},{"id":"c6207ede.c4825","type":"function","z":"3d889d64.5b41e2","name":"lê banco e conta","func":"msg.limit = parseInt(msg.payload.per_page) || 20;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nmsg.payload = \"Carregar test\";\nreturn msg;","outputs":1,"noerr":0,"x":3704.4308700561523,"y":2840.5981135368347,"wires":[["9b80b3b3.5bd3"]]},{"id":"9b80b3b3.5bd3","type":"mongodb in","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"test.find()","collection":"test","operation":"find","x":3724.097526550293,"y":2782.7314143180847,"wires":[["3198da15.f48536"]]},{"id":"94450676.972558","type":"mqtt in","z":"3d889d64.5b41e2","name":"","topic":"financeiro/lancamento/contas/incluir/#","qos":"0","broker":"5c3d5234.4841bc","x":293.5143085055879,"y":890.1148129039341,"wires":[["4dc6f912.941e88"]]},{"id":"4dc6f912.941e88","type":"function","z":"3d889d64.5b41e2","name":"Recupera topico ID","func":"node.status({\n    fill:\"blue\",shape:\"ring\",text:\"incluido/\" + msg.topic.split('/')[msg.topic.split('/').length - 1]\n});\n\nvar lancamento = JSON.parse(msg.payload);\n\nreturn {\n    id: msg.id,\n    topic: 'financeiro/lancamento/contas/incluido/' + msg.topic.split('/')[msg.topic.split('/').length - 1], //lancamento._id,\n    payload: { \n        _id: lancamento._id, \n        conta: lancamento.conta, \n        data: lancamento.data, \n        cheque: lancamento.cheque, \n        liquidado: lancamento.liquidado, \n        operacao: lancamento.operacao, \n        debito: (lancamento.operacao === 'debito' ? lancamento.valor : 0),\n        credito: (lancamento.operacao === 'credito' ? lancamento.valor : 0),\n        valor: lancamento.valor * (lancamento.operacao === 'credito' ? 1 : -1), \n        observacao: lancamento.observacao \n    }\n};","outputs":"1","noerr":0,"x":579.5143085055879,"y":890.1148129039341,"wires":[["77569b75.22ec44","66971ddc.5b9ad4","9d8f9955.c12e98"]]},{"id":"77569b75.22ec44","type":"mqtt out","z":"3d889d64.5b41e2","name":"incluido/+id","topic":"","qos":"0","retain":"","broker":"5c3d5234.4841bc","x":815.0435748630098,"y":890.3940182261997,"wires":[]},{"id":"9d8f9955.c12e98","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"salvar lancamentos","collection":"lancamentos","payonly":true,"upsert":false,"multi":false,"operation":"store","x":836.5143585205078,"y":942.1149640083313,"wires":[]},{"id":"ca034138.93a75","type":"mongodb in","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"Carrega valores","collection":"lancamentos","operation":"aggregate","x":732.0141448974609,"y":1579.6980500221252,"wires":[["4a857040.8ee3e","6749e244.8d2cac","fb1e9662.bd5088"]]},{"id":"95ade2e4.0f20a","type":"debug","z":"3d889d64.5b41e2","name":"total","active":false,"console":"false","complete":"payload","x":1324.902976989746,"y":1733.408996105194,"wires":[]},{"id":"d2edffd4.155ba","type":"function","z":"3d889d64.5b41e2","name":"lê banco e conta","func":"// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = [\n    {\n       $group: {\n            _id: \"$conta\",\n            debito:{ $sum: \"$debito\" },\n            credito:{ $sum: \"$credito\" },\n            valor: {  $sum: \"$valor\"},\n            count: { $sum: 1 }\n        },\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":531.0141143798828,"y":1579.9979767799377,"wires":[["ca034138.93a75"]]},{"id":"df0ef747.6bb068","type":"inject","z":"3d889d64.5b41e2","name":"Totais","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":362.8974723815918,"y":1620.3314232826233,"wires":[["d2edffd4.155ba"]]},{"id":"ade26bb5.8a6c48","type":"function","z":"3d889d64.5b41e2","name":"Valor total","func":"if(msg.payload !== null || msg.payload !== undefined){\n    msg.payload = 'R$ ' + msg.payload.valor.toFixed(2).replace('.', ',');\n    node.status({fill: \"yellow\", shape: \"ring\", text: msg.payload});\n} else {\n    msg.payload = \"0,00\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1085.569725036621,"y":1733.825744152069,"wires":[["95ade2e4.0f20a"]]},{"id":"61f1a0ce.fef4c","type":"function","z":"3d889d64.5b41e2","name":"Debitos","func":"if(msg.payload !== null || msg.payload !== undefined){\n    let x = parseFloat(msg.payload.debito).toFixed(2);\n    let y = 'R$ ' + x.toString().replace('.', ',');\n    msg.payload = y;\n    node.status({fill:\"red\",shape:\"ring\",text:y});\n}\nelse{\n    msg.payload = \"0,00\";\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro Payload\"});\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1083.569725036621,"y":1634.175841808319,"wires":[["84a1a25.bf1a86"]]},{"id":"7e5aa48f.5ecbcc","type":"function","z":"3d889d64.5b41e2","name":"Creditos","func":"if(msg.payload !== null || msg.payload !== undefined){\n    let x = parseFloat(msg.payload.credito).toFixed(2);\n    let y = 'R$ ' + x.toString().replace('.', ',');\n    msg.payload = y\n    node.status({fill:\"green\",shape:\"ring\",text:y});\n}\nelse{\n    msg.payload = \"0,00\";\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro Payload\"});\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1084.569725036621,"y":1686.175841808319,"wires":[["a4a9edc7.393e3"]]},{"id":"84a1a25.bf1a86","type":"debug","z":"3d889d64.5b41e2","name":"debito","active":false,"console":"false","complete":"payload","x":1325.569725036621,"y":1634.175841808319,"wires":[]},{"id":"a4a9edc7.393e3","type":"debug","z":"3d889d64.5b41e2","name":"credito","active":false,"console":"false","complete":"payload","x":1325.569725036621,"y":1686.175841808319,"wires":[]},{"id":"4e240619.0515a8","type":"debug","z":"3d889d64.5b41e2","name":"saldo","active":false,"console":"false","complete":"payload","x":1326.569725036621,"y":1784.1757807731628,"wires":[]},{"id":"7a5a0916.911038","type":"function","z":"3d889d64.5b41e2","name":"Saldo","func":"if(msg.payload !== null || msg.payload !== undefined){\n    let x = parseFloat(msg.payload.debito);\n    let y = parseFloat(msg.payload.credito);\n    let z = (y - x).toFixed(2);\n    node.status({fill:\"yellow\",shape:\"ring\",text:z});\n    msg.payload = 'R$ ' + z.toString().replace('.', ',');\n    \n}\nelse{\n    msg.payload = \"0,00\";\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro Payload\"});\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1077.236473083496,"y":1784.5925288200378,"wires":[["4e240619.0515a8"]]},{"id":"380ee3db.6ab36c","type":"function","z":"3d889d64.5b41e2","name":"Numero de lancamentos","func":"if(msg.payload !== null || msg.payload !== undefined){\n    let x = parseInt(msg.payload.count);\n    node.status({fill:\"yellow\",shape:\"ring\",text:x});\n    msg.payload = x;\n}\nelse{\n    msg.payload = 0;\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro Payload\"});\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1137.569725036621,"y":1841.1757807731628,"wires":[["d41574b0.ffbc08"]]},{"id":"d41574b0.ffbc08","type":"debug","z":"3d889d64.5b41e2","name":"Numero de lancamentos","active":false,"console":"false","complete":"payload","x":1388.902976989746,"y":1840.759093761444,"wires":[]},{"id":"103c5728.bdd2d9","type":"mongodb in","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"Carrega lancamentos","collection":"lancamentos","operation":"find","x":752.7641525268555,"y":2128.5147252082825,"wires":[["3462656f.35032a"]]},{"id":"39051009.c5798","type":"function","z":"3d889d64.5b41e2","name":"lê lancamento","func":"// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = \"Carrega Lancamento\"\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { \"conta\": 1, \"data\": 1, \"cheque\":1, \"liquidado\":1, \"operacao\":1, \"valor\":1, \"observacao\":1}\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":499.66559176974806,"y":2128.790178351932,"wires":[["103c5728.bdd2d9"]]},{"id":"b92d79ad.1dc8b8","type":"inject","z":"3d889d64.5b41e2","name":"Lê 20 até lancamentos","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":269.986328125,"y":2128.6536259651184,"wires":[["39051009.c5798"]]},{"id":"3462656f.35032a","type":"debug","z":"3d889d64.5b41e2","name":"lancamentos contas","active":false,"console":"false","complete":"payload","x":990.7641525268555,"y":2128.764664173126,"wires":[]},{"id":"ba5f8884.5ff588","type":"inject","z":"3d889d64.5b41e2","name":"conta pelo ID","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":239.76412200927734,"y":2245.5645909309387,"wires":[["2d4d9bd0.cba944"]]},{"id":"2d4d9bd0.cba944","type":"function","z":"3d889d64.5b41e2","name":"lê banco e conta","func":"// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = { \"_id\": \"9280aff5-619b-4e87-a82a-f31da6347a8d\"}\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { \"banco\": 1, \"conta\": 1 }\n\n// Ler 1 valor\nmsg.limit = parseInt(msg.payload.per_page) || 20;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":500.991943359375,"y":2245.888689517975,"wires":[["b2417087.0ca8b"]]},{"id":"b2417087.0ca8b","type":"mongodb in","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"Carrega conta pelo ID","collection":"contas","operation":"find","x":754.0905041164824,"y":2245.613175339169,"wires":[["ecbc115.35dcbf","852c32a5.c40e6"]]},{"id":"ecbc115.35dcbf","type":"debug","z":"3d889d64.5b41e2","name":"resposta do mongo","active":false,"console":"false","complete":"payload","x":986.8682861328125,"y":2290.5646328926086,"wires":[]},{"id":"1c43fc7a.0df294","type":"debug","z":"3d889d64.5b41e2","name":"Resposta contas","active":true,"console":"false","complete":"payload","x":1254.5142822265625,"y":2245.849422931671,"wires":[]},{"id":"852c32a5.c40e6","type":"function","z":"3d889d64.5b41e2","name":"Numero de lancamentos","func":"if(msg.payload !== null || msg.payload !== undefined){\n    let x = msg.payload[0].banco;\n    let y = msg.payload[0].conta;\n    node.status({fill:\"yellow\",shape:\"ring\",text:x + \" - \" + y});\n    msg.payload = (x + \" - \" + y);\n}\nelse{\n    msg.payload = 0;\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro Payload\"});\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1006.4307861328125,"y":2245.6312832832336,"wires":[["1c43fc7a.0df294"]]},{"id":"d9319f1c.508e6","type":"http in","z":"3d889d64.5b41e2","name":"lancamentos","url":"/api/lancamentos","method":"get","swaggerDoc":"","x":265.76409912109375,"y":2477.7481274604797,"wires":[[]]},{"id":"7f80fe57.3653f","type":"http response","z":"3d889d64.5b41e2","name":"","x":1366.7641296386719,"y":2549.7481274604797,"wires":[]},{"id":"f7136367.4d805","type":"function","z":"3d889d64.5b41e2","name":"filtro","func":"\n//msg.payload = \"SELECT RCB.*, RCB_PED.numero AS pedido FROM RCB LEFT OUTER JOIN RCB_PED ON RCB.nosso_numero = RCB_PED.nosso_numero\"; \nmsg.payload = '';\nmsg.limit= 50;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":445.76409912109375,"y":2477.7481274604797,"wires":[["abde1f87.ae5aa"]]},{"id":"babaa987.e406e8","type":"function","z":"3d889d64.5b41e2","name":"conta","func":"\nmsg.payload = { \"_id\": msg.payload.conta }\nmsg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1365.7640991210938,"y":2466.7481274604797,"wires":[["434c4d4e.80dbe4"]]},{"id":"af813210.c8f33","type":"function","z":"3d889d64.5b41e2","name":"lancamentos","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    return [\n        {\n            lancamentos: msg.payload.map( x => \n            {\n                return {\n                    _id: x._id,\n                \tconta: x.conta,\n                \tdata: x.data,\n                \tcheque: x.cheque,\n                \tliquidado: x.liquidado,\n                \t//operacao: x.operacao,\n                \tvalor: x.debito > 0 ? x.valor * -1 : x.valor,\n                \tobservacao: x.observacao,\n                }\n            })\n        }, \n    null];\n} else {\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":865.7640991210938,"y":2477.7481274604797,"wires":[["a0f284d6.4bc208","cb0d4641.e10a68"],["609036a4.23b268"]]},{"id":"a0f284d6.4bc208","type":"function","z":"3d889d64.5b41e2","name":"loop","func":"if (msg.index === undefined) {\n    msg.index = 0;\n    msg.payload = msg.lancamentos[msg.index];\n    return [msg, null];\n} else {\n    msg.index++;\n    if (msg.index < msg.lancamentos.length) {\n        msg.payload = msg.lancamentos[msg.index];    \n        return [msg, null]\n    }\n    msg.payload = msg.lancamentos;\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":1185.7640991210938,"y":2472.7481274604797,"wires":[["babaa987.e406e8"],["1cf1baf4.7ff895"]]},{"id":"ea7c346.c44c0c8","type":"function","z":"3d889d64.5b41e2","name":"result","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.lancamentos[msg.index].conta = msg.payload[0];    \n} else {\n    msg.lancamentos[msg.index].conta = {\n        \"_id\": \"00000000-0000-0000-0000-0000000000\",\n        \"selecionada\": false,\n        \"banco\": \"????????\",\n        \"conta\": \"?????\",\n        \"agencia\": \"????????\",\n        \"descricao\": \"???????????????\"\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1381.3195190429688,"y":2391.6369919776917,"wires":[["a0f284d6.4bc208"]]},{"id":"abde1f87.ae5aa","type":"mongodb in","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"lancamentos","collection":"lancamentos","operation":"find","x":645.7640991210938,"y":2477.7481274604797,"wires":[["af813210.c8f33","7371b64d.b842e8"]]},{"id":"434c4d4e.80dbe4","type":"mongodb in","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"contas","collection":"contas","operation":"find","x":1525.7640991210938,"y":2466.7481274604797,"wires":[["ea7c346.c44c0c8","f1f7d96c.8b7c08"]]},{"id":"1cf1baf4.7ff895","type":"debug","z":"3d889d64.5b41e2","name":"Final","active":true,"console":"false","complete":"payload","x":1365.5015869140625,"y":2509.7177395820618,"wires":[]},{"id":"7371b64d.b842e8","type":"debug","z":"3d889d64.5b41e2","name":"lancamentos","active":false,"console":"false","complete":"payload","x":865.7640991210938,"y":2517.7481274604797,"wires":[]},{"id":"a188f784.cf8c88","type":"inject","z":"3d889d64.5b41e2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":275.76409912109375,"y":2537.7481274604797,"wires":[["f7136367.4d805"]]},{"id":"f1f7d96c.8b7c08","type":"debug","z":"3d889d64.5b41e2","name":"","active":false,"console":"false","complete":"false","x":1695.7641143798828,"y":2466.3845047950745,"wires":[]},{"id":"7a96d76a.4f2ca8","type":"http response","z":"3d889d64.5b41e2","name":"","x":1067.7641296386719,"y":2560.7481274604797,"wires":[]},{"id":"50e7f481.c8415c","type":"http response","z":"3d889d64.5b41e2","name":"","x":1074.3326721191406,"y":2673.3334546089172,"wires":[]},{"id":"e6aa041b.d33fa8","type":"catch","z":"3d889d64.5b41e2","name":"","scope":null,"x":684.3326721191406,"y":2693.3334546089172,"wires":[["aadd6463.125db8","b6f75a2f.765308"]]},{"id":"aadd6463.125db8","type":"debug","z":"3d889d64.5b41e2","name":"","active":true,"console":"false","complete":"false","x":914.3326721191406,"y":2713.3334546089172,"wires":[]},{"id":"b6f75a2f.765308","type":"function","z":"3d889d64.5b41e2","name":"erro","func":"msg.statusCode = 500;\n\nreturn msg;","outputs":1,"noerr":0,"x":894.3326721191406,"y":2673.3334546089172,"wires":[["50e7f481.c8415c"]]},{"id":"609036a4.23b268","type":"debug","z":"3d889d64.5b41e2","name":"Lancamentos Vazio","active":true,"console":"false","complete":"payload","x":1106.4640808105469,"y":2516.9480786323547,"wires":[]},{"id":"cb0d4641.e10a68","type":"debug","z":"3d889d64.5b41e2","name":"modificado","active":true,"console":"false","complete":"lancamentos","x":1047.4474182128906,"y":2410.7481274604797,"wires":[]},{"id":"4a857040.8ee3e","type":"split","z":"3d889d64.5b41e2","name":"","splt":"\\n","x":908.0037479400635,"y":1633.9576382637024,"wires":[["ade26bb5.8a6c48","61f1a0ce.fef4c","7e5aa48f.5ecbcc","7a5a0916.911038","380ee3db.6ab36c"]]},{"id":"9702b0d.1aca15","type":"debug","z":"3d889d64.5b41e2","name":"comando","active":true,"console":"false","complete":"payload","x":567.3475189208984,"y":467.3666729927063,"wires":[]},{"id":"a2ef144e.9c9838","type":"debug","z":"3d889d64.5b41e2","name":"Lancamento contas","active":true,"console":"false","complete":"payload","x":584.0976367526582,"y":708.9833336406284,"wires":[]},{"id":"e533498d.386768","type":"mqtt in","z":"3d889d64.5b41e2","name":"","topic":"financeiro/lancamento/contas/saldo/carregar/","qos":"0","broker":"5c3d5234.4841bc","x":245.486328125,"y":1579.8554577827454,"wires":[["d2edffd4.155ba"]]},{"id":"6749e244.8d2cac","type":"mqtt out","z":"3d889d64.5b41e2","name":"","topic":"financeiro/lancamento/contas/saldo/carregado/","qos":"0","retain":"","broker":"5c3d5234.4841bc","x":1201.9308242797852,"y":1579.3832726478577,"wires":[]},{"id":"fb1e9662.bd5088","type":"debug","z":"3d889d64.5b41e2","name":"resposta de cada conta","active":true,"console":"false","complete":"payload","x":1131.0421295166016,"y":1535.7999262809753,"wires":[]},{"id":"66971ddc.5b9ad4","type":"debug","z":"3d889d64.5b41e2","name":"lancamento conta","active":false,"console":"false","complete":"true","x":834.0977325439453,"y":848.9500470161438,"wires":[]},{"id":"1f0dbaa6.4507b5","type":"function","z":"3d889d64.5b41e2","name":"MAP Exemplo","func":"var index = 0;\n\nmsg.payload = ['a','b','c','d','e','f'].map( (item, index, list) => \n    \"test_\" + item + ' (' + index + \"), total: \" + (index % 2 ? list[index - 1] : '_')\n);\n\nreturn msg","outputs":1,"noerr":0,"x":413.8974609375,"y":3384.666488647461,"wires":[["9e5b99c3.d66ca8"]]},{"id":"e31ffc4c.4e187","type":"inject","z":"3d889d64.5b41e2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":201.8974609375,"y":3383.666488647461,"wires":[["1f0dbaa6.4507b5"]]},{"id":"9e5b99c3.d66ca8","type":"debug","z":"3d889d64.5b41e2","name":"","active":true,"console":"false","complete":"false","x":633.8974609375,"y":3384.666488647461,"wires":[]},{"id":"b916a40e.301668","type":"mqtt in","z":"3d889d64.5b41e2","name":"","topic":"financeiro/consulta/posicao/periodo/","qos":"0","broker":"5c3d5234.4841bc","x":294.0433807373047,"y":1085.4582257270813,"wires":[["a33d2b0d.6c6378"]]},{"id":"a33d2b0d.6c6378","type":"function","z":"3d889d64.5b41e2","name":"carrega 20 contas","func":"msg.limit = parseInt(msg.payload.per_page) || 20;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nreturn msg;","outputs":1,"noerr":0,"x":595.7969589233398,"y":1086.0157418251038,"wires":[["b05965eb.58dbb8"]]},{"id":"b05965eb.58dbb8","type":"mongodb in","z":"3d889d64.5b41e2","mongodb":"ed4a89c2.d3a5f8","name":"Carrega lista","collection":"contas","operation":"find","x":813.8154720730254,"y":1085.8860806889004,"wires":[["1bf93fd9.a5c04","b7c9dae9.fc2fd8"]]},{"id":"b7c9dae9.fc2fd8","type":"debug","z":"3d889d64.5b41e2","name":"Resposta","active":true,"console":"false","complete":"payload","x":1203.5725860595703,"y":1138.1222882270813,"wires":[]},{"id":"1bf93fd9.a5c04","type":"mqtt out","z":"3d889d64.5b41e2","name":"contas/carregado/","topic":"financeiro/cadastro/contas/carregado/","qos":"0","retain":"","broker":"5c3d5234.4841bc","x":1232.5196075439453,"y":1086.5366559028625,"wires":[]},{"id":"7d932f38.2e6bc","type":"comment","z":"3d889d64.5b41e2","name":"Atualiza lista de contas consultas por periodo","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":801.2934112548828,"y":1041.7082562446594,"wires":[]},{"id":"bef08b45.033338","type":"debug","z":"3d889d64.5b41e2","name":"tipo de consulta","active":true,"console":"false","complete":"payload","x":614.4601593017578,"y":1274.8124432563782,"wires":[]},{"id":"88277e79.d8b73","type":"mqtt in","z":"3d889d64.5b41e2","name":"","topic":"financeiro/lancamento/contas/consultar/","qos":"0","broker":"5c3d5234.4841bc","x":290.75865173339844,"y":1274.3610882759094,"wires":[["bef08b45.033338"]]},{"id":"4385ff5e.65559","type":"exec","z":"3d889d64.5b41e2","command":"\"C:\\\\Program Files (x86)\\\\Google\\\\Chrome\\\\Application\\\\chrome.exe\"","addpay":false,"append":"","useSpawn":false,"timer":"","name":"chrome","x":931.4489135742188,"y":1300.527587890625,"wires":[["45ffc0f8.4bc5"],["52790e97.9d564"],["bde138cb.f70018"]]},{"id":"45ffc0f8.4bc5","type":"function","z":"3d889d64.5b41e2","name":"toString()","func":"msg.payload = msg.payload.toString()\nreturn msg;","outputs":1,"noerr":0,"x":1108.1156311035156,"y":1237.8275756835938,"wires":[["277f5fa9.e4d2a"]]},{"id":"277f5fa9.e4d2a","type":"debug","z":"3d889d64.5b41e2","name":"output","active":true,"console":"false","complete":"payload","x":1267.1156311035156,"y":1237.8275756835938,"wires":[]},{"id":"52790e97.9d564","type":"function","z":"3d889d64.5b41e2","name":"rc","func":"if (msg.control && (msg.control.state == 'end' || msg.control.state == 'error')) return { payload: msg.control.rc }","outputs":1,"noerr":0,"x":1100.1156311035156,"y":1301.8275756835938,"wires":[["b4c64b13.baa8d8"]]},{"id":"b4c64b13.baa8d8","type":"debug","z":"3d889d64.5b41e2","name":"rc","active":true,"console":"false","complete":"payload","x":1260.1156311035156,"y":1301.8275756835938,"wires":[]},{"id":"bde138cb.f70018","type":"function","z":"3d889d64.5b41e2","name":"toString()","func":"msg.payload = msg.payload.toString()\nreturn msg;","outputs":1,"noerr":0,"x":1105.1156311035156,"y":1363.8275756835938,"wires":[["1a8d1de4.579fc2"]]},{"id":"1a8d1de4.579fc2","type":"debug","z":"3d889d64.5b41e2","name":"output2","active":true,"console":"false","complete":"payload","x":1283.1156311035156,"y":1364.8275756835938,"wires":[]},{"id":"91cb7c51.4adf6","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"3f42784b.d5ca78","name":"salvar","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1291.4258880615234,"y":3014.1640625,"wires":[]},{"id":"85db62a2.86297","type":"function","z":"3d889d64.5b41e2","name":"collection inicial parametros","func":"msg.payload = {\n\t\"_id\": \"AplanadoraN3\",\n\t\"nome\": \"Aplanadora N3\",\n\t\"setor\": \"Estamparia\",\n\t\"parametros\": {\n\t\t\"encoder\": {\n\t\t\t\"fator\": 9999,\n\t\t\t\"resolucao\": 2500,\n\t\t\t\"perimetro\": 400\n\t\t},\n\t\t\"velocidade\": {\n\t\t\t\"automatico\": 100,\n\t\t\t\"manual\": 25\n\t\t},\n\t\t\"ferramenta\": {\n\t\t\t\"passo\": 200\n\t\t}\n\t},\n\t\"estado\": {\n\t\t\"situacao\": {\n\t\t\t\"codigo\": 99,\n\t\t\t\"descricao\": \"Maquina OK\"\n\t\t}\n\t},\n\t\"operador\": {\n\t\t\"codigo\": 1012,\n\t\t\"nome\": \"IRANILDO\"\n\t},\n\t\"os\": {\n\t \"numero\": \"1231-11\",\n\t \"produto\": {\n\t \"codigo\": \"XXXXXXXXX\",\n\t \"descricao\": \"AAAAAABBBBBCCCCC\"\n\t },\n\t \"quantidade\": 1550,\n\t \"produzido\": 0,\n\t \"refugo\": 0\n\t},\n\t\"lubrificacao\": {\n\t\t\"preset\": {\n\t\t \"MbNovoCiclosUnd\":0,\n\t\t \"MbNovoCiclosmil\":1\n\t\t},\n\t\t\"ciclos\": {\n\t\t \"PrsCiclosUnid\":500,\n\t\t \"PrsCiclosMil\":0\n\t\t}\n\t},\n\t\"timestamp\":new Date()\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1084.4348754882812,"y":3014.2688493728638,"wires":[["91cb7c51.4adf6"]]},{"id":"88dd2682.520a28","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"3f42784b.d5ca78","name":"APAGAR TODA A COLLECTION log_erro","collection":"log_erro","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":783.1567993164062,"y":2940.4631853103638,"wires":[]},{"id":"9f7342af.9eefc","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"3f42784b.d5ca78","name":"salvar","collection":"log_erro","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1447.4036102294922,"y":3052.8197326660156,"wires":[]},{"id":"100d8212.5a95ee","type":"function","z":"3d889d64.5b41e2","name":"collection inicial log_erro","func":"msg.payload = {\n\t\"_id\": 1,\n\t\"log_mesagens\": {\n\t}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1240.41259765625,"y":3052.9245195388794,"wires":[["9f7342af.9eefc"]]},{"id":"6f4a05fe.a7e42c","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"3f42784b.d5ca78","name":"APAGAR TODA A COLLECTION parametros","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":622.6011047363281,"y":2904.2409563064575,"wires":[]},{"id":"ce5286d1.9fefe8","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"3f42784b.d5ca78","name":"salvar","collection":"indice","payonly":true,"upsert":false,"multi":true,"operation":"store","x":1605.4810752868652,"y":3091.780976295471,"wires":[]},{"id":"31294fc6.d317d","type":"function","z":"3d889d64.5b41e2","name":"collection inicial indice","func":"msg.payload = {\n\t\"_id\": \"indice\",\n\t\"indice_mesagens\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1398.9345703125,"y":3092.1078386306763,"wires":[["ce5286d1.9fefe8","3b6b8ae5.5af5f6"]]},{"id":"6e415212.d445cc","type":"mongodb out","z":"3d889d64.5b41e2","mongodb":"3f42784b.d5ca78","name":"APAGAR TODA A COLLECTION indice","collection":"indice","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":953.0086059570312,"y":2977.796696662903,"wires":[]},{"id":"e3a2a673.b447a8","type":"function","z":"3d889d64.5b41e2","name":"Delay 150ms","func":"setTimeout(function() {\n node.send(msg);\n}, 150);\nreturn null;","outputs":1,"noerr":0,"x":522.8044738769531,"y":2940.9712114334106,"wires":[["88dd2682.520a28","3ab0ec6a.2c15d4"]]},{"id":"3ab0ec6a.2c15d4","type":"function","z":"3d889d64.5b41e2","name":"Delay 150ms","func":"setTimeout(function() {\n node.send(msg);\n}, 150);\nreturn null;","outputs":1,"noerr":0,"x":693.8045043945312,"y":2977.9712114334106,"wires":[["6e415212.d445cc","19b96b76.5ae015"]]},{"id":"19b96b76.5ae015","type":"function","z":"3d889d64.5b41e2","name":"Delay 150ms","func":"setTimeout(function() {\n node.send(msg);\n}, 150);\nreturn null;","outputs":1,"noerr":0,"x":862.8045043945312,"y":3013.9712114334106,"wires":[["85db62a2.86297","53f70f1d.94dc4"]]},{"id":"53f70f1d.94dc4","type":"function","z":"3d889d64.5b41e2","name":"Delay 150ms","func":"setTimeout(function() {\n node.send(msg);\n}, 150);\nreturn null;","outputs":1,"noerr":0,"x":1033.7044677734375,"y":3052.9712114334106,"wires":[["100d8212.5a95ee","3f63bae.a3b5246"]]},{"id":"3f63bae.a3b5246","type":"function","z":"3d889d64.5b41e2","name":"Delay 150ms","func":"setTimeout(function() {\n node.send(msg);\n}, 150);\nreturn null;","outputs":1,"noerr":0,"x":1199.804443359375,"y":3091.9712114334106,"wires":[["31294fc6.d317d"]]},{"id":"3b6b8ae5.5af5f6","type":"function","z":"3d889d64.5b41e2","name":"Delay 50ms","func":"setTimeout(function() {\n node.send(msg);\n}, 50);\nreturn null;","outputs":1,"noerr":0,"x":1624.9208984375,"y":3047.0878801345825,"wires":[[]]},{"id":"202d234a.76159c","type":"function","z":"3d889d64.5b41e2","name":"string vazia","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":334.9999694824219,"y":2903.896107673645,"wires":[["6f4a05fe.a7e42c","e3a2a673.b447a8"]]},{"id":"c95cd51.fa3eb28","type":"comment","z":"3d889d64.5b41e2","name":"Aggregator pattern","info":"","x":188.02842712402344,"y":3437.2841796875,"wires":[]},{"id":"2221baef.efbe26","type":"function","z":"3d889d64.5b41e2","name":"payload=451","func":"msg.payload = 451;\n\nreturn msg;","outputs":1,"noerr":0,"x":511.8617172241211,"y":3520.7842922210693,"wires":[["340ae436.b453fc"]]},{"id":"340ae436.b453fc","type":"function","z":"3d889d64.5b41e2","name":"Calculate Sum","func":"// Reduce the number of inputs\ncontext.global.n--;\n\n// Store the data in msg.payload for all operations as they complete\ncontext.global.data[context.global.n] = msg.payload;\n\n// When all operations are complete calculate the sum and return\nif (context.global.n === 0)\n{   // Calculate the total value\n    var sum = 0;\n    for (var i = 0; i < context.global.data.length; i++)\n    {\n        sum += context.global.data[i];\n    }\n    msg.payload = sum;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":706.8617706298828,"y":3543.784315109253,"wires":[["c20a72a7.edb4b"]]},{"id":"41283d65.47a694","type":"function","z":"3d889d64.5b41e2","name":"payload=326","func":"msg.payload = 326;\n\nreturn msg;","outputs":1,"noerr":0,"x":510.8617401123047,"y":3568.7843046188354,"wires":[["340ae436.b453fc"]]},{"id":"c20a72a7.edb4b","type":"debug","z":"3d889d64.5b41e2","name":"Returns 777","active":true,"console":"false","complete":"payload","x":888.8617477416992,"y":3543.784302711487,"wires":[]},{"id":"10c524e7.176d0b","type":"function","z":"3d889d64.5b41e2","name":"Combine 2 Functions","func":"context.global.n = 2;\ncontext.global.data = new Array(2);\n\nreturn msg;","outputs":1,"noerr":0,"x":307.8617401123047,"y":3545.7843017578125,"wires":[["2221baef.efbe26","41283d65.47a694"]]},{"id":"529fa1b7.c16a4","type":"comment","z":"3d889d64.5b41e2","name":"↓ 1st value","info":"","x":510.6082305908203,"y":3482.358367919922,"wires":[]},{"id":"25f3a84.510cb58","type":"inject","z":"3d889d64.5b41e2","name":"Calculate the sum of 2 numbers","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":267.91778564453125,"y":3481.4774017333984,"wires":[["10c524e7.176d0b"]]},{"id":"7268178d.361f68","type":"comment","z":"3d889d64.5b41e2","name":"↑ 2nd value","info":"","x":509.4415817260742,"y":3609.3582801818848,"wires":[]},{"id":"a2dc0363.66549","type":"comment","z":"3d889d64.5b41e2","name":"Define how many parallel operations ↑","info":"","x":257.37013244628906,"y":3588.90576171875,"wires":[]},{"id":"327fef04.af209","type":"comment","z":"3d889d64.5b41e2","name":"↑ Once all parallel operations complete, calculate sum","info":"","x":793.9416351318359,"y":3586.191650390625,"wires":[]},{"id":"6ec37b39.f7fe14","type":"inject","z":"3d889d64.5b41e2","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":208.02842712402344,"y":3757.2841796875,"wires":[["6fe7ff8d.6ba41"]]},{"id":"6fe7ff8d.6ba41","type":"function","z":"3d889d64.5b41e2","name":"1st output 451, 2nd output 326","func":"msg.payload = 451;\nvar msg2 = {};\nmsg2.payload = 326;\n\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":402.02842712402344,"y":3757.2841796875,"wires":[["280e3d6e.edef92"],["7ae721c.5dc07e"]]},{"id":"280e3d6e.edef92","type":"debug","z":"3d889d64.5b41e2","name":"Returns 451","active":true,"console":"false","complete":"payload","x":615.0284271240234,"y":3730.2841796875,"wires":[]},{"id":"7ae721c.5dc07e","type":"debug","z":"3d889d64.5b41e2","name":"Returns 326","active":true,"console":"false","complete":"payload","x":613.0284271240234,"y":3783.2841796875,"wires":[]},{"id":"51e946ec.00eda8","type":"comment","z":"3d889d64.5b41e2","name":"Separator pattern","info":"","x":188.02842712402344,"y":3697.2841796875,"wires":[]},{"id":"85cbc671.69a4a8","type":"comment","z":"3d889d64.5b41e2","name":"↑ 1 input and 2 outputs","info":"","x":376.9415740966797,"y":3801.709991455078,"wires":[]},{"id":"50e3b7c3.19d818","type":"inject","z":"3d889d64.5b41e2","name":"WordCount Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":258.02842712402344,"y":3977.2841796875,"wires":[["31c81edc.cde262"]]},{"id":"f3518df3.7a6cb","type":"function","z":"3d889d64.5b41e2","name":"Map","func":"var input = msg.payload.toLowerCase()\n                       .replace( /\\.$/, \"\")\n                       .split(/ |, /);\n// Map\nvar key_value = [];\nfor (var i=0; i<input.length; i++)\n{\n    var key = input[i];\n    if (key in key_value)\n    {\n        key_value[key]++;\n    } else {\n        key_value[key] = 1;\n    }\n}\n\n// Shuffle\nvar key1_value = [];\nvar key2_value = [];\nfor (var key in key_value)\n{\n    if ('a'<=key[0] && key[0]<='m')\n    {\n        key1_value.push([key, key_value[key]]);\n    } else {\n        key2_value.push([key, key_value[key]]);\n    }\n}\n\nmsg.payload = key1_value;\nvar msg2 = {};\nmsg2.payload = key2_value;\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":558.0284271240234,"y":4012.2841358184814,"wires":[["44c86143.1b1b1","2bdf004d.21051"],["76c3cd4a.766f24","2bdf004d.21051"]]},{"id":"44c86143.1b1b1","type":"function","z":"3d889d64.5b41e2","name":"Reduce","func":"context.global.n1--;\n\ncontext.global.data1[context.global.n1] = msg.payload;\n\nif (context.global.n1 === 0)\n{  \n    var tmp = [];\n    for (var i=0; i<context.global.data1.length; i++)\n    {\n        var input = context.global.data1[i];\n        for (var j=0; j<input.length; j++)\n        {\n            var key = input[j][0];\n            var value = input[j][1];\n            if (key in tmp)\n            {\n                tmp[key] += value;\n            } else {\n                tmp[key] = value;\n            }\n        }\n    }\n    \n    var output = [];\n    for (var key in tmp)\n    {\n        output.push([key, tmp[key]]);\n    }\n    msg.payload = output;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":766.0284271240234,"y":4027.2841358184814,"wires":[["df85d2e1.fbb5a"]]},{"id":"df85d2e1.fbb5a","type":"debug","z":"3d889d64.5b41e2","name":"Output","active":true,"console":"false","complete":"payload","x":906.0284271240234,"y":4027.2841358184814,"wires":[]},{"id":"31c81edc.cde262","type":"function","z":"3d889d64.5b41e2","name":"Map=3","func":"var map = 3;\n\ncontext.global.n1 = map;\ncontext.global.data1 = new Array(map);\n\ncontext.global.n2 = map;\ncontext.global.data2 = new Array(map);\n\nreturn msg;","outputs":1,"noerr":0,"x":245.02842712402344,"y":4058.2841358184814,"wires":[["477e4ddd.3009e4","b39c69c4.f59338","24f618aa.a54128"]]},{"id":"477e4ddd.3009e4","type":"template","z":"3d889d64.5b41e2","name":"This is a pen.","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"This is a pen.","x":414.02842712402344,"y":4012.2841358184814,"wires":[["f3518df3.7a6cb"]]},{"id":"76c3cd4a.766f24","type":"function","z":"3d889d64.5b41e2","name":"Reduce","func":"context.global.n2--;\n\ncontext.global.data2[context.global.n2] = msg.payload;\n\nif (context.global.n2 === 0)\n{   \n    var tmp = [];\n    for (var i=0; i<context.global.data2.length; i++)\n    {\n        var input = context.global.data2[i];\n        for (var j=0; j<input.length; j++)\n        {\n            var key = input[j][0];\n            var value = input[j][1];\n            if (key in tmp)\n            {\n                tmp[key] += value;\n            } else {\n                tmp[key] = value;\n            }\n        }\n    }\n    \n    var output = [];\n    for (var key in tmp)\n    {\n        output.push([key, tmp[key]]);\n    }\n    msg.payload = output;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":768.0284271240234,"y":4079.2841358184814,"wires":[["b693050d.f988e8"]]},{"id":"b693050d.f988e8","type":"debug","z":"3d889d64.5b41e2","name":"Output","active":true,"console":"false","complete":"payload","x":907.0284271240234,"y":4079.2841358184814,"wires":[]},{"id":"5dce4bd9.781164","type":"function","z":"3d889d64.5b41e2","name":"Map","func":"var input = msg.payload.toLowerCase()\n                       .replace( /\\.$/, \"\")\n                       .split(/ |, /);\n// Map\nvar key_value = [];\nfor (var i=0; i<input.length; i++)\n{\n    var key = input[i];\n    if (key in key_value)\n    {\n        key_value[key]++;\n    } else {\n        key_value[key] = 1;\n    }\n}\n\n// Shuffle\nvar key1_value = [];\nvar key2_value = [];\nfor (var key in key_value)\n{\n    if ('a'<=key[0] && key[0]<='m')\n    {\n        key1_value.push([key, key_value[key]]);\n    } else {\n        key2_value.push([key, key_value[key]]);\n    }\n}\n\nmsg.payload = key1_value;\nvar msg2 = {};\nmsg2.payload = key2_value;\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":559.0284271240234,"y":4058.2841358184814,"wires":[["44c86143.1b1b1"],["76c3cd4a.766f24"]]},{"id":"287d28fc.6de018","type":"function","z":"3d889d64.5b41e2","name":"Map","func":"var input = msg.payload.toLowerCase()\n                       .replace( /\\.$/, \"\")\n                       .split(/ |, /);\n// Map\nvar key_value = [];\nfor (var i=0; i<input.length; i++)\n{\n    var key = input[i];\n    if (key in key_value)\n    {\n        key_value[key]++;\n    } else {\n        key_value[key] = 1;\n    }\n}\n\n// Shuffle\nvar key1_value = [];\nvar key2_value = [];\nfor (var key in key_value)\n{\n    if ('a'<=key[0] && key[0]<='m')\n    {\n        key1_value.push([key, key_value[key]]);\n    } else {\n        key2_value.push([key, key_value[key]]);\n    }\n}\n\nmsg.payload = key1_value;\nvar msg2 = {};\nmsg2.payload = key2_value;\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":560.0284271240234,"y":4104.284135818481,"wires":[["44c86143.1b1b1"],["76c3cd4a.766f24"]]},{"id":"b39c69c4.f59338","type":"template","z":"3d889d64.5b41e2","name":"Give me a pen.","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"Give me a pen.","x":409.02842712402344,"y":4058.2841358184814,"wires":[["5dce4bd9.781164"]]},{"id":"24f618aa.a54128","type":"template","z":"3d889d64.5b41e2","name":"This pen is small.","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"This pen is small.","x":402.02842712402344,"y":4104.284135818481,"wires":[["287d28fc.6de018"]]},{"id":"6e3d23fb.7e437c","type":"comment","z":"3d889d64.5b41e2","name":"MapReduce pattern","info":"","x":188.02842712402344,"y":3937.2841796875,"wires":[]},{"id":"ff7062b.6eed9a","type":"comment","z":"3d889d64.5b41e2","name":"Set the map count ↑","info":"","x":205.94161987304688,"y":4104.710037231445,"wires":[]},{"id":"24fc5d00.c8d4b4","type":"comment","z":"3d889d64.5b41e2","name":"↓ input data to be processed","info":"","x":482.10826110839844,"y":3970.7099561691284,"wires":[]},{"id":"c4c8ef9f.9f305","type":"comment","z":"3d889d64.5b41e2","name":"↑ seperates the words based on the first letter, a-m is sent to the top function, n-z is sent to the lower","info":"","x":815.4415740966797,"y":4144.135820388794,"wires":[]},{"id":"46fe7fab.d23dc","type":"comment","z":"3d889d64.5b41e2","name":"↓ reduce the arrays and count the total value","info":"","x":876.6082611083984,"y":3985.802568435669,"wires":[]},{"id":"551e01a4.8265b","type":"comment","z":"3d889d64.5b41e2","name":"After all inputs have returned,","info":"","x":827.5284271240234,"y":3947.200807571411,"wires":[]},{"id":"2bdf004d.21051","type":"debug","z":"3d889d64.5b41e2","name":"map","active":true,"console":"false","complete":"payload","x":788.0284271240234,"y":3857.2841796875,"wires":[]},{"id":"5c3d5234.4841bc","type":"mqtt-broker","z":"3d889d64.5b41e2","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ed4a89c2.d3a5f8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"db","name":""},{"id":"3f42784b.d5ca78","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"db","name":""}]
