src/node-red.json
[{"id":"f42ef03d.8fd43","type":"inject","z":"ee60a0fd.de1e","name":"connect","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":120,"y":40,"wires":[["817243ae.9f449"]]},{"id":"817243ae.9f449","type":"function","z":"ee60a0fd.de1e","name":"PRODUCAO","func":"var mssql = global.get('mssql');\n\nvar PRODUCAO = new mssql.Connection(\"mssql://financeiro:financeiro@localhost/FINANCEIRO\", function(err) {\n    if (err) {\n        console.dir('-------------> ERRO NA CONEXAO PRODUCAO !!!!!! <-------------')\n    } else {\n        global.set('PRODUCAO', PRODUCAO);\n        console.dir('CONECTADO PRODUCAO !')\n        \n        PRODUCAO.on('error', function(err) {\n            node.error({payload: err || { erro: 9996, mensagem: 'Erro desconhecido na conexão'}})\n        });\n        \n    }\n});\n","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["2dd212ba.b87bfe"]]},{"id":"2dd212ba.b87bfe","type":"debug","z":"ee60a0fd.de1e","name":"result","active":true,"console":"false","complete":"payload","x":570,"y":40,"wires":[]},{"id":"bc914d57.5c32b","type":"http in","z":"ee60a0fd.de1e","name":"maquinas listar","url":"/api/maquinas/","method":"get","swaggerDoc":"","x":127,"y":114,"wires":[["a8945dfa.f1072","4c78b1b2.13e06"]]},{"id":"63c6d799.3287d8","type":"http response","z":"ee60a0fd.de1e","name":"","x":577,"y":114,"wires":[]},{"id":"a8945dfa.f1072","type":"function","z":"ee60a0fd.de1e","name":"SQL","func":"var mssql = global.get('mssql');\n\nvar procedure_name = 'PR_MAQUINA_LISTA'\n\nvar request = new mssql.Request(global.get('PRODUCAO'));\n\nrequest.execute(procedure_name).then(function(recordsets, returnValue, affected) {\n\n    console.dir('Recordsets: ' + recordsets.length); // count of recordsets returned by the procedure\n    console.dir('Record count in first recordset: ' + recordsets[0].length); // count of rows contained in first recordset\n    console.dir('Return value: ' + returnValue); // procedure return value\n    console.dir('Recordsets return value: ' + recordsets.returnValue); // same as previous line\n    console.dir('Rows affected: ' + affected); // number of rows affected by the statemens\n    console.dir('Recordset rows affected: ' + recordsets.rowsAffected); // same as previous line\n\n    //console.log(request.parameters.output_parameter.value); // output value\n\n    msg.payload = Array.isArray(recordsets) && recordsets[0].map( maquina => {\n\t    maquina.parametros = JSON.parse(maquina.parametros)\n\t    return maquina\n    });\n\n    node.send(msg);\n\n})\n.catch(function(err) {\n    console.dir('-----------------> Erro ao chamar Stored Procedure ' + procedure_name + ' <-----------------')\n    console.dir(JSON.stringify(err))\n    msg.payload = err || { erro: 9999, mensagem: 'Erro desconhecido.'};\n    node.send(msg);\n});\n    ","outputs":1,"noerr":0,"x":357,"y":114,"wires":[["63c6d799.3287d8"]]},{"id":"26f643bc.f5b7fc","type":"http in","z":"ee60a0fd.de1e","name":"maquinas alterar","url":"/api/maquinas/","method":"put","swaggerDoc":"","x":131,"y":193,"wires":[["7f74676e.52a738","94797cde.ec44a"]]},{"id":"5e576dc1.ecdac4","type":"http response","z":"ee60a0fd.de1e","name":"","x":581,"y":193,"wires":[]},{"id":"7f74676e.52a738","type":"function","z":"ee60a0fd.de1e","name":"SQL","func":"var mssql = global.get('mssql');\n\nvar procedure_name = 'PR_MAQUINA_ATUALIZA'\n\nvar request = new mssql.Request(global.get('PRODUCAO'));\n\nrequest.input('ID', mssql.Int, msg.payload.id)\nrequest.input('CODIGO', mssql.VarChar(20), msg.payload.codigo)\nrequest.input('NOME', mssql.VarChar(50), msg.payload.nome)\nrequest.input('LINHA', mssql.VarChar(20), msg.payload.linha)\nrequest.input('PARAMETROS', mssql.VarChar(mssql.MAX), JSON.stringify(msg.payload.parametros))\n\nrequest.execute(procedure_name).then(function(recordsets, returnValue, affected) {\n\n    console.dir('Recordsets: ' + recordsets.length); // count of recordsets returned by the procedure\n    console.dir('Record count in first recordset: ' + recordsets[0].length); // count of rows contained in first recordset\n    console.dir('Return value: ' + returnValue); // procedure return value\n    console.dir('Recordsets return value: ' + recordsets.returnValue); // same as previous line\n    console.dir('Rows affected: ' + affected); // number of rows affected by the statemens\n    console.dir('Recordset rows affected: ' + recordsets.rowsAffected); // same as previous line\n\n    //console.log(request.parameters.output_parameter.value); // output value\n\n    msg.payload = Array.isArray(recordsets) && {\n        id: recordsets[0][0].id,\n        codigo: recordsets[0][0].codigo,\n        nome: recordsets[0][0].nome,\n        linha: recordsets[0][0].linha,\n\t    parametros: JSON.parse(recordsets[0][0].parametros)\n    }\n\n    console.dir(msg.payload);\n    node.send(msg);\n\n})\n.catch(function(err) {\n    console.dir('-----------------> Erro ao chamar Stored Procedure ' + procedure_name + ' <-----------------')\n    console.dir(JSON.stringify(err))\n    msg.payload = err || { erro: 9999, mensagem: 'Erro desconhecido.'};\n    node.send(msg);\n});\n    ","outputs":1,"noerr":0,"x":361,"y":193,"wires":[["5e576dc1.ecdac4"]]},{"id":"5ab3038c.278d8c","type":"http in","z":"ee60a0fd.de1e","name":"maquinas incluir","url":"/api/maquinas/","method":"post","swaggerDoc":"","x":128,"y":153,"wires":[["fdd8e6a8.ad8978","e4b58ed8.e9f34"]]},{"id":"8ded09ab.e00a38","type":"http response","z":"ee60a0fd.de1e","name":"","x":578,"y":153,"wires":[]},{"id":"fdd8e6a8.ad8978","type":"function","z":"ee60a0fd.de1e","name":"SQL","func":"var mssql = global.get('mssql');\n\nvar procedure_name = 'PR_MAQUINA_INSERIR'\n\nvar request = new mssql.Request(global.get('PRODUCAO'));\n\n//request.input('ID', mssql.Int, msg.payload.id)\nrequest.input('CODIGO', mssql.VarChar(20), msg.payload.codigo)\nrequest.input('NOME', mssql.VarChar(50), msg.payload.nome)\nrequest.input('LINHA', mssql.VarChar(20), msg.payload.linha)\nrequest.input('PARAMETROS', mssql.VarChar(mssql.MAX), JSON.stringify(msg.payload.parametros))\n\n\nrequest.execute(procedure_name).then(function(recordsets, returnValue, affected) {\n\n    console.dir('Recordsets: ' + recordsets.length); // count of recordsets returned by the procedure\n    console.dir('Record count in first recordset: ' + recordsets[0].length); // count of rows contained in first recordset\n    console.dir('Return value: ' + returnValue); // procedure return value\n    console.dir('Recordsets return value: ' + recordsets.returnValue); // same as previous line\n    console.dir('Rows affected: ' + affected); // number of rows affected by the statemens\n    console.dir('Recordset rows affected: ' + recordsets.rowsAffected); // same as previous line\n\n    //console.log(request.parameters.output_parameter.value); // output value\n\n    msg.payload = Array.isArray(recordsets) && {\n        id: recordsets[0][0].id,\n        codigo: recordsets[0][0].codigo,\n        nome: recordsets[0][0].nome,\n        linha: recordsets[0][0].linha,\n\t    parametros: JSON.parse(recordsets[0][0].parametros)\n    }\n    \n    console.dir(msg.payload);\n    node.send(msg);\n\n})\n.catch(function(err) {\n    console.dir('-----------------> Erro ao chamar Stored Procedure ' + procedure_name + ' <-----------------')\n    console.dir(JSON.stringify(err))\n    msg.payload = err || { erro: 9999, mensagem: 'Erro desconhecido.'};\n    node.send(msg);\n});\n    ","outputs":1,"noerr":0,"x":358,"y":153,"wires":[["8ded09ab.e00a38"]]},{"id":"ed1b6906.4431f8","type":"function","z":"ee60a0fd.de1e","name":"Lista de maquinas","func":"msg.payload = \n{\n\"_id\": \"Maquinas\",\n    \"Aplanadora-N3\": {\n      \"IP-IHM\" : \"192.168.2.230\",\n      \"IP-POP7\": \"192.168.2.235\",\n      \"IP-ESP8266\" : \"\",\n      \"Atualizacao\" : \"2017-03-09T11:44:56.224Z\",\n      \"parametros\": {\n          \"encoder\": {\n              \"fator\": 9998,\n              \"resolucao\": 2500,\n              \"perimetro\": 400\n          },\n          \"velocidade\": {\n              \"automatico\": 100,\n              \"manual\": 30\n          },\n          \"ferramenta\": {\n              \"passo\": 200\n          },\n          \"lubrificacao\": {\n              \"preset\": {\n                  \"MbNovoCiclos\": 100000\n              },\n              \"ciclos\": {\n                  \"PrsCiclos\": 5000\n              }\n          }\n      },\n      \"estado\": {\n          \"situacao\": {\n              \"codigo\": 4,\n              \"descricao\": \"Maquina OK\"\n          }\n      },\n      \"operadores\": {\n          \"IRANILDO\": {\n            \"md5\": \"93d8659ef7a80a65d1434366d96c8e13\"\n          },\n          \"MARCELO\": {\n            \"md5\": \"995bf053c4694e1e353cfd42b94e4447\"\n          }\n      },\n      \"os\": {\n          \"1231-11\": {\n            \"produto\": {\n                \"codigo\": \"XXXXXXXXX\",\n                \"descricao\": \"AAAAAABBBBBCCCCC\",\n                \"quantidade\": 1550,\n                \"produzido\": 299,\n                \"refugo\": 2\n            },\n            \"status\": \"produzindo\"\n          },\n          \"8792-55\": {\n            \"produto\": {\n                \"codigo\": \"XXXXXXXXX\",\n                \"descricao\": \"AAAAAABBBBBCCCCC\",\n                \"quantidade\": 700,\n                \"produzido\": 10,\n                \"refugo\": 10\n            },\n            \"status\": \"pendente\"\n          }\n      }\n    },\n    \"Perfiladeira-Reforço\": {\n      \"IP-IHM\" : \"192.168.2.220\",\n      \"IP-POP7\": \"192.168.2.211\",\n      \"IP-ESP8266\" : \"\",\n      \"Atualizacao\" : \"2015-02-10T11:22:08.224Z\",\n      \"parametros\": {\n          \"encoder\": {\n              \"fator\": 9998,\n              \"resolucao\": 2500,\n              \"perimetro\": 400\n          },\n          \"velocidade\": {\n              \"automatico\": 100,\n              \"manual\": 30\n          },\n          \"ferramenta\": {\n              \"passo\": 200\n          },\n          \"lubrificacao\": {\n              \"preset\": {\n                  \"MbNovoCiclos\": 100000\n              },\n              \"ciclos\": {\n                  \"PrsCiclos\": 5000\n              }\n          }\n      },\n      \"estado\": {\n          \"situacao\": {\n              \"codigo\": 1,\n              \"descricao\": \"Desligada\"\n          }\n      },\n      \"operadores\": {\n          \"IRANILDO\": {\n            \"md5\": \"93d8659ef7a80a65d1434366d96c8e13\"\n          },\n          \"MARCELO\": {\n            \"md5\": \"995bf053c4694e1e353cfd42b94e4447\"\n          }\n      },\n      \"os\": {\n          \"9999-44\": {\n            \"produto\": {\n                \"codigo\": \"QQQQQQQQQQQQ\",\n                \"descricao\": \"KKKKKKKBBBBBCCCCC\",\n                \"quantidade\": 350,\n                \"produzido\": 350,\n                \"refugo\": 0\n            },\n            \"status\": \"finalizado\"\n          },\n          \"6662-00\": {\n            \"produto\": {\n                \"codigo\": \"YYYYYYY\",\n                \"descricao\": \"GGGGGGBBBBBCCCCC\",\n                \"quantidade\": 150,\n                \"produzido\": 155,\n                \"refugo\": 5\n            },\n            \"status\": \"finalizado\"\n          }\n      }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":410,"wires":[["d1bdf500.53b1b8"]]},{"id":"4c78b1b2.13e06","type":"debug","z":"ee60a0fd.de1e","name":"maquinas","active":true,"console":"false","complete":"payload","x":368.5,"y":257,"wires":[]},{"id":"94797cde.ec44a","type":"debug","z":"ee60a0fd.de1e","name":"maquinas*","active":true,"console":"false","complete":"payload","x":377,"y":308,"wires":[]},{"id":"e4b58ed8.e9f34","type":"debug","z":"ee60a0fd.de1e","name":"maquinas+","active":true,"console":"false","complete":"payload","x":378,"y":358,"wires":[]},{"id":"d1bdf500.53b1b8","type":"debug","z":"ee60a0fd.de1e","name":"","active":true,"console":"false","complete":"false","x":627.5,"y":412,"wires":[]},{"id":"49e8b190.730ef","type":"inject","z":"ee60a0fd.de1e","name":"mostrar JSON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":167.5,"y":412,"wires":[["ed1b6906.4431f8"]]},{"id":"f6a528d.4a5a1d8","type":"http in","z":"ee60a0fd.de1e","name":"login","url":"/api/usuario/login","method":"post","swaggerDoc":"","x":930,"y":440,"wires":[["d32ebcbf.01e2e","b7d6082d.1d4338"]]},{"id":"c106755.5234788","type":"http response","z":"ee60a0fd.de1e","name":"","x":1408,"y":440,"wires":[]},{"id":"8def8d1f.4ba24","type":"http in","z":"ee60a0fd.de1e","name":"config","url":"/api/maquina/config","method":"get","swaggerDoc":"","x":930,"y":120,"wires":[["c3e41767.fbea78","88b533d9.0a087"]]},{"id":"c3e41767.fbea78","type":"function","z":"ee60a0fd.de1e","name":"ler parametros do mongo","func":"msg.payload = {\n    id: 123,\n    codigo: 'PERF-N3',\n    nome: 'Cantoneira N3',\n    path: 'maquinas/perfiladeiras/n3'\n}\n\nmsg.payload = global.get('config') || null;\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":120,"wires":[["fb7c9b44.f27fc8","cb0efe62.4829a"]]},{"id":"fb7c9b44.f27fc8","type":"http response","z":"ee60a0fd.de1e","name":"","x":1530,"y":120,"wires":[]},{"id":"d32ebcbf.01e2e","type":"debug","z":"ee60a0fd.de1e","name":"disparo ","active":true,"console":"false","complete":"payload","x":1117.5,"y":490,"wires":[]},{"id":"b934b6bf.e0cc28","type":"debug","z":"ee60a0fd.de1e","name":"resposta SQL","active":true,"console":"false","complete":"payload","x":1417,"y":488,"wires":[]},{"id":"b7d6082d.1d4338","type":"function","z":"ee60a0fd.de1e","name":"senha","func":"\nvar msg2 = {};\nmsg2.payload = msg.payload.senha;\n\nmsg.payload = {\n    id: 123,\n    usuario: 'rita',\n    senha: '2794d223f90059c9f705c73a99384085',\n    nome: 'rita'\n};\n\nreturn [msg,msg2];","outputs":"2","noerr":0,"x":1186,"y":444,"wires":[["c106755.5234788","b934b6bf.e0cc28"],[]]},{"id":"cb0efe62.4829a","type":"debug","z":"ee60a0fd.de1e","name":"resposta mongo config","active":true,"console":"false","complete":"payload","x":1580,"y":80,"wires":[]},{"id":"88b533d9.0a087","type":"debug","z":"ee60a0fd.de1e","name":"IHM pedindo config","active":true,"console":"false","complete":"payload","x":1230,"y":80,"wires":[]},{"id":"cfbf19b1.d24c48","type":"comment","z":"ee60a0fd.de1e","name":"Node-red Local","info":"","x":958.5,"y":33,"wires":[]},{"id":"ea404f6a.38ac8","type":"http in","z":"ee60a0fd.de1e","name":"config","url":"/api/maquina/config","method":"post","swaggerDoc":"","x":930,"y":240,"wires":[["8b402bfe.29c318","6d1dd1a6.e1c7d"]]},{"id":"8b402bfe.29c318","type":"function","z":"ee60a0fd.de1e","name":"gravar parametros no mongo","func":"global.set('config', msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":240,"wires":[["86763845.f2dce8","c7f5dc5e.e2513"]]},{"id":"86763845.f2dce8","type":"http response","z":"ee60a0fd.de1e","name":"","x":1530,"y":240,"wires":[]},{"id":"c7f5dc5e.e2513","type":"debug","z":"ee60a0fd.de1e","name":"resposta mongo config","active":true,"console":"false","complete":"payload","x":1580,"y":200,"wires":[]},{"id":"6d1dd1a6.e1c7d","type":"debug","z":"ee60a0fd.de1e","name":"IHM pedindo config","active":true,"console":"false","complete":"payload","x":1230,"y":200,"wires":[]},{"id":"49b3456b.52f40c","type":"inject","z":"ee60a0fd.de1e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":960,"y":360,"wires":[["d2bc12c8.d4919"]]},{"id":"d2bc12c8.d4919","type":"function","z":"ee60a0fd.de1e","name":"global","func":"global.set('config', null)\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":360,"wires":[[]]}]