src/node-red.json
[{"id":"dd7c3d4d.544e1","type":"inject","z":"6e1cdd6e.93025c","name":"connect","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":140,"y":100,"wires":[["b53e3116.967c1"]]},{"id":"b53e3116.967c1","type":"function","z":"6e1cdd6e.93025c","name":"PRODUCAO","func":"var mssql = global.get('mssql');\n\nvar PRODUCAO = new mssql.Connection(\"mssql://financeiro:financeiro@192.168.0.1/FINANCEIRO\", function(err) {\n    if (err) {\n        console.dir('-------------> ERRO NA CONEXAO PRODUCAO !!!!!! <-------------')\n    } else {\n        global.set('PRODUCAO', PRODUCAO);\n        console.dir('CONECTADO PRODUCAO !')\n        \n        PRODUCAO.on('error', function(err) {\n            node.error({payload: err || { erro: 9996, mensagem: 'Erro desconhecido na conexão'}})\n        });\n        \n    }\n});\n","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["a0e0a2b1.523d3"]]},{"id":"a0e0a2b1.523d3","type":"debug","z":"6e1cdd6e.93025c","name":"result","active":true,"console":"false","complete":"payload","x":610,"y":100,"wires":[]},{"id":"e795e417.f370f8","type":"http in","z":"6e1cdd6e.93025c","name":"maquinas listar","url":"/api/maquina/","method":"get","swaggerDoc":"","x":140,"y":220,"wires":[["dabd7ec1.8f9dc"]]},{"id":"e2035132.003f5","type":"http response","z":"6e1cdd6e.93025c","name":"","x":610,"y":220,"wires":[]},{"id":"dabd7ec1.8f9dc","type":"function","z":"6e1cdd6e.93025c","name":"SQL","func":"msg.payload = \n[\n  {\n    \"_id\": \"Aplanadora-N3\",\n    \"codigo\": \"PERF-N3\",\n    \"nome\": \"Aplanadora N3\",\n    \"path\": \"maquinas/perfiladeiras/n3\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.230\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.230\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.230\" }\n    ],\n    \"atualizacao\": \"2017-03-09T11:44:56.224Z\",\n    \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9998,\n        \"resolucao\": 2500,\n        \"perimetro\": 400\n      },\n      \"velocidade\": {\n        \"automatico\": 100,\n        \"manual\": 30\n      },\n      \"ferramenta\": {\n        \"passoN2\": 200,\n        \"passoN3\": 200,\n        \"passoN5\": 200\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"1231-11\",\n        \"produto\": {\n          \"codigo\": \"XXXXXXXXX\",\n          \"descricao\": \"AAAAAABBBBBCCCCC\",\n          \"quantidade\": 1550,\n          \"produzido\": 299,\n          \"refugo\": 2\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"produzindo\"\n      },\n      {\n        \"numero\": \"8792-55\",\n        \"produto\": {\n          \"codigo\": \"XXXXXXXXX\",\n          \"descricao\": \"AAAAAABBBBBCCCCC\",\n          \"quantidade\": 700,\n          \"produzido\": 10,\n          \"refugo\": 10\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"pendente\"\n      }\n    ]\n  },\n    {\n    \"_id\": \"Perfiladeira Reforco\",\n    \"codigo\": \"REFORCO\",\n    \"nome\": \"Perfiladeira Reforco\",\n    \"path\": \"maquinas/perfiladeiras/reforco\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.222\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.231\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.233\" }\n    ],\n    \"atualizacao\": \"2017-03-09T11:55:56.224Z\",\n    \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9998,\n        \"resolucao\": 2500,\n        \"perimetro\": 400\n      },\n      \"velocidade\": {\n        \"automatico\": 100,\n        \"manual\": 30\n      },\n      \"ferramenta\": {\n        \"passo\": 1\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"1231-11\",\n        \"produto\": {\n          \"codigo\": \"XXXXXXXXX\",\n          \"descricao\": \"AAAAAABBBBBCCCCC\",\n          \"quantidade\": 1550,\n          \"produzido\": 299,\n          \"refugo\": 2\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"produzindo\"\n      },\n      {\n        \"numero\": \"8792-55\",\n        \"produto\": {\n          \"codigo\": \"XXXXXXXXX\",\n          \"descricao\": \"AAAAAABBBBBCCCCC\",\n          \"quantidade\": 700,\n          \"produzido\": 10,\n          \"refugo\": 10\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"pendente\"\n      }\n    ]\n  }\n]\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["e2035132.003f5","66f66c9a.bdb4a4"]]},{"id":"1ea0925b.801eee","type":"http in","z":"6e1cdd6e.93025c","name":"maquinas alterar","url":"/api/maquina/","method":"put","swaggerDoc":"","x":140,"y":300,"wires":[[]]},{"id":"599d869d.a3fab8","type":"http response","z":"6e1cdd6e.93025c","name":"","x":610,"y":300,"wires":[]},{"id":"69f4cdf4.ed9f74","type":"function","z":"6e1cdd6e.93025c","name":"SQL","func":"return msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["599d869d.a3fab8"]]},{"id":"12239c2f.f66a04","type":"http in","z":"6e1cdd6e.93025c","name":"maquinas incluir","url":"/api/maquina/","method":"post","swaggerDoc":"","x":140,"y":260,"wires":[[]]},{"id":"911313cd.172d8","type":"http response","z":"6e1cdd6e.93025c","name":"","x":610,"y":260,"wires":[]},{"id":"8bbe839e.6137","type":"function","z":"6e1cdd6e.93025c","name":"SQL","func":"return msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["911313cd.172d8"]]},{"id":"fa9e33fe.a503a","type":"function","z":"6e1cdd6e.93025c","name":"Lista de maquinas","func":"msg.payload = \n{\n\"_id\": \"Maquinas\",\n    \"Aplanadora-N3\": {\n      \"IP-IHM\" : \"192.168.2.230\",\n      \"IP-POP7\": \"192.168.2.235\",\n      \"IP-ESP8266\" : \"\",\n      \"Atualizacao\" : \"2017-03-09T11:44:56.224Z\",\n      \"parametros\": {\n          \"encoder\": {\n              \"fator\": 9998,\n              \"resolucao\": 2500,\n              \"perimetro\": 400\n          },\n          \"velocidade\": {\n              \"automatico\": 100,\n              \"manual\": 30\n          },\n          \"ferramenta\": {\n              \"passo\": 200\n          },\n          \"lubrificacao\": {\n              \"preset\": {\n                  \"MbNovoCiclos\": 100000\n              },\n              \"ciclos\": {\n                  \"PrsCiclos\": 5000\n              }\n          }\n      },\n      \"estado\": {\n          \"situacao\": {\n              \"codigo\": 4,\n              \"descricao\": \"Maquina OK\"\n          }\n      },\n      \"operadores\": {\n          \"IRANILDO\": {\n            \"md5\": \"93d8659ef7a80a65d1434366d96c8e13\"\n          },\n          \"MARCELO\": {\n            \"md5\": \"995bf053c4694e1e353cfd42b94e4447\"\n          }\n      },\n      \"os\": {\n          \"1231-11\": {\n            \"produto\": {\n                \"codigo\": \"XXXXXXXXX\",\n                \"descricao\": \"AAAAAABBBBBCCCCC\",\n                \"quantidade\": 1550,\n                \"produzido\": 299,\n                \"refugo\": 2\n            },\n            \"status\": \"produzindo\"\n          },\n          \"8792-55\": {\n            \"produto\": {\n                \"codigo\": \"XXXXXXXXX\",\n                \"descricao\": \"AAAAAABBBBBCCCCC\",\n                \"quantidade\": 700,\n                \"produzido\": 10,\n                \"refugo\": 10\n            },\n            \"status\": \"pendente\"\n          }\n      }\n    },\n    \"Perfiladeira-Reforço\": {\n      \"IP-IHM\" : \"192.168.2.220\",\n      \"IP-POP7\": \"192.168.2.211\",\n      \"IP-ESP8266\" : \"\",\n      \"Atualizacao\" : \"2015-02-10T11:22:08.224Z\",\n      \"parametros\": {\n          \"encoder\": {\n              \"fator\": 9998,\n              \"resolucao\": 2500,\n              \"perimetro\": 400\n          },\n          \"velocidade\": {\n              \"automatico\": 100,\n              \"manual\": 30\n          },\n          \"ferramenta\": {\n              \"passo\": 200\n          },\n          \"lubrificacao\": {\n              \"preset\": {\n                  \"MbNovoCiclos\": 100000\n              },\n              \"ciclos\": {\n                  \"PrsCiclos\": 5000\n              }\n          }\n      },\n      \"estado\": {\n          \"situacao\": {\n              \"codigo\": 1,\n              \"descricao\": \"Desligada\"\n          }\n      },\n      \"operadores\": {\n          \"IRANILDO\": {\n            \"md5\": \"93d8659ef7a80a65d1434366d96c8e13\"\n          },\n          \"MARCELO\": {\n            \"md5\": \"995bf053c4694e1e353cfd42b94e4447\"\n          }\n      },\n      \"os\": {\n          \"9999-44\": {\n            \"produto\": {\n                \"codigo\": \"QQQQQQQQQQQQ\",\n                \"descricao\": \"KKKKKKKBBBBBCCCCC\",\n                \"quantidade\": 350,\n                \"produzido\": 350,\n                \"refugo\": 0\n            },\n            \"status\": \"finalizado\"\n          },\n          \"6662-00\": {\n            \"produto\": {\n                \"codigo\": \"YYYYYYY\",\n                \"descricao\": \"GGGGGGBBBBBCCCCC\",\n                \"quantidade\": 150,\n                \"produzido\": 155,\n                \"refugo\": 5\n            },\n            \"status\": \"finalizado\"\n          }\n      }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["52fe9e32.0fac2"]]},{"id":"52fe9e32.0fac2","type":"debug","z":"6e1cdd6e.93025c","name":"","active":true,"console":"false","complete":"false","x":625.5,"y":461,"wires":[]},{"id":"a4a5db9d.648798","type":"inject","z":"6e1cdd6e.93025c","name":"mostrar JSON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":147.5,"y":461.00000762939453,"wires":[["fa9e33fe.a503a"]]},{"id":"6ce018bc.1db698","type":"http in","z":"6e1cdd6e.93025c","name":"login","url":"/api/usuario/login","method":"post","swaggerDoc":"","x":870,"y":460,"wires":[["c50601c1.718e2","8ae53ca1.a31e7"]]},{"id":"17fb7726.cd2f69","type":"http response","z":"6e1cdd6e.93025c","name":"","x":1348,"y":460,"wires":[]},{"id":"904305d0.e512c8","type":"http in","z":"6e1cdd6e.93025c","name":"config","url":"/api/maquina/config","method":"get","swaggerDoc":"","x":130,"y":580,"wires":[["8e1e1701.47ab68","8d2e240f.e24ab8"]]},{"id":"8d2e240f.e24ab8","type":"function","z":"6e1cdd6e.93025c","name":"json","func":"msg.payload = {\n    id: 123,\n    codigo: 'PERF-N3',\n    nome: 'Cantoneira N3',\n    path: 'maquinas/perfiladeiras/n3'\n}\n\n// comentar essa linha\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":580,"wires":[["ae997d5f.cdebc","964f64ff.539ef8"]]},{"id":"ae997d5f.cdebc","type":"http response","z":"6e1cdd6e.93025c","name":"","x":530,"y":580,"wires":[]},{"id":"c50601c1.718e2","type":"debug","z":"6e1cdd6e.93025c","name":"disparo ","active":true,"console":"false","complete":"payload","x":1057.5,"y":510,"wires":[]},{"id":"7b10a930.c678c8","type":"debug","z":"6e1cdd6e.93025c","name":"resposta SQL","active":true,"console":"false","complete":"payload","x":1357,"y":508,"wires":[]},{"id":"8ae53ca1.a31e7","type":"function","z":"6e1cdd6e.93025c","name":"senha","func":"\nvar msg2 = {};\nmsg2.payload = msg.payload.senha;\n\nmsg.payload = {\n    id: 123,\n    usuario: 'rita',\n    senha: '2794d223f90059c9f705c73a99384085',\n    nome: 'rita'\n};\n\nreturn [msg,msg2];","outputs":"2","noerr":0,"x":1126,"y":464,"wires":[["17fb7726.cd2f69","7b10a930.c678c8"],[]]},{"id":"964f64ff.539ef8","type":"debug","z":"6e1cdd6e.93025c","name":"resposta mongo config","active":true,"console":"false","complete":"payload","x":590,"y":540,"wires":[]},{"id":"8e1e1701.47ab68","type":"debug","z":"6e1cdd6e.93025c","name":"IHM pedindo config","active":true,"console":"false","complete":"payload","x":290,"y":500,"wires":[]},{"id":"bf4d7693.b5a9e8","type":"comment","z":"6e1cdd6e.93025c","name":"Node-red Local","info":"","x":1140,"y":420,"wires":[]},{"id":"66f66c9a.bdb4a4","type":"debug","z":"6e1cdd6e.93025c","name":"","active":true,"console":"false","complete":"payload","x":630,"y":160,"wires":[]},{"id":"a0d97272.d60cd","type":"inject","z":"6e1cdd6e.93025c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":160,"wires":[["dabd7ec1.8f9dc"]]},{"id":"ff875db0.15f9d","type":"comment","z":"6e1cdd6e.93025c","name":"API DO SERVIDOR - 192.168.0.1","info":"","x":200,"y":40,"wires":[]},{"id":"3e68b06c.f32af","type":"comment","z":"6e1cdd6e.93025c","name":"API DA IHM - 127.0.0.1/localhost","info":"","x":190,"y":400,"wires":[]},{"id":"9df23dbb.d454e","type":"http in","z":"6e1cdd6e.93025c","name":"config","url":"/api/maquina/config","method":"post","swaggerDoc":"","x":130,"y":640,"wires":[["e398e361.438b68"]]},{"id":"e398e361.438b68","type":"http response","z":"6e1cdd6e.93025c","name":"","x":530,"y":640,"wires":[]},{"id":"f40eac61.74178","type":"md5","z":"6e1cdd6e.93025c","name":"","fieldToHash":"payload","fieldTypeToHash":"msg","hashField":"md5","hashFieldType":"msg","x":960,"y":200,"wires":[["ca3721f6.51b8"]]},{"id":"fe3d4e02.6aec5","type":"inject","z":"6e1cdd6e.93025c","name":"","topic":"","payload":"HELIO","payloadType":"str","repeat":"","crontab":"","once":false,"x":810,"y":200,"wires":[["f40eac61.74178"]]},{"id":"ca3721f6.51b8","type":"debug","z":"6e1cdd6e.93025c","name":"","active":true,"console":"false","complete":"true","x":1110,"y":200,"wires":[]}]
