src/node-red.json
[{"id":"559cc6aa.9f26e8","type":"inject","z":"78fd33b4.1babec","name":"Start ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":91.53579711914062,"y":75.30954074859619,"wires":[["2acf81e3.83ec3e"]]},{"id":"8161c5a0.b34298","type":"debug","z":"78fd33b4.1babec","name":"CONEXAO C/ SERVIDOR","active":true,"console":"false","complete":"payload","x":1231.2858085632324,"y":75.80953788757324,"wires":[]},{"id":"a6e7ce22.eb1b2","type":"http in","z":"78fd33b4.1babec","name":"maquinas listar","url":"/api/maquina/","method":"get","swaggerDoc":"","x":329,"y":1055.333342552185,"wires":[["ee369d39.56403"]]},{"id":"a55de0fa.f6eb9","type":"http response","z":"78fd33b4.1babec","name":"","x":798.999963760376,"y":1055.3333415985107,"wires":[]},{"id":"ee369d39.56403","type":"function","z":"78fd33b4.1babec","name":"Parametro Iniciais","func":"var myDate = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\n\nvar d = new Date();\nvar x = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear() + \" \" + myDate;\n\nmsg.payload = \n[\n  {\n    \"_id\": \"Aplanadora-N3\",\n    \"codigo\": \"PERF-N3\",\n    \"nome\": \"Aplanadora N3\",\n    \"path\": \"maquinas/perfiladeiras/n3\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.230\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.231\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.232\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n    \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9978,\n        \"resolucao\": 2500,\n        \"perimetro\": 400\n      },\n      \"manual\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 95,\n        \"paradaEntrePecasProduzidas\": 0,\n        \"tempoParada\": 0\n      },\n      \"transmissao\": {\n        \"reducao\": 0,\n        \"diametrorolo\": 0,\n        \"avancoMilimetrosPorRotacao\": 9.5144\n      },\n      \"corte\":{\n        \"espessura\": 0,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"passoN2\": 200,\n        \"passoN3\": 200,\n        \"passoN5\": 200\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"10095646\",\n        \"produto\": {\n          \"codigo\": \"ESTCAN000N300000000#2000#0#0\",\n          \"descricao\": \"CANTONEIRA N-3 2000MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"produzindo\"\n      },\n      {\n        \"numero\": \"10095645\",\n        \"produto\": {\n          \"codigo\": \"ESTCAN000N300000000#2400#0#0\",\n          \"descricao\": \"CANTONEIRA N-3 2400MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"pendente\"\n      }\n    ]\n  },\n  {\n    \"_id\": \"Perfiladeira Reforco\",\n    \"codigo\": \"REFORCO\",\n    \"nome\": \"Perfiladeira Reforco\",\n    \"path\": \"maquinas/perfiladeiras/reforco\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.233\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.234\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.235\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n     \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9986,\n        \"resolucao\": 2500,\n        \"perimetro\": 127.32\n      },\n      \"manual\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"0.6\",\n        \"desaceleracao\": \"0.6\",\n        \"velocidade\": 95,\n        \"paradaEntrePecasProduzidas\": 20,\n        \"tempoParada\": 10\n      },\n      \"transmissao\": {\n        \"reducao\": 0,\n        \"diametrorolo\": 0,\n        \"avancoMilimetrosPorRotacao\": 9.5144\n      },\n      \"corte\":{\n        \"espessura\": 5,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"corte\": 1,\n        \"furo\": 20\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"1231-11\",\n        \"produto\": {\n          \"codigo\": \"PPLESTREFOUGAL000000#0#0#610\",\n          \"descricao\": \"PERFIL U GALV P/ APOIO DE CAIXA MED 610MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-11T11:22:08.224Z\",\n        \"status\": \"produzindo\"\n      },\n      {\n        \"numero\": \"8792-55\",\n        \"produto\": {\n          \"codigo\": \"PPLESTREFOUGAL000000#0#0#910\",\n          \"descricao\": \"PERFIL U GALV P/ APOIO DE CAIXA MED 910MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"pendente\"\n      }\n    ]\n  },\n    {\n    \"_id\": \"Perfiladeira Sigma 120\",\n    \"codigo\": \"Sigma 120\",\n    \"nome\": \"Perfiladeira Sigma 120\",\n    \"path\": \"maquinas/perfiladeiras/sigma120\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.236\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.237\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.238\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n     \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9909,\n        \"resolucao\": 2500,\n        \"perimetro\": 400\n      },\n      \"manual\": {\n        \"aceleracao\": \"3\",\n        \"desaceleracao\": \"1\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"2\",\n        \"desaceleracao\": \"1\",\n        \"velocidade\": 100,\n        \"paradaEntrePecasProduzidas\": 40,\n        \"tempoParada\": 2\n      },\n      \"transmissao\": {\n        \"reducao\": \"72.73\",\n        \"diametrorolo\": 165,\n        \"avancoMilimetrosPorRotacao\": 0\n      },\n      \"corte\":{\n        \"espessura\": 5,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"corte\": 1\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"1231-11\",\n        \"produto\": {\n          \"codigo\": \"MEZSIG0CH1412000000#1800#0#0\",\n          \"descricao\": \"VIGA SIGMA 120 CH 2.00 MM MED 1800MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2017-04-10T11:22:08.224Z\",\n        \"status\": \"Produzindo\"\n      },\n      {\n        \"numero\": \"8792-55\",\n        \"produto\": {\n          \"codigo\": \"PPLSTRSI120050D00000#1200#0#0\",\n          \"descricao\": \"STOP TRAZEIRO SIGMA 120 DEITADO MED 1200MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2017-04-14T11:22:08.224Z\",\n        \"status\": \"Pendente\"\n      }\n    ]\n  }\n]\nnode.status({fill:\"blue\",shape:\"dot\",text:x});\nreturn msg;","outputs":1,"noerr":0,"x":568.0000228881836,"y":1056.333351135254,"wires":[["a55de0fa.f6eb9"]]},{"id":"2ae019e9.c2ae46","type":"http in","z":"78fd33b4.1babec","name":"maquinas alterar","url":"/api/maquina/","method":"put","swaggerDoc":"","x":330.00000762939453,"y":1152.3333530426025,"wires":[["f461c30a.2bdf2"]]},{"id":"74525f73.c6c67","type":"http response","z":"78fd33b4.1babec","name":"","x":800.0000076293945,"y":1152.3333530426025,"wires":[]},{"id":"6355a7b3.2967a8","type":"function","z":"78fd33b4.1babec","name":"SQL","func":"return msg;","outputs":1,"noerr":0,"x":580.0000076293945,"y":1152.3333530426025,"wires":[["74525f73.c6c67"]]},{"id":"d1bb543f.f48ed8","type":"http in","z":"78fd33b4.1babec","name":"maquinas incluir","url":"/api/maquina/","method":"post","swaggerDoc":"","x":330.00000762939453,"y":1103.3333530426025,"wires":[["f461c30a.2bdf2"]]},{"id":"f9f45921.6e3a88","type":"http response","z":"78fd33b4.1babec","name":"","x":800.0000076293945,"y":1103.3333530426025,"wires":[]},{"id":"d72eac66.afb23","type":"function","z":"78fd33b4.1babec","name":"SQL","func":"return msg;","outputs":1,"noerr":0,"x":580.0000076293945,"y":1103.3333530426025,"wires":[["f9f45921.6e3a88"]]},{"id":"b842c8af.3cc978","type":"function","z":"78fd33b4.1babec","name":"Lista de maquinas","func":"msg.payload = \n{\n\"_id\": \"Maquinas\",\n    \"Aplanadora-N3\": {\n      \"IP-IHM\" : \"192.168.2.230\",\n      \"IP-POP7\": \"192.168.2.235\",\n      \"IP-ESP8266\" : \"\",\n      \"Atualizacao\" : \"2017-03-09T11:44:56.224Z\",\n      \"parametros\": {\n          \"encoder\": {\n              \"fator\": 9998,\n              \"resolucao\": 2500,\n              \"perimetro\": 400\n          },\n          \"velocidade\": {\n              \"automatico\": 100,\n              \"manual\": 30\n          },\n          \"ferramenta\": {\n              \"passo\": 200\n          },\n          \"lubrificacao\": {\n              \"preset\": {\n                  \"MbNovoCiclos\": 100000\n              },\n              \"ciclos\": {\n                  \"PrsCiclos\": 5000\n              }\n          }\n      },\n      \"estado\": {\n          \"situacao\": {\n              \"codigo\": 4,\n              \"descricao\": \"Maquina OK\"\n          }\n      },\n      \"operadores\": {\n          \"IRANILDO\": {\n            \"md5\": \"93d8659ef7a80a65d1434366d96c8e13\"\n          },\n          \"MARCELO\": {\n            \"md5\": \"995bf053c4694e1e353cfd42b94e4447\"\n          }\n      },\n      \"os\": {\n          \"1231-11\": {\n            \"produto\": {\n                \"codigo\": \"XXXXXXXXX\",\n                \"descricao\": \"AAAAAABBBBBCCCCC\",\n                \"quantidade\": 1550,\n                \"produzido\": 299,\n                \"refugo\": 2\n            },\n            \"status\": \"produzindo\"\n          },\n          \"8792-55\": {\n            \"produto\": {\n                \"codigo\": \"XXXXXXXXX\",\n                \"descricao\": \"AAAAAABBBBBCCCCC\",\n                \"quantidade\": 700,\n                \"produzido\": 10,\n                \"refugo\": 10\n            },\n            \"status\": \"pendente\"\n          }\n      }\n    },\n    \"Perfiladeira-Reforço\": {\n      \"IP-IHM\" : \"192.168.2.220\",\n      \"IP-POP7\": \"192.168.2.211\",\n      \"IP-ESP8266\" : \"\",\n      \"Atualizacao\" : \"2015-02-10T11:22:08.224Z\",\n      \"parametros\": {\n          \"encoder\": {\n              \"fator\": 9998,\n              \"resolucao\": 2500,\n              \"perimetro\": 400\n          },\n          \"velocidade\": {\n              \"automatico\": 100,\n              \"manual\": 30\n          },\n          \"ferramenta\": {\n              \"passo\": 200\n          },\n          \"lubrificacao\": {\n              \"preset\": {\n                  \"MbNovoCiclos\": 100000\n              },\n              \"ciclos\": {\n                  \"PrsCiclos\": 5000\n              }\n          }\n      },\n      \"estado\": {\n          \"situacao\": {\n              \"codigo\": 1,\n              \"descricao\": \"Desligada\"\n          }\n      },\n      \"operadores\": {\n          \"IRANILDO\": {\n            \"md5\": \"93d8659ef7a80a65d1434366d96c8e13\"\n          },\n          \"MARCELO\": {\n            \"md5\": \"995bf053c4694e1e353cfd42b94e4447\"\n          }\n      },\n      \"os\": {\n          \"9999-44\": {\n            \"produto\": {\n                \"codigo\": \"QQQQQQQQQQQQ\",\n                \"descricao\": \"KKKKKKKBBBBBCCCCC\",\n                \"quantidade\": 350,\n                \"produzido\": 350,\n                \"refugo\": 0\n            },\n            \"status\": \"finalizado\"\n          },\n          \"6662-00\": {\n            \"produto\": {\n                \"codigo\": \"YYYYYYY\",\n                \"descricao\": \"GGGGGGBBBBBCCCCC\",\n                \"quantidade\": 150,\n                \"produzido\": 155,\n                \"refugo\": 5\n            },\n            \"status\": \"finalizado\"\n          }\n      }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":574.0000076293945,"y":1304.333330154419,"wires":[["5e0feaf4.fa5174"]]},{"id":"5e0feaf4.fa5174","type":"debug","z":"78fd33b4.1babec","name":"","active":true,"console":"false","complete":"false","x":815.5000076293945,"y":1304.3333530426025,"wires":[]},{"id":"69e2337c.a9461c","type":"inject","z":"78fd33b4.1babec","name":"mostrar JSON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":337.50000762939453,"y":1304.333360671997,"wires":[["b842c8af.3cc978"]]},{"id":"f69237cf.f4ba78","type":"http in","z":"78fd33b4.1babec","name":"login","url":"/api/usuario/login","method":"post","swaggerDoc":"","x":300.444393157959,"y":1393.3333292007446,"wires":[["26489f78.32a19","49086c53.c44db4"]]},{"id":"6208d7cc.65b558","type":"http response","z":"78fd33b4.1babec","name":"","x":650.8889579772949,"y":1387.3333292007446,"wires":[]},{"id":"fd73c0e3.8adfb","type":"http in","z":"78fd33b4.1babec","name":"/api/maquina/config/load","url":"/api/maquina/config","method":"get","swaggerDoc":"","x":359.8054542541504,"y":362.8333349227905,"wires":[["c90a91f.19be27"]]},{"id":"c90a91f.19be27","type":"function","z":"78fd33b4.1babec","name":"Carrega parametros","func":"msg.payload = {\n    id: 123,\n    codigo: 'PERF-N3',\n    nome: 'Cantoneira N3',\n    path: 'maquinas/perfiladeiras/n3'\n};\n\nnode.status({fill:\"blue\",shape:\"dot\",text:msg.payload.codigo});\n// comentar essa linha\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":669.8054618835449,"y":362.8333349227905,"wires":[["f45bf7e0.da1178","bf864125.2fa8c"]]},{"id":"f45bf7e0.da1178","type":"http response","z":"78fd33b4.1babec","name":"","x":891.0276374816895,"y":362.8333463668823,"wires":[]},{"id":"26489f78.32a19","type":"debug","z":"78fd33b4.1babec","name":"disparo ","active":true,"console":"false","complete":"payload","x":472.3889579772949,"y":1439.3333292007446,"wires":[]},{"id":"611bcbd9.d35274","type":"debug","z":"78fd33b4.1babec","name":"resposta SQL","active":true,"console":"false","complete":"payload","x":680.8889579772949,"y":1435.3333292007446,"wires":[]},{"id":"49086c53.c44db4","type":"function","z":"78fd33b4.1babec","name":"senha","func":"\nvar msg2 = {};\nmsg2.payload = msg.payload.senha;\n\nmsg.payload = {\n    id: 123,\n    usuario: 'rita',\n    senha: '2794d223f90059c9f705c73a99384085',\n    nome: 'rita'\n};\n\nreturn [msg,msg2];","outputs":"2","noerr":0,"x":461.8889579772949,"y":1393.3333292007446,"wires":[["6208d7cc.65b558","611bcbd9.d35274"],[]]},{"id":"bf864125.2fa8c","type":"debug","z":"78fd33b4.1babec","name":"resposta mongo config","active":true,"console":"false","complete":"payload","x":938.8054237365723,"y":324.1666612625122,"wires":[]},{"id":"373b877d.d58748","type":"debug","z":"78fd33b4.1babec","name":"IHM pedindo config","active":true,"console":"false","complete":"payload","x":719,"y":1557.3332862854004,"wires":[]},{"id":"b1b878b2.f29988","type":"comment","z":"78fd33b4.1babec","name":"Node-red Local","info":"","x":322.88893127441406,"y":1353.3333225250244,"wires":[]},{"id":"f461c30a.2bdf2","type":"debug","z":"78fd33b4.1babec","name":"","active":true,"console":"false","complete":"payload","x":608.9999923706055,"y":1204.333345413208,"wires":[]},{"id":"918ce29.aeb2a2","type":"inject","z":"78fd33b4.1babec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":334.00000762939453,"y":1008.3333530426025,"wires":[["ee369d39.56403"]]},{"id":"1a42d207.e0e27e","type":"comment","z":"78fd33b4.1babec","name":"API DO SERVIDOR - 192.168.0.1","info":"","x":388.5358085632324,"y":38.309539794921875,"wires":[]},{"id":"70d75ec4.9d02e","type":"comment","z":"78fd33b4.1babec","name":"API DA IHM - 127.0.0.1/localhost","info":"","x":380.00000762939453,"y":1243.3333530426025,"wires":[]},{"id":"32ab9fb7.7ceef","type":"http in","z":"78fd33b4.1babec","name":"/api/maquina/config/save","url":"/api/maquina/config","method":"post","swaggerDoc":"","x":435.99999237060547,"y":1514.3333129882812,"wires":[["8454080.a27d8f8","373b877d.d58748"]]},{"id":"8454080.a27d8f8","type":"http response","z":"78fd33b4.1babec","name":"","x":834.0000076293945,"y":1515.3332920074463,"wires":[]},{"id":"4c4ff6c4.1dcfb8","type":"http response","z":"78fd33b4.1babec","name":"","x":968.4999993642173,"y":1728.5876685248481,"wires":[]},{"id":"8a2db82.f941848","type":"http in","z":"78fd33b4.1babec","name":"Index","url":"/static/:file","method":"get","swaggerDoc":"","x":217.94435691833496,"y":1728.69873046875,"wires":[["11439167.5f5f4f"]]},{"id":"11439167.5f5f4f","type":"file in","z":"78fd33b4.1babec","name":"index.HTML","filename":"/home/marcelomiranda/git/ihm/build/index.html","format":"utf8","x":606.055472691854,"y":1728.8098431693184,"wires":[["f7ae4c1a.ac59e","1c15a095.9f97af"]]},{"id":"df4f060c.b4ee38","type":"http response","z":"78fd33b4.1babec","name":"","x":968.9445012410488,"y":1807.8257064819336,"wires":[]},{"id":"a078f156.ae9d4","type":"function","z":"78fd33b4.1babec","name":"Text/CSS","func":"msg.headers = { \"Content-type\" : \"text/css\" }\n \nreturn msg;","outputs":1,"noerr":0,"x":807.4999122619629,"y":1807.7145595550537,"wires":[["df4f060c.b4ee38"]]},{"id":"2b4367b3.1b38a8","type":"comment","z":"78fd33b4.1babec","name":"HTML","info":"","x":217.4999841054282,"y":1692.587643729316,"wires":[]},{"id":"35960067.d95fd","type":"comment","z":"78fd33b4.1babec","name":"CSS folder","info":"","x":228.38881301879883,"y":1771.2702922821045,"wires":[]},{"id":"15cecfce.12fc","type":"comment","z":"78fd33b4.1babec","name":"JAVASCRIPT folder","info":"","x":257.83331298828125,"y":1850.7148065567017,"wires":[]},{"id":"a041bf7d.5b126","type":"http response","z":"78fd33b4.1babec","name":"","x":968.9444630940761,"y":1888.2701263427734,"wires":[]},{"id":"e79104c4.5f5d08","type":"http in","z":"78fd33b4.1babec","name":"Scripts","url":"/static/js/:file","method":"get","swaggerDoc":"","x":218.38882064819336,"y":1888.3811882866753,"wires":[["4dba3b37.2f7604"]]},{"id":"5fdacb2d.4c6724","type":"comment","z":"78fd33b4.1babec","name":"media folder","info":"","x":237.61099243164062,"y":1937.3812046051025,"wires":[]},{"id":"52d265a.a7ac99c","type":"http response","z":"78fd33b4.1babec","name":"","x":968.1666920979824,"y":1972.714729309082,"wires":[]},{"id":"9c08abf4.723158","type":"http in","z":"78fd33b4.1babec","name":"media","url":"/static/media/:file","method":"get","swaggerDoc":"","x":217.6110496520996,"y":1972.825791252984,"wires":[["3b892e4b.8121e2"]]},{"id":"a977ac5f.d25ba","type":"function","z":"78fd33b4.1babec","name":"media","func":"var ext = msg.filename.split('.')[msg.filename.split('.').length - 1]\n\nconsole.log('File extension: ' + ext)\n\nswitch(ext) {\n    case 'eot':\n        msg.headers = { \"Content-type\" : \"application/vnd.ms-fontobject\" }\n        break;\n    case 'svg':\n        msg.headers = { \"Content-type\" : \"image/svg+xml\" }\n        break;\n    case 'png':\n        msg.headers = { \"Content-type\" : \"image/png\" }\n        break;\n    case 'gif':\n        msg.headers = { \"Content-type\" : \"image/gif\" }\n        break;\n    case 'ico':\n        msg.headers = { \"Content-type\" : \"image/x-icon\" }\n        break;\n    case ('jpeg'||'jpg'):\n        msg.headers = { \"Content-type\" : \"image/jpeg\" }\n        break;\n    case 'ttf':\n        msg.headers = { \"Content-type\" : \"application/x-font-ttf\" }\n        break;\n    case 'woff':\n        msg.headers = { \"Content-type\" : \"application/font-woff\" }\n        break;\n    case 'woff2':\n        msg.headers = { \"Content-type\" : \"application/font-woff2\" }\n        break;\n    case 'otf':\n        msg.headers = { \"Content-type\" : \"application/x-font-opentype\" }\n        break;\n    case 'ttf':\n        msg.headers = { \"Content-type\" : \"application/font-sfnt\" }\n        break;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":799.388843536377,"y":1972.6036167144775,"wires":[["52d265a.a7ac99c","6414c76c.4c02d8"]]},{"id":"f7ae4c1a.ac59e","type":"function","z":"78fd33b4.1babec","name":"Text/HTML","func":"msg.headers = { \"Content-type\" : \"text/html\" }\n\nreturn msg;","outputs":1,"noerr":0,"x":816.3332513173423,"y":1728.6088172064888,"wires":[["4c4ff6c4.1dcfb8"]]},{"id":"d05af6fa.0843a8","type":"http in","z":"78fd33b4.1babec","name":"CSS Files","url":"/static/css/:file","method":"get","swaggerDoc":"","x":229.29631423950195,"y":1807.4443367852105,"wires":[["219dc870.6a0be8"]]},{"id":"219dc870.6a0be8","type":"function","z":"78fd33b4.1babec","name":"files","func":"msg.filename = '//home//marcelomiranda//git//sitio//build//static//css//' + msg.req.params.file;\nreturn msg;","outputs":1,"noerr":0,"x":461.51855850219727,"y":1807.2221688164605,"wires":[["183f967b.9a759a"]]},{"id":"183f967b.9a759a","type":"file in","z":"78fd33b4.1babec","name":"","filename":"","format":"","x":627.740795135498,"y":1807.3333367241753,"wires":[["a078f156.ae9d4","ab5c55b8.670868"]]},{"id":"4dba3b37.2f7604","type":"function","z":"78fd33b4.1babec","name":"files","func":"msg.filename = '//home//marcelomiranda//git//sitio//build//static//js//' + msg.req.params.file;\nreturn msg;","outputs":1,"noerr":0,"x":459.2683219909668,"y":1889.2776486873627,"wires":[["6bb0aa74.d740f4"]]},{"id":"3b892e4b.8121e2","type":"function","z":"78fd33b4.1babec","name":"files","func":"msg.filename = '//home//marcelomiranda//git//sitio//build//static//media//' + msg.req.params.file;\nreturn msg;","outputs":1,"noerr":0,"x":464.851863861084,"y":1972.5554093254937,"wires":[["da06dc5a.b9608"]]},{"id":"6bb0aa74.d740f4","type":"file in","z":"78fd33b4.1babec","name":"","filename":"","format":"","x":628.185245513916,"y":1889.2221688164605,"wires":[["12aeabc4.d3d9b4","a041bf7d.5b126"]]},{"id":"12aeabc4.d3d9b4","type":"debug","z":"78fd33b4.1babec","name":"FIles JS","active":true,"console":"false","complete":"filename","x":808.0741500854492,"y":1927.9999989403618,"wires":[]},{"id":"da06dc5a.b9608","type":"file in","z":"78fd33b4.1babec","name":"","filename":"","format":"","x":630.407413482666,"y":1972.333130730523,"wires":[["a977ac5f.d25ba"]]},{"id":"ab5c55b8.670868","type":"debug","z":"78fd33b4.1babec","name":"CSS files","active":true,"console":"false","complete":"true","x":808.4074745178223,"y":1852.5554207695855,"wires":[]},{"id":"f1726035.9e5f2","type":"comment","z":"78fd33b4.1babec","name":"Servidor WEB","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":645.962943394979,"y":1676.0394478903877,"wires":[]},{"id":"1c15a095.9f97af","type":"debug","z":"78fd33b4.1babec","name":"saida","active":true,"console":"false","complete":"true","x":797.2499764760337,"y":1688.7210990058052,"wires":[]},{"id":"6414c76c.4c02d8","type":"debug","z":"78fd33b4.1babec","name":"Fonts Files","active":true,"console":"false","complete":"headers","x":989.749927520752,"y":2022.8409023284912,"wires":[]},{"id":"bc0e4175.1e053","type":"inject","z":"78fd33b4.1babec","name":"Criar estrutura parametros","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":394.2764778137207,"y":448.22728633880615,"wires":[["5838a25e.501ffc"]]},{"id":"475bdfb0.b97c8","type":"mongodb out","z":"78fd33b4.1babec","mongodb":"597442d2.06b9ac","name":"salvar config","collection":"config","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1085.6338996887207,"y":448.9725036621094,"wires":[]},{"id":"85373027.54ef5","type":"inject","z":"78fd33b4.1babec","name":"Criar estrutura log_erro","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":384.2539176940918,"y":494.32734298706055,"wires":[["15c4da09.c58406"]]},{"id":"641e0bb5.09d644","type":"mongodb out","z":"78fd33b4.1babec","mongodb":"597442d2.06b9ac","name":"salvar","collection":"log_erro","payonly":true,"upsert":false,"multi":false,"operation":"store","x":881.6118049621582,"y":494.3781747817993,"wires":[]},{"id":"15c4da09.c58406","type":"function","z":"78fd33b4.1babec","name":"collection inicial log_erro","func":"var myDate = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\nvar d = new Date();\nvar x = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear() + \" \" + myDate;\n        \nmsg.payload = {\n\t\"_id\": 1,\n\t\"log_mesagens\": {\n\t}\n}\nnode.status({fill:\"blue\",shape:\"dot\",text:x});\nreturn msg;","outputs":1,"noerr":0,"x":674.620792388916,"y":494.4829616546631,"wires":[["641e0bb5.09d644"]]},{"id":"c07c419b.fea94","type":"comment","z":"78fd33b4.1babec","name":"Cria estrutura inicial das coleções","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":389.1426429748535,"y":411.57726764678955,"wires":[]},{"id":"9d079415.dd8238","type":"inject","z":"78fd33b4.1babec","name":"Criar estrutura indice","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":373.7759132385254,"y":541.8440456390381,"wires":[["d766e96e.fbc278"]]},{"id":"d0f1fb99.0a9d98","type":"mongodb out","z":"78fd33b4.1babec","mongodb":"597442d2.06b9ac","name":"salvar","collection":"indice","payonly":true,"upsert":false,"multi":true,"operation":"store","x":881.6892929077148,"y":541.3394145965576,"wires":[]},{"id":"d766e96e.fbc278","type":"function","z":"78fd33b4.1babec","name":"collection inicial indice","func":"msg.payload = {\n\t\"_id\": \"indice\",\n\t\"indice_mesagens\": 0\n}\nvar x = msg.payload.indice_mesagens;\nnode.status({fill:\"blue\",shape:\"dot\",text:'Indice =' + x});\nreturn msg;","outputs":1,"noerr":0,"x":675.1427879333496,"y":541.6662769317627,"wires":[["d0f1fb99.0a9d98"]]},{"id":"5838a25e.501ffc","type":"function","z":"78fd33b4.1babec","name":"Parametro Iniciais","func":"var myDate = new Date().toTimeString().replace(/.*(\\d{2}:\\d{2}:\\d{2}).*/, \"$1\");\n\nvar d = new Date();\nvar x = (\"00\" + (d.getMonth() + 1)).slice(-2) + \"/\" + \n        (\"00\" + d.getDate()).slice(-2) + \"/\" + \n        d.getFullYear() + \" \" + myDate;\n\nmsg.payload = \n[\n  {\n    \"_id\": \"Aplanadora-N3\",\n    \"codigo\": \"PERF-N3\",\n    \"nome\": \"Aplanadora N3\",\n    \"path\": \"maquinas/perfiladeiras/n3\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.230\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.231\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.232\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n    \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9978,\n        \"resolucao\": 2500,\n        \"perimetro\": 400\n      },\n      \"manual\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 95,\n        \"paradaEntrePecasProduzidas\": 0,\n        \"tempoParada\": 0\n      },\n      \"transmissao\": {\n        \"reducao\": 0,\n        \"diametrorolo\": 0,\n        \"avancoMilimetrosPorRotacao\": 9.5144\n      },\n      \"corte\":{\n        \"espessura\": 0,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"passoN2\": 200,\n        \"passoN3\": 200,\n        \"passoN5\": 200\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"10095646\",\n        \"produto\": {\n          \"codigo\": \"ESTCAN000N300000000#2000#0#0\",\n          \"descricao\": \"CANTONEIRA N-3 2000MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"produzindo\"\n      },\n      {\n        \"numero\": \"10095645\",\n        \"produto\": {\n          \"codigo\": \"ESTCAN000N300000000#2400#0#0\",\n          \"descricao\": \"CANTONEIRA N-3 2400MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"pendente\"\n      }\n    ]\n  },\n  {\n    \"_id\": \"Perfiladeira Reforco\",\n    \"codigo\": \"REFORCO\",\n    \"nome\": \"Perfiladeira Reforco\",\n    \"path\": \"maquinas/perfiladeiras/reforco\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.233\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.234\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.235\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n     \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9986,\n        \"resolucao\": 2500,\n        \"perimetro\": 127.32\n      },\n      \"manual\": {\n        \"aceleracao\": \"0.2\",\n        \"desaceleracao\": \"0.2\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"0.6\",\n        \"desaceleracao\": \"0.6\",\n        \"velocidade\": 95,\n        \"paradaEntrePecasProduzidas\": 20,\n        \"tempoParada\": 10\n      },\n      \"transmissao\": {\n        \"reducao\": 0,\n        \"diametrorolo\": 0,\n        \"avancoMilimetrosPorRotacao\": 9.5144\n      },\n      \"corte\":{\n        \"espessura\": 5,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"corte\": 1,\n        \"furo\": 20\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"1231-11\",\n        \"produto\": {\n          \"codigo\": \"PPLESTREFOUGAL000000#0#0#610\",\n          \"descricao\": \"PERFIL U GALV P/ APOIO DE CAIXA MED 610MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-11T11:22:08.224Z\",\n        \"status\": \"produzindo\"\n      },\n      {\n        \"numero\": \"8792-55\",\n        \"produto\": {\n          \"codigo\": \"PPLESTREFOUGAL000000#0#0#910\",\n          \"descricao\": \"PERFIL U GALV P/ APOIO DE CAIXA MED 910MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2015-02-10T11:22:08.224Z\",\n        \"status\": \"pendente\"\n      }\n    ]\n  },\n    {\n    \"_id\": \"Perfiladeira Sigma 120\",\n    \"codigo\": \"Sigma 120\",\n    \"nome\": \"Perfiladeira Sigma 120\",\n    \"path\": \"maquinas/perfiladeiras/sigma120\",\n    \"rede\": [\n      { \"nome\": \"IHM\", \"ip\": \"192.168.2.236\", \"port\": 8080 },\n      { \"nome\": \"POP7\", \"ip\": \"192.168.2.237\" },\n      { \"nome\": \"ESP8266\", \"ip\": \"192.168.2.238\" }\n    ],\n    \"atualizacao\": d.toISOString(),\n     \"parametros\": {\n      \"encoder\": {\n        \"fator\": 9909,\n        \"resolucao\": 2500,\n        \"perimetro\": 400\n      },\n      \"manual\": {\n        \"aceleracao\": \"3\",\n        \"desaceleracao\": \"1\",\n        \"velocidade\": 30\n      },\n      \"automatico\": {\n        \"aceleracao\": \"2\",\n        \"desaceleracao\": \"1\",\n        \"velocidade\": 100,\n        \"paradaEntrePecasProduzidas\": 40,\n        \"tempoParada\": 2\n      },\n      \"transmissao\": {\n        \"reducao\": \"72.73\",\n        \"diametrorolo\": 165,\n        \"avancoMilimetrosPorRotacao\": 0\n      },\n      \"corte\":{\n        \"espessura\": 5,\n        \"tempo\": 3\n      },\n      \"ferramenta\": {\n        \"corte\": 1\n      },\n      \"lubrificacao\": {\n        \"preset\": {\n          \"MbNovoCiclos\": 100000\n        },\n        \"ciclos\": {\n          \"PrsCiclos\": 5000\n        }\n      }\n    },\n    \"estado\": {\n      \"situacao\": {\n        \"codigo\": 4,\n        \"descricao\": \"Maquina OK\"\n      }\n    },\n    \"operadores\": [\n      { \"nome\": \"HELIO\", \"senha\": \"0aec9f876b8e62cba16c2704d99559d3\" },\n      { \"nome\": \"MARCELO\", \"senha\": \"99bb3473f26bb4814ea456d17af58f48\" }\n    ],\n    \"os\": [\n      {\n        \"numero\": \"1231-11\",\n        \"produto\": {\n          \"codigo\": \"MEZSIG0CH1412000000#1800#0#0\",\n          \"descricao\": \"VIGA SIGMA 120 CH 2.00 MM MED 1800MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2017-04-10T11:22:08.224Z\",\n        \"status\": \"Produzindo\"\n      },\n      {\n        \"numero\": \"8792-55\",\n        \"produto\": {\n          \"codigo\": \"PPLSTRSI120050D00000#1200#0#0\",\n          \"descricao\": \"STOP TRAZEIRO SIGMA 120 DEITADO MED 1200MM\",\n          \"quantidade\": 2,\n          \"produzido\": 0,\n          \"refugo\": 0\n        },\n        \"atualizacao\": \"2017-04-14T11:22:08.224Z\",\n        \"status\": \"Pendente\"\n      }\n    ]\n  }\n]\nnode.status({fill:\"blue\",shape:\"dot\",text:x});\nreturn msg;","outputs":1,"noerr":0,"x":676.5611915588379,"y":447.8636245727539,"wires":[["6051a3bc.e98d5c"]]},{"id":"6051a3bc.e98d5c","type":"split","z":"78fd33b4.1babec","name":"","splt":"\\n","x":881.9553565979004,"y":448.26276111602783,"wires":[["475bdfb0.b97c8"]]},{"id":"5fc9f888.97c208","type":"mongodb out","z":"78fd33b4.1babec","mongodb":"597442d2.06b9ac","name":"APAGAR TODA A COLLECTION log_erro","collection":"log_erro","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":775.0000686645508,"y":684.416651725769,"wires":[]},{"id":"3d43a911.96f766","type":"inject","z":"78fd33b4.1babec","name":"LIMPAR coleção log_erro","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":399.7536163330078,"y":685.1437072753906,"wires":[["5fc9f888.97c208"]]},{"id":"7e910db7.da4514","type":"comment","z":"78fd33b4.1babec","name":"Apagar Cuidado","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":346.3331527709961,"y":596.1944484710693,"wires":[]},{"id":"94f73945.ff2e88","type":"mongodb out","z":"78fd33b4.1babec","mongodb":"597442d2.06b9ac","name":"APAGAR TODA A COLLECTION config","collection":"config","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":773.4443130493164,"y":637.1944227218628,"wires":[]},{"id":"120dede2.540fd2","type":"inject","z":"78fd33b4.1babec","name":"LIMPAR coleção config","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":390.08646392822266,"y":637.1436262130737,"wires":[["94f73945.ff2e88"]]},{"id":"fde6d0f6.773c7","type":"inject","z":"78fd33b4.1babec","name":"LIMPAR coleção indice","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":389.8517837524414,"y":731.0835409164429,"wires":[["790ea0da.2b8e1"]]},{"id":"790ea0da.2b8e1","type":"mongodb out","z":"78fd33b4.1babec","mongodb":"597442d2.06b9ac","name":"APAGAR TODA A COLLECTION indice","collection":"indice","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":775.8517837524414,"y":730.7501668930054,"wires":[]},{"id":"a458c58c.dcead8","type":"inject","z":"78fd33b4.1babec","name":"String vazia","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":358,"y":913.6666688919067,"wires":[["ed1d9f76.ede53"]]},{"id":"8e124e42.7cab5","type":"mongodb in","z":"78fd33b4.1babec","mongodb":"597442d2.06b9ac","name":"consulta","collection":"parametros","operation":"find","x":876.967170715332,"y":914.0221652984619,"wires":[["2132db8f.2e10c4"]]},{"id":"2132db8f.2e10c4","type":"debug","z":"78fd33b4.1babec","name":"resposta do MongoDB","active":true,"console":"false","complete":"payload","x":1161.078212738037,"y":914.1333208084106,"wires":[]},{"id":"af39509.88975b","type":"function","z":"78fd33b4.1babec","name":"contador +1","func":"msg.query = { _id: 'AplanadoraN3' }\nmsg.payload = {\n    $inc: {\n       \"os.produzido\": 1\n     }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":679.1892700195312,"y":820.5999879837036,"wires":[["4ab6ff39.f2449"]]},{"id":"4ab6ff39.f2449","type":"mongodb out","z":"78fd33b4.1babec","mongodb":"597442d2.06b9ac","name":"salvar","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"update","x":887.1892547607422,"y":820.999981880188,"wires":[]},{"id":"cf0d1b23.7434d8","type":"inject","z":"78fd33b4.1babec","name":"$inc: incrementa","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":366.0228080749512,"y":820.2666845321655,"wires":[["af39509.88975b","3309c31a.01da6c"]]},{"id":"ed1d9f76.ede53","type":"function","z":"78fd33b4.1babec","name":"Paginação ","func":"msg.limit = 5;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":675.4115238189697,"y":914.0814485549927,"wires":[["8e124e42.7cab5"]]},{"id":"b6136f4e.0c536","type":"comment","z":"78fd33b4.1babec","name":"Paginação  e consulta MongoDB","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":394.18935775756836,"y":877.9332880973816,"wires":[]},{"id":"3309c31a.01da6c","type":"function","z":"78fd33b4.1babec","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nreturn null;","outputs":1,"noerr":0,"x":678.5226745605469,"y":856.0442752838135,"wires":[["ed1d9f76.ede53"]]},{"id":"8526eda.b695e1","type":"comment","z":"78fd33b4.1babec","name":"Contador Produzidos ++ ","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":371.18885040283203,"y":784.9332447052002,"wires":[]},{"id":"93c8c05b.35e3f","type":"mongodb in","z":"78fd33b4.1babec","mongodb":"78953ed9.5d49d","name":"consulta","collection":"config","operation":"find","x":860.1300277709961,"y":125.96050071716309,"wires":[["8ec67f2f.8a3ee"]]},{"id":"8ec67f2f.8a3ee","type":"function","z":"78fd33b4.1babec","name":"Dados OK","func":"\n//node.error(\"Error\",msg)\nif (msg.payload.length){\n    msg.payload=msg.payload[0]._id;\n    node.status({fill:\"blue\",shape:\"dot\",text:msg.payload});\n}else{\n    msg.payload=\"erro\";\n    node.status({fill:\"red\",shape:\"dot\",text:'erro'});\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1010.0746803283691,"y":126.37720513343811,"wires":[["cbe9209e.c3ef9"]]},{"id":"cbe9209e.c3ef9","type":"debug","z":"78fd33b4.1babec","name":"ler ID","active":true,"console":"false","complete":"payload","x":1176.0748291015625,"y":126.37709426879883,"wires":[]},{"id":"953460b0.28e8f","type":"function","z":"78fd33b4.1babec","name":"BANCO LOCAL?","func":"// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { _id: 1 }\nmsg.limit = 50;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":682.2682952880859,"y":125.7840747833252,"wires":[["93c8c05b.35e3f"]]},{"id":"2acf81e3.83ec3e","type":"function","z":"78fd33b4.1babec","name":"Variaveis Globais","func":"var mssql = global.get('mssql');\n\nvar PRODUCAO = new mssql.Connection(\"mssql://financeiro:financeiro@192.168.0.1/FINANCEIRO\", function(err) {\n    if (err) {\n        global.set('conectadoServidor', 0);\n        PRODUCAO.on('error', function(err) {\n            node.error({payload: err || { erro: 9996, mensagem: 'Erro desconhecido na conexão'}});\n        });\n    } else {\n        global.set('conectadoServidor', 1);\n    }\n});\n\n//Estado inicial da maquina é não inicializada MaqInicializada=0\nglobal.set('conectadoServidor', 0);\nglobal.set(\"ComandoMaquina\",0);//liberamensagens do bloco libera maquina\nglobal.set(\"MotorPrensa\",0);\nglobal.set(\"MotorLigado\",0);\nglobal.set(\"MotorInvertido\",0);\nglobal.set(\"Desbobinador\",0);\nglobal.set(\"Indice_Mongo\",0);\nglobal.set(\"TamanhoDesejadoPeca_KEYBOARD\",0);\nglobal.set(\"TamanhoRealPeca_KEYBOARD\",0);\nglobal.set(\"FatorEncoder\",9909);\nglobal.set(\"ModBus\",[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]);\nvar start = new Date().getTime();\nglobal.set(\"tempo\",start);\n\nvar mensagens = [];\n\nmensagens['LER_CLP_MODBUS'] =        { type: 'error', message: ' CLP não responde. Verifique as conexões de rede.' };\nmensagens['EMERGENCIA'] =            { type: 'error', message: ' Emergencia acionada!' };\nmensagens['FALTA_FASE'] =            { type: 'error', message: ' Falta de Fase' };\nmensagens['BOMBA_HIDRAULICA'] =      { type: 'error', message: ' Térmico da Bomba Hidraulica' };\nmensagens['MARTELO_PRENSA'] =        { type: 'error', message: ' Térmico do Motor do Martelo Prensa' };\nmensagens['PRESSAO_AR'] =            { type: 'warning', message: 'Pressao do Ar Baixa!' };\nmensagens['INVERSOR'] =              { type: 'error', message: ' Erro no Inversor' };\nmensagens['SERVO'] =                 { type: 'error', message: ' Erro no Servo' };\nmensagens['CHAVE_GERAL_DESLIGADA'] = { type: 'warning', message: ' Chave Geral Desligada' };\nmensagens['CHAVE_GERAL_LIGADA']    = { type: 'warning', message: ' Chave Geral ligada' };\nmensagens['MAQUINA_NAO_LIBERADA'] =  { type: 'warning', message: ' Maquina Não Liberada' };\nmensagens['MAQUINA_LIBERADA']     =  { type: 'warning', message: ' Maquina Liberada' };\nmensagens['ERRO_POSICIONAMENTO']=    { type: 'error', message: ' Erro Posicionamento' };\nmensagens['SEGURAN_PRENSA'] =        { type: 'info', message: ' Segurança da Prensa' };\nmensagens['APLAN_ABERTA'] =          { type: 'info', message: ' Aplanadora Aberda' };\n\nglobal.set(\"mensagens\",mensagens);\nmsg= {payload: \"{MAQUINA_OFF:0}\"};\nreturn msg;","outputs":1,"noerr":0,"x":253.01422882080078,"y":75.00568103790283,"wires":[["32484712.d8f758"]]},{"id":"32484712.d8f758","type":"function","z":"78fd33b4.1babec","name":"Delay 100ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 100);\nreturn null;","outputs":1,"noerr":0,"x":439.0141487121582,"y":75.00568199157715,"wires":[["57e0ab0e.c1a304","953460b0.28e8f"]]},{"id":"57e0ab0e.c1a304","type":"function","z":"78fd33b4.1babec","name":"SERVIDOR OK?","func":"if(global.get('conectadoServidor')){\n    console.dir('CONECTADO AO SERVIDOR !');\n    node.status({fill:\"blue\",shape:\"dot\",text:'CONECTADO COM SERVIDOR'});\n}else{\n    console.dir('-------------> ERRO NA CONEXAO PRODUCAO !!!!!! <-------------');\n    node.status({fill:\"red\",shape:\"dot\",text:'ERRO'});\n}\n\nmsg= {payload: global.get('conectadoServidor')};\nreturn msg;\n","outputs":1,"noerr":0,"x":673.0142288208008,"y":76.00568294525146,"wires":[["8161c5a0.b34298"]]},{"id":"597442d2.06b9ac","type":"mongodb","z":"78fd33b4.1babec","hostname":"127.0.0.1","port":"27017","db":"db","name":""},{"id":"78953ed9.5d49d","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"db","name":""}]
